<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1">
  <div class="drag-handler p-2" [ngClass]="{ 'widget-cursor': widget.draggable }">
    {{ 'status.cpu.title_cpu' | translate }}
  </div>
  <canvas
    class="widget-chart h-100 w-100"
    baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [type]="lineChartType"
  ></canvas>
  <div #widgetbackground class="hb-widget-chart-background"></div>
  <div class="d-flex flex-row flex-grow-1 align-items-center w-100 gridster-item-content text-center">
    <div class="d-flex justify-content-around flex-wrap w-100">
      <div class="text-center widget-value-parent-wrap">
        <div class="widget-value mb-0">{{ currentLoad | number:'1.0-0' }}%</div>
        <div class="widget-value-label grey-text">{{ 'status.cpu.load' | translate }}</div>
      </div>
      @if (cpuTemperature.main > 0) {
      <div class="text-center widget-value-parent-wrap">
        <div class="widget-value mb-0">
          {{ cpuTemperature.main | convertTemp: $settings.env.temperatureUnits | number:'1.0-0' }}&deg;{{
          $settings.env.temperatureUnits | uppercase }}
        </div>
        <div class="widget-value-label grey-text">{{ 'status.cpu.temp' | translate }}</div>
      </div>
      }
    </div>
  </div>
</div>
