<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>
    @if (!justInstalled) {
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="closeModal()"
      [disabled]="saveInProgress"
    ></button>
    }
  </div>
  <div class="modal-body">
    @if (loading) {
    <div class="text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading) {
    <div class="mb-3 text-center">
      <i class="fas fa-fw fa-bridge primary-text" style="font-size: 75px"></i>
    </div>
    <ul class="mb-3">
      <li [innerHTML]="'child_bridge.about' | translate: { link: linkChildBridges }"></li>
      @if (configBlocks.length) {
      <li>{{ 'child_bridge.bridges_paired' | translate }}</li>
      @if (configBlocks.length === 1 && !deviceInfo[configBlocks[0]._bridge?.username] && originalBridges.length === 0)
      {
      <li>{{ 'child_bridge.bridges_paired_2' | translate }}</li>
      } @if (canConfigure) {
      <li>{{ 'child_bridge.select_type' | translate }}:</li>
      } }
    </ul>
    @if (canConfigure && configBlocks.length) {
    <ul class="list-group list-group-box mb-0">
      @if (configBlocks.length > 1) {
      <li class="list-group-item text-center grey-text small">{{ 'form.label.changes_kept' | translate }}</li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label for="bridgeSelect" class="mb-2 mb-md-0 w-100 w-md-50">
          {{ (isPlatform ? 'child_bridge.config.platform' : 'child_bridge.config.accessory') | translate }}
        </label>
        <div class="text-start text-md-end w-100 w-md-50">
          <select
            class="custom-select"
            id="bridgeSelect"
            [(ngModel)]="selectedBlock"
            (change)="onBlockChange($event.target.value)"
          >
            @for (block of configBlocks; track block; let i = $index) {
            <option [value]="i">{{ block.name || block.platform || block.accessory }}</option>
            }
          </select>
        </div>
      </li>
      } @if (configBlocks.length === 1) {
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">
          {{ (isPlatform ? 'child_bridge.config.platform' : 'child_bridge.config.accessory') | translate }}
        </label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ configBlocks[selectedBlock].name || configBlocks[selectedBlock].platform ||
          configBlocks[selectedBlock].accessory }}
        </div>
      </li>
      } @if (currentBridgeHasLinks) {
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'child_bridge.config.use' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text">
          {{ 'child_bridge.config.prevent' | translate }}
        </div>
      </li>
      } @if (!currentBridgeHasLinks) {
      <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
        <span class="text-start">{{ 'child_bridge.config.use' | translate }}</span>
        <div class="text-end grey-text d-flex align-items-center">
          <input
            type="checkbox"
            class="rendux-input"
            [id]="'toggleExternalBridgeInput_' + selectedBlock"
            (change)="toggleExternalBridge(configBlocks[selectedBlock], enabledBlocks[selectedBlock], selectedBlock)"
            [(ngModel)]="enabledBlocks[selectedBlock]"
          />
          <label [for]="'toggleExternalBridgeInput_' + selectedBlock" class="rendux-label"></label>
        </div>
      </li>
      @if (!configBlocks[selectedBlock]._bridge?.username && bridgesAvailableForLink.length) {
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label for="bridgeLink" class="mb-2 mb-md-0 w-100 w-md-50"
          >{{ 'child_bridge.config.or_link' | translate }}</label
        >
        <div class="text-start text-md-end w-100 w-md-50">
          <select class="custom-select" id="bridgeLink" (change)="onLinkBridgeChange($event.target.value)">
            <option [value]="">{{ 'child_bridge.config.select_existing' | translate }}</option>
            @for (bridge of bridgesAvailableForLink; track bridge) {
            <option [value]="bridge.username">{{ bridge.name }} ({{ bridge.username }})</option>
            }
          </select>
        </div>
      </li>
      } } @if (currentlySelectedLink) {
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'accessories.bridge_link_username' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ currentlySelectedLink.username }}
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'accessories.bridge_link_port' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ currentlySelectedLink.port }}
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'accessories.bridge_link_name' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ currentlySelectedLink.name }}
        </div>
      </li>
      } @if (!currentlySelectedLink && configBlocks[selectedBlock]._bridge?.username) { @if
      (deviceInfo[configBlocks[selectedBlock]._bridge?.username]) {
      <li class="list-group-item text-center">
        <div class="w-100 d-flex flex-column text-center">
          <app-qrcode
            [data]="deviceInfo[configBlocks[selectedBlock]._bridge?.username]._setupCode"
            class="mx-auto"
            style="width: 175px; height: 175px"
          >
          </app-qrcode>
          <p class="mx-auto mt-3 mb-1">{{ deviceInfo[configBlocks[selectedBlock]._bridge?.username].pincode }}</p>
          <p class="grey-text mx-auto small mb-1" style="max-width: 400px">
            <i
              class="fas fa-fw fa-link"
              [ngClass]="{
                'green-text': deviceInfo[configBlocks[selectedBlock]._bridge?.username]._isPaired,
                'grey-text': !deviceInfo[configBlocks[selectedBlock]._bridge?.username]._isPaired
              }"
            ></i>
            {{ (deviceInfo[configBlocks[selectedBlock]._bridge?.username]._isPaired ? 'status.widget.qr_paired' :
            'status.widget.qr_unpaired') | translate }} @if
            (!deviceInfo[configBlocks[selectedBlock]._bridge?.username]._isPaired) {
            <span> &middot; {{ 'status.code_scan' | translate }} </span>
            }
          </p>
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'accessories.bridge_username' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ configBlocks[selectedBlock]._bridge.username }}
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'accessories.bridge_port' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50 grey-text font-monospace">
          {{ configBlocks[selectedBlock]._bridge.port }}
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'child_bridge.config.name' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input type="text" class="form-control custom-input" [(ngModel)]="configBlocks[selectedBlock]._bridge.name" />
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'child_bridge.config.manufacturer' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.manufacturer"
          />
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'child_bridge.config.model' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.model"
          />
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">{{ 'child_bridge.config.firmware' | translate }}</label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.firmwareRevision"
          />
        </div>
      </li>
      @if (canShowBridgeDebug) {
      <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
        <span class="text-start">{{ 'child_bridge.config.debug' | translate }} <code>-D</code></span>
        <div class="text-end grey-text d-flex align-items-center">
          <input
            type="checkbox"
            class="rendux-input"
            [id]="'homebridgeDebugMode_' + selectedBlock"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.debugModeEnabled"
            [attr.aria-label]="'settings.startup.debug' | translate"
          />
          <label [for]="'homebridgeDebugMode_' + selectedBlock" class="rendux-label"></label>
        </div>
      </li>
      }
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">
          <span class="font-monospace">DEBUG</span><br />
          <small
            class="grey-text"
            [innerHTML]="'settings.service.debug_tooltip' | translate: { link: linkDebug }"
          ></small>
        </label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.env.DEBUG"
            placeholder="HAP-NodeJS:Advertiser,HAP-NodeJS:Service"
          />
        </div>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <label class="mb-2 mb-md-0 w-100 w-md-50">
          <span class="font-monospace">NODE_OPTIONS</span><br />
          <small class="grey-text">{{ 'settings.service.node_tooltip' | translate }}</small>
        </label>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input"
            [(ngModel)]="configBlocks[selectedBlock]._bridge.env.NODE_OPTIONS"
            placeholder="--max-old-space-size=512 --max-http-header-size=8192"
          />
        </div>
      </li>
      } }
    </ul>
    @if (configBlocks[selectedBlock]._bridge?.username && deviceInfo[configBlocks[selectedBlock]._bridge?.username] ===
    false) {
    <ngb-alert type="info" [dismissible]="false" class="mt-3 mb-0">
      {{ 'child_bridge.restart_homebridge' | translate }}
      <br />{{ 'child_bridge.return_to_pair' | translate }}
    </ngb-alert>
    } } @if (deleteBridges.length) {
    <ngb-alert type="error" [dismissible]="false" class="mt-3 mb-0">
      <p>
        {{ 'child_bridge.confirm_delete_1' | translate }} @if (deletingPairedBridge) { {{
        'child_bridge.confirm_delete_2' | translate }} }
      </p>
      <div class="text-center">
        <ul class="d-inline-block text-start mb-0">
          @for (bridge of deleteBridges; track bridge) {
          <li>
            {{ bridge.bridgeName || this.deviceInfo[bridge.id]?.displayName }} (<span class="font-monospace"
              >{{ bridge.id }}</span
            >)
          </li>
          }
        </ul>
      </div>
    </ngb-alert>
    } @if (!configBlocks.length && canConfigure) {
    <ngb-alert type="info" [dismissible]="false"> {{ 'child_bridge.must_configure_plugin' | translate }} </ngb-alert>
    } @if (!canConfigure) {
    <ngb-alert type="info" class="mb-0" [dismissible]="false">
      <div class="mb-3">
        {{ 'plugins.settings.message_manual_config_required' | translate }} {{
        'plugins.settings.message_consult_documentation' | translate }}
      </div>
      <button class="btn btn-primary mb-0" (click)="openFullConfigEditor()">
        {{ 'plugins.settings.label_open_config_editor' | translate }}
      </button>
    </ngb-alert>
    } }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      @if (canConfigure && !justInstalled) {
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="closeModal()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-center">
      @if (justInstalled) {
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} @if (saveInProgress) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
      </button>
      } @if (!canConfigure) {
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="closeModal()">
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-end">
      @if (canConfigure && !justInstalled) { @if (configBlocks.length) {
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveInProgress || loading">
        @if (!saveInProgress) { {{ 'form.button_save' | translate }} } @if (saveInProgress) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
      </button>
      } @if (!configBlocks.length) {
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="openPluginConfig()">
        {{ 'plugins.button_settings' | translate }}
      </button>
      } }
    </div>
  </div>
</div>
