<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="closeModal()"
      [disabled]="saveInProgress"
    ></button>
  </div>

  <div class="modal-body">
    @if (loading) {
    <div class="text-center primary-text">
      <i class="fa fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading) {

    <div class="text-center" hidden aria-hidden="true">
      <img
        [src]="plugin.icon"
        (error)="handleIconError()"
        alt=""
        class="mb-3 plugin-icon-card"
      />
    </div>

    <ul class="mb-3">
      <li [innerHTML]="'child_bridge.about' | translate: { link: linkChildBridges }"></li>
      @if (configBlocks.length) {
      <li>{{ 'child_bridge.bridges_paired' | translate }}</li>
      @if (
        configBlocks.length === 1 &&
        !deviceInfo.get(configBlocks[0]._bridge?.username) &&
        originalBridges.length === 0
      ) {
      <li>{{ 'child_bridge.bridges_paired_2' | translate }}</li>
      }
      }
    </ul>

    @if (canConfigure && configBlocks.length) {
      @if (configBlocks.length > 1) {
      <ul class="list-group list-group-box mb-0">
        <li class="list-group-item text-center grey-text small">
          {{ 'form.label.changes_kept' | translate }}
        </li>
        <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
          <label for="bridgeSelect" class="mb-2 mb-md-0 w-100 w-md-50">
            {{ 'accessories.plugin' | translate }}
          </label>
          <div class="text-start text-md-end w-100 w-md-50">
            <select
              class="custom-select"
              id="bridgeSelect"
              [(ngModel)]="selectedBlock"
              (change)="onBlockChange(selectedBlock)"
            >
              @for (block of configBlocks; track block; let i = $index) {
              <option [value]="i">
                {{ block.name || block.platform || block.accessory }}
              </option>
              }
            </select>
          </div>
        </li>
      </ul>
      }

      <ul class="list-group list-group-box mt-3 mb-0">
        @if (
          !configBlocks[selectedBlock]._bridge?.username &&
          bridgesAvailableForLink.length &&
          !currentBridgeHasLinks
        ) {
        <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
          <label for="bridgeLink" class="mb-2 mb-md-0 w-100 w-md-50">
            {{ 'child_bridge.config.or_link' | translate }}
          </label>
          <div class="text-start text-md-end w-100 w-md-50">
            <select
              class="custom-select"
              id="bridgeLink"
              #bridgeLinkSelect
              (change)="onLinkBridgeChange(bridgeLinkSelect.value)"
            >
              <option [value]="">{{ 'child_bridge.config.select_existing' | translate }}</option>
              @for (bridge of bridgesAvailableForLink; track bridge) {
              <option [value]="bridge.username">
                @if (bridge.name) {
                {{ bridge.name }} &middot; {{ bridge.username }}
                } @else {
                {{ bridge.username }}
                }
              </option>
              }
            </select>
          </div>
        </li>
        }

        @if (currentBridgeHasLinks) {
        <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
          <label class="mb-2 mb-md-0 w-100 w-md-50">Child Bridge</label>
          <div class="text-start text-md-end w-100 w-md-50 grey-text">
            {{ 'child_bridge.config.prevent' | translate }}
          </div>
        </li>
        }

        @if (!currentBridgeHasLinks) {
        <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
          <span class="text-start" aria-hidden="true">
            {{ (currentlySelectedLink
              ? 'child_bridge.config.or_link'
              : 'child_bridge.config.use') | translate }}
          </span>
          <div class="text-end grey-text d-flex align-items-center">
            <input
              type="checkbox"
              class="rendux-input"
              [id]="'toggleExternalBridgeInput_' + selectedBlock"
              (change)="toggleExternalBridge(
                configBlocks[selectedBlock],
                enabledBlocks[selectedBlock],
                selectedBlock
              )"
              [(ngModel)]="enabledBlocks[selectedBlock]"
              [attr.aria-label]="(currentlySelectedLink
                ? 'child_bridge.config.or_link'
                : 'child_bridge.config.use') | translate"
            />
            <label
              [for]="'toggleExternalBridgeInput_' + selectedBlock"
              class="rendux-label"
              aria-hidden="true"
            ></label>
          </div>
        </li>
        }
      </ul>
    }
    }
  </div>

  @if (canConfigure) {
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="closeModal()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>

    <div class="text-end">
      <button
        type="button"
        class="btn btn-primary"
        (click)="save()"
        [disabled]="saveInProgress || loading || hasValidationErrors"
      >
        {{ 'form.button_save' | translate }}
      </button>
    </div>
  </div>
  }
</div>
