<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center px-5">
    <h5>
      <strong>
        {{ 'accessories.control.fan' | translate }} {{ (service.values.On ? 'accessories.control.on' :
        'accessories.control.off') | translate }}
      </strong>
    </h5>

    <div
      class="fan-mode-control btn-group btn-group-toggle d-flex justify-content-center my-4"
      ngbRadioGroup
      name="radioBasic"
      [(ngModel)]="targetMode"
      (change)="onTargetStateChange()"
    >
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false" /> {{ 'accessories.control.off' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="true" /> {{ 'accessories.control.on' | translate }}
      </label>
    </div>

    @if (targetRotationSpeed) {
    <div>
      <h5 class="mb-0">{{ 'accessories.control.rotation_speed' | translate }}</h5>
      <p>
        {{ targetRotationSpeed.value }}@if (targetRotationSpeed.unit === 'percentage') {
        <span>%</span>
        }
      </p>
      <nouislider
        [min]="targetRotationSpeed.min"
        [max]="targetRotationSpeed.max"
        [step]="targetRotationSpeed.step"
        [(ngModel)]="targetRotationSpeed.value"
        (ngModelChange)="onTargetRotationSpeedChange()"
      >
      </nouislider>
    </div>
    }
  </div>
</div>
