::ng-deep {
  .switch-on {
    svg {
      .air-line {
        stroke: #d32f2f;
        animation: flash 1s infinite;
      }

      .type {
        fill: #d32f2f;
        animation: flash 1s infinite;
      }

      @keyframes flash {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0.2;
        }
      }
    }
  }
}
