<div class="row mb-3">
  <div class="col-6">
    <h3 class="primary-text m-0">{{ 'menu.linux.label_logs' | translate }}</h3>
  </div>
  @if (isAdmin) {
  <div class="col-6 text-end">
    <button
      class="btn btn-elegant my-0 me-2"
      (click)="downloadLogFile()"
      container="body"
      placement="bottom"
      openDelay="150"
      triggers="hover"
      [ngbTooltip]="'form.button_download' | translate"
      [attr.aria-label]="'form.button_download' | translate"
    >
      <i class="fas fa-fw fa-download"></i>
    </button>
    <button
      class="btn btn-elegant my-0 me-0"
      (click)="truncateLogFile()"
      container="body"
      placement="bottom"
      openDelay="150"
      triggers="hover"
      [ngbTooltip]="'form.button_delete' | translate"
      [attr.aria-label]="'form.button_delete' | translate"
    >
      <i class="fas fa-fw fa-trash-alt"></i>
    </button>
  </div>
  }
</div>

<div class="flex-column d-flex align-items-stretch adjust-for-mobile">
  <div #logoutput id="log-output" class="align-self-end w-100 h-100 mb-1"></div>
</div>
