<div class="row mb-3">
  <div class="col-6">
    <h3 class="primary-text m-0">{{ 'menu.linux.label_logs' | translate }}</h3>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-elegant m-0 me-2" (click)="downloadLogFile()" container="body"
      ngbTooltip="{{ 'logs.label_download' | translate }}">
      <i class="fas fa-fw fa-download"></i>
    </button>
    <button class="btn btn-danger m-0" (click)="truncateLogFile()" container="body"
      ngbTooltip="{{ 'logs.title_truncate_log_file' | translate }}">
      <i class="fas fa-fw fa-trash-alt"></i>
    </button>
  </div>
</div>

<div class="flex-column d-flex align-items-stretch h-100">
  <div #logoutput id="log-output" class="terminal align-self-end w-100 h-100 mb-1"></div>
</div>
