<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.values.ConfiguredName || service.serviceName">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>{{ 'accessories.control.label_default_running_time' | translate }}</label>
      <select class="custom-select" [(ngModel)]="targetSetDuration" (change)="onSetDurationChange()">
        <option *ngFor="let duration of availableSetDurations" [value]="duration.seconds">{{ duration.label }}
        </option>
      </select>
    </div>
  </div>
</div>
