<div
  class="accessory-box"
  [ngClass]="{ 'switch-on': service.values.Active || service.values.On }"
  (longClick)="onLongClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    @if (service.values.ValveType === 0 || !service.values.ValveType) {
    <div
      [inlineSVG]="'/assets/service-icons/valve-generic.svg'"
      [attr.aria-label]="'Generic Valve'"
      class="accessory-svg"
    ></div>
    } @else if (service.values.ValveType === 1) {
    <div
      [inlineSVG]="'/assets/service-icons/valve-irrigation.svg'"
      [attr.aria-label]="'Irrigation Valve'"
      class="accessory-svg"
    ></div>
    } @else if (service.values.ValveType === 2) {
    <div
      [inlineSVG]="'/assets/service-icons/valve-shower-head.svg'"
      [attr.aria-label]="'Shower Head Valve'"
      class="accessory-svg"
    ></div>
    } @else if (service.values.ValveType === 3) {
    <div
      [inlineSVG]="'/assets/service-icons/valve-faucet.svg'"
      [attr.aria-label]="'Faucet Valve'"
      class="accessory-svg"
    ></div>
    }
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    @if (service.values.Active && remainingDuration) {
    <div class="accessory-label grey-text">{{ remainingDuration }}</div>
    } @else if ((service.values.Active && !remainingDuration) || service.values.On) {
    <div class="accessory-label grey-text">{{ 'accessories.control.running' | translate }}</div>
    } @else {
    <div class="accessory-label grey-text">{{ 'accessories.control.off' | translate }}</div>
    }
  </div>
</div>
