<div
  class="accessory-box"
  [ngClass]="{ 'switch-on': service.values.Active, 'switch-off': !service.values.Active }"
  appLongclick
  (longclick)="onLongClick()"
  (shortclick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    @if (service.values.ValveType === 0) {
    <div [inlineSVG]="'/assets/hap-icons/valve-generic.svg'" [attr.aria-label]="'Valve'" class="accessory-svg"></div>
    } @if (service.values.ValveType === 1) {
    <div [inlineSVG]="'/assets/hap-icons/valve-irrigation.svg'" [attr.aria-label]="'Valve'" class="accessory-svg"></div>
    } @if (service.values.ValveType === 2) {
    <div [inlineSVG]="'/assets/hap-icons/valve-showerhead.svg'" [attr.aria-label]="'Valve'" class="accessory-svg"></div>
    } @if (service.values.ValveType === 3) {
    <div
      [inlineSVG]="'/assets/hap-icons/valve-waterfaucet.svg'"
      [attr.aria-label]="'Valve'"
      class="accessory-svg"
    ></div>
    }
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    @if (service.values.Active && remainingDuration) {
    <div class="accessory-label grey-text">{{ remainingDuration }}</div>
    } @if (service.values.Active && !remainingDuration) {
    <div class="accessory-label grey-text">{{ 'accessories.control.running' | translate }}</div>
    } @if (!service.values.Active) {
    <div class="accessory-label grey-text">{{ 'accessories.control.off' | translate }}</div>
    }
  </div>
</div>
