<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')"></button>
  </div>
  <div class="modal-body text-center">

    <div class="securitysystem-mode-control btn-group-vertical btn-group-toggle d-flex justify-content-center mb-4"
      ngbRadioGroup name="radioBasic" [(ngModel)]="targetMode" (change)="onTargetStateChange()">
      <label ngbButtonLabel class="btn-primary m-0">
        <input ngbButton type="radio" [value]="0"> {{ 'accessories.control.label_home' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary  m-0">
        <input ngbButton type="radio" [value]="1"> {{ 'accessories.control.label_away' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary  m-0">
        <input ngbButton type="radio" [value]="2"> {{ 'accessories.control.label_night' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary  m-0">
        <input ngbButton type="radio" [value]="3"> {{ 'accessories.control.label_off' | translate }}
      </label>
    </div>

  </div>
</div>
