<div class="accessory-box">
  <div class="d-flex flex-column h-100">
    <div class="batterylevel-circle" [innerText]="(service.values.BatteryLevel || 0 | number:'1.0-0') + '%'" [ngClass]="{
      'lowbattery': service.values.StatusLowBattery === 1
    }"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div class="accessory-label grey-text" *ngIf="service.values.ChargingState === 0">
      {{ 'accessories.control.label_batteryservice_notcharging' | translate }}
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.ChargingState === 1">
      {{ 'accessories.control.label_batteryservice_charging' | translate }}
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.ChargingState === 2">
      {{ 'accessories.control.label_batteryservice_notchargeable' | translate }}
    </div>
  </div>
</div>