::ng-deep {
  .switch-off {
    svg {
      .occupancy_sensor_person {
        fill: #E0E0E0;
      }
      .occupancy_sensor_trigger_lines {
        display: none;
      }
      .occupancy_sensor_background {
        fill: #808080;
      }
    }
  }
}

::ng-deep body.config-ui-x-dark-mode {
  .switch-off {
    svg {
      .occupancy_sensor_person {
        fill: #2B2B2B;
      }
    }
  }
}