<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body d-flex flex-row flex-grow-1 w-100">
    @if (loading) {
    <div class="text-center primary-text my-5 w-100">
      <i class="fa fa-circle-notch fa-spin" style="font-size: 75px"></i>
    </div>
    } @else {
    <div class="w-100 text-center">
      @if (plugin.installedVersion) {
      <i class="fas fa-code-compare primary-text mb-3" style="font-size: 75px"></i>
      <h6 class="mb-3">{{ 'plugins.manage.select_version' | translate }}</h6>
      <p class="mb-3">
        {{ 'plugins.status_installed' | translate }}: <span class="font-monospace">v{{ plugin.installedVersion }}</span>
      </p>
      } @else {
      <i class="far fa-arrow-alt-circle-down primary-text mb-3" style="font-size: 75px"></i>
      <h6 class="mb-3">{{ 'plugins.manage.select_version' | translate }}</h6>
      }
      <ul class="list-group list-group-box mb-0">
        @for (version of versionsWithTags; track version) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="text-start">
            {{ version.tag }}
            <br />
            <small class="grey-text font-monospace">v{{ version.version }}</small>
          </span>
          <button
            type="button"
            class="btn btn-primary m-0 ms-3 py-1"
            (click)="doInstall(version.version)"
            [attr.aria-label]="(plugin.installedVersion === version.version ? ('plugins.manage.reinstall' | translate) : ('plugins.manage.install' | translate)) + ' v' + version.version"
          >
            @if (plugin.installedVersion === version.version) {
            <i class="fas fa-rotate-right"></i>
            } @else {
            <i class="fas fa-arrow-alt-circle-down"></i>
            }
          </button>
        </li>
        }
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-start" style="min-width: 50%">
            {{ 'plugins.manage.all_versions' | translate }}
            <br />
            <select
              class="custom-select w-100 font-monospace"
              style="font-size: 0.875rem"
              [(ngModel)]="versionSelect"
              [attr.aria-label]="'plugins.manage.all_versions' | translate"
            >
              @for (version of versions; track version) {
              <option [value]="version.version" [selected]="versionSelect == version.version">
                v{{ version.version }} @if (version.version == plugin.installedVersion) { ✓ }
              </option>
              }
            </select>
          </div>
          @if (versionSelect) {
          <button
            type="button"
            class="btn btn-primary m-0 ms-3 py-1"
            (click)="doInstall(versionSelect)"
            [attr.aria-label]="(plugin.installedVersion === versionSelect ? ('plugins.manage.reinstall' | translate) : ('plugins.manage.install' | translate))  + ' v' + versionSelect"
          >
            @if (plugin.installedVersion === versionSelect) {
            <i class="fas fa-rotate-right"></i>
            } @else {
            <i class="fas fa-arrow-alt-circle-down"></i>
            }
          </button>
          }
        </li>
      </ul>

      @if (plugin.installedVersion) {
      <ul class="list-group list-group-box mt-3 mb-0">
        <li class="list-group-item text-center">{{ 'plugins.manage.update_preferences' | translate }}</li>
        <button
          type="button"
          class="list-group-item d-flex align-items-center text-start"
          (click)="selectUpdatePreference('stable')"
        >
          <div class="me-3">
            <i
              class="fas fa-arrow-alt-circle-up fa-fw fa-lg"
              [class.primary-text]="updatePreferenceControl.value === 'stable'"
              [class.grey-text]="updatePreferenceControl.value !== 'stable'"
            ></i>
          </div>
          <div class="flex-grow-1">
            <div>{{ 'plugins.manage.update_pref_stable' | translate }}</div>
            <div class="text-muted small">{{ 'plugins.manage.update_pref_stable_desc' | translate }}</div>
          </div>
          @if (updatePreferenceControl.value === 'stable') {
          <div class="ms-3">
            <i class="fas fa-check-circle primary-text"></i>
          </div>
          }
        </button>
        <button
          type="button"
          class="list-group-item d-flex align-items-center text-start"
          (click)="selectUpdatePreference('beta')"
        >
          <div class="me-3">
            <i
              class="fas fa-vial fa-fw fa-lg"
              [class.primary-text]="updatePreferenceControl.value === 'beta'"
              [class.grey-text]="updatePreferenceControl.value !== 'beta'"
            ></i>
          </div>
          <div class="flex-grow-1">
            <div>{{ 'plugins.manage.update_pref_beta' | translate }}</div>
            <div class="text-muted small">{{ 'plugins.manage.update_pref_beta_desc' | translate }}</div>
          </div>
          @if (updatePreferenceControl.value === 'beta') {
          <div class="ms-3">
            <i class="fas fa-check-circle primary-text"></i>
          </div>
          }
        </button>
        <button
          type="button"
          class="list-group-item d-flex align-items-center text-start"
          (click)="selectUpdatePreference('none')"
        >
          <div class="me-3">
            <i
              class="fas fa-bell-slash fa-fw fa-lg"
              [class.primary-text]="updatePreferenceControl.value === 'none'"
              [class.grey-text]="updatePreferenceControl.value !== 'none'"
            ></i>
          </div>
          <div class="flex-grow-1">
            <div>{{ 'plugins.manage.update_pref_none' | translate }}</div>
            <div class="text-muted small">{{ 'plugins.manage.update_pref_none_desc' | translate }}</div>
          </div>
          @if (updatePreferenceControl.value === 'none') {
          <div class="ms-3">
            <i class="fas fa-check-circle primary-text"></i>
          </div>
          }
        </button>
      </ul>
      }
    </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="dismissModal()">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
