<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center px-5">
    <h5>
      <strong>
        @if (service.values.PositionState === 2) {
        <div>
          @if (service.values.CurrentPosition === 0) {
          <span>{{ 'accessories.control.closed' | translate }}</span>
          } @if (service.values.CurrentPosition > 0 && service.values.CurrentPosition < 100) {
          <span> {{ service.values.CurrentPosition }}% {{ 'accessories.control.open' | translate }} </span>
          } @if (service.values.CurrentPosition === 100) {
          <span>Open</span>
          }
        </div>
        } @if (service.values.PositionState === 1) {
        <div class="red-text">{{ 'accessories.control.opening' | translate }}...</div>
        } @if (service.values.PositionState === 0) {
        <div class="red-text">{{ 'accessories.control.closing' | translate }}...</div>
        }
      </strong>
    </h5>

    <p>{{ 'accessories.control.target' | translate }}: {{ targetPosition.value }}%</p>
    <nouislider
      [min]="targetPosition.min"
      [max]="targetPosition.max"
      [step]="targetPosition.step"
      [(ngModel)]="targetPosition.value"
      (ngModelChange)="onTargetPositionChange()"
    >
    </nouislider>
  </div>
</div>
