<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'plugins.settings.title_settings' | translate }}: {{ plugin.displayName || plugin.name }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.close('Dismiss')"
      [disabled]="saveInProgress"
    ></button>
  </div>
  <div class="modal-body">
    <div>
      <markdown class="plugin-md" [data]="schema.headerDisplay | interpolateMd" *ngIf="schema.headerDisplay"></markdown>
    </div>

    <!-- MULTIPLE CONFIG BLOCKS-->
    <div
      ngbAccordion
      [closeOthers]="true"
      (show)="blockShown($event)"
      (hide)="blockHidden($event)"
      *ngIf="pluginConfig.length && !schema.singular"
    >
      <div
        [ngbAccordionItem]="block.__uuid__"
        class="card"
        [collapsed]="show !== block.__uuid__"
        [id]="block.__uuid__"
        *ngFor="let block of pluginConfig"
      >
        <div ngbAccordionHeader class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ block.name }}</h5>
            <div>
              <button
                *ngIf="plugin.name !== 'homebridge-config-ui-x' && show === block.__uuid__"
                class="btn btn-danger ms-2"
                (click)="removeBlock(block.__uuid__)"
                [ngbTooltip]="'form.button_delete' | translate"
                container="body"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-trash"></i>
              </button>
              <button
                class="btn btn-primary ms-2"
                ngbAccordionButton
                [ngbTooltip]="'form.button_edit' | translate"
                container="body"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="card-body">
            <app-schema-form [configSchema]="schema" [(data)]="block.config"> </app-schema-form>
          </div>
        </div>
      </div>
    </div>

    <!-- SINGLE CONFIG BLOCK ONLY -->
    <div *ngIf="pluginConfig.length && schema.singular" class="card card-body">
      <app-schema-form [configSchema]="schema" [(data)]="pluginConfig[0].config"> </app-schema-form>
      <app-homebridge-deconz *ngIf="plugin.name==='homebridge-deconz'"></app-homebridge-deconz>
      <app-homebridge-hue *ngIf="plugin.name==='homebridge-hue'"></app-homebridge-hue>
    </div>

    <div class="mt-3">
      <markdown class="plugin-md" [data]="schema.footerDisplay | interpolateMd" *ngIf="schema.footerDisplay"></markdown>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.close()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        *ngIf="!schema.singular || pluginConfig.length === 0"
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="addBlock()"
      >
        <i class="fa fa-fw fa-plus"></i>
      </button>
      <button
        *ngIf="plugin.name !== 'homebridge-config-ui-x' && schema.singular && pluginConfig.length > 0"
        class="btn btn-danger ms-2"
        (click)="removeBlock(pluginConfig[0].__uuid__)"
        [ngbTooltip]="'form.button_delete' | translate"
        container="body"
        openDelay="150"
        triggers="hover"
      >
        <i class="fa fa-fw fa-trash"></i>
      </button>
      <button
        type="button"
        class="btn btn-primary ms-2"
        data-bs-dismiss="modal"
        (click)="save()"
        [disabled]="saveInProgress"
      >
        <span *ngIf="!saveInProgress">{{ 'form.button_save' | translate }}</span>
        <i *ngIf="saveInProgress" class="fas fa-fw fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</div>
