<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'plugins.settings.title_settings' | translate }}: {{ plugin.displayName || plugin.name }}
    </h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.close('Dismiss')"
      [disabled]="saveInProgress"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <markdown class="plugin-md" [data]="schema.headerDisplay | interpolateMd" *ngIf="schema.headerDisplay"></markdown>
    </div>

    <!-- MULTIPLE CONFIG BLOCKS-->
    <div
      ngbAccordion
      [closeOthers]="true"
      (show)="blockShown($event)"
      (hide)="blockHidden($event)"
      *ngIf="pluginConfig.length && !schema.singular"
    >
      <div
        [ngbAccordionItem]="block.__uuid__"
        class="card"
        [collapsed]="show !== block.__uuid__"
        [id]="block.__uuid__"
        *ngFor="let block of pluginConfig; let i = index"
      >
        <div ngbAccordionHeader class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">
              <i
                class="fa fa-fw"
                [ngClass]="formBlocksValid[i] ? 'fa-circle-check green-text' : (strictValidation ? 'fa-circle-exclamation red-text' : 'fa-circle-exclamation orange-text')"
                [ngbTooltip]="(formBlocksValid[i] ? 'form.label_valid' : (strictValidation ? 'form.label_invalid_strict' : 'form.label_invalid')) | translate"
                container="modal"
                placement="right"
                openDelay="150"
                triggers="hover"
              ></i>
              {{ block.name }}
            </h5>
            <div>
              <button
                *ngIf="plugin.name !== 'homebridge-config-ui-x' && show === block.__uuid__"
                class="btn btn-danger ml-2"
                (click)="removeBlock(block.__uuid__)"
                [ngbTooltip]="'form.button_delete' | translate"
                container="modal"
                placement="left"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-trash"></i>
              </button>
              <button
                class="btn btn-primary ml-2 mr-0"
                ngbAccordionButton
                [ngbTooltip]="'form.button_edit' | translate"
                container="modal"
                placement="left"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="card-body">
            <app-schema-form
              [configSchema]="schema"
              [(data)]="block.config"
              (isValid)="onIsValid($event, i)"
            ></app-schema-form>
          </div>
        </div>
      </div>
    </div>

    <!-- SINGLE CONFIG BLOCK ONLY -->
    <div *ngIf="pluginConfig.length && schema.singular" class="card card-body">
      <app-schema-form
        [configSchema]="schema"
        [(data)]="pluginConfig[0].config"
        (isValid)="onIsValid($event, 0)"
      ></app-schema-form>
      <app-homebridge-deconz *ngIf="plugin.name==='homebridge-deconz'"></app-homebridge-deconz>
      <app-homebridge-hue *ngIf="plugin.name==='homebridge-hue'"></app-homebridge-hue>
    </div>

    <div class="mt-3">
      <markdown class="plugin-md" [data]="schema.footerDisplay | interpolateMd" *ngIf="schema.footerDisplay"></markdown>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.close()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right d-flex align-items-center justify-content-end">
      <i
        *ngIf="schema.singular"
        class="fa fa-fw fa-xl"
        [ngClass]="formIsValid ? 'fa-circle-check green-text' : (strictValidation ? 'fa-circle-exclamation red-text' : 'fa-circle-exclamation orange-text')"
        [ngbTooltip]="(formIsValid ? 'form.label_valid' : (strictValidation ? 'form.label_invalid_strict' : 'form.label_invalid')) | translate"
        container="modal"
        placement="top"
        openDelay="150"
        triggers="hover"
      ></i>
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="save()"
        [disabled]="saveInProgress || (!formIsValid && strictValidation)"
      >
        <span *ngIf="!saveInProgress">{{ 'form.button_save' | translate }}</span>
        <i *ngIf="saveInProgress" class="fas fa-fw fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</div>
