<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ pluginName }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3 text-center">
      <i class="fas fa-fw fa-circle-pause primary-text" style="font-size: 75px"></i>
    </div>
    @if (isConfigured) { @if (isConfiguredDynamicPlatform) {
    <ul class="mb-3">
      <li
        [innerHtml]="'plugins.manage.confirm_disable_setting' | translate: {
          setting: keepOrphansName,
          value: keepOrphansValue,
         }"
      ></li>
      <ul class="mb-1">
        @if (keepOrphans) {
        <li>{{ 'plugins.manage.confirm_disable_platform_1' | translate }}</li>
        <li>{{ 'plugins.manage.confirm_disable_platform_2' | translate }}</li>
        } @else {
        <li>{{ 'plugins.manage.confirm_disable_accessory_1' | translate }}</li>
        <li>{{ 'plugins.manage.confirm_disable_accessory_2' | translate }}</li>
        }
      </ul>
    </ul>
    } @else {
    <ul class="mb-3">
      <li>{{ 'plugins.manage.confirm_disable_accessory_1' | translate }}</li>
      <li>{{ 'plugins.manage.confirm_disable_accessory_2' | translate }}</li>
    </ul>
    } }
    <ngb-alert type="warning" [dismissible]="false" class="mb-0">
      <p class="w-100 text-center mb-0">{{ 'plugins.manage.confirm_disable' | translate: { pluginName } }}</p>
    </ngb-alert>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="dismissModal()"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">
        {{ 'plugins.manage.disable' | translate }}
      </button>
    </div>
  </div>
</div>
