<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'plugins.manage.disable' | translate }}: {{ pluginName }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body w-100 text-center">
    <i class="fas fa-fw fa-circle-pause primary-text mb-4" style="font-size: 75px"></i>
    <ngb-alert type="warning" [dismissible]="false">
      <p class="w-100 text-center mb-0">{{ 'plugins.manage.confirm_disable' | translate: { pluginName } }}</p>
    </ngb-alert>
    @if (isConfigured && !isConfiguredDynamicPlatform) {
    <ul class="mb-0 text-left">
      <li>{{ 'plugins.manage.confirm_disable_accessory_1' | translate }}</li>
      <li class="mb-0">{{ 'plugins.manage.confirm_disable_accessory_2' | translate }}</li>
    </ul>
    } @if (isConfigured && isConfiguredDynamicPlatform) {
    <ul class="mb-0 text-left">
      <li>{{ 'plugins.manage.confirm_disable_platform_1' | translate }}</li>
      <li class="mb-0">{{ 'plugins.manage.confirm_disable_platform_2' | translate }}</li>
    </ul>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="$activeModal.close()">
        {{ 'plugins.manage.disable' | translate }}
      </button>
    </div>
  </div>
</div>
