<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'settings.security.ui_control' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      [disabled]="clicked()"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-3"><i class="fas fa-list-check primary-text icon-xl"></i></div>
    <ul class="mb-3">
      <li>{{ 'settings.security.ui_control_desc' | translate }}</li>
      <li>{{ 'settings.security.ui_control_desc_2' | translate }}</li>
    </ul>

    <ul class="list-group list-group-box mt-3 mb-0">
      @if (mainPairing(); as mp) {
        <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
          <div class="d-flex align-items-center text-start flex-grow-1 me-3">
            <span class="me-3 flex-shrink-0">
              @if (isMatterSupported) {
                <i class="fas fa-lg fa-hap me-2" [class.opacity-muted]="mp._matterOnly"></i>
                <i class="fas fa-lg fa-matter" [class.opacity-muted]="!mp._matter"></i>
              } @else {
                <i class="fas fa-lg fa-hap"></i>
              }
            </span>
            <div>
              {{ mp.name }}<br />
              <small class="grey-text">
                <i
                  class="fas fa-link"
                  container="body"
                  triggers="hover"
                  placement="left"
                  [ngbTooltip]="(mp._isPaired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate"
                  [openDelay]="150"
                  [class.green-text]="mp._isPaired"
                  [class.grey-text]="!mp._isPaired"
                ></i>
                &middot; <span class="font-monospace">{{ mp._username }}</span> &middot; Homebridge
              </small>
            </div>
          </div>
          <div class="text-end grey-text d-flex align-items-center">
            <input
              type="checkbox"
              class="rendux-input"
              id="controlMainBridge"
              [checked]="!isInList(mp._username!)"
              [disabled]="clicked()"
              [attr.aria-label]="'plugins.manage.hide_updates' | translate"
              (click)="toggleList(mp._username!)"
            />
            <label for="controlMainBridge" class="rendux-label ms-3"></label>
          </div>
        </li>
      }
      @for (item of pairings(); track item) {
        <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
          <div class="d-flex align-items-center text-start flex-grow-1 me-3">
            <span class="me-3 flex-shrink-0">
              @if (isMatterSupported) {
                <i class="fas fa-lg fa-hap me-2" [class.opacity-muted]="item._matterOnly"></i>
                <i class="fas fa-lg fa-matter" [class.opacity-muted]="!item._matter"></i>
              } @else {
                <i class="fas fa-lg fa-hap"></i>
              }
            </span>
            <div>
              {{ item.name }}
              <br />
              <small class="grey-text">
                <i
                  class="fas fa-link"
                  container="body"
                  triggers="hover"
                  placement="left"
                  [ngbTooltip]="(item._isPaired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate"
                  [openDelay]="150"
                  [class.green-text]="item._isPaired"
                  [class.grey-text]="!item._isPaired"
                ></i>
                &middot; <span class="font-monospace">{{ item._username }}</span> &middot;
                {{ item._category | titlecase }}
              </small>
            </div>
          </div>
          <div class="text-end grey-text d-flex align-items-center">
            <input
              type="checkbox"
              class="rendux-input"
              [id]="`hidePluginUpdates_${item._username}`"
              [checked]="!isInList(item._username!)"
              [disabled]="clicked()"
              [attr.aria-label]="`${('form.button_allow' | translate)} ${item.name}`"
              (click)="toggleList(item._username!)"
            />
            <label class="rendux-label ms-3" [for]="`hidePluginUpdates_${item._username}`"></label>
          </div>
        </li>
      }
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [disabled]="clicked()"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        [disabled]="!blacklistHasUpdated || clicked()"
        (click)="updateBlacklist()"
      >
        @if (!clicked()) {
          {{ 'form.button_save' | translate }}
        } @else {
          <i class="fas fa-circle-notch fa-spin"></i>
        }
      </button>
    </div>
  </div>
</div>
