::ng-deep {
  .purifying {
    svg {
      .air-line {
        animation: wave-motion 5s ease-in-out infinite;
        stroke: #1976d2;
        stroke-opacity: 0.5;
      }

      .bottom-line {
        animation-delay: 0.4s;
      }

      @keyframes wave-motion {
        0%,
        100% {
          transform: translateY(0px);
          stroke-opacity: 0.5;
        }
        50% {
          transform: translateY(2px);
          stroke-opacity: 1;
        }
      }
    }
  }
}
