::ng-deep {
  .switch-on {
    svg {
      .air-line {
        animation: waveMotion 2s ease-in-out infinite;
        stroke: #1976d2;
      }

      .line2 {
        animation-delay: 0.3s;
      }

      .line3 {
        animation-delay: 0.6s;
      }

      @keyframes waveMotion {
        0%,
        100% {
          transform: translateY(0px);
          opacity: 1;
        }
        50% {
          transform: translateY(-4px);
          opacity: 0.6;
        }
      }
    }
  }
}
