<div class="accessory-box" [ngClass]="{'switch-on': service.values.TargetPosition}" appLongclick
  (longclick)="onLongClick()" (shortclick)="onClick()">
  <div *ngIf="!service.values.TargetPosition" [inlineSVG]="'/assets/hap-icons/windowcovering-closed.svg'"
    aria-label="Window Covering" class="accessory-svg"></div>
  <div *ngIf="service.values.TargetPosition" [inlineSVG]="'/assets/hap-icons/windowcovering-open.svg'"
    aria-label="Window Covering" class="accessory-svg"></div>
  <div class="accessory-label">{{ service.customName || service.serviceName }}</div>
  <div class="accessory-label grey-text" *ngIf="service.values.PositionState === 2">
    <span *ngIf="service.values.CurrentPosition === 0">Closed</span>
    <span *ngIf="service.values.CurrentPosition > 0 && service.values.CurrentPosition < 100">
      {{ service.values.CurrentPosition }}% Open
    </span>
    <span *ngIf="service.values.CurrentPosition === 100">Open</span>
  </div>
  <div class="accessory-label red-text" *ngIf="service.values.PositionState === 1">Opening...</div>
  <div class="accessory-label red-text" *ngIf="service.values.PositionState === 0">Closing...</div>
</div>