<div class="flex-column d-flex align-items-stretch h-100">

  <div class="row">
    <div class="col-sm-6 d-none d-sm-block">
      <h3 class="primary-text m-0">
        <span class="d-none d-md-inline">Homebridge</span> {{'config.title_config' | translate}}</h3>
    </div>
    <div class="col-sm-6 text-right">
      <a class="btn btn-elegant waves-effect" target="_blank" [href]="backupUrl" download="config.json" [translate]="'config.button_backup'">Backup</a>
      <button class="btn btn-elegant waves-effect" (click)="onRestore()" [translate]="'config.button_restore'">Restore</button>
      <button class="btn btn-primary waves-effect" (click)="onSave()" [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>

  <ace-editor
    *ngIf="!isMobile"
    class="hb-ace-text-editor align-self-end h-100 mb-3 mt-3"
    [(text)]="homebridgeConfig"
    theme="xcode"
    mode="json"
    [options]="options"
    [readOnly]="saveInProgress"
    [autoUpdateContent]="true"
    (keydown.meta.s)="$event.preventDefault(); onSave()"
    (keydown.control.s)="$event.preventDefault(); onSave()">
  </ace-editor>

  <textarea wrap="off"
    *ngIf="isMobile"
    class="hb-plain-text-editor align-self-end h-100 w-100 mb-3 mt-3"
    [(ngModel)]="homebridgeConfig">
  </textarea>
</div>
