<div
  class="accessory-box"
  [ngClass]="{ 'switch-on': ('On' in service.values && service.values.On)
    || ('On' in service.values && service.values.Active)
    || ('LockTargetState' in service.values && !service.values.LockTargetState) }"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/outlet.svg'" [attr.aria-label]="'Outlet'" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div
      class="accessory-label grey-text"
      [innerText]="((('On' in service.values && service.values.On)
    || ('On' in service.values && service.values.Active)
    || ('LockTargetState' in service.values && !service.values.LockTargetState)) ? 'accessories.control.on' : 'accessories.control.off') | translate"
    ></div>
  </div>
</div>
