// This is just to center the spinner

.app-spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate_loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}
 
.animate_loader .circular {
    animation: rotate 2s linear infinite;
    height: 120px;
    transform-origin: center center;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 
.animate_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
 
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
 
@keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
 
@keyframes color{
    100%, 0%{
        stroke: #9c0;
    }
    50%{
        stroke: #FF9300;
    }
}