<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    ></button>
  </div>
  <div class="modal-body text-center px-5">
    <h6>{{ 'menu.label_status' | translate }}</h6>
    @if (targetLockManagementAutoSecurityTimeout) {
    <h6>
      {{ 'accessories.control.lock_security_timeout' | translate }}: {{ targetLockManagementAutoSecurityTimeout.value
      }}s
    </h6>
    <nouislider
      [min]="targetLockManagementAutoSecurityTimeout.min"
      [max]="targetLockManagementAutoSecurityTimeout.max"
      [step]="targetLockManagementAutoSecurityTimeout.step"
      [(ngModel)]="targetLockManagementAutoSecurityTimeout.value"
      (ngModelChange)="onLockManagementAutoSecurityTimeoutStateChange()"
    >
    </nouislider>
    }
  </div>
  <div class="modal-footer"></div>
</div>
