<div class="flex-column d-flex align-items-stretch h-100">

  <div class="row">
    <div class="col-sm-6 d-none d-sm-block">
      <h3 class="primary-text m-0">
        <span class="d-none d-md-inline">Homebridge</span> {{'config.title_config' | translate}}
      </h3>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-elegant waves-effect" (click)="onRestore()" [translate]="'config.button_restore'"></button>
      <button class="btn btn-elegant waves-effect" (click)="onExportConfig()" container="body"
        ngbTooltip="{{ 'logs.label_download' | translate }}"><i class="fas fa-download"></i></button>
      <button class="btn btn-danger waves-effect" (click)="onCancelRestore()" [disabled]="saveInProgress"
        *ngIf="originalConfig" translate="form.button_cancel"></button>
      <button class="btn btn-primary waves-effect" (click)="onSave()" [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>

  <ngx-monaco-editor *ngIf="!isMobile && !originalConfig" class="flex-grow-1 h-100 w-100 mb-3 mt-3"
    [options]="editorOptions" [model]="monacoEditorModel" (onInit)="onEditorInit($event)"
    (keydown.control.s)="$event.preventDefault(); onSave()" (keydown.meta.s)="$event.preventDefault(); onSave()">
  </ngx-monaco-editor>

  <ngx-monaco-diff-editor *ngIf="!isMobile && originalConfig" class="flex-grow-1 h-100 w-100 mb-3 mt-3"
    [options]="editorOptions" [originalModel]="monacoEditorModel" [modifiedModel]="monacoEditorModel"
    (onInit)="onInitDiffEditor($event)" (keydown.control.s)="$event.preventDefault(); onSave()"
    (keydown.meta.s)="$event.preventDefault(); onSave()">
  </ngx-monaco-diff-editor>

  <textarea wrap="off" *ngIf="isMobile" class="hb-plain-text-editor align-self-end h-100 w-100 mb-3 mt-3"
    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="homebridgeConfig">
  </textarea>
</div>