<div class="flex-column d-flex align-items-stretch h-100">
  <div class="row">
    <div class="col-6">
      <h3 class="primary-text m-0">{{ 'menu.config_json_editor' | translate }}</h3>
    </div>
    <div class="col-6 text-end">
      <select
        id="hb-editor-mode"
        class="btn btn-elegant my-0 me-2"
        [attr.aria-label]="'config.editor_mode' | translate"
        [ngModel]="preferPlainTextEditor() ? 'plain' : 'default'"
        (ngModelChange)="setPlainTextEditor($event === 'plain')"
      >
        <option value="default">{{ 'config.editor_mode_default' | translate }}</option>
        <option value="plain">{{ 'config.editor_mode_plain' | translate }}</option>
      </select>
      @if (originalConfig()) {
        <button
          type="button"
          class="btn btn-danger waves-effect my-0 me-2"
          container="body"
          placement="bottom"
          triggers="hover"
          [disabled]="saveInProgress()"
          [openDelay]="150"
          [ngbTooltip]="'form.button_cancel' | translate"
          [attr.aria-label]="'form.button_cancel' | translate"
          (click)="onCancelRestore()"
        >
          <i aria-hidden="true" class="fas fa-times"></i>
        </button>
      } @else {
        <button
          type="button"
          class="btn btn-elegant waves-effect my-0 me-2"
          container="body"
          placement="bottom"
          triggers="hover"
          [openDelay]="150"
          [attr.aria-label]="'form.button_restore' | translate"
          [ngbTooltip]="'form.button_restore' | translate"
          (click)="onRestore()"
        >
          <i aria-hidden="true" class="fas fa-history"></i>
        </button>
      }
      @if (!isMobile() && originalConfig()) {
        <button
          type="button"
          class="btn btn-elegant waves-effect my-0 me-2"
          container="body"
          placement="bottom"
          triggers="hover"
          [openDelay]="150"
          [attr.aria-label]="
            (renderSideBySide() ? 'config.restore.view_inline' : 'config.restore.view_side_by_side') | translate
          "
          [ngbTooltip]="
            (renderSideBySide() ? 'config.restore.view_inline' : 'config.restore.view_side_by_side') | translate
          "
          (click)="toggleSideBySide()"
        >
          <i
            aria-hidden="true"
            class="fas"
            [class.fa-columns]="!renderSideBySide()"
            [class.fa-bars]="renderSideBySide()"
          ></i>
        </button>
      }
      <button
        type="button"
        class="btn btn-elegant waves-effect my-0 me-0"
        container="body"
        placement="bottom"
        triggers="hover"
        [disabled]="saveInProgress()"
        [openDelay]="150"
        [ngbTooltip]="'form.button_save' | translate"
        [attr.aria-label]="'form.button_save' | translate"
        (click)="onSave()"
      >
        @if (!saveInProgress()) {
          <i aria-hidden="true" class="fas fa-floppy-disk"></i>
        } @else {
          <i aria-hidden="true" class="fas fa-circle-notch fa-spin"></i>
        }
      </button>
    </div>
  </div>

  @if (!preferPlainTextEditor() && !isMobile() && !originalConfig()) {
    <ngx-monaco-editor
      class="flex-grow-1 h-100 w-100 mt-3 mb-0"
      [options]="editorOptions"
      [model]="monacoEditorModel"
      (onInit)="onEditorInit($event)"
      (keydown.control.s)="$event.preventDefault(); onSave()"
      (keydown.meta.s)="$event.preventDefault(); onSave()"
    />
  }
  @if (!preferPlainTextEditor() && !isMobile() && originalConfig()) {
    <ngx-monaco-diff-editor
      class="flex-grow-1 h-100 w-100 mt-3 mb-0"
      [options]="editorOptions"
      [originalModel]="diffOriginalModel"
      [modifiedModel]="diffModifiedModel"
      (onInit)="onInitDiffEditor($event)"
      (keydown.control.s)="$event.preventDefault(); onSave()"
      (keydown.meta.s)="$event.preventDefault(); onSave()"
    />
  }
  @if (preferPlainTextEditor() || isMobile()) {
    <textarea
      wrap="off"
      class="hb-plain-text-editor align-self-end h-100 w-100 my-3"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      [attr.aria-label]="'menu.config_json_editor' | translate"
      [ngModel]="homebridgeConfig()"
      (ngModelChange)="homebridgeConfig.set($event)"
    >
    </textarea>
  }
</div>
