<div class="modal-content" style="min-height: 300px">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'users.setup_2fa_disable' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'users.setup_2fa_disable_current_password' | translate }}</p>

    <div class="form-group">
      <input
        class="form-control"
        type="password"
        autocomplete="current-password"
        [formControl]="formGroup.controls['password']"
        [placeholder]="'users.label_password' | translate"
      />
    </div>
    @if (invalidCredentials) {
    <p class="red-text">
      <small>{{ 'login.invalid_credentials' | translate }}</small>
    </p>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="disable2fa()"
        [disabled]="formGroup.invalid"
      >
        {{ 'form.button_disable' | translate }}
      </button>
    </div>
  </div>
</div>
