<div class="accessory-box" [ngClass]="{ 'switch-on': service.values.InUse }">
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/service-icons/irrigation-system.svg'"
      [attr.aria-label]="'Irrigation System'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    @if (service.values.InUse) {
    <div class="accessory-label grey-text">{{ 'accessories.control.running' | translate }}</div>
    } @else {
    <div class="accessory-label grey-text">{{ 'accessories.control.off' | translate }}</div>
    }
  </div>
</div>
