<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body w-100 text-center">
    @if (faIconClass) {
    <i class="fas fa-fw {{ faIconClass }} mb-4" style="font-size: 75px"></i>
    } @if (subtitle) {
    <div class="alert" role="alert">
      <h5 class="mb-0">{{ subtitle }}</h5>
    </div>
    }
    <p class="w-100 text-center">{{ message }}</p>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      @if (ctaButtonLink) {
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-center">
      @if (!ctaButtonLink) {
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-right">
      @if (ctaButtonLink) {
      <a class="btn btn-primary text-decoration-none" target="_blank" [href]="ctaButtonLink" rel="noopener noreferrer">
        {{ ctaButtonLabel }} <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
      }
    </div>
  </div>
</div>
