<ng-container>
  @if ($accessories.readyForControl) {
  <a href="javascript:void(0)" class="manage-accessory-button" (click)="$accessories.showAccessoryInformation(service)">
    <i class="fas fa-fw fa-bars grey-text"></i>
  </a>
  } @if (!$accessories.readyForControl) {
  <i class="fas fa-fw fa-spin fa-sync-alt refreshing-accessory-status-icon grey-text"></i>
  } @switch (service.customType || service.type) { @case ('Switch') {
  <app-switch [service]="service" [readyForControl]="$accessories.readyForControl">Switch</app-switch>
  } @case ('Thermostat') {
  <app-thermostat [service]="service" [readyForControl]="$accessories.readyForControl">Thermostat</app-thermostat>
  } @case ('Outlet') {
  <app-outlet [service]="service" [readyForControl]="$accessories.readyForControl">Outlet</app-outlet>
  } @case ('Fan') {
  <app-fan [service]="service" [readyForControl]="$accessories.readyForControl" class="w-100">Fan</app-fan>
  } @case ('Fanv2') {
  <app-fan [service]="service" [readyForControl]="$accessories.readyForControl" class="w-100">Fan</app-fan>
  } @case ('AirPurifier') {
  <app-air-purifier [service]="service" [readyForControl]="$accessories.readyForControl" class="w-100"
    >Air Purifier</app-air-purifier
  >
  } @case ('Lightbulb') {
  <app-light-bulb [service]="service" [readyForControl]="$accessories.readyForControl">Lightbulb</app-light-bulb>
  } @case ('LightSensor') {
  <app-light-sensor [service]="service">Light Sensor</app-light-sensor>
  } @case ('LockMechanism') {
  <app-lock-mechanism [service]="service" [readyForControl]="$accessories.readyForControl"
    >Lock Mechanism</app-lock-mechanism
  >
  } @case ('TemperatureSensor') {
  <app-temperature-sensor [service]="service">Temperature Sensor</app-temperature-sensor>
  } @case ('GarageDoorOpener') {
  <app-garage-door-opener [service]="service" [readyForControl]="$accessories.readyForControl"
    >Garage Door Opener</app-garage-door-opener
  >
  } @case ('MotionSensor') {
  <app-motion-sensor [service]="service">Motion Sensor</app-motion-sensor>
  } @case ('OccupancySensor') {
  <app-occupancy-sensor [service]="service">Occupancy Sensor</app-occupancy-sensor>
  } @case ('ContactSensor') {
  <app-contact-sensor [service]="service">Contact Sensor</app-contact-sensor>
  } @case ('HumiditySensor') {
  <app-humidity-sensor [service]="service">Humidity Sensor</app-humidity-sensor>
  } @case ('AirQualitySensor') {
  <app-air-quality-sensor [service]="service">Air Quality Sensor</app-air-quality-sensor>
  } @case ('WindowCovering') {
  <app-window-covering [service]="service" [readyForControl]="$accessories.readyForControl"
    >Window Covering</app-window-covering
  >
  } @case ('Window') {
  <app-window [service]="service" [readyForControl]="$accessories.readyForControl">Window</app-window>
  } @case ('Door') {
  <app-door [service]="service" [readyForControl]="$accessories.readyForControl">Door</app-door>
  } @case ('Television') {
  <app-television [service]="service" [readyForControl]="$accessories.readyForControl">Television</app-television>
  } @case ('Battery') {
  <app-battery [service]="service">Battery</app-battery>
  } @case ('BatteryService') {
  <app-battery [service]="service">Battery</app-battery>
  } @case ('Speaker') {
  <app-speaker [service]="service" [readyForControl]="$accessories.readyForControl">Speaker</app-speaker>
  } @case ('SmartSpeaker') {
  <app-speaker [service]="service" [readyForControl]="$accessories.readyForControl">Speaker</app-speaker>
  } @case ('Doorbell') {
  <app-doorbell [service]="service" [readyForControl]="$accessories.readyForControl">Doorbell</app-doorbell>
  } @case ('Microphone') {
  <app-microphone [service]="service" [readyForControl]="$accessories.readyForControl">Microphone</app-microphone>
  } @case ('SecuritySystem') {
  <app-security-system [service]="service" [readyForControl]="$accessories.readyForControl"
    >Security System</app-security-system
  >
  } @case ('LeakSensor') {
  <app-leak-sensor [service]="service">Leak Sensor</app-leak-sensor>
  } @case ('SmokeSensor') {
  <app-smoke-sensor [service]="service">Smoke Sensor</app-smoke-sensor>
  } @case ('CarbonMonoxideSensor') {
  <app-carbon-monoxide-sensor [service]="service">Carbon Monoxide Sensor</app-carbon-monoxide-sensor>
  } @case ('CarbonDioxideSensor') {
  <app-carbon-dioxide-sensor [service]="service">Carbon Dioxide Sensor</app-carbon-dioxide-sensor>
  } @case ('Valve') {
  <app-valve [service]="service" [readyForControl]="$accessories.readyForControl">Valve</app-valve>
  } @case ('IrrigationSystem') {
  <app-irrigation-system [service]="service">Irrigation System</app-irrigation-system>
  } @case ('HeaterCooler') {
  <app-heater-cooler [service]="service" [readyForControl]="$accessories.readyForControl"
    >Heater Cooler</app-heater-cooler
  >
  } @case ('Heater') {
  <app-heater-cooler [service]="service" [type]="'heater'" [readyForControl]="$accessories.readyForControl"
    >Heater</app-heater-cooler
  >
  } @case ('Cooler') {
  <app-heater-cooler [service]="service" [type]="'cooler'" [readyForControl]="$accessories.readyForControl"
    >Cooler</app-heater-cooler
  >
  } @case ('HumidifierDehumidifier') {
  <app-humidifier-dehumidifier [service]="service" [readyForControl]="$accessories.readyForControl"
    >Humidifier Dehumidifier</app-humidifier-dehumidifier
  >
  } @case ('Humidifier') {
  <app-humidifier-dehumidifier
    [service]="service"
    [type]="'humidifier'"
    [readyForControl]="$accessories.readyForControl"
    >Humidifier Dehumidifier</app-humidifier-dehumidifier
  >
  } @case ('Dehumidifier') {
  <app-humidifier-dehumidifier
    [service]="service"
    [type]="'dehumidifier'"
    [readyForControl]="$accessories.readyForControl"
    >Humidifier Dehumidifier</app-humidifier-dehumidifier
  >
  } @case ('StatelessProgrammableSwitch') {
  <app-stateless-programmable-switch [service]="service"
    >Stateless Programmable Switch</app-stateless-programmable-switch
  >
  } @case ('FilterMaintenance') {
  <app-filter-maintenance [service]="service" [readyForControl]="$accessories.readyForControl"
    >Filter Maintenance</app-filter-maintenance
  >
  } @case ('RobotVacuum') {
  <app-robot-vacuum [service]="service" [readyForControl]="$accessories.readyForControl">Robot Vacuum</app-robot-vacuum>
  } @default {
  <app-unknown [service]="service">{{ service.humanType }}</app-unknown>
  } }
</ng-container>
