<ng-container>
  @if ($accessories.readyForControl) {
  <a href="javascript:void(0)" class="manage-accessory-button" (click)="$accessories.showAccessoryInformation(service)">
    <i class="fas fa-fw fa-bars grey-text"></i>
  </a>
  } @if (!$accessories.readyForControl) {
  <i class="fas fa-fw fa-spin fa-sync-alt refreshing-accessory-status-icon grey-text"></i>
  } @switch (service.type) { @case ('Switch') {
  <app-switch [service]="service">Switch</app-switch>
  } @case ('Thermostat') {
  <app-thermostat [service]="service">Thermostat</app-thermostat>
  } @case ('Outlet') {
  <app-outlet [service]="service">Outlet</app-outlet>
  } @case ('Fan') {
  <app-fan [service]="service" class="w-100">Fan</app-fan>
  } @case ('Fanv2') {
  <app-fanv2 [service]="service" class="w-100">Fan</app-fanv2>
  } @case ('AirPurifier') {
  <app-airpurifier [service]="service" class="w-100">Air Purifier</app-airpurifier>
  } @case ('Lightbulb') {
  <app-lightbulb [service]="service">Lightbulb</app-lightbulb>
  } @case ('LightSensor') {
  <app-lightsensor [service]="service">Light Sensor</app-lightsensor>
  } @case ('LockMechanism') {
  <app-lockmechanism [service]="service">Lock Mechanism</app-lockmechanism>
  } @case ('LockManagement') {
  <app-lockmanagement [service]="service">Lock Management</app-lockmanagement>
  } @case ('TemperatureSensor') {
  <app-temperaturesensor [service]="service">Temperature Sensor</app-temperaturesensor>
  } @case ('GarageDoorOpener') {
  <app-garagedooropener [service]="service">Garage Door Opener</app-garagedooropener>
  } @case ('MotionSensor') {
  <app-motionsensor [service]="service">Motion Sensor</app-motionsensor>
  } @case ('OccupancySensor') {
  <app-occupancysensor [service]="service">Occupancy Sensor</app-occupancysensor>
  } @case ('ContactSensor') {
  <app-contactsensor [service]="service">Contact Sensor</app-contactsensor>
  } @case ('HumiditySensor') {
  <app-humiditysensor [service]="service">Humidity Sensor</app-humiditysensor>
  } @case ('AirQualitySensor') {
  <app-airqualitysensor [service]="service">Air Quality Sensor</app-airqualitysensor>
  } @case ('WindowCovering') {
  <app-windowcovering [service]="service">Window Covering</app-windowcovering>
  } @case ('Window') {
  <app-window [service]="service">Window</app-window>
  } @case ('Door') {
  <app-door [service]="service">Door</app-door>
  } @case ('Television') {
  <app-television [service]="service">Television</app-television>
  } @case ('Battery') {
  <app-battery [service]="service">Battery</app-battery>
  } @case ('BatteryService') {
  <app-battery [service]="service">Battery</app-battery>
  } @case ('Speaker') {
  <app-speaker [service]="service">Speaker</app-speaker>
  } @case ('SecuritySystem') {
  <app-securitysystem [service]="service">Security System</app-securitysystem>
  } @case ('LeakSensor') {
  <app-leaksensor [service]="service">Leak Sensor</app-leaksensor>
  } @case ('SmokeSensor') {
  <app-smokesensor [service]="service">Smoke Sensor</app-smokesensor>
  } @case ('CarbonMonoxideSensor') {
  <app-carbonmonoxidesensor [service]="service">Carbon Monoxide Sensor</app-carbonmonoxidesensor>
  } @case ('CarbonDioxideSensor') {
  <app-carbondioxidesensor [service]="service">Carbon Dioxide Sensor</app-carbondioxidesensor>
  } @case ('Valve') {
  <app-valve [service]="service">Valve</app-valve>
  } @case ('IrrigationSystem') {
  <app-irrigationsystem [service]="service">Irrigation System</app-irrigationsystem>
  } @case ('HeaterCooler') {
  <app-heatercooler [service]="service">Heater Cooler</app-heatercooler>
  } @case ('HumidifierDehumidifier') {
  <app-humidifierdehumidifier [service]="service">Humidifier Dehumidifier</app-humidifierdehumidifier>
  } @case ('StatelessProgrammableSwitch') {
  <app-statelessprogrammableswitch [service]="service">Stateless Programmable Switch</app-statelessprogrammableswitch>
  } @default {
  <app-unknown [service]="service">{{ service.humanType }}</app-unknown>
  } }
</ng-container>
