<ng-container>
  @if ((service.protocol === 'matter' && $accessories.matterReadyForControl) || (service.protocol !== 'matter' &&
  $accessories.hapReadyForControl)) {
  <button
    type="button"
    class="manage-accessory-button"
    (click)="$accessories.showAccessoryInformation(service)"
    [attr.aria-label]="('form.button_edit' | translate) + ' ' + (service.customName || service.serviceName)"
  >
    <i class="fas fa-bars grey-text" aria-hidden="true"></i>
  </button>
  } @else {
  <button
    type="button"
    class="refreshing-accessory-button"
    (click)="$accessories.showAccessoryInformation(service)"
    [attr.aria-label]="('form.button_edit' | translate) + ' ' + (service.customName || service.serviceName)"
  >
    <i class="fas fa-circle-notch fa-spin grey-text" aria-hidden="true"></i>
  </button>
  }
  <!-- Matter Devices -->
  @if (service.protocol === 'matter') { @switch (service.customType || service.deviceType) { @case ('OnOffLight') {
  <app-on-off-light [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.on_off_light' | translate }}
  </app-on-off-light>
  } @case ('DimmableLight') {
  <app-dimmable-light [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.dimmable_light' | translate }}
  </app-dimmable-light>
  } @case ('ColorTemperatureLight') {
  <app-color-temperature-light [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.color_temperature_light' | translate }}
  </app-color-temperature-light>
  } @case ('ExtendedColorLight') {
  <app-extended-color-light [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.extended_color_light' | translate }}
  </app-extended-color-light>
  } @case ('OnOffPlugInUnit') {
  <app-on-off-plug-in-unit [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.on_off_plug_in_unit' | translate }}
  </app-on-off-plug-in-unit>
  } @case ('OnOffLightSwitch') {
  <app-on-off-light-switch [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.on_off_light_switch' | translate }}
  </app-on-off-light-switch>
  } @case ('RoboticVacuumCleaner') {
  <app-robotic-vacuum-cleaner [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.robotic_vacuum_cleaner' | translate }}
  </app-robotic-vacuum-cleaner>
  } @case ('ContactSensor') {
  <app-matter-contact-sensor [service]="service">
    {{ 'accessories.core.contact_sensor' | translate }}
  </app-matter-contact-sensor>
  } @case ('OccupancySensor') {
  <app-matter-occupancy-sensor [service]="service">
    {{ 'accessories.core.occupancy_sensor' | translate }}
  </app-matter-occupancy-sensor>
  } @case ('LightSensor') {
  <app-matter-light-sensor [service]="service">
    {{ 'accessories.core.light_sensor' | translate }}
  </app-matter-light-sensor>
  } @case ('TemperatureSensor') {
  <app-matter-temperature-sensor [service]="service">
    {{ 'accessories.core.temperature_sensor' | translate }}
  </app-matter-temperature-sensor>
  } @case ('HumiditySensor') {
  <app-matter-humidity-sensor [service]="service">
    {{ 'accessories.core.humidity_sensor' | translate }}
  </app-matter-humidity-sensor>
  } @case ('SmokeCoAlarm') {
  <app-matter-smoke-co-alarm [service]="service">
    {{ 'accessories.core.smoke_co_alarm' | translate }}
  </app-matter-smoke-co-alarm>
  } @case ('WaterLeakDetector') {
  <app-matter-water-leak-detector [service]="service">
    {{ 'accessories.core.leak_sensor' | translate }}
  </app-matter-water-leak-detector>
  } @case ('AirQualitySensor') {
  <app-matter-air-quality-sensor [service]="service">
    {{ 'accessories.core.air_quality_sensor' | translate }}
  </app-matter-air-quality-sensor>
  } @case ('DoorLock') {
  <app-matter-door-lock [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.lock_mechanism' | translate }}
  </app-matter-door-lock>
  } @case ('WindowCovering') {
  <app-matter-window-covering [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.window_covering' | translate }}
  </app-matter-window-covering>
  } @case ('Door') {
  <app-matter-window-covering [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.door' | translate }}
  </app-matter-window-covering>
  } @case ('Window') {
  <app-matter-window-covering [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.window' | translate }}
  </app-matter-window-covering>
  } @case ('Fan') {
  <app-matter-fan [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.fan' | translate }}
  </app-matter-fan>
  } @case ('Thermostat') {
  <app-matter-thermostat [service]="service" [readyForControl]="$accessories.matterReadyForControl">
    {{ 'accessories.core.thermostat' | translate }}
  </app-matter-thermostat>
  } @default {
  <app-matter-unknown [service]="service">{{ service.humanType }}</app-matter-unknown>
  } } } @else { @switch (service.customType || service.type || service.deviceType) {
  <!-- HAP Devices -->
  @case ('Switch') {
  <app-switch [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.switch' | translate }}
  </app-switch>
  } @case ('Thermostat') {
  <app-thermostat [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.thermostat' | translate }}
  </app-thermostat>
  } @case ('Outlet') {
  <app-outlet [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.outlet' | translate }}
  </app-outlet>
  } @case ('Fan') {
  <app-fan [service]="service" [readyForControl]="$accessories.hapReadyForControl" class="w-100">
    {{ 'accessories.core.fan' | translate }}
  </app-fan>
  } @case ('Fanv2') {
  <app-fan [service]="service" [readyForControl]="$accessories.hapReadyForControl" class="w-100">
    {{ 'accessories.core.fan' | translate }}
  </app-fan>
  } @case ('AirPurifier') {
  <app-air-purifier [service]="service" [readyForControl]="$accessories.hapReadyForControl" class="w-100">
    {{ 'accessories.core.air_purifier' | translate }}
  </app-air-purifier>
  } @case ('AccessCode') {
  <app-access-code [service]="service" [readyForControl]="$accessories.hapReadyForControl" class="w-100">
    {{ 'accessories.core.access_code' | translate }}
  </app-access-code>
  } @case ('Lightbulb') {
  <app-lightbulb [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.lightbulb' | translate }}
  </app-lightbulb>
  } @case ('LightSensor') {
  <app-light-sensor [service]="service">{{ 'accessories.core.light_sensor' | translate }}</app-light-sensor>
  } @case ('LockMechanism') {
  <app-lock-mechanism [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.lock_mechanism' | translate }}
  </app-lock-mechanism>
  } @case ('TemperatureSensor') {
  <app-temperature-sensor [service]="service">
    {{ 'accessories.core.temperature_sensor' | translate }}
  </app-temperature-sensor>
  } @case ('GarageDoorOpener') {
  <app-garage-door-opener [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.garage_door_opener' | translate }}
  </app-garage-door-opener>
  } @case ('MotionSensor') {
  <app-motion-sensor [service]="service">{{ 'accessories.core.motion_sensor' | translate }}</app-motion-sensor>
  } @case ('OccupancySensor') {
  <app-occupancy-sensor [service]="service">
    {{ 'accessories.core.occupancy_sensor' | translate }}
  </app-occupancy-sensor>
  } @case ('ContactSensor') {
  <app-contact-sensor [service]="service">{{ 'accessories.core.contact_sensor' | translate }}</app-contact-sensor>
  } @case ('HumiditySensor') {
  <app-humidity-sensor [service]="service">{{ 'accessories.core.humidity_sensor' | translate }}</app-humidity-sensor>
  } @case ('AirQualitySensor') {
  <app-air-quality-sensor [service]="service">
    {{ 'accessories.core.air_quality_sensor' | translate }}
  </app-air-quality-sensor>
  } @case ('WindowCovering') {
  <app-window-covering [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.window_covering' | translate }}
  </app-window-covering>
  } @case ('Window') {
  <app-window [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.window' | translate }}
  </app-window>
  } @case ('Door') {
  <app-door [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.door' | translate }}
  </app-door>
  } @case ('Television') {
  <app-television [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.television' | translate }}
  </app-television>
  } @case ('Battery') {
  <app-battery [service]="service">{{ 'accessories.core.battery' | translate }}</app-battery>
  } @case ('BatteryService') {
  <app-battery [service]="service">{{ 'accessories.core.battery' | translate }}</app-battery>
  } @case ('Speaker') {
  <app-speaker [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.speaker' | translate }}
  </app-speaker>
  } @case ('SmartSpeaker') {
  <app-speaker [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.speaker' | translate }}
  </app-speaker>
  } @case ('Doorbell') {
  <app-doorbell [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.doorbell' | translate }}
  </app-doorbell>
  } @case ('Microphone') {
  <app-microphone [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.microphone' | translate }}
  </app-microphone>
  } @case ('SecuritySystem') {
  <app-security-system [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.security_system' | translate }}
  </app-security-system>
  } @case ('LeakSensor') {
  <app-leak-sensor [service]="service">{{ 'accessories.core.leak_sensor' | translate }}</app-leak-sensor>
  } @case ('SmokeSensor') {
  <app-smoke-sensor [service]="service">{{ 'accessories.core.smoke_sensor' | translate }}</app-smoke-sensor>
  } @case ('CarbonMonoxideSensor') {
  <app-carbon-monoxide-sensor [service]="service">
    {{ 'accessories.core.carbon_monoxide_sensor' | translate }}
  </app-carbon-monoxide-sensor>
  } @case ('CarbonDioxideSensor') {
  <app-carbon-dioxide-sensor [service]="service">
    {{ 'accessories.core.carbon_dioxide_sensor' | translate }}
  </app-carbon-dioxide-sensor>
  } @case ('Valve') {
  <app-valve [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.valve' | translate }}
  </app-valve>
  } @case ('IrrigationSystem') {
  <app-irrigation-system [service]="service">
    {{ 'accessories.core.irrigation_system' | translate }}
  </app-irrigation-system>
  } @case ('HeaterCooler') {
  <app-heater-cooler [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.heater_cooler' | translate }}
  </app-heater-cooler>
  } @case ('Heater') {
  <app-heater-cooler [service]="service" [type]="'heater'" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.heater' | translate }}
  </app-heater-cooler>
  } @case ('Cooler') {
  <app-heater-cooler [service]="service" [type]="'cooler'" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.cooler' | translate }}
  </app-heater-cooler>
  } @case ('HumidifierDehumidifier') {
  <app-humidifier-dehumidifier [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.humidifier_dehumidifier' | translate }}
  </app-humidifier-dehumidifier>
  } @case ('Humidifier') {
  <app-humidifier-dehumidifier
    [service]="service"
    [type]="'humidifier'"
    [readyForControl]="$accessories.hapReadyForControl"
  >
    {{ 'accessories.core.humidifier' | translate }}
  </app-humidifier-dehumidifier>
  } @case ('Dehumidifier') {
  <app-humidifier-dehumidifier
    [service]="service"
    [type]="'dehumidifier'"
    [readyForControl]="$accessories.hapReadyForControl"
  >
    {{ 'accessories.core.dehumidifier' | translate }}
  </app-humidifier-dehumidifier>
  } @case ('StatelessProgrammableSwitch') {
  <app-stateless-programmable-switch [service]="service">
    {{ 'accessories.core.stateless_programmable_switch' | translate }}
  </app-stateless-programmable-switch>
  } @case ('FilterMaintenance') {
  <app-filter-maintenance [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.filter_maintenance' | translate }}
  </app-filter-maintenance>
  } @case ('RobotVacuum') {
  <app-robot-vacuum [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.robot_vacuum' | translate }}
  </app-robot-vacuum>
  } @case ('WashingMachine') {
  <app-washing-machine [service]="service" [readyForControl]="$accessories.hapReadyForControl">
    {{ 'accessories.core.washing_machine' | translate }}
  </app-washing-machine>
  } @default {
  <app-unknown [service]="service">{{ service.humanType }}</app-unknown>
  } } }
</ng-container>
