<div class="accessory-box">
  <div class="d-flex flex-column h-100">
    <div
      class="batterylevel-battery mt-2"
      [ngClass]="{
        'lowbattery': service.values.StatusLowBattery === 1
      }"
    >
      <div class="battery-level-fill" [style.width.%]="service.values.BatteryLevel || 0"></div>
      <span
        class="battery-text"
        [ngClass]="{
        'battery-over': service.values.BatteryLevel >= 30,
        'battery-under': service.values.BatteryLevel < 30,
      }"
        >{{ (service.values.BatteryLevel || 0 | number:'1.0-0') + '%' }}</span
      >
    </div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div class="accessory-label grey-text">
      @if (service.values.ChargingState === 0) { {{ 'accessories.control.battery_notcharging' | translate }} } @else if
      (service.values.ChargingState === 1) { {{ 'accessories.control.battery_charging' | translate }} } @else if
      (service.values.ChargingState === 2) { {{ 'accessories.control.battery_notchargeable' | translate }} } @else if
      (service.values.StatusLowBattery === 1 || service.values.BatteryLevel === 0) {
      <span class="red-text">{{ 'accessories.control.battery_low' | translate }}</span>
      } @else { {{ 'accessories.control.battery_charged' | translate }} }
    </div>
  </div>
</div>
