<div class="modal-content" role="dialog" aria-modal="true" [attr.aria-labelledby]="'confirm-modal-title'">
  <div class="modal-header">
    <h5 class="modal-title" id="confirm-modal-title">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body text-center">
    @if (faIconClass) {
      <i style="font-size: 75px" [class]="`fas ${faIconClass} mb-3`"></i>
    }
    <p class="mb-0 text-center" [innerHTML]="message"></p>
    @if (message2) {
      <p class="mt-2 mb-0 text-center" [innerHTML]="message2"></p>
    }
    @if (message3) {
      <p class="mt-2 mb-0 text-center" [innerHTML]="message3"></p>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_cancel' | translate"
        (click)="dismissModal()"
      >
        {{ 'form.button_cancel' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      @if (confirmButtonLabel) {
        <button
          type="button"
          data-bs-dismiss="modal"
          [class]="`btn ${confirmButtonClass || 'btn-primary'}`"
          (click)="closeModal()"
        >
          {{ confirmButtonLabel }}
        </button>
      }
    </div>
  </div>
</div>
