<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body w-100 text-center">
    @if (faIconClass) {
    <i class="fas fa-fw {{ faIconClass }} mb-4" style="font-size: 75px"></i>
    }
    <p class="w-100 text-center">{{ message }}</p>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button
        type="button"
        class="btn {{ confirmButtonClass || 'btn-primary' }}"
        data-dismiss="modal"
        (click)="$activeModal.close()"
      >
        {{ confirmButtonLabel }}
      </button>
    </div>
  </div>
</div>
