<div class="d-flex justify-content-between">
  <h3 class="primary-text m-0">{{ 'support.title' | translate }}</h3>
</div>
<div class="mb-3">
  <h5 class="primary-text mt-3">{{ 'support.developers.title' | translate }}</h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.developers.item_swagger' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="/swagger" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
  </ul>
</div>
