<div class="d-flex justify-content-between">
  <h3 class="primary-text m-0">{{ 'support.title' | translate }}</h3>
</div>

<div class="mb-3">
  <h5 class="primary-text mt-3">{{ 'support.useful_links.title' | translate }}</h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.useful_links.documentation' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://github.com/homebridge/homebridge/wiki" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.useful_links.issue' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://github.com/homebridge/homebridge-config-ui-x/issues/new/choose" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.useful_links.discord' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://discord.gg/C87Pvq3" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.useful_links.reddit' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://www.reddit.com/r/homebridge/" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
  </ul>
</div>
<div class="mb-3">
  <h5 class="primary-text mt-3">{{ 'support.developers.title' | translate }}</h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.developers.item_swagger' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="/swagger" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.developers.template' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://github.com/homebridge/homebridge-plugin-template" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.developers.api' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://developers.homebridge.io/#/" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">{{ 'support.developers.api_hap' | translate }}</span>
      <a class="btn btn-primary waves-effect m-0" href="https://developers.homebridge.io/HAP-NodeJS/" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-fw fa-external-link-alt"></i>
      </a>
    </li>
  </ul>
</div>
