<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">Homebridge Honeywell Home</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="mt-3">
      <markdown hrefTargetBlank class="plugin-md" [data]="schema.headerDisplay" *ngIf="schema.headerDisplay">
      </markdown>
    </div>

    <!-- <div class="text-center" *ngIf="!pluginConfig?.credentials?.refreshToken">
      <button class="btn btn-primary btn-lg" (click)="linkAccount()"
        translate="plugins.settings.custom.homebridge-gsh.label_link_account"></button>
    </div> -->

    <div *ngIf="!pluginConfig?.credentials?.refreshToken">

      <ol>
        <li>Login / create an account at <a href="https://developer.honeywellhome.com/user" target="_blank"
            rel="noreferrer noopener">https://developer.honeywellhome.com/user</a>.</li>
        <li>Click <strong>Create New App</strong>.</li>
        <li>Give your application a name, and enter the Callback URL exactly as it is displayed below.</li>
        <li>Enter the generated consumer key and secret below.</li>
        <li>Click <strong>{{ 'plugins.settings.custom.homebridge-gsh.label_link_account' | translate }}</strong>.</li>
      </ol>

      <div class="form-group">
        <label for="inputAppName">App Name</label>
        <input type="text" class="form-control" readonly [value]="'Homebridge'" id="inputAppName">
      </div>
      <div class="form-group">
        <label for="inputCallbackUrl">Callback URL</label>
        <input type="text" class="form-control" readonly [value]="linkUrl" id="inputCallbackUrl">
      </div>
      <div class="form-group">
        <label for="inputConsumerKey">Consumer Key <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputConsumerKey" [(ngModel)]="pluginConfig.consumerKey">
      </div>
      <div class="form-group">
        <label for="inputConsumerSecret">Consumer Secret <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputConsumerSecret" [(ngModel)]="pluginConfig.consumerSecret">
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-lg" (click)="linkAccount()"
          [disabled]="!pluginConfig.consumerSecret || !pluginConfig.consumerKey"
          translate="plugins.settings.custom.homebridge-gsh.label_link_account"></button>
      </div>
    </div>


    <div class="text-center mt-1" *ngIf="pluginConfig?.credentials?.refreshToken">
      <i class="fas fa-check-circle primary-text" style="font-size:50px;"></i>
      <h4 class="mt-2" translate="plugins.settings.custom.homebridge-gsh.label_account_linked">
        Account Linked
      </h4>

      <div class="mt-3" *ngIf="justLinked">
        <p class="primary-text">
          <strong translate="plugins.settings.custom.homebridge-gsh.message_homebridge_restart_required"></strong>
        </p>
      </div>
    </div>

    <div class="mt-3" *ngIf="pluginConfig?.credentials?.refreshToken">
      <markdown hrefTargetBlank class="plugin-md" [data]="schema.footerDisplay" *ngIf="schema.footerDisplay">
      </markdown>
    </div>

    <div class="">
      <div *ngIf="pluginConfig && pluginConfig.credentials?.refreshToken" class="card p-2 pt-3 mt-4">
        <app-schema-form [configSchema]="schema" [(data)]="pluginConfig"></app-schema-form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-elegant mr-auto" data-dismiss="modal" (click)="unlinkAccount()"
      *ngIf="pluginConfig?.credentials?.refreshToken"
      translate="plugins.settings.custom.homebridge-gsh.label_unlink_account">
    </button>
    <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="close()"
      [translate]="'form.button_close'">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveAndClose()"
      *ngIf="pluginConfig?.credentials?.refreshToken" [translate]="'form.button_save'">Save</button>
  </div>
</div>