<div
  class="accessory-box"
  [ngClass]="{'switch-on': service.values.Active}"
  appLongclick
  (shortclick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/television.svg'" [attr.aria-label]="'Television'" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    @if (!service.values.Active) {
    <div class="accessory-label grey-text">{{ 'accessories.control.off' | translate }}</div>
    } @if (service.values.Active) {
    <div class="accessory-label grey-text">{{ channelList[service.values.ActiveIdentifier] }}</div>
    }
  </div>
</div>
