<div class="accessory-box" [ngClass]="{'switch-on': service.values.Active}" appLongclick (shortclick)="onClick()"
  tabindex="0">
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/television.svg'" aria-label="Outlet" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}</div>
    <div class="accessory-label grey-text" *ngIf="!service.values.Active">
      {{ 'accessories.control.label_off' | translate }}
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.Active">
      {{ channelList[service.values.ActiveIdentifier] }}
    </div>
  </div>
</div>