<div class="modal-content" style="min-height: 300px;">
  <div class="modal-header">
    <h5 class="modal-title">{{'plugins.manage.label_uninstall' | translate}}: {{ plugin.displayName || plugin.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-row flex-grow-1 align-items-center w-100 text-center">
    <div *ngIf="loading" class="w-100 text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px;"></i>
    </div>
    <div class="w-100" *ngIf="!loading">
      <i class="fas fa-fw fa-trash primary-text mb-4" style="font-size: 75px;"></i>
      <p [translate]="'plugins.manage.message_uninstall_remove_confirmation'"
        [translateParams]="{pluginName: plugin.name}">
      </p>
      <p *ngIf="pluginAlias && pluginType">
        <label class="hb-uix-switch d-inline" for="remove-plugin-config">
          <input id="remove-plugin-config" type="checkbox" [(ngModel)]="removeConfig">
          <span>{{ 'plugins.manage.message_uninstall_remove_plugin_config' | translate }}</span>
          <span class="hb-uix-slider hb-uix-round"></span>
        </label>
      </p>
      <ngb-alert *ngIf="!pluginAlias || !pluginType" type="info" [dismissible]="false">
        {{ 'plugins.manage.message_uninstall_remove_config_required' | translate }}
      </ngb-alert>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="doUninstall()" [disabled]="loading">
        {{ 'plugins.manage.label_uninstall' | translate }}
      </button>
    </div>
  </div>
</div>
