<div class="accessory-box" [ngClass]="{'switch-on': !service.values.Mute}" appLongclick (longclick)="onLongClick()"
  (shortclick)="onClick()">
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/speaker.svg'" aria-label="Speaker" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div class="accessory-label red-text" *ngIf="service.values.Mute"
      [innerText]="'accessories.control.label_mute' | translate">
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.Volume !== undefined && !service.values.Mute">
      {{ service.values.Volume }}%
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.Volume === undefined && !service.values.Mute">
      {{ 'accessories.control.label_not_mute' | translate }}
    </div>
  </div>
</div>