<div
  class="accessory-box"
  [ngClass]="{
    'switch-on': 'Active' in service.values
      ? service.values.Active
      : ('CurrentMediaState' in service.values ? [0, 1].includes(service.values.CurrentMediaState) : ['Speaker', 'SmartSpeaker'].includes(service.customType || service.type) ? ('Mute' in service.values && !service.values.Mute) : false),
    'paused': 'CurrentMediaState' in service.values && service.values.CurrentMediaState === 1,
    'muted': 'Mute' in service.values && service.values.Mute,
  }"
  (longClick)="onLongClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [attr.aria-label]="'Speaker'" class="accessory-svg">
      <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <!-- outer casing -->
        <rect x="6" y="1" width="20" height="30" rx="3" stroke="#7f7f7f" fill="none" stroke-width="1" />
        <!-- outer top speaker circle -->
        <circle cx="16" cy="9" r="4.5" stroke="#7f7f7f" stroke-width="0" fill="#7f7f7f" />
        <!-- inner top speaker circle -->
        <circle class="inner" cx="16" cy="9" r="1.5" stroke="#7f7f7f" stroke-width="0" fill="#e1e1e1" />
        <!-- outer bottom speaker circle -->
        <circle cx="16" cy="22" r="6" stroke="#7f7f7f" stroke-width="0" fill="#7f7f7f" />
        <!-- inner bottom speaker circle -->
        <circle class="inner" cx="16" cy="22" r="2" stroke="#7f7f7f" stroke-width="0" fill="#e1e1e1" />
        <!-- inner left sound wave -->
        <path
          class="wave-inner"
          d="M4,12 Q1,16 4,20"
          stroke="#1976d2"
          fill="none"
          stroke-width="1"
          stroke-opacity="0"
        />
        <!-- outer left sound wave -->
        <path
          class="wave-outer"
          d="M3,10 Q-2,16 3,22"
          stroke="#1976d2"
          fill="none"
          stroke-width="1"
          stroke-opacity="0"
        />
        <!-- inner right sound wave -->
        <path
          class="wave-inner"
          d="M28,12 Q31,16 28,20"
          stroke="#1976d2"
          fill="none"
          stroke-width="1"
          stroke-opacity="0"
        />
        <!-- outer right sound wave -->
        <path
          class="wave-outer"
          d="M29,10 Q34,16 29,22"
          stroke="#1976d2"
          fill="none"
          stroke-width="1"
          stroke-opacity="0"
        />
      </svg>
    </div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if ('CurrentMediaState' in service.values) {
    <div class="accessory-label grey-text">
      @switch (service.values.CurrentMediaState) { @case (0) { {{ 'accessories.control.play' | translate }} } @case (1)
      { {{ 'accessories.control.pause' | translate }} } @case (2) { {{ 'accessories.control.stop' | translate }} }} @if
      ('Mute' in service.values && service.values.Mute) { &middot; {{ 'accessories.control.mute' | translate }} } @else
      { @if ('Volume' in service.values) { &middot; {{ service.values.Volume }}% } }
    </div>
    } @else if ('Active' in service.values && !service.values.Active) {
    <div class="accessory-label grey-text" [innerText]="'accessories.control.off' | translate"></div>
    } @else if ('Mute' in service.values && service.values.Mute) {
    <div class="accessory-label grey-text" [innerText]="'accessories.control.mute' | translate"></div>
    } @else if ('Volume' in service.values) {
    <div class="accessory-label grey-text">{{ service.values.Volume }}%</div>
    } @else if (['Speaker', 'SmartSpeaker'].includes(service.customType || service.type)) {
    <div class="accessory-label grey-text">{{ 'accessories.control.on' | translate }}</div>
    } @else {
    <div class="accessory-label grey-text">{{ 'accessories.control.speaker' | translate }}</div>
    }
  </div>
</div>
