<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<aside id="edit-auth-dialog" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__surface" style="width: 640px;">
        <header class="mdc-dialog__header">
            <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
                <span id="auth-name-title"></span>
            </h2>
        </header>
        <form id="auth-edit-form" action="/accounts" method="post">
            <input type="hidden" id="auth-user-id" name="id" value="">
            <input type="hidden" id="auth-admin" name="admin" value="">
            <section id="mdc-dialog-with-list-description" class="mdc-dialog__body">
                <span id="auth-edit-message"></span>
                <div class="mdc-form-field" style="margin-left: 20px;">
                    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                        <input id="auth-username" name="username" type="text" class="mdc-textfield__input" value="">
                        <label for="auth-username" class="mdc-textfield__label">Username</label>
                    </div>
                </div>
                <br />
                <div class="mdc-form-field" style="margin-left: 20px;">
                    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                        <input id="auth-name" name="name" type="text" class="mdc-textfield__input" value="">
                        <label for="auth-name" class="mdc-textfield__label">Full Name</label>
                    </div>
                </div>
                <br />
                <div class="mdc-form-field" style="margin-left: 20px;">
                    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                        <input id="auth-password" name="password" type="password" class="mdc-textfield__input" value="">
                        <label for="auth-password" class="mdc-textfield__label">New Password</label>
                    </div>
                </div>
                <div class="mdc-form-field" style="margin-left: 20px;">
                    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                        <input id="auth-confirm-password" type="password" class="mdc-textfield__input" value="">
                        <label for="auth-confirm-password" class="mdc-textfield__label">Confirm Password</label>
                    </div>
                </div>
                <br />
                <table cellspacing="0" cellpadding="0" border="0" style="margin-left: 10px; margin-top: 10px;">
                    <tbody>
                        <tr>
                            <td>
                                <div class="mdc-checkbox">
                                    <input type="checkbox" id="auth-admin-check" class="mdc-checkbox__native-control" />
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 5px;">
                                <label for="auth-admin-check" id="auth-admin-check-label">Administrator</label>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </section>
            <footer class="mdc-dialog__footer">
                <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                <button type="button" class="delete-auth-button mdc-button mdc-dialog__footer__button mdc-dialog__footer__button mdc-dialog__footer__button--cancel" style="color: #b21313;">Delete</button>
                <button type="button" class="save-auth-button mdc-button mdc-dialog__footer__button">Save</button>
            </footer>
        </form>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<aside id="delete-auth-dialog" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__surface" style="width: 640px;">
        <header class="mdc-dialog__header">
            <h2 class="mdc-dialog__header__title">
                Are sure you want to delete <span id="delete-auth-name"></span>?
            </h2>
        </header>
        <section class="mdc-dialog__body">
            This user will not be able to login anymore.
        </section>
        <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Delete</button>
        </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<ul id="auths-list" class="account-list mdc-list--two-line mdc-list--avatar-list mdc-elevation--z4">
    {{#auths}}
    <li class="mdc-list-item">
        {{#admin}}
        <a href="#" class="edit-auth-button material-icons" title="Edit" authid="{{id}}" authusername="{{username}}" authname="{{name}}" authadmin="true">&#xE254;</a>
        {{/admin}}
        {{^admin}}
        <a href="#" class="edit-auth-button material-icons" title="Edit" authid="{{id}}" authusername="{{username}}" authname="{{name}}" authadmin="false">&#xE254;</a>
        {{/admin}}
        <span class="mdc-list-item__start-detail account-item blue-bg" role="presentation">
            <i class="material-icons" aria-hidden="true">&#xE8A6;</i>
        </span>
        <span class="mdc-list-item__text">
            {{name}}
            {{#admin}}
            <span class="mdc-list-item__text__secondary">Administrator</span>
            {{/admin}}
            {{^admin}}
        <span class="mdc-list-item__text__secondary">User</span>
        {{/admin}}
        </span>
    </li>
    {{/auths}}
</ul>
<div class="auth-actions">
    <button type="button" class="add-auth-button mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Add</button>
</div>