<link rel="stylesheet" href="/styles/codemirror.css" />
<script src="/scripts/codemirror.js"></script>
<script src="/scripts/codemirror.javascript.js"></script>
<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="guided-config mdc-list-item" role="menuitem" tabindex="0">Guided Editor</li>
        <li class="backup-config mdc-list-item" role="menuitem" tabindex="0">Backup Configuration</li>
        <li class="server-menu-divider mdc-list-divider" role="separator"></li>
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<form id="advanced-config" action="/config/advanced" method="post">
    <div class="config-editor mdc-elevation--z4">
        <textarea id="config-code" name="config">{{config}}</textarea>
    </div>
    <div class="config-form-actions">
        <button type="button" class="save-button mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Save</button>
    </div>
</form>
