<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="show-details mdc-list-item" role="menuitem" tabindex="0">Show Details</li>
        <li class="server-menu-divider mdc-list-divider" role="separator"></li>
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<error>
    <h7>:(</h7>
    <h2>{{ error.status }}</h2>
    <h1>{{ message }}</h1>
    <button class="mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Details</button>
    <pre class="mdc-elevation--z4">{{ error.stack }}</pre>
</error>