<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="restart-server mdc-list-item" role="menuitem" tabindex="0">Restart Server</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<aside id="upgrade-server-dialog" class="mdc-dialog" role="alertdialog" aria-hidden="true" aria-labelledby="mdc-dialog-default-label"
    aria-describedby="mdc-dialog-default-description">
    <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
            <h2 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
                Version <span id="server-version"></span> is available. Do you want to upgrade?
            </h2>
        </header>
        <section id="mdc-dialog-default-description" class="mdc-dialog__body">
            It is a good idea to backup your configuration before upgrading. Also verify that this version is compatiable with your current version of NodeJS.
        </section>
        <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Upgrade</button>
        </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td>
                <div class="welcome">
                    <div class="welcome-title">
                        <h1>Homebridge</h1>
                    </div>
                    <div class="pin mdc-elevation--z4">
                        <img src="/pin" />
                    </div>
                    <p>
                        With the camera on your iOS device, scan this eight-digit HomeKit code, or enter manually, to add to Apple Home.
                    </p>
                </div>
            </td>
            <td class="status">
                <h1>Server Status</h1>
                <section class="mdc-elevation--z4">
                    <h3>Homebridge</h3>
                    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
                        {{#server}}
                        <li class="mdc-list-item status-list">
                            {{#update}}
                            <span class="mdc-list-item__start-detail status-item orange-bg" role="presentation">
                                <i class="material-icons" aria-hidden="true">&#xE627;</i>
                            </span>
                            <span class="mdc-list-item__text">
                                {{server.version}} Update Available
                                <span class="mdc-list-item__text__secondary">Version {{server.installed}}</span>
                            </span>
                            <button type="button" class="upgrade-server-button mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple" version="{{server.version}}">Upgrade</button>
                            {{/update}}
                            {{^update}}
                            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                                <i class="material-icons" aria-hidden="true">&#xE627;</i>
                            </span>
                            <span class="mdc-list-item__text">
                                Up to Date
                                <span class="mdc-list-item__text__secondary">Version {{server.installed}}</span>
                            </span>
                            {{/update}}
                        </li>
                        {{/server}}
                    </ul>
                </section>
                <div id="dynamic-status"></div>
            </td>
        </tr>
    </tbody>
</table>