<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="restart-server mdc-list-item" role="menuitem" tabindex="0">Restart Server</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td>
                <div class="welcome">
                    <div class="welcome-title">
                        <h1>Homebridge</h1>
                    </div>
                    <div class="pin mdc-elevation--z4">
                        <img src="/pin" />
                    </div>
                    <p>
                        With the camera on your iOS device, scan this eight-digit HomeKit code, or enter manually, to add to Apple Home.
                    </p>
                </div>
            </td>
            <td class="status">
                <section class="mdc-elevation--z4">
                    <h3>Homebridge</h3>
                    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
                        {{#server}}
                        <li class="mdc-list-item status-list">
                            {{#update}}
                            <span class="mdc-list-item__start-detail status-item orange-bg" role="presentation">
                                <i class="material-icons" aria-hidden="true">&#xE627;</i>
                            </span>
                            <span class="mdc-list-item__text">
                                {{server.version}} Update Available
                                <span class="mdc-list-item__text__secondary">{{server.installed}}</span>
                            </span>
                            <section class="mdc-card__actions">
                                <button class="upgrade-server-button mdc-button mdc-button--compact mdc-card__action">Upgrade</button>
                            </section>
                            {{/update}} {{^update}}
                            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                                <i class="material-icons" aria-hidden="true">&#xE627;</i>
                            </span>
                            <span class="mdc-list-item__text">
                                Up to Date
                                <span class="mdc-list-item__text__secondary">{{server.installed}}</span>
                            </span>
                            {{/update}}
                        </li>
                        {{/server}}
                    </ul>
                </section>
                <section id="dynamic-status"></section>
            </td>
        </tr>
    </tbody>
</table>