<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="restart-server mdc-list-item" role="menuitem" tabindex="0">Restart Server</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td>
                <div class="welcome">
                    <div class="welcome-title">
                        <h1>Homebridge</h1>
                    </div>
                    <div class="pin mdc-elevation--z4">
                        <img src="/pin" />
                    </div>
                    <p>
                        With the camera on your iOS device, scan this eight-digit HomeKit code, or enter manually, to add to Apple Home.
                    </p>
                </div>
            </td>
            <td class="status"></td>
        </tr>
    </tbody>
</table>