<link rel="stylesheet" href="/styles/codemirror.css" />
<script src="/scripts/codemirror.js"></script>
<script src="/scripts/codemirror.javascript.js"></script>
<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<aside id="config-error-dialog" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__surface" style="width: 640px;">
        <header class="mdc-dialog__header">
            <h2 class="mdc-dialog__header__title">
                Configuration Error
            </h2>
        </header>
        <section id="config-alert-message" class="mdc-dialog__body"></section>
        <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">OK</button>
        </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<form id="install-config" action="/plugins/install" method="post">
    <input type="hidden" name="package" value="{{package}}">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td id="platforms">
                    <div class="platform-panel">
                        <div id="platform-container" class="platform-form">
                            <h1 class="form-label">Platform</h1>
                            <div class="platform mdc-elevation--z4">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="mdc-form-field">
                                                    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                                        <input id="platform-name" name="platform-name" type="text" class="mdc-textfield__input" value="">
                                                        <label for="platform-name" class="mdc-textfield__label">Name</label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <textarea id="platform-code" name="platform-code">{{platform_json}}</textarea>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="accessory-container" class="platform-form">
                            <h1 class="form-label">Accessories</h1>
                        </div>
                        <div class="config-form-actions">
                            <button type="button" class="add-accessory-button mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Add Accessory</button>
                            <button type="button" class="save-button mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Install</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
