<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/material.css" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/material.web.min.js"></script>
    <script src="/scripts/layout.js"></script>
    <script src="/scripts/{{controller}}.js"></script>
</head>

<body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="title mdc-toolbar__title">HB | {{title}}</span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                <button class="server-menu-button material-icons mdc-toolbar__icon">more_vert</button>
            </section>
        </div>
    </header>
    <main class="{{controller}}">
        <div class="menu mdc-elevation--z8">
            <nav class="mdc-list">
                <a href="/" class="material-icons controller-index" aria-hidden="true" title="Status">&#xE1B1;</a>
                <a href="/log" class="material-icons controller-log" aria-hidden="true" title="Logs">&#xE86D;</a>
                <a href="/config/installed" class="material-icons controller-plugins" aria-hidden="true" title="Plugins">&#xE87B;</a>
                <a href="/config" class="material-icons controller-config" aria-hidden="true" title="Configuration">&#xE8B8;</a>
            </nav>
        </div>
        <content>
            {{{yield}}}
        </content>
    </main>
    <script>
        mdc.autoInit()
    </script>
</body>

</html>