<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/material.css" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/material.web.min.js"></script>
    <script src="/scripts/layout.js"></script>
    {{#controller}}
    <script src="/scripts/{{controller}}.js"></script>
    {{/controller}}
</head>
<body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="title mdc-toolbar__title">HB | {{title}}</span>
            </section>
            {{#controller}}
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                <button class="server-menu-button material-icons mdc-toolbar__icon">more_vert</button>
            </section>
            {{/controller}}
        </div>
    </header>
    <main class="{{controller}}">
        <div class="menu mdc-elevation--z8">
            <nav class="mdc-list">
                <a href="/" class="material-icons controller-index" aria-hidden="true" title="Status">&#xE1B1;</a>
                <a href="/log" class="material-icons controller-log" aria-hidden="true" title="Logs">&#xE86D;</a>
                {{#user.admin}}
                <a href="/accounts" class="material-icons controller-accounts" aria-hidden="true" title="Accounts">&#xE8D3;</a>
                <a href="/plugins" class="material-icons controller-plugins" aria-hidden="true" title="Plugins">&#xE87B;</a>
                <a href="/config" class="material-icons controller-config" aria-hidden="true" title="Configuration">&#xE8B8;</a>
                {{/user.admin}}
            </nav>
        </div>
        <content>
            <aside id="set-password-dialog" class="mdc-dialog" role="alertdialog">
                <div class="mdc-dialog__surface" style="width: 640px;">
                    <header class="mdc-dialog__header">
                        <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
                            Set Password
                        </h2>
                    </header>
                    <form id="change-password-form" action="/accounts/password" method="post">
                        <input type="hidden" id="user-id" name="id" value="{{user.id}}">
                        <section id="mdc-dialog-with-list-description" class="mdc-dialog__body">
                            <span id="password-message"></span>
                            <div class="mdc-form-field" style="margin-left: 20px;">
                                <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                    <input id="new-password" name="password" type="password" class="mdc-textfield__input" value="">
                                    <label for="new-password" class="mdc-textfield__label">New Password</label>
                                </div>
                            </div>
                            <div class="mdc-form-field" style="margin-left: 20px;">
                                <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                    <input id="confirm-password" type="password" class="mdc-textfield__input" value="">
                                    <label for="confirm-password" class="mdc-textfield__label">Confirm Password</label>
                                </div>
                            </div>
                        </section>
                        <footer class="mdc-dialog__footer">
                            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                            <button type="button" class="set-password-button mdc-button mdc-dialog__footer__button">Set Password</button>
                        </footer>
                    </form>
                </div>
                <div class="mdc-dialog__backdrop"></div>
            </aside>
            {{{yield}}}
        </content>
    </main>
    <script>
        mdc.autoInit();
    </script>
</body>
</html>