<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/material.css" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/material.web.min.js"></script>
</head>
<body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="title mdc-toolbar__title">HB</span>
            </section>
        </div>
    </header>
    <main class="{{controller}}">
        <content>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <div class="login-form mdc-elevation--z4">
                                <form method="post">
                                    <div class="mdc-form-field">
                                        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                            <input id="username" name="username" type="text" class="mdc-textfield__input" value="{{server.name}}">
                                            <label for="username" class="mdc-textfield__label">Username</label>
                                        </div>
                                    </div>
                                    <div class="mdc-form-field">
                                        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                            <input id="password" name="password" type="password" class="mdc-textfield__input" value="{{server.name}}">
                                            <label for="password" class="mdc-textfield__label">Password</label>
                                        </div>
                                    </div>
                                    <br />
                                    <button class="mdc-button mdc-button--raised mdc-button--primary mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Login</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </content>
    </main>
    <script>
        mdc.autoInit()
    </script>
</body>
</html>