<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<aside id="upgrade-plugin-dialog" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__surface" style="width: 640px;">
        <header class="mdc-dialog__header">
            <h2 class="mdc-dialog__header__title">
                Version <span id="plugin-version"></span> is available. Do you want to upgrade?
            </h2>
        </header>
        <section class="mdc-dialog__body">
            It is a good idea to backup your configuration before upgrading. Also verify that this version is compatiable with your version of Homebridge.
        </section>
        <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Upgrade</button>
        </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<aside id="uninstall-plugin-dialog" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__surface" style="width: 640px;">
        <header class="mdc-dialog__header">
            <h2 class="mdc-dialog__header__title">
                Are you sure you want to uninstall this plugin?
            </h2>
        </header>
        <section class="mdc-dialog__body">
            Once you install this plugin you may have to modify your configuration before restarting.
        </section>
        <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Uninstall</button>
        </footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>
<div class="plugin-search-form">
    <form id="search-form">
        <input type="search" class="mdc-textfield__input" id="search" name="search" value="{{search}}">
    </form>
</div>
</br>
<div id="plugin-list" class="plugin-cards">
    {{#packages}}
    <div class="mdc-card plugin-card">
        {{#installed}}
        <section class="mdc-card__primary">
            {{#update}}
            <h2 class="installed-tag mdc-card__subtitle">Update Available</h2>
            {{/update}}
            {{^update}}
            <h2 class="installed-tag mdc-card__subtitle">Installed</h2>
            {{/update}}
            <h1 class="mdc-card__title mdc-card__title--large">{{description}}</h1>
            <h2 class="mdc-card__subtitle">{{name}} {{installed}}</h2>
        </section>
        <section class="mdc-card__actions">
            {{#links.npm}}
            <button class="mdc-button mdc-button--compact mdc-card__action" onclick="window.open('{{links.npm}}', '_blank');">NPM</button>
            {{/links.npm}}
            {{#update}}
            <button class="plugin-action-button mdc-button mdc-button--compact mdc-card__action" action="upgrade" package="{{name}}" version="{{version}}">Upgrade</button>
            {{/update}}
            <button class="plugin-action-button mdc-button mdc-button--compact mdc-card__action" action="uninstall" package="{{name}}">Uninstall</button>
        </section>
        {{/installed}}
        {{^installed}}
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">{{description}}</h1>
            <h2 class="mdc-card__subtitle">{{name}} {{version}}</h2>
        </section>
        <section class="mdc-card__actions">
            {{#links.npm}}
            <button class="mdc-button mdc-button--compact mdc-card__action" onclick="window.open('{{links.npm}}', '_blank');">NPM</button>
            {{/links.npm}}
            <button class="plugin-action-button mdc-button mdc-button--compact mdc-card__action" action="install" package="{{name}}">Install</button>
        </section>
        {{/installed}}
    </div>
    {{/packages}}
</div>
