<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<div id="installed-plugins" class="plugin-cards">
    {{#packages}}
    <div>
        <b>{{name}}</b>
        <br />
        {{installed}}
        <br />
        {{links.npm}}
        {{#update}}
            <br />
            Update Available
        {{/update}}
        <br />
        <br />
    </div>
    {{/packages}}
</div>
