<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<div id="installed-plugins" class="plugin-cards">
    {{#packages}}
    <div class="mdc-card plugin-card">
        {{#installed}}
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">{{description}}</h1>
            <h2 class="mdc-card__subtitle">{{name}} {{installed}}</h2>
        </section>
        <section class="mdc-card__actions actions">
            <button class="mdc-button mdc-button--compact mdc-card__action" href="{{links.npm}}" target="blank">NPM</button>
            {{#update}}
            <button class="mdc-button mdc-button--compact mdc-card__action">Update</button>
            {{/update}}
            <button class="mdc-button mdc-button--compact mdc-card__action">Uninstall</button>
        </section>
        {{/installed}}
        {{^installed}}
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">{{description}}</h1>
            <h2 class="mdc-card__subtitle">{{name}} {{version}}</h2>
        </section>
        <section class="mdc-card__actions actions">
            <button class="mdc-button mdc-button--compact mdc-card__action" href="{{links.npm}}" target="blank">NPM</button>
            <button class="mdc-button mdc-button--compact mdc-card__action">Install</button>
        </section>
        {{/installed}}
    </div>
    {{/packages}}
</div>