<figure class="restart-progress">
    <figcaption>Restarting Server</figcaption>
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>
</figure>
<script>
    var bar = mdc.linearProgress.MDCLinearProgress.attachTo($(".mdc-linear-progress")[0]);

    bar.progress = 0.5;

    if (bar.dataset.buffer) {
        bar.buffer = 0.75;
    }

    setTimeout(function () {
        window.location.href = "{{redirect}}";
    }, 5000);

</script>