<section class="mdc-elevation--z4">
    <h3>Service</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE876;</i>
              </span>
            <span class="mdc-list-item__text">
                Homebridge
                <span class="mdc-list-item__text__secondary">Running on port {{port}}</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE876;</i>
              </span>
            <span class="mdc-list-item__text">
                Console
                <span class="mdc-list-item__text__secondary">Listening on port {{console_port}}</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>Uptime</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.days}}
                <span class="mdc-list-item__text__secondary">Days</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.hours}}
                <span class="mdc-list-item__text__secondary">Hours</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.minutes}}
                <span class="mdc-list-item__text__secondary">Minutes</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>CPU</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE30D;</i>
              </span>
            <span class="mdc-list-item__text">
                {{cpu}}%
                <span class="mdc-list-item__text__secondary">Load</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE30D;</i>
              </span>
            <span class="mdc-list-item__text">
                {{cputemp}}%
                <span class="mdc-list-item__text__secondary">temp</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>Memory</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.total}} GB
                <span class="mdc-list-item__text__secondary">Total</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.used}} GB
                <span class="mdc-list-item__text__secondary">Used</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.free}} GB
                <span class="mdc-list-item__text__secondary">Free</span>
            </span>
        </li>
    </ul>
</section>
