<div class="server-menu mdc-simple-menu" tabindex="-1">
    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li id="output-log-view" class="mdc-list-item" role="menuitem" tabindex="0">Output Log</li>
        <li id="clear-log" class="mdc-list-item" role="menuitem" tabindex="0">Clear Logs</li>
        <li class="server-menu-divider mdc-list-divider" role="separator"></li>
        <li class="change-password mdc-list-item" role="menuitem" tabindex="0">Change Password</li>
        <li class="logout-button mdc-list-item" role="menuitem" tabindex="0">Logout</li>
    </ul>
</div>
<pre id="error-log-contents"></pre>