<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="min-height: 110px;">
    <div *ngIf="loading" class="text-center primary-text">
      <i class="fa fa-cog fa-spin" style="font-size: 72px;"></i>
    </div>

    <iframe width="100%" height="1px;" #custompluginui
      sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox allow-downloads allow-forms"
      style="border: 0;">
    </iframe>

    <div *ngIf="uiLoaded && pluginConfig.length && schema.singular && showSchemaForm" class="card card-body">
      <app-schema-form [configSchema]="schema" [(data)]="pluginConfig[0]"
        (dataChanged)="schemaFormUpdatedSubject.next($event)">
      </app-schema-form>
    </div>

    <div *ngIf="formId" class="card card-body">
      <app-schema-form [configSchema]="formSchema" [(data)]="formData" (dataChanged)="formUpdatedSubject.next($event)"
        (isValid)="formValidEvent($event)">
      </app-schema-form>

      <div class="text-right custom-form-action-buttons">
        <button class="btn btn-elegant" *ngIf="formCancelButtonLabel" (click)="formActionSubject.next('cancel')">
          {{ formCancelButtonLabel }}
        </button>
        <button class="btn btn-primary" *ngIf="formSubmitButtonLabel" (click)="formActionSubject.next('submit')"
          [disabled]="!formValid">
          {{ formSubmitButtonLabel }}
        </button>
      </div>
    </div>

    <div *ngIf="pluginSpinner"
         class="loading-overlay text-center primary-text d-flex align-items-center justify-content-center">
      <i class="fa fa-cog fa-spin" style="font-size: 72px;"></i>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <div style="min-width: 25%;" class="text-left">
      <button *ngIf="plugin.name !== 'homebridge-config-ui-x'" class="btn btn-danger"
        [ngbTooltip]="'form.button_delete' | translate" container="body" [disabled]="saveInProgress"
        (click)="deletePluginConfig()">
        <i class="fa fa-trash"></i>
      </button>
    </div>

    <div style="min-width: 25%;" class="d-none d-lg-block text-center">
      <a *ngIf="plugin.links.npm" [href]="plugin.links.npm" target="_blank" rel="noopener noreferrer"
        class="pr-3 manage-plugin-config-external-icons dark-mode-highlight"><i class="fab fa-npm"></i></a>
      <a *ngIf="plugin.links.homepage" [href]="plugin.links.homepage" target="_blank" rel="noopener noreferrer"
        class="manage-plugin-config-external-icons dark-mode-highlight">
        <i [ngClass]="plugin.links.homepage | externalLinkIcon"></i></a>
    </div>

    <div style="min-width: 25%;" class="text-right">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.close()"
        [translate]="'form.button_close'" [disabled]="saveInProgress">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="savePluginConfig(true)"
        [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>


</div>
