<div
  class="accessory-box"
  [ngClass]="{
    'switch-on': service.values.SecuritySystemCurrentState !== 3,
    'home': service.values.SecuritySystemCurrentState === 0,
    'away': service.values.SecuritySystemCurrentState === 1,
    'night': service.values.SecuritySystemCurrentState === 2,
    'triggered': service.values.SecuritySystemCurrentState === 4,
  }"
  (longClick)="onClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/service-icons/security-system.svg'"
      [attr.aria-label]="'Security System'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @switch (service.values.SecuritySystemCurrentState) { @case (0) {
    <div class="accessory-label grey-text">{{ 'accessories.control.home' | translate }}</div>
    } @case (1) {
    <div class="accessory-label grey-text">{{ 'accessories.control.away' | translate }}</div>
    } @case (2) {
    <div class="accessory-label grey-text">{{ 'accessories.control.night' | translate }}</div>
    } @case (3) {
    <div class="accessory-label red-text">{{ 'accessories.control.off' | translate }}</div>
    } @case (4) {
    <div class="accessory-label red-text">{{ 'accessories.control.triggered' | translate }}</div>
    } }
  </div>
</div>
