svg {
  .c-blinds {
    transition: height 3s ease;
    height: calc(27.6px - 27.3px * var(--position, 0));
  }

  .c-light {
    transition:
      y 3s ease,
      height 3s ease;
    y: calc(29.9px - 27.25px * var(--position, 0));
    height: calc(27.3px * var(--position, 0));
  }
}
