<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Node.js</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    @if (loading()) {
      <div class="w-100 text-center primary-text text-center">
        <i class="fas fa-circle-notch fa-spin icon-xl"></i>
      </div>
    } @else {
      <div class="text-center">
        <i class="fas fab fa-node-js primary-text mb-3 icon-xl"></i>
        <h5 class="mb-3">
          {{ nodeVersion }}
          @if (latestVersion !== nodeVersion) {
            &rarr; {{ latestVersion }}
          }
        </h5>
      </div>
      <ul class="mb-0">
        <li>{{ 'status.widget.info.node_update_message' | translate }}</li>
        @if (homebridgeRunningInSynologyPackage || homebridgeRunningInDocker) {
          <li>{{ 'status.widget.info.node_update_message_2' | translate }}</li>
        }
        @if (showNodeUnsupportedWarning) {
          <li>{{ 'status.widget.info.node_unsupp_message' | translate }}</li>
        }
      </ul>
      <ul
        class="list-group list-group-box mt-3 mb-0"
        role="radiogroup"
        [attr.aria-label]="'plugins.manage.notifications' | translate"
      >
        <div class="list-group-item text-center" aria-hidden="true">
          {{ 'plugins.manage.notifications' | translate }}
        </div>
        <li class="list-group-item text-start">
          <label class="d-flex align-items-center w-100 mb-0 cursor-pointer">
            <input
              type="radio"
              name="nodeUpdatePolicy"
              value="all"
              class="visually-hidden"
              [formControl]="nodeUpdatePolicyControl"
              [attr.aria-label]="'plugins.manage.notifications_all' | translate"
            />
            <div class="me-3">
              <i
                class="fas fa-bell fa-2x"
                aria-hidden="true"
                [class.primary-text]="nodeUpdatePolicyControl.value === 'all'"
                [class.grey-text]="nodeUpdatePolicyControl.value !== 'all'"
              ></i>
            </div>
            <div class="flex-grow-1">
              <div aria-hidden="true">{{ 'plugins.manage.notifications_all' | translate }}</div>
              <small class="grey-text">{{ 'plugins.manage.notifications_all_desc' | translate }}</small>
            </div>
            @if (nodeUpdatePolicyControl.value === 'all') {
              <div class="ms-3">
                <i class="fas fa-xl fa-check-circle primary-text" aria-hidden="true"></i>
              </div>
            }
          </label>
        </li>
        <li class="list-group-item text-start">
          <label class="d-flex align-items-center w-100 mb-0 cursor-pointer">
            <input
              type="radio"
              name="nodeUpdatePolicy"
              value="major"
              class="visually-hidden"
              [formControl]="nodeUpdatePolicyControl"
              [attr.aria-label]="'plugins.manage.notifications_major' | translate"
            />
            <div class="me-3">
              <i
                class="far fa-bell fa-2x"
                aria-hidden="true"
                [class.primary-text]="nodeUpdatePolicyControl.value === 'major'"
                [class.grey-text]="nodeUpdatePolicyControl.value !== 'major'"
              ></i>
            </div>
            <div class="flex-grow-1">
              <div aria-hidden="true">{{ 'plugins.manage.notifications_major' | translate }}</div>
              <small class="grey-text">{{ 'plugins.manage.notifications_major_desc' | translate }}</small>
            </div>
            @if (nodeUpdatePolicyControl.value === 'major') {
              <div class="ms-3">
                <i class="fas fa-xl fa-check-circle primary-text" aria-hidden="true"></i>
              </div>
            }
          </label>
        </li>
        <li class="list-group-item text-start">
          <label class="d-flex align-items-center w-100 mb-0 cursor-pointer">
            <input
              type="radio"
              name="nodeUpdatePolicy"
              value="none"
              class="visually-hidden"
              [formControl]="nodeUpdatePolicyControl"
              [attr.aria-label]="'plugins.manage.notifications_none' | translate"
            />
            <div class="me-3">
              <i
                class="far fa-bell-slash fa-2x"
                aria-hidden="true"
                [class.primary-text]="nodeUpdatePolicyControl.value === 'none'"
                [class.grey-text]="nodeUpdatePolicyControl.value !== 'none'"
              ></i>
            </div>
            <div class="flex-grow-1">
              <div aria-hidden="true">{{ 'plugins.manage.notifications_none' | translate }}</div>
              <small class="grey-text">{{ 'plugins.manage.notifications_none_desc' | translate }}</small>
            </div>
            @if (nodeUpdatePolicyControl.value === 'none') {
              <div class="ms-3">
                <i class="fas fa-xl fa-check-circle primary-text" aria-hidden="true"></i>
              </div>
            }
          </label>
        </li>
      </ul>
      @if (!hasNode24OrAbove) {
        <ul class="list-group list-group-box mt-3 mb-0">
          <li class="list-group-item text-center">{{ 'status.widget.info.node_major' | translate }}</li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="text-start flex-grow-1">
              Node.js v24
              <br />
              <span class="grey-text small">
                {{
                  (supportsNodeJs24 ? 'status.widget.info.node_next_yes' : 'status.widget.info.node_next_no')
                    | translate: { architecture: architecture }
                }}
              </span>
            </div>
            <div class="ms-3">
              @if (supportsNodeJs24) {
                <i class="fas fa-check-circle green-text fa-xl"></i>
              } @else {
                <i class="fas fa-xmark-circle red-text fa-xl"></i>
              }
            </div>
          </li>
        </ul>
      }
      @if (installedPlugins().length) {
        <ul class="list-group list-group-box mt-3 mb-0">
          <li class="list-group-item text-center">{{ 'menu.label_plugins' | translate }}</li>
          @for (plugin of installedPlugins(); track plugin) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="me-3">
                <img
                  alt=""
                  aria-hidden="true"
                  class="plugin-icon-small"
                  [src]="plugin.icon"
                  (error)="handleIconError(plugin)"
                />
              </div>
              <div class="text-start flex-grow-1">
                {{ plugin.displayName }}<br />
                <span class="grey-text small">
                  {{
                    plugin.isSupportedStr
                      | translate: { pluginName: plugin.displayName, nodeVersion: this.latestVersion }
                  }}
                </span>
              </div>
              <div class="ms-3">
                @if (plugin.isSupported === 'yes') {
                  <i class="fas fa-check-circle green-text fa-xl"></i>
                } @else if (plugin.isSupported === 'no') {
                  <i class="fas fa-xmark-circle red-text fa-xl"></i>
                } @else {
                  <i class="fas fa-question-circle orange-text fa-xl"></i>
                }
              </div>
            </li>
          }
        </ul>
      }
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_close' | translate"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <a
        class="btn btn-primary text-decoration-none"
        target="_blank"
        href="https://github.com/homebridge/homebridge/wiki/How-To-Update-Node.js"
        rel="noopener noreferrer"
      >
        {{ 'form.button_more_info' | translate }} <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
  </div>
</div>
