<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Node.js</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    @if (loading) {
    <div class="text-center primary-text my-5 w-100">
      <i class="fa fa-circle-notch fa-spin" style="font-size: 75px"></i>
    </div>
    } @else {
    <div class="text-center">
      <i class="fas fab fa-node-js primary-text mb-3" style="font-size: 75px"></i>
      <h5 class="mb-3">{{ nodeVersion }}@if (latestVersion !== nodeVersion) { &rarr; {{ latestVersion }} }</h5>
    </div>
    <ul class="mb-3">
      <li>{{ 'status.widget.info.node_update_message' | translate }}</li>
      @if (homebridgeRunningInSynologyPackage || homebridgeRunningInDocker) {
      <li>{{ 'status.widget.info.node_update_message_2' | translate }}</li>
      } @if (showNodeUnsupportedWarning) {
      <li>{{ 'status.widget.info.node_unsupp_message' | translate }}</li>
      }
    </ul>
    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item text-center">{{ 'status.widget.info.node_major' | translate }}</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="text-start flex-grow-1">
          Node.js v24
          <br />
          <span class="grey-text small">
            {{ (supportsNodeJs24 ? 'status.widget.info.node_next_yes' : 'status.widget.info.node_next_no') | translate:
            { architecture: architecture } }}
          </span>
        </div>
        <div class="ms-3">
          @if (supportsNodeJs24) {
          <i class="fas fa-check-circle green-text fa-xl"></i>
          } @else {
          <i class="fas fa-xmark-circle red-text fa-xl"></i>
          }
        </div>
      </li>
    </ul>

    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item text-center">{{ 'status.widget.node_update_policy' | translate }}</li>
      <button type="button" class="list-group-item d-flex align-items-center text-start" (click)="selectPolicy('all')">
        <div class="me-3">
          <i
            class="fas fa-bell fa-fw fa-lg"
            [class.primary-text]="nodeUpdatePolicyControl.value === 'all'"
            [class.grey-text]="nodeUpdatePolicyControl.value !== 'all'"
          ></i>
        </div>
        <div class="flex-grow-1">
          <div>{{ 'status.widget.node_update_policy_all' | translate }}</div>
          <div class="text-muted small">{{ 'status.widget.node_update_policy_all_desc' | translate }}</div>
        </div>
        @if (nodeUpdatePolicyControl.value === 'all') {
        <div class="ms-3">
          <i class="fas fa-check-circle primary-text"></i>
        </div>
        }
      </button>
      <button
        type="button"
        class="list-group-item d-flex align-items-center text-start"
        (click)="selectPolicy('major')"
      >
        <div class="me-3">
          <i
            class="fas fa-bell-slash fa-fw fa-lg"
            [class.primary-text]="nodeUpdatePolicyControl.value === 'major'"
            [class.grey-text]="nodeUpdatePolicyControl.value !== 'major'"
          ></i>
        </div>
        <div class="flex-grow-1">
          <div>{{ 'status.widget.node_update_policy_major' | translate }}</div>
          <div class="text-muted small">{{ 'status.widget.node_update_policy_major_desc' | translate }}</div>
        </div>
        @if (nodeUpdatePolicyControl.value === 'major') {
        <div class="ms-3">
          <i class="fas fa-check-circle primary-text"></i>
        </div>
        }
      </button>
      <button type="button" class="list-group-item d-flex align-items-center text-start" (click)="selectPolicy('none')">
        <div class="me-3">
          <i
            class="fas fa-bell-slash fa-fw fa-lg"
            [class.primary-text]="nodeUpdatePolicyControl.value === 'none'"
            [class.grey-text]="nodeUpdatePolicyControl.value !== 'none'"
          ></i>
        </div>
        <div class="flex-grow-1">
          <div>{{ 'status.widget.node_update_policy_none' | translate }}</div>
          <div class="text-muted small">{{ 'status.widget.node_update_policy_none_desc' | translate }}</div>
        </div>
        @if (nodeUpdatePolicyControl.value === 'none') {
        <div class="ms-3">
          <i class="fas fa-check-circle primary-text"></i>
        </div>
        }
      </button>
    </ul>

    @if (installedPlugins.length) {
    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item text-center">{{ 'menu.label_plugins' | translate }}</li>
      @for (plugin of installedPlugins; track plugin) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="text-start flex-grow-1">
          {{ plugin.displayName }}<br />
          <span class="grey-text small">
            {{ plugin.isSupportedStr | translate: { pluginName: plugin.displayName, nodeVersion: this.latestVersion } }}
          </span>
        </div>
        <div class="ms-3">
          @if (plugin.isSupported === 'yes') {
          <i class="fas fa-check-circle green-text fa-xl"></i>
          } @else if (plugin.isSupported === 'no') {
          <i class="fas fa-xmark-circle red-text fa-xl"></i>
          } @else {
          <i class="fas fa-question-circle orange-text fa-xl"></i>
          }
        </div>
      </li>
      }
    </ul>
    } }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="dismissModal()"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <a
        class="btn btn-primary text-decoration-none"
        target="_blank"
        href="https://github.com/homebridge/homebridge/wiki/How-To-Update-Node.js"
        rel="noopener noreferrer"
      >
        {{ 'form.button_more_info' | translate }} <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
  </div>
</div>
