::ng-deep {
  .switch-on {
    svg {
      .left-sensor {
        fill: #d32f2f;
        fill-opacity: 0.5;
      }

      .right-object {
        x: 24px;
      }

      .right-sensor {
        x: 24px;
        fill: #d32f2f;
        fill-opacity: 0.5;
      }
    }
  }
}
