<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Homebridge v2 Update</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.close('Dismiss')"
    ></button>
  </div>
  <div class="modal-body">
    @if (loading) {
    <div class="w-100 text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading) { @if (allPluginsSupported) {
    <div class="text-center mb-3">
      <i class="fas fa-fw fa-check-circle primary-text" style="font-size: 75px"></i>
    </div>
    <ul class="mb-3">
      <li>
        All your plugins are marked as compatible with the new version of Homebridge. You are all set to continue below.
      </li>
    </ul>
    } @if (!allPluginsSupported) {
    <div class="text-center mb-3">
      <i class="fas fa-fw fa-info-circle primary-text" style="font-size: 75px"></i>
    </div>
    <ul class="mb-3">
      <li>Some of your plugins are not explicitly marked as compatible with the new version of Homebridge.</li>
      <li>
        This does <span class="fw-bold">not</span> necessarily mean that they won't work. We just can't guarantee that
        they will.
      </li>
      <li>
        For more information about this update, please see the
        <a href="https://github.com/homebridge/homebridge/wiki/Updating-To-Homebridge-v2.0" target="_blank">wiki page</a
        >.
      </li>
      <li>To ignore this warning and continue with the update, click continue below.</li>
    </ul>
    }
    <ul class="list-group list-group-box mb-0">
      @for (plugin of installedPlugins; track plugin) {
      <li class="list-group-item d-flex flex-row flex-wrap justify-content-between">
        {{ plugin.displayName }} @if (plugin.hb2Ready === 'supported') {
        <i
          class="fas fa-check-circle green-text fa-xl ms-2"
          aria-label="The developer has specifically marked this plugin as compatible with Homebridge v2."
        ></i>
        } @if (plugin.hb2Ready === 'unknown') {
        <i
          class="fas fa-question-circle orange-text fa-xl ms-2"
          aria-label="The developer has not specifically marked this plugin as compatible with Homebridge v2, but it may still work."
        ></i>
        }
      </li>
      }
    </ul>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.close('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        [disabled]="loading"
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="$activeModal.close('update')"
      >
        {{ 'plugins.node_update.continue' | translate }}
      </button>
    </div>
  </div>
</div>
