<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{'plugins.settings.title_settings' | translate}}:
      {{ plugin.displayName || plugin.name }}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <markdown hrefTargetBlank class="plugin-md" [data]="schema.headerDisplay | interpolateMd"
        *ngIf="schema.headerDisplay"></markdown>
    </div>

    <!-- MULTIPLE CONFIG BLOCKS-->
    <ngb-accordion [closeOthers]="true" *ngIf="pluginConfig.length && !schema.singular" [activeIds]="show"
      (panelChange)="blockChanged($event)">
      <ngb-panel [id]="block.__uuid__" *ngFor="let block of pluginConfig" opened="true">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ block.name }}</h5>
            <div>
              <button *ngIf="plugin.name !== 'homebridge-config-ui-x' && opened" class="btn btn-danger ml-2"
                (click)="removeBlock(block.__uuid__)" [ngbTooltip]="'form.button_delete' | translate" container="body"
                openDelay="150">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-primary ml-2" ngbPanelToggle [ngbTooltip]="'form.button_edit' | translate"
                container="body" openDelay="150">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-schema-form [configSchema]="schema" [(data)]="block.config">
          </app-schema-form>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <!-- SINGLE CONFIG BLOCK ONLY -->
    <div *ngIf="pluginConfig.length && schema.singular" class="card card-body">
      <app-schema-form [configSchema]="schema" [(data)]="pluginConfig[0].config">
      </app-schema-form>
      <app-homebridge-hue *ngIf="plugin.name==='homebridge-hue'"></app-homebridge-hue>
    </div>

    <div class="mt-3">
      <markdown hrefTargetBlank class="plugin-md" [data]="schema.footerDisplay | interpolateMd"
        *ngIf="schema.footerDisplay"></markdown>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div style="min-width: 25%;" class="text-left">
      <button *ngIf="!schema.singular || pluginConfig.length === 0" type="button" class="btn btn-elegant"
        data-dismiss="modal" (click)="addBlock()">
        <i class="fa fa-plus"></i> Add {{ schema.pluginType }}
      </button>
      <button *ngIf="plugin.name !== 'homebridge-config-ui-x' && schema.singular && pluginConfig.length > 0"
        class="btn btn-danger ml-2" (click)="removeBlock(pluginConfig[0].__uuid__)"
        [ngbTooltip]="'form.button_delete' | translate" container="body" openDelay="150">
        <i class="fa fa-trash"></i>
      </button>
    </div>

    <div style="min-width: 25%;" class="d-none d-lg-block text-center">
      <a *ngIf="plugin.links.npm" [href]="plugin.links.npm" target="_blank" rel="noopener noreferrer"
        class="pr-3 manage-plugin-config-external-icons dark-mode-highlight"><i class="fab fa-npm"></i></a>
      <a *ngIf="plugin.links.homepage" [href]="plugin.links.homepage" target="_blank" rel="noopener noreferrer"
        class="manage-plugin-config-external-icons dark-mode-highlight">
        <i [ngClass]="plugin.links.homepage | externalLinkIcon"></i>
      </a>
    </div>

    <div style="min-width: 25%;" class="text-right">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.close('Cross click')"
        [translate]="'form.button_cancel'">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()" [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</div>