<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{'plugins.settings.title_settings' | translate}}:
      {{ plugin.displayName || plugin.name }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.close('Dismiss')"></button>
  </div>
  <div class="modal-body" [hidden]="justSavedAndExited">
    <div>
      <markdown class="plugin-md" [data]="schema.headerDisplay | interpolateMd" *ngIf="schema.headerDisplay"></markdown>
    </div>
    <div class="text-center mb-4" *ngIf="plugin.name === 'homebridge-config-ui-x'">
      <div class="btn-group" role="group">
        <button class="btn btn-elegant" type="button" (click)="openPluginLogModalForUi()" ngbTooltip="{{ 'plugins.manage.plugin_logs' | translate }}"
          [attr.aria-label]="'plugins.manage.plugin_logs' | translate">
          <i class="fa fa-fw fa-wave-square"></i>
        </button>
        <button class="btn btn-elegant" type="button" (click)="openFundingModalForUi()" [attr.aria-label]="'plugins.donate.button_donate' | translate">
          <i class="fa fa-fw fa-heart red-text"></i>
        </button>
        <a class="btn btn-elegant" href="https://github.com/homebridge/homebridge-config-ui-x" target="_blank" rel="noopener noreferrer"
          ngbTooltip="{{ 'plugins.button_homepage' | translate }}" [attr.aria-label]="'plugins.button_homepage' | translate">
          <i class="fab fa-fw fa-github"></i>
        </a>
      </div>
    </div>

    <!-- MULTIPLE CONFIG BLOCKS-->
    <ngb-accordion [closeOthers]="true" *ngIf="pluginConfig.length && !schema.singular" [activeIds]="show"
      (panelChange)="blockChanged()">
      <ngb-panel [id]="block.__uuid__" *ngFor="let block of pluginConfig" opened="true">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ block.name }}</h5>
            <div>
              <button *ngIf="plugin.name !== 'homebridge-config-ui-x' && opened" class="btn btn-danger ms-2"
                (click)="removeBlock(block.__uuid__)" [ngbTooltip]="'form.button_delete' | translate" container="body"
                openDelay="150">
                <i class="fa fa-fw fa-trash"></i>
              </button>
              <button class="btn btn-primary ms-2" ngbPanelToggle [ngbTooltip]="'form.button_edit' | translate"
                container="body" openDelay="150">
                <i class="fa fa-fw fa-edit"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-schema-form [configSchema]="schema" [(data)]="block.config">
          </app-schema-form>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <!-- SINGLE CONFIG BLOCK ONLY -->
    <div *ngIf="pluginConfig.length && schema.singular" class="card card-body">
      <app-schema-form [configSchema]="schema" [(data)]="pluginConfig[0].config">
      </app-schema-form>
      <app-homebridge-deconz *ngIf="plugin.name==='homebridge-deconz'"></app-homebridge-deconz>
      <app-homebridge-hue *ngIf="plugin.name==='homebridge-hue'"></app-homebridge-hue>
    </div>

    <div class="mt-3">
      <markdown class="plugin-md" [data]="schema.footerDisplay | interpolateMd"
        *ngIf="schema.footerDisplay"></markdown>
    </div>
  </div>
  <div class="modal-body text-center" [hidden]="!justSavedAndExited">
    <i class="fa fa-fw fa-power-off primary-text mb-4" style="font-size: 75px;"></i>
    <p *ngIf="['homebridge', 'homebridge-config-ui-x'].includes(plugin.name) || childBridges.length === 0" class="text-center grey-text">
      {{ 'plugins.manage.message_thanks_for_updating_restart' | translate }}
    </p>
    <p *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(plugin.name) && childBridges.length > 0" class="text-center grey-text">
      {{ 'plugins.manage.message_thanks_for_updating_restart_child_bridges' | translate }}
    </p>
  </div>
  <div class="modal-footer justify-content-between" [hidden]="justSavedAndExited">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.close()">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button *ngIf="!schema.singular || pluginConfig.length === 0" type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="addBlock()">
        <i class="fa fa-fw fa-plus"></i>
      </button>
      <button *ngIf="plugin.name !== 'homebridge-config-ui-x' && schema.singular && pluginConfig.length > 0"
        class="btn btn-danger ms-2" (click)="removeBlock(pluginConfig[0].__uuid__)"
        [ngbTooltip]="'form.button_delete' | translate" container="body" openDelay="150">
        <i class="fa fa-fw fa-trash"></i>
      </button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()" [disabled]="saveInProgress">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-fw fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
  <div class="modal-footer justify-content-between" [hidden]="!justSavedAndExited">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.close('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-primary" *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(plugin.name) && childBridges.length > 0"
        (click)="onRestartChildBridgeClick()">
        {{ (childBridges.length === 1 ? 'plugins.manage.child_bridge_button_restart_now_one' : 'plugins.manage.child_bridge_button_restart_now') | translate }}
      </button>
      <button type="button" class="btn btn-primary"
        *ngIf="['homebridge', 'homebridge-config-ui-x'].includes(plugin.name) || childBridges.length === 0" (click)="onRestartHomebridgeClick()">
        {{ 'plugins.manage.button_restart_now' | translate }}
      </button>
    </div>
  </div>
</div>
