<div
  class="accessory-box"
  [ngClass]="{
  'switch-on': service.values.MotionDetected,
  'switch-off': !service.values.MotionDetected
}"
>
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/hap-icons/motionsensor.svg'"
      [attr.aria-label]="'Motion Sensor'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (service.values.MotionDetected) {
    <div class="accessory-label red-text">{{ 'accessories.control.detected' | translate }}</div>
    } @if (!service.values.MotionDetected) {
    <div class="accessory-label grey-text">{{ 'accessories.control.not_detected' | translate }}</div>
    }
  </div>
</div>
