<div class="accessory-box" [ngClass]="{'switch-on': service.values.CurrentDoorState === 0 || service.values.CurrentDoorState === 2}" (click)="onClick()">
  <div [inlineSVG]="'/assets/hap-icons/garagedoor.svg'" aria-label="Garage Door" class="accessory-svg"></div>
  <div class="accessory-label">{{ service.serviceName }}</div>

  <div class="accessory-label" 
    *ngIf="service.values.CurrentDoorState < 2 " [innerText]="service.values.CurrentDoorState ? 'Closed' : 'Open'"
    [ngClass]="{'red-text': !service.values.CurrentDoorState, 'grey-text': service.values.CurrentDoorState}">
  </div>

  <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 2">Opening...</div>
  <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 3">Closing...</div>
  <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 4">Stopped</div>
</div>