<div
  class="accessory-box"
  [ngClass]="{
    'switch-on': service.values.On
      ||  service.values.Active
      || ('LockTargetState' in service.values && !service.values.LockTargetState)
      || ('CurrentDoorState' in service.values && [0, 2].includes(service.values.CurrentDoorState))
  }"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/switch.svg'" [attr.aria-label]="'Switch'" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div
      class="accessory-label grey-text"
      [innerText]="(
        (service.values.On
          || service.values.Active
          || ('LockTargetState' in service.values && !service.values.LockTargetState)
          || ('CurrentDoorState' in service.values && [0, 2].includes(service.values.CurrentDoorState)))
            ? 'accessories.control.on'
            : 'accessories.control.off') | translate"
    ></div>
  </div>
</div>
