<div class="d-flex w-100 p-2">
  <div #qrcodecontainer class="drag-handler d-flex flex-column w-100 h-100">
    <div class="w-100" [ngStyle]="{'height.px': qrCodeHeight, 'width.px': qrCodeWidth}">
      <div class="text-center qr-code-container w-100 h-100 p-3">
        <div class="w-100 h-100" *ngIf="setupUri">
          <app-qrcode [data]="setupUri" class="mr-auto ml-auto"></app-qrcode>
        </div>
      </div>

    </div>
    <div #pincode class="text-center w-100 mt-auto gridster-item-content">
      <p class="mb-1">{{ pin }}</p>
      <p class="grey-text mb-1" [translate]="'status.message_code_scan_instructions'">
        Scan this code with the camera on your iOS device to add to Apple Home.
      </p>
    </div>
  </div>
</div>