<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'config.restore.title_restore_homebridge_backup' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    @if (loading) {
    <div class="text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading && backupList && backupList.length) {
    <table class="table table-borderless table-hover table-sm">
      <tbody>
        @for (backup of backupList; track backup) {
        <tr>
          <td class="w-100">{{ backup.timestamp | date:'medium' }}</td>
          <td nowrap>
            <a class="card-link" (click)="restore(backup.id)">
              {{ 'config.restore.copy_to_editor' | translate }} <i class="fas fa-fw fa-arrow-right"></i>
            </a>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @if (!loading && (!backupList || !backupList.length)) {
    <div>
      <h3 class="text-center">{{ 'config.restore.no_backups' | translate }}</h3>
    </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      @if (!loading && backupList.length) {
      <button
        type="button"
        class="btn btn-danger mr-auto"
        (click)="deleteAllBackups()"
        [attr.aria-label]="'form.button_remove' | translate"
      >
        {{ 'form.button_remove' | translate }}
      </button>
      }
    </div>
  </div>
</div>
