<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'config.restore.title' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      [disabled]="clicked() || deleting()"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-3">
      <i class="fas fa-history primary-text icon-xl" aria-hidden="true"></i>
    </div>
    <ul class="mb-3">
      <li>{{ 'config.restore.help_1' | translate }}</li>
      <li>{{ 'config.restore.help_2' | translate }}</li>
    </ul>
    <ul class="list-group list-group-box mb-0">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div aria-hidden="true">
          <span>{{ 'form.button_download' | translate }}</span>
          <br />
          <small class="grey-text">{{ 'config.restore.download' | translate }}</small>
        </div>
        <button
          type="button"
          class="btn btn-primary m-0 ms-3 py-1"
          [disabled]="clicked() || deleting()"
          [attr.aria-label]="'form.button_download' | translate"
          (click)="downloadCurrentConfig()"
        >
          <span class="visually-hidden" aria-hidden="true">{{ 'form.button_download' | translate }}</span>
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
    @if (loading()) {
      <div class="text-center primary-text">
        <i class="fas fa-circle-notch fa-spin mt-3 icon-xl" aria-hidden="true"></i>
      </div>
    } @else if (backupList().length) {
      <ul class="list-group list-group-box mt-3">
        @for (backup of backupList(); track backup) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              {{ backup.timestamp | date: 'mediumDate' }}<br />
              <span class="grey-text small">{{ backup.timestamp | date: 'shortTime' }}</span>
            </span>
            <span class="d-flex flex-nowrap">
              <button
                type="button"
                class="btn btn-primary m-0 ms-3 py-1"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting()"
                [ngbTooltip]="'config.restore.copy_to_editor' | translate"
                [openDelay]="150"
                [attr.aria-label]="'config.restore.copy_to_editor' | translate"
                (click)="restore(backup.id)"
              >
                <i class="fas fa-history"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary m-0 ms-2"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting()"
                [ngbTooltip]="'form.button_download' | translate"
                [openDelay]="150"
                [attr.aria-label]="'form.button_download' | translate"
                (click)="download(backup.id)"
              >
                <i class="fas fa-download"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger m-0 ms-2"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting()"
                [ngbTooltip]="'form.button_delete' | translate"
                [openDelay]="150"
                [attr.aria-label]="'form.button_delete' | translate"
                (click)="delete(backup.id)"
              >
                <i
                  class="fas"
                  [class.fa-trash]="backup.id !== deleting()"
                  [class.fa-circle-notch]="backup.id === deleting()"
                  [class.fa-spin]="backup.id === deleting()"
                ></i>
              </button>
            </span>
          </li>
        }
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            {{ 'form.button_delete_all' | translate }}<br />
            <span class="grey-text small">{{ 'common.labels.no_confirmation' | translate }}</span>
          </span>
          <span class="d-flex flex-nowrap">
            <button
              type="button"
              class="btn btn-danger m-0 ms-2"
              placement="bottom"
              container="modal"
              triggers="hover"
              [disabled]="clicked() || deleting()"
              [ngbTooltip]="'form.button_delete_all' | translate"
              [openDelay]="150"
              [attr.aria-label]="'form.button_delete_all' | translate"
              (click)="deleteAllBackups()"
            >
              <i
                class="fas"
                [class.fa-trash]="'all' !== deleting()"
                [class.fa-circle-notch]="'all' === deleting()"
                [class.fa-spin]="'all' === deleting()"
              ></i>
            </button>
          </span>
        </li>
      </ul>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [disabled]="clicked() || deleting()"
        [attr.aria-label]="'form.button_close' | translate"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
