<div class="accessory-box"
  [ngClass]="{'switch-on': service.values.CurrentDoorState === 0 || service.values.CurrentDoorState === 2}" appLongclick
  (shortclick)="onClick()" tabindex="0">
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/garagedoor.svg'" aria-label="Garage Door" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>

    <div class="accessory-label" *ngIf="service.values.CurrentDoorState < 2 "
      [innerText]="(service.values.CurrentDoorState ? 'accessories.control.label_closed' : 'accessories.control.label_open') | translate"
      [ngClass]="{'red-text': !service.values.CurrentDoorState, 'grey-text': service.values.CurrentDoorState}">
    </div>

    <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 2">
      {{ 'accessories.control.label_opening' | translate }}...
    </div>
    <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 3">
      {{ 'accessories.control.label_closing' | translate }}...
    </div>
    <div class="accessory-label red-text" *ngIf="service.values.CurrentDoorState === 4">
      {{ 'accessories.control.label_stopped' | translate }}
    </div>
  </div>
</div>