<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'backup.title_backup' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      [disabled]="clicked() || deleting()"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-3">
      <i class="fas fa-hard-drive primary-text icon-xl"></i>
    </div>
    <ul class="mb-3">
      <li>{{ 'backup.backup_help_one' | translate }}</li>
      <li>{{ 'backup.backup_help_two' | translate }}</li>
      <li>{{ 'backup.backup_warning' | translate }}</li>
    </ul>
    <ul class="list-group list-group-box mb-0">
      <li class="list-group-item">
        <h6 class="mb-0 text-center">{{ 'backup.settings_title' | translate }}</h6>
      </li>
      <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
        <div class="mb-2 mb-md-0 w-100 w-md-50">
          {{ 'backup.settings_path' | translate }}<br />
          <span class="grey-text small">{{ 'backup.settings_path_desc' | translate }}</span>
        </div>
        <div class="text-start text-md-end w-100 w-md-50">
          <input
            type="text"
            class="form-control custom-input font-monospace"
            placeholder="/home/pi/homebridge-backups"
            [formControl]="pathFormControl"
            [attr.aria-label]="'backup.settings_path' | translate"
          />
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
        <div class="text-start">
          {{ 'backup.settings_enable' | translate }}<br />
          <span class="small grey-text">
            @if (enabledFormControl.value) {
              @if (backupTime()) {
                {{
                  'backup.scheduled_backup_time'
                    | translate
                      : {
                          backupTime: backupTime() | date: 'shortTime',
                          dayCount: 7,
                        }
                }}
              } @else {
                {{ 'plugins.settings.restart_required' | translate }}
              }
            } @else {
              {{
                (backupTime() ? 'plugins.settings.restart_required' : 'backup.scheduled_backup_disabled') | translate
              }}
            }
          </span>
        </div>
        <div class="text-end grey-text d-flex align-items-center">
          <input
            type="checkbox"
            id="disableScheduledBackups"
            class="rendux-input"
            [formControl]="enabledFormControl"
            [attr.aria-label]="'backup.settings_enable' | translate"
          />
          <label for="disableScheduledBackups" class="rendux-label"></label>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span>{{ 'backup.backup_now' | translate }}</span>
          <br />
          <small class="grey-text">{{ 'backup.backup_now_desc' | translate }}</small>
        </div>
        <button
          type="button"
          class="btn btn-primary m-0 ms-3 py-1"
          [disabled]="clicked()"
          [attr.aria-label]="'backup.backup_now' | translate"
          (click)="onDownloadBackupClick()"
        >
          <i
            class="fas"
            [class.fa-arrow-right]="!clicked()"
            [class.fa-circle-notch]="clicked()"
            [class.fa-spin]="clicked()"
          ></i>
        </button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span>{{ 'backup.backup_now' | translate }}</span>
          <br />
          <small class="grey-text">{{ 'backup.backup_now_save_desc' | translate }}</small>
        </div>
        <button
          type="button"
          class="btn btn-primary m-0 ms-3 py-1"
          [disabled]="clicked()"
          [attr.aria-label]="'backup.backup_now' | translate"
          (click)="onCreateBackupClick()"
        >
          <i
            class="fas"
            [class.fa-arrow-right]="!clicked()"
            [class.fa-circle-notch]="clicked()"
            [class.fa-spin]="clicked()"
          ></i>
        </button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span>{{ 'backup.restore_now' | translate }}</span>
          <br />
          <small class="grey-text">{{ 'backup.restore_now_desc' | translate }}</small>
        </div>
        <button
          type="button"
          class="btn btn-primary m-0 ms-3 py-1"
          [attr.aria-label]="'backup.restore_now' | translate"
          [disabled]="clicked()"
          (click)="restore(null)"
        >
          <i class="fas fa-arrow-right"></i>
        </button>
      </li>
    </ul>
    @if (scheduledBackups().length) {
      <ul class="list-group list-group-box mt-3 mb-0">
        <li class="list-group-item">
          <h6 class="mb-0 text-center">{{ 'backup.files_auto' | translate }}</h6>
        </li>
        @for (backup of scheduledBackups(); track backup) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <span container="modal" triggers="hover" [ngbTooltip]="backup.fileName" [openDelay]="150">
                {{ backup.timestamp | date: 'mediumDate' }}
              </span>
              <br />
              <small class="grey-text">
                {{ backup.timestamp | date: 'shortTime' }} &middot;
                @if (backup.size > maxBackupSize) {
                  <span
                    container="modal"
                    triggers="hover"
                    class="red-text"
                    [ngbTooltip]="
                      'backup.backup_exceeds_max_size'
                        | translate: { backupSize: backup.size + 'MB', maxBackupSizeText: maxBackupSizeText }
                    "
                    [openDelay]="150"
                  >
                    <i class="fas fa-exclamation-circle"></i>
                    {{ backup.size }}MB
                  </span>
                } @else {
                  <span>{{ backup.size }}MB</span>
                }
              </small>
            </span>
            <span class="d-flex flex-nowrap">
              <button
                type="button"
                class="btn btn-primary m-0 ms-3 py-1"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting() || backup.size > maxBackupSize"
                [ngbTooltip]="'form.button_restore' | translate"
                [openDelay]="150"
                [attr.aria-label]="'form.button_restore' | translate"
                (click)="restore(backup)"
              >
                <i class="fas fa-history"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary m-0 ms-2"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting()"
                [ngbTooltip]="'form.button_download' | translate"
                [openDelay]="150"
                [attr.aria-label]="'form.button_download' | translate"
                (click)="download(backup)"
              >
                <i class="fas fa-download"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger m-0 ms-2"
                placement="bottom"
                container="modal"
                triggers="hover"
                [disabled]="clicked() || deleting()"
                [ngbTooltip]="'form.button_delete' | translate"
                [openDelay]="150"
                [attr.aria-label]="'form.button_delete' | translate"
                (click)="delete(backup)"
              >
                <i
                  class="fas"
                  [class.fa-trash]="backup.id !== deleting()"
                  [class.fa-circle-notch]="backup.id === deleting()"
                  [class.fa-spin]="backup.id === deleting()"
                ></i>
              </button>
            </span>
          </li>
        }
      </ul>
    }
  </div>

  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [disabled]="clicked() || deleting()"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
