<div class="modal-content hb-backup-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'backup.title_backup' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
      [disabled]="clicked || deleting"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center mt-2 mb-3">
      <i class="fas fa-fw fa-hard-drive primary-text" style="font-size: 75px"></i>
    </div>
    <ul>
      <li>{{ 'backup.backup_help_one' | translate }}</li>
      <li>{{ 'backup.backup_help_two' | translate }}</li>
      <li>{{ 'backup.backup_warning' | translate }}</li>
      @if (backupTime) {
      <li>
        {{ 'backup.scheduled_backup_time' | translate:{ backupTime: backupTime | date:'shortTime', dayCount: 7 } }}
      </li>
      }
    </ul>
    <ul class="list-group list-group-box mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <span> {{ Date.now() | date:'mediumDate' }} </span>
          <br />
          <small class="grey-text">{{ Date.now() | date:'shortTime' }} &middot; {{ 'backup.now' | translate }}</small>
        </span>
        <span style="display: flex; flex-wrap: nowrap">
          <button class="btn btn-primary ml-3" disabled [attr.aria-label]="'form.button_restore' | translate">
            <i class="fas fa-fw fa-history"></i>
          </button>
          <button
            class="btn btn-primary ml-1"
            (click)="onDownloadBackupClick()"
            [disabled]="clicked"
            [ngbTooltip]="'form.button_download' | translate"
            placement="bottom"
            container="modal"
            openDelay="150"
            triggers="hover"
            [attr.aria-label]="'form.button_download' | translate"
          >
            <i class="fas fa-fw" [ngClass]="{'fa-download': !clicked, 'fa-cog fa-spin': clicked}"></i>
          </button>
          <button class="btn btn-danger ml-1" disabled [attr.aria-label]="'form.button_delete' | translate">
            <i class="fas fa-fw fa-trash"></i>
          </button>
        </span>
      </li>
      @for (backup of scheduledBackups; track backup) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <span [ngbTooltip]="backup.fileName" container="modal" openDelay="150" triggers="hover">
            {{ backup.timestamp | date:'mediumDate' }}
          </span>
          <br />
          <small class="grey-text">
            {{ backup.timestamp | date:'shortTime' }} &middot; @if (backup.size > backup.maxBackupSize) {
            <span
              [ngbTooltip]="'backup.backup_exceeds_max_size' | translate: { backupSize: backup.size + 'MB', maxBackupSizeText: backup.maxBackupSizeText }"
              container="modal"
              openDelay="150"
              triggers="hover"
              class="red-text"
            >
              <i class="fas fa-fw fa-exclamation-circle"></i>
              {{ backup.size }}MB
            </span>
            } @if (backup.size <= backup.maxBackupSize) {
            <span> {{ backup.size }}MB </span>
            }
          </small>
        </span>
        <span style="display: flex; flex-wrap: nowrap">
          <button
            class="btn btn-primary ml-3"
            (click)="restore(backup)"
            [disabled]="clicked || deleting || backup.size > backup.maxBackupSize"
            [ngbTooltip]="'form.button_restore' | translate"
            placement="bottom"
            container="modal"
            openDelay="150"
            triggers="hover"
            [attr.aria-label]="'form.button_restore' | translate"
          >
            <i class="fas fa-fw fa-history"></i>
          </button>
          <button
            class="btn btn-primary ml-1"
            (click)="download(backup)"
            [disabled]="clicked || deleting"
            [ngbTooltip]="'form.button_download' | translate"
            placement="bottom"
            container="modal"
            openDelay="150"
            triggers="hover"
            [attr.aria-label]="'form.button_download' | translate"
          >
            <i class="fas fa-fw fa-download"></i>
          </button>
          <button
            class="btn btn-danger ml-1"
            (click)="delete(backup)"
            [disabled]="clicked || deleting"
            [ngbTooltip]="'form.button_delete' | translate"
            placement="bottom"
            container="modal"
            openDelay="150"
            triggers="hover"
            [attr.aria-label]="'form.button_delete' | translate"
          >
            <i
              class="fas fa-fw"
              [ngClass]="{'fa-trash': backup.id !== deleting, 'fa-cog fa-spin': backup.id === deleting}"
            ></i>
          </button>
        </span>
      </li>
      }
    </ul>

    @if (errorMessage) {
    <div>
      <div class="alert alert-error" role="alert">
        <h4 class="alert-heading">{{ 'toast.title_error' | translate }}</h4>
        <p>{{ errorMessage }}</p>
      </div>
    </div>
    }
  </div>

  <div class="modal-footer justify-content-between">
    <div class="text-left"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [disabled]="clicked || deleting"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-right"></div>
  </div>
</div>
