/* Homebridge UI Themes */

@mixin make-theme($name, $primary, $primary-dark) {
  .config-ui-x-#{$name} {
    pre {
      background-color: #eaeaea;
      color: #333333;
      text-align: left;
      padding: 15px !important;
      border-radius: 10px;
    }

    .bg-primary {
      background-color: $primary-dark !important;
    }

    .form-control::placeholder {
      color: #cdcdcd !important;
      opacity: 1 !important;
    }

    .sidebar {
      background: $primary-dark;
      color: #eeeeee;

      .header {
        background: $primary-dark;
      }

      .link-wrapper {
        .link {
          .link-row {
            &:hover {
              background: $primary;

              .title {
                color: #ffffff;
              }
            }

            &.active {
              i {
                color: $primary;
              }
            }

            &.active:hover {
              i {
                color: #ffffff;
                transition: 0.3s;
              }
            }

            .title {
              color: #ffffff;
            }
          }
        }
      }
    }

    .m-header {
      background: $primary-dark;
    }

    .hb-npm-search {
      border: 0 !important;
      background-color: #eeeeee !important;
    }

    .primary-text {
      color: $primary;
    }

    .btn-primary,
    .btn-default {
      @extend .btn-#{$name} !optional;
    }

    .badge-primary {
      background-color: $primary-dark !important;
    }

    a {
      &.card-link {
        color: #000000;

        @media (hover: hover) {
          &:hover {
            color: $primary !important;
          }
        }
      }
    }

    .card-text-defined {
      color: #000000;
    }

    .icon-button {
      cursor: pointer;
      @media (hover: hover) {
        &:hover {
          color: $primary !important;
        }
      }
    }

    .nav-tabs {
      border-bottom: 1px solid $primary;
      .nav-link {
        &.active {
          color: #ffffff;
          background-color: $primary;
          border-color: $primary;
        }
        @media (hover: hover) {
          &:hover {
            border-color: $primary !important;
          }
        }
        &:focus {
          border-color: $primary !important;
        }
      }
    }

    .hb-uix-switch {
      .hb-uix-slider {
        border-color: $primary !important;
      }

      input:checked ~ .hb-uix-slider {
        background-color: $primary !important;
      }
    }

    .rendux-input:checked + label {
      background: $primary-dark !important;
    }

    .qr-code-container {
      svg {
        fill: $primary-dark;
      }
    }

    .qr-code-theme-color {
      stroke: $primary-dark !important;
    }

    .hb-widget-chart-background {
      background-color: rgba($primary-dark, 0.2);
      display: none;
    }

    .animate_loader {
      .spinner_outer {
        stroke: $primary-dark;
      }
      .spinner_inner {
        stroke: $primary;
      }
    }

    .login-container {
      background-color: $primary-dark !important;
    }

    .alert {
      color: #000000;
      background-color: #eeeeee;
      border-color: #cccccc;

      a {
        color: $primary;
      }
    }

    .alert-info {
      border-color: $primary;
    }

    .alert-success {
      border-color: #388e3c;
    }

    .alert-warning {
      border-color: #ffa000;
    }

    .alert-error {
      border-color: #d32f2f;
    }

    .switch-on,
    .light-on,
    .window-on {
      background-color: #fff;
      color: #000000;
    }

    @keyframes uix-glow-icon {
      from {
        text-shadow:
          0 0 5px #fff,
          0 0 10px #fff;
      }
    }

    .plugin-icon-card {
      width: 70px;
      height: 70px;
      border-radius: 15px;
      border: 1px solid #dddddd;
    }

    @media (max-width: 991px) {
      .plugin-icon-card {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@include make-theme('orange', #ff9800, #ef6c00);
@include make-theme('red', #f44336, #d32f2f);
@include make-theme('pink', #e91e63, #c2185b);
@include make-theme('purple', #9c27b0, #421367);
@include make-theme('deep-purple', #673ab7, #4527a0);
@include make-theme('indigo', #3f51b5, #303f9f);
@include make-theme('blue', #000099, #000070);
@include make-theme('blue-grey', #607d8b, #455a64);
@include make-theme('cyan', #00bcd4, #00838f);
@include make-theme('green', #4caf50, #388e3c);
@include make-theme('teal', #009688, #00695c);
@include make-theme('grey', #9e9e9e, #616161);
@include make-theme('brown', #795548, #4e342e);

.config-ui-x-blue {
  .btn-primary {
    background-color: #000099 !important;
  }

  .badge-primary {
    background-color: #000070 !important;
  }
  .widget-control-button {
    &.primary-text {
      color: #2196f3;
    }
  }

  .hb-widget-chart-background {
    background-color: rgba(#000070, 0.2);
    display: none;
  }
}
