@mixin make-dark-theme($name, $darkModePrimary, $baseBtn) {
  .config-ui-x-#{$name} {
    $backgroundColor: #000000;
    $secondaryBackground: #2b2b2b;
    $secondaryText: #9e9e9e;

    $modalBackground: #242424;

    background-color: $backgroundColor;

    .bg-primary {
      background-color: #242424 !important;
    }

    .navbar-dark {
      background-color: #0f0f0f !important;
      border-bottom: #0f0f0f;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    .primary-text {
      color: $darkModePrimary;
    }

    .dark-mode-highlight {
      color: $darkModePrimary !important;
      opacity: 1 !important;
    }

    .hb-uix-switch input:checked ~ .hb-uix-slider {
      background-color: $darkModePrimary;
    }

    .btn-primary,
    .btn-default {
      @extend .btn-#{$baseBtn} !optional;
    }

    .bg-yellow {
      background-color: $darkModePrimary !important;
    }

    .btn-link {
      color: #9e9e9e !important;
    }

    .badge-primary {
      background-color: #2b2b2b !important;
    }

    .card {
      color: #ffffff;
      background-color: $secondaryBackground !important;
    }

    .login-card {
      background-color: rgba($secondaryBackground, 0.97) !important;
    }

    .nav-tabs {
      border-bottom: 1px solid $darkModePrimary;
      .nav-link {
        &.active {
          color: #ffffff;
          background-color: $darkModePrimary;
          border-color: $darkModePrimary;
        }
        &:hover,
        &:focus {
          border-color: $darkModePrimary !important;
        }
      }
    }

    .alert-warning {
      color: $secondaryBackground;
      background-color: #ffd793;
      border-color: $secondaryBackground;

      a {
        color: $secondaryBackground;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .qr-code-container {
      background-color: $secondaryBackground;

      svg {
        fill: $darkModePrimary;
      }
    }

    a {
      &.card-link {
        color: #9e9e9e;

        &:hover {
          color: $darkModePrimary !important;
        }
      }

      color: $darkModePrimary;
      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      border-color: $darkModePrimary;
      background-color: $darkModePrimary;
      color: $darkModePrimary;
    }

    .modal-content {
      border-radius: 0;
    }

    .modal-header {
      background-color: $modalBackground;
      border-bottom: none;
      border-radius: 0 !important;

      .close {
        color: $darkModePrimary;
        opacity: 1 !important;
        text-shadow: none;
      }
    }

    .modal-title {
      color: $darkModePrimary;
    }

    .modal-body {
      background-color: $modalBackground;
      color: #ffffff;
    }

    .modal-footer {
      background-color: $modalBackground;
      border-top: none;
      border-radius: 0 !important;
    }

    .modal-backdrop {
      opacity: 0.8;
    }

    .table {
      color: #ffffff;
    }

    .table-hover tbody tr:hover {
      color: $darkModePrimary !important;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(35, 35, 35, 0.43);
    }

    markdown {
      color: #ffffff; // $secondaryText !important;
    }

    .md-form {
      input {
        color: #ffffff;

        &:focus {
          box-shadow: 0 1px 0 0 $darkModePrimary !important;
          border-bottom: 1px solid $darkModePrimary !important;
          & + label {
            color: $darkModePrimary !important;
          }
        }
      }

      .form-control {
        &:disabled {
          color: #ffffff;
        }
      }

      .grey-text {
        color: $darkModePrimary !important;
      }
    }

    .hb-npm-search {
      color: #999999 !important;
      border-color: #242424 !important;

      &:focus,
      &:hover {
        border: 1px solid #242424 !important;
      }

      &:focus {
        box-shadow: inherit !important;
        color: $darkModePrimary !important;
      }
    }

    .list-group-item {
      background-color: $secondaryBackground;
      color: #ffffff;
      .badge-primary {
        background-color: $darkModePrimary !important;
      }
    }

    .hb-plugin-settings-modal,
    .hb-backup-modal {
      input,
      select {
        border-color: #242424 !important; //$backgroundColor;
        background-color: #242424 !important;
        color: #ffffff;

        &::placeholder {
          color: #bdbdbd;
        }
      }

      input[readonly] {
        color: #717171;
        cursor: not-allowed;
      }

      .list-group-item {
        background-color: $secondaryBackground;

        .close {
          color: $darkModePrimary;
          opacity: 1 !important;
          text-shadow: none;
        }
      }
    }

    .accessory-box {
      background-color: $secondaryBackground;
      color: $secondaryText;
    }

    .switch-on {
      background-color: #fff;
      color: #000000;
    }

    /** Gridster **/
    gridster-item {
      color: #ffffff;
      background-color: #2b2b2b;
    }

    gridster-preview {
      background: rgba(224, 224, 224, 0.5);
    }

    .available-widget {
      background-color: #000000;
    }

    #AccessoriesWidgetComponent {
      border-color: rgba($secondaryBackground, 0.5) !important;
    }

    .hb-widget-chart-background {
      background-color: rgba($darkModePrimary, 0.2);
      display: none;
    }

    .alert-info {
      background-color: rgba($darkModePrimary, 0.1);
      border-color: rgba($darkModePrimary, 0.1);
      color: $darkModePrimary;
    }

    .animate_loader {
      .spinner_outer {
        stroke: $darkModePrimary;
      }
      .spinner_inner {
        stroke: #fff;
      }
    }

    .uix-highlight-icon {
      animation: uix-glow-icon-dark-mode 1s ease-in-out infinite alternate;
    }

    @keyframes uix-glow-icon-dark-mode {
      from {
        text-shadow: 0 0 5px $darkModePrimary, 0 0 10px $darkModePrimary, 0 0 15px $darkModePrimary;
      }
    }
  }
}

@include make-dark-theme("dark-mode", #ffa000, "amber");
@include make-dark-theme("dark-mode-v1", #ffa000, "amber");
@include make-dark-theme("dark-mode-red", #d32f2f, "red");
@include make-dark-theme("dark-mode-pink", #c2185b, "pink");
@include make-dark-theme("dark-mode-purple", #9c27b0, "purple");
@include make-dark-theme("dark-mode-indigo", #3f51b5, "indigo");
@include make-dark-theme("dark-mode-blue", #2196f3, "blue");
@include make-dark-theme("dark-mode-blue-grey", #607d8b, "blue-grey");
@include make-dark-theme("dark-mode-green", #388e3c, "green");
@include make-dark-theme("dark-mode-grey", #9e9e9e, "grey");
@include make-dark-theme("dark-mode-brown", #795548, "brown");
@include make-dark-theme("dark-mode-teal", #009688, "teal");
@include make-dark-theme("dark-mode-cyan", #00838f, "cyan");
