@mixin make-dark-theme($name, $darkModePrimary, $baseBtn) {
  .config-ui-x-#{$name} {
    $backgroundColor: #000000;
    $secondaryBackground: #2b2b2b;
    $secondaryText: #9e9e9e;

    $modalBackground: #242424;

    background-color: $backgroundColor;

    pre {
      background-color: #2b2b2b;
      color: #cdcdcd;
      text-align: left;
      padding: 15px !important;
      border-radius: 10px;
    }

    .bg-primary {
      background-color: #242424 !important;
    }

    .sidebar {
      background: #111111;
      color: #6d6e7e;

      .header {
        background: #111111;
      }

      .link-wrapper {
        .link {
          .link-row {
            &:hover {
              background: #000000;

              .title {
                color: white;
              }
            }

            &.active {
              i {
                color: $darkModePrimary;
              }
            }

            .title {
              color: #6d6e7e;
            }
          }
        }
      }
    }

    .m-header {
      background: #111111;
    }

    .custom-select {
      background: #333333
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        right 0.75rem center/8px 10px no-repeat !important;
      color: #eeeeee !important;
      border: 0 !important;
    }

    .container-fluid .form-control,
    .setup2fa .form-control,
    .custom-input {
      background-color: #333333 !important;
      border: none !important;
      color: #eeeeee !important;
    }

    .form-control::placeholder {
      color: #636363 !important;
      opacity: 1 !important;
    }

    .hb-plain-text-editor {
      background-color: #333333 !important;
      color: #eeeeee !important;
    }

    .navbar-dark {
      background-color: #0f0f0f !important;
      border-bottom: #0f0f0f;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    .hb-npm-search {
      border: 0 !important;
      background-color: #111111 !important;
    }

    .dropdown-menu {
      background-color: #222222;
    }

    .dropdown-divider {
      border-top: 1px solid #444444;
    }

    .navbar .dropdown-menu a:not(.active) {
      color: #eeeeee;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: #444444;
    }

    .dropdown-item,
    .dropdown-item:hover {
      color: #eeeeee;
    }

    .primary-text {
      color: $darkModePrimary;
    }

    .dark-mode-highlight {
      color: $darkModePrimary !important;
      opacity: 1 !important;
    }

    .hb-uix-switch input:checked ~ .hb-uix-slider {
      background-color: $darkModePrimary;
    }

    .rendux-label {
      background: #898989 !important;
      border-color: #898989 !important;
    }

    .rendux-input:checked + label {
      background: $darkModePrimary !important;
      border-color: $darkModePrimary !important;
    }

    .btn-primary,
    .btn-default {
      @extend .btn-#{$baseBtn} !optional;
    }

    .bg-yellow {
      background-color: $darkModePrimary !important;
    }

    .btn-link {
      color: #9e9e9e !important;
    }

    .badge-primary {
      background-color: #2b2b2b !important;
    }

    .card {
      color: #ffffff;
      background-color: $secondaryBackground !important;
    }

    .card-text-defined {
      color: #ffffff;
    }

    .login-card {
      background-color: rgba($secondaryBackground, 0.97) !important;
    }

    .nav-tabs {
      border-bottom: 1px solid $darkModePrimary;

      .nav-link {
        &.active {
          color: #ffffff;
          background-color: $darkModePrimary;
          border-color: $darkModePrimary;
        }

        @media (hover: hover) {
          &:hover {
            border-color: $darkModePrimary !important;
          }
        }

        &:focus {
          border-color: $darkModePrimary !important;
        }
      }
    }

    .alert {
      color: #eeeeee;
      background-color: #2b2b2b;
      box-shadow: 0 0 1px #444444;
      border: none;

      a {
        color: $darkModePrimary;
      }
    }

    .alert-info {
      box-shadow: 0 0 1px $darkModePrimary;
    }

    .alert-success {
      box-shadow: 0 0 1px #388e3c;
    }

    .alert-warning {
      box-shadow: 0 0 1px #ffa000;
    }

    .alert-error {
      box-shadow: 0 0 1px #d32f2f;
    }

    .qr-code-container {
      background-color: $secondaryBackground;

      svg {
        fill: $darkModePrimary;
      }
    }

    .qr-code-theme-color {
      stroke: $darkModePrimary !important;
    }

    a {
      &.card-link {
        color: #9e9e9e;

        @media (hover: hover) {
          &:hover {
            color: $darkModePrimary !important;
          }
        }
      }

      color: $darkModePrimary;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .icon-button {
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          color: $darkModePrimary !important;
        }
      }
    }

    hr {
      border-color: $darkModePrimary;
      background-color: $darkModePrimary;
      color: $darkModePrimary;
    }

    .modal-header {
      background-color: $modalBackground;
      border-bottom: 0;

      .close {
        color: $darkModePrimary;
        opacity: 1 !important;
        text-shadow: none;
      }
    }

    .modal-title {
      color: $darkModePrimary;
    }

    .modal-body {
      background-color: $modalBackground;
      color: #ffffff;
    }

    .modal-footer {
      background-color: $modalBackground;
      border-top: 0;
    }

    .modal-backdrop {
      opacity: 0.8;
    }

    .table {
      color: #ffffff;
    }

    .table-hover tbody tr:hover {
      @media (hover: hover) {
        color: $darkModePrimary !important;
      }
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(35, 35, 35, 0.43);
    }

    markdown {
      color: #ffffff; // $secondaryText !important;
    }

    .md-form {
      input {
        color: #ffffff;

        &:focus {
          box-shadow: 0 1px 0 0 $darkModePrimary !important;
          border-bottom: 1px solid $darkModePrimary !important;

          & + label {
            color: $darkModePrimary !important;
          }
        }
      }

      .form-control {
        &:disabled {
          color: #ffffff;
        }
      }

      .grey-text {
        color: $darkModePrimary !important;
      }
    }

    .hb-npm-search {
      color: #999999 !important;
      border-color: #242424 !important;

      @media (hover: hover) {
        &:hover {
          border: 1px solid #242424 !important;
        }
      }

      &:focus {
        border: 1px solid #242424 !important;
        box-shadow: inherit !important;
        color: $darkModePrimary !important;
      }
    }

    .list-group-item {
      background-color: $secondaryBackground;
      color: #ffffff;

      .badge-primary {
        background-color: $darkModePrimary !important;
      }
    }

    .hb-plugin-settings-modal {
      input,
      select {
        border-color: #242424 !important; //$backgroundColor;
        background-color: #242424 !important;
        color: #ffffff;

        &::placeholder {
          color: #bdbdbd;
        }
      }

      input[readonly] {
        color: #717171;
        cursor: not-allowed;
      }

      .list-group-item {
        background-color: $secondaryBackground;

        .close {
          color: $darkModePrimary;
          opacity: 1 !important;
          text-shadow: none;
        }
      }
    }

    .accessory-box {
      background-color: $secondaryBackground;
      color: $secondaryText;
    }

    .switch-on,
    .light-on,
    .window-on {
      background-color: #fff;
      color: #000000;
    }

    /** Gridster **/
    gridster-item {
      color: #ffffff;
      background-color: #2b2b2b;
    }

    gridster-preview {
      background: rgba(224, 224, 224, 0.5);
    }

    #AccessoriesWidgetComponent {
      border-color: rgba($secondaryBackground, 0.5) !important;
    }

    .hb-widget-chart-background {
      background-color: rgba($darkModePrimary, 0.2);
      display: none;
    }

    .animate_loader {
      .spinner_outer {
        stroke: $darkModePrimary;
      }

      .spinner_inner {
        stroke: #fff;
      }
    }

    .login-container {
      background-color: #000000 !important;
    }

    @keyframes uix-glow-icon-dark-mode {
      from {
        text-shadow:
          0 0 5px $darkModePrimary,
          0 0 10px $darkModePrimary,
          0 0 15px $darkModePrimary;
      }
    }

    .plugin-icon-card {
      width: 70px;
      height: 70px;
      border-radius: 15px;
      border: 1px solid #222222;
    }

    @media (max-width: 991px) {
      .plugin-icon-card {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@include make-dark-theme('dark-mode-orange', #ffa000, 'orange');
@include make-dark-theme('dark-mode-red', #d32f2f, 'red');
@include make-dark-theme('dark-mode-pink', #c2185b, 'pink');
@include make-dark-theme('dark-mode-purple', #9c27b0, 'purple');
@include make-dark-theme('dark-mode-deep-purple', #673ab7, 'deep-purple');
@include make-dark-theme('dark-mode-indigo', #3f51b5, 'indigo');
@include make-dark-theme('dark-mode-blue', #2196f3, 'blue');
@include make-dark-theme('dark-mode-blue-grey', #607d8b, 'blue-grey');
@include make-dark-theme('dark-mode-cyan', #00838f, 'cyan');
@include make-dark-theme('dark-mode-green', #388e3c, 'green');
@include make-dark-theme('dark-mode-teal', #009688, 'teal');
@include make-dark-theme('dark-mode-grey', #9e9e9e, 'grey');
@include make-dark-theme('dark-mode-brown', #795548, 'brown');
