<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'plugins.settings.title_settings' | translate }}: {{ plugin.displayName || plugin.name }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.close()"
      [disabled]="saveInProgress"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngIf="loading" class="text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    <div *ngIf="!loading && !canConfigure">
      <div class="alert alert-warning">
        {{ 'plugins.settings.message_manual_config_required' | translate }} {{
        'plugins.settings.message_consult_documentation' | translate }}
      </div>
    </div>

    <!-- MULTIPLE CONFIG BLOCKS-->
    <div ngbAccordion [closeOthers]="true" *ngIf="!loading && canConfigure">
      <div
        [ngbAccordionItem]="'configBlock.' + $index"
        class="card"
        [collapsed]="show !== 'configBlock.' + $index"
        [id]="'configBlock.' + $index"
        *ngFor="let block of pluginConfig; let $index = index"
      >
        <div ngbAccordionHeader class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ block.name || pluginAlias }}</h5>
            <div>
              <button
                *ngIf="show === 'configBlock.' + $index"
                class="btn btn-danger ms-2"
                (click)="removeBlock($index)"
                [ngbTooltip]="'form.button_delete' | translate"
                container="body"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-trash"></i>
              </button>
              <button
                class="btn btn-primary ms-2"
                ngbAccordionButton
                (click)="editBlock($index)"
                [ngbTooltip]="'form.button_edit' | translate"
                container="body"
                openDelay="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="card-body p-0" style="height: 400px">
            <ngx-monaco-editor
              class="flex-grow-1 h-100 w-100 mb-0 pb-0"
              [options]="editorOptions"
              [(ngModel)]="currentBlock"
              (onInit)="onEditorInit($event)"
            >
            </ngx-monaco-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.close()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-elegant me-2"
        data-bs-dismiss="modal"
        (click)="addBlock()"
        *ngIf="canConfigure"
      >
        <i class="fa fa-fw fa-plus"></i>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="save()"
        [disabled]="saveInProgress"
        *ngIf="canConfigure"
      >
        <span *ngIf="!saveInProgress">{{ 'form.button_save' | translate }}</span>
        <i *ngIf="saveInProgress" class="fas fa-fw fa-spinner fa-pulse"></i>
      </button>
      <button class="btn btn-primary" (click)="openFullConfigEditor()" *ngIf="!canConfigure">
        {{ 'plugins.settings.label_open_config_editor' | translate }}
      </button>
    </div>
  </div>
</div>
