<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="closeModal()"
      [disabled]="saveInProgress"
    ></button>
  </div>
  <div class="modal-body pb-0">
    @if (loading) {
    <div class="text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading && !canConfigure) {
    <div class="alert alert-warning mb-0">
      {{ 'plugins.settings.message_manual_config_required' | translate }} {{
      'plugins.settings.message_consult_documentation' | translate }}
    </div>
    }

    <!-- MULTIPLE CONFIG BLOCKS-->
    @if (!loading && canConfigure) {
    <div ngbAccordion [closeOthers]="true">
      @for (block of pluginConfig; track block) {
      <div
        [ngbAccordionItem]="'configBlock.' + $index"
        class="card"
        [collapsed]="show !== 'configBlock.' + $index"
        [id]="'configBlock.' + $index"
      >
        <div ngbAccordionHeader class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{ block.name || pluginAlias }}</h5>
            <div>
              @if (show === 'configBlock.' + $index) { @if (!schema?.singular || pluginConfig.length > 1) {
              <button
                class="btn btn-danger m-0 ms-3"
                (click)="removeBlock($index)"
                [ngbTooltip]="'form.button_delete' | translate"
                container="modal"
                [openDelay]="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-trash"></i>
              </button>
              } }
              <button
                class="btn btn-primary m-0 ms-2"
                ngbAccordionToggle
                (click)="editBlock($index)"
                [ngbTooltip]="'form.button_edit' | translate"
                container="modal"
                [openDelay]="150"
                triggers="hover"
              >
                <i class="fa fa-fw fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="card-body p-0" style="height: 400px">
            <ngx-monaco-editor
              class="flex-grow-1 h-100 w-100 mb-0 pb-0"
              [options]="editorOptions"
              [(ngModel)]="currentBlock"
              (onInit)="onEditorInit($event)"
            >
            </ngx-monaco-editor>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="closeModal()"
        [disabled]="saveInProgress"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      @if (canConfigure) { @if (!schema?.singular) {
      <button type="button" class="btn btn-elegant me-2" data-bs-dismiss="modal" (click)="addBlock()">
        <i class="fa fa-fw fa-plus"></i>
      </button>
      }
      <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="save()"
        [disabled]="saveInProgress"
      >
        @if (!saveInProgress) { {{ 'form.button_save' | translate }} } @if (saveInProgress) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
      </button>
      } @if (!canConfigure) {
      <button class="btn btn-primary" (click)="openFullConfigEditor()">
        {{ 'plugins.settings.label_open_config_editor' | translate }}
      </button>
      }
    </div>
  </div>
</div>
