<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [translate]="'reset.title_clear_cached_accessories_single'">
      Remove Single Cached Accessory
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Dismiss')"></button>
  </div>
  <div class="modal-body">
    <ngb-alert type="info" [dismissible]="false">
      {{ 'reset.message_remove_cached_accessories_single_warning' | translate }}
    </ngb-alert>

    <ul class="list-group mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let item of cachedAccessories">
        <span>
          {{ item.displayName }} ({{ item.plugin }})
          <br>
          <p class="small grey-text m-0">Cache UUID: {{ item.UUID }}</p>
          <p class="small grey-text m-0">Accessory UUID: {{ item.services[0].UUID }}</p>
        </span>
        <button class="btn btn-danger ml-3" (click)="removeAccessory(item)" [disabled]="deleting"><i class="fas"
            [ngClass]="{'fa-trash': item.UUID !== deleting, 'fa-cog fa-spin': item.UUID === deleting}"></i></button>
      </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
