<div class="modal-content">
  <form>
    <div class="modal-header">
      <h5 class="modal-title">{{ 'accessories.button_add_room' | translate }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
        (click)="activeModal.dismiss('Dismiss')"></button>
    </div>
    <div class="modal-body">
      <div class="alert" role="alert">
        {{ 'accessories.message_rooms_not_appear_in_homekit' | translate }}
      </div>
      <div class="md-form">
        <input type="text" id="form-name" autofocus class="form-control px-0" [(ngModel)]="roomName"
          [ngModelOptions]="{standalone: true}" (keyup.enter)="activeModal.close(roomName)">
        <label for="form-name">
          <i class="fas fa-fw fa-home"></i> {{ 'accessories.label_room_name' | translate }}
        </label>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="text-start">
        <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
          {{ 'form.button_close' | translate }}
        </button>
      </div>
      <div class="text-center"></div>
      <div class="text-end">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="activeModal.close(roomName)">
          {{ 'form.button_save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
