.available-widget {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;

  &:hover {
    .add-widget-label {
      font-weight: 500;
    }
  }
}

.add-widget-label {
  font-size: 20px;
}