<div class="modal-content" style="min-height: 400px;">
  <div class="modal-header">
    <h5 class="modal-title" [translate]="'status.widget.label_add_widget'">Add Widget</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Dismiss')">

    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-wrap">
      <div class="available-widget d-flex" *ngFor="let widget of availableWidgets" (click)="selectWidget(widget)">
        <span class="align-self-center text-center w-100 add-widget-label primary-text">{{ widget.name }}</span>
      </div>
    </div>

    <div *ngIf="!availableWidgets.length" class="text-center">
      <h4>{{ 'status.widget.label_no_additional_widgets' | translate }}</h4>
    </div>

  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="doResetLayout()">
        {{ 'form.button_reset' | translate }}
      </button>
    </div>
  </div>
</div>
