<div class="modal-content">
  <form [formGroup]="roomForm" (ngSubmit)="closeModal()">
    <div class="modal-header">
      <h5 class="modal-title">{{ 'accessories.button_add_room' | translate }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-hidden="true"
        tabindex="-1"
        (click)="dismissModal()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="text-center mb-4">
        <i class="fas fa-folder-plus primary-text icon-xl"></i>
      </div>
      <ul class="list-group list-group-box mb-0">
        <li class="list-group-item d-flex flex-column flex-md-row align-items-center">
          <span class="mb-2 mb-md-0 w-100 w-md-50" aria-hidden="true">
            {{ 'accessories.room_name' | translate }}<app-required-indicator />
          </span>
          <div class="text-start text-md-end w-100 w-md-50">
            <input
              id="form-name"
              autocomplete="off"
              type="text"
              class="form-control custom-input"
              formControlName="roomName"
              [attr.aria-label]="'accessories.room_name' | translate"
              [class.is-invalid]="roomForm.controls.roomName.touched && roomForm.controls.roomName.invalid"
            />
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-row pb-2">
          <span class="text-start">
            {{ 'accessories.control.default_room' | translate }}<app-required-indicator />
          </span>
          <div class="text-end grey-text d-flex align-items-center">
            <input
              id="form-default"
              type="checkbox"
              class="rendux-input mb-0"
              formControlName="isDefault"
              [disabled]="noExistingRooms"
              [attr.aria-label]="'accessories.control.default_room' | translate"
              (keyup.enter)="closeModal()"
            />
            <label for="form-default" class="rendux-label ms-3"></label>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="text-start">
        <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="dismissModal()">
          {{ 'form.button_close' | translate }}
        </button>
      </div>
      <div class="text-center"></div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="roomForm.invalid">
          {{ 'form.button_save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
