.plugin-modal-body {
  max-height: 60vh;
  overflow: auto;
}


::ng-deep .plugin-md {
  font-size: 0.95rem;

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.0rem;
    font-weight: 400;
  }

  h4 {
    font-size: 0.75rem;
    font-weight: 400;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
}