<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ presentTenseVerb }}: {{ pluginName }}</h5>
    <button type="button" class="close" data-dismiss="modal" [attr.aria-label]="'form.button_close' | translate" (click)="activeModal.dismiss('Dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [hidden]="!onlineUpdateOk || actionComplete || showReleaseNotes" id="plugin-log-output" class="modal-body"></div>
  <div *ngIf="actionComplete" class="modal-body plugin-modal-body">
    <div *ngIf="justUpdatedPlugin && !isDisabled">
      <h3 class="text-center primary-text" [translate]="'platform.version.title_service_restart_required'">
        Restart Required
      </h3>
      <p class="text-center grey-text" translate="plugins.manage.message_thanks_for_updating"
        [translateParams]="{ pluginName: pluginName, targetVersion: targetVersion }"></p>
      <p *ngIf="['homebridge', 'homebridge-config-ui-x'].includes(pluginName) || childBridges.length === 0" class="text-center grey-text"
        [translate]="'plugins.manage.message_thanks_for_updating_restart'">
        Please restart Homebridge for the changes to apply.
      </p>
      <p *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(pluginName) && childBridges.length > 0" class="text-center grey-text"
        [translate]="'plugins.manage.message_thanks_for_updating_restart_child_bridges'">
        Please restart the plugin's child bridges for the changes to apply.
      </p>
    </div>
    <div class="alert show alert-info pt-3 px-3 pb-0 mb-0" *ngIf="changeLog">
      <markdown class="plugin-md" [data]="changeLog" style="word-wrap: break-word;"></markdown>
    </div>
  </div>
  <div *ngIf="!onlineUpdateOk" class="modal-body">
    <h4 class="primary-text text-center" [translate]="'plugins.manage.label_manual_update_required'">
      Manual Update Required
    </h4>
    <p [translate]="'plugins.manage.label_online_updates_not_supported_on_windows'">
      Online updates are not supported on Windows. You will need to upgrade Homebridge
      manually after stopping the Homebridge service.
    </p>
    <div *ngIf="$settings.env.serviceMode">
      <p>
        To upgrade the package run open a <strong>Node.js command prompt as an Administrator</strong> and run the
        following commands:
      </p>
      <pre class="p-2" style="background-color: #efefef;">hb-service stop
npm install -g {{ pluginName }}&#64;{{targetVersion}}
hb-service start</pre>
    </div>
  </div>
  <div *ngIf="showReleaseNotes && !actionComplete" class="modal-body plugin-modal-body">
    <div class="alert alert-info text-center" *ngIf="release.name || latestVersion">
      <h5 class="mb-0">
        <span *ngIf="installedVersion">v{{ installedVersion }} &rarr; </span>
        <span *ngIf="release.name">{{ release.name }}</span>
        <span *ngIf="!release.name">v{{ latestVersion }}</span>
      </h5>
    </div>
    <h5>{{ 'plugins.manage.label_release_notes' | translate }}</h5>
    <div class="alert show alert-info pt-3 px-3 pb-0 mb-0" style="word-wrap: break-word;">
      <markdown class="plugin-md" [data]="release.changelog"></markdown>
    </div>
  </div>
  <div class="modal-footer justify-content-between" *ngIf="!onlineUpdateOk || actionComplete || showReleaseNotes || actionFailed">
    <div class="text-left">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate" *ngIf="!justUpdatedPlugin || (justUpdatedPlugin && (!isDisabled || actionFailed))">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate" *ngIf="justUpdatedPlugin && isDisabled && !actionFailed">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-right">
      <button *ngIf="onlineUpdateOk && showReleaseNotes" type="button" class="btn btn-primary" (click)="update()">
        {{ 'plugins.button_update' | translate }}
      </button>
      <button type="button" class="btn btn-primary" *ngIf="justUpdatedPlugin && !isDisabled && !['homebridge', 'homebridge-config-ui-x'].includes(pluginName) && childBridges.length > 0"
        (click)="onRestartChildBridgeClick()">
        {{ (childBridges.length === 1 ? 'plugins.manage.child_bridge_button_restart_now_one' : 'plugins.manage.child_bridge_button_restart_now') | translate }}
      </button>
      <button type="button" class="btn btn-primary" *ngIf="justUpdatedPlugin && !isDisabled && (['homebridge', 'homebridge-config-ui-x'].includes(pluginName) || childBridges.length === 0)"
        (click)="onRestartHomebridgeClick()">
        {{ 'plugins.manage.button_restart_now' | translate }}
      </button>
      <button *ngIf="actionFailed" class="btn btn-primary" (click)="downloadLogFile()">
        {{ 'logs.label_download' | translate }}
      </button>
    </div>
  </div>
</div>
