<div class="modal-content setup2fa">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'users.setup_2fa' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="timeDiffError" class="text-center">
      <h3>{{ 'users.setup_2fa_cannot_setup_2fa' | translate }}</h3>
      <p>{{ 'users.setup_2fa_server_time_out' | translate: {timeDiffError: timeDiffError} }}</p>
    </div>

    <ngb-alert type="warning" [dismissible]="false"> {{ 'users.setup_2fa_warning' | translate }} </ngb-alert>

    <div *ngIf="!timeDiffError">
      <p>{{ 'users.setup_2fa_scan_qr_code' | translate }}</p>
    </div>

    <div class="text-center w-100 d-flex justify-content-center">
      <app-qrcode [data]="otpString" class="mx-auto my-2" style="width: 180px; height: 180px"></app-qrcode>
    </div>

    <div *ngIf="!timeDiffError" class="mt-4">
      <p>{{ 'users.setup_2fa_enter_code' | translate }}</p>

      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="eg. 123456"
          [formControl]="formGroup.controls['code']"
          autocomplete="one-time-code"
          autocapitalize="none"
          inputmode="numeric"
          pattern="[0-9]*"
        />
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="enable2fa()"
        *ngIf="!timeDiffError"
        [disabled]="formGroup.invalid"
      >
        {{ 'form.button_enable' | translate }}
      </button>
    </div>
  </div>
</div>
