<div class="modal-content">
  <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title">{{ 'users.title_add_user' | translate }}</h5>
      <button type="button" class="close" data-dismiss="modal" [attr.aria-label]="'form.button_close' | translate" (click)="activeModal.dismiss('Dismiss')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="md-form">
        <i class="fas fa-fw fa-user-shield prefix grey-text"></i>
        <input formControlName="username" [attr.disabled]="(page.title === 'users.title_edit_user') ? true : null"
          type="text" id="form-username" autocomplete="username" autocapitalize="none" class="form-control pl-0 pr-0">
        <label for="form-username" [ngClass]="{'active': page.title === 'users.title_edit_user'}"
          [translate]="'users.label_username'">Username</label>
      </div>
      <div class="md-form">
        <i class="fas fa-fw fa-user prefix grey-text"></i>
        <input formControlName="name" type="text" id="form-name" autocomplete="name" class="form-control pl-0 pr-0">
        <label for="form-name" [ngClass]="{'active': page.title === 'users.title_edit_user'}"
          [translate]="'users.label_full_name'">Full Name</label>
      </div>
      <div class="md-form">
        <i class="fas fa-fw fa-lock prefix grey-text"></i>
        <input formControlName="password" type="password" autocomplete="new-password" id="form-pass"
          class="form-control pl-0 pr-0" [ngClass]="{
            'is-invalid': form.controls.password.dirty && form.controls.password.errors
          }">
        <label for="form-pass" [innerText]="page.password | translate"></label>
      </div>
      <div class="md-form" style="margin-left: 38px;">
        <input formControlName="passwordConfirm" type="password" autocomplete="new-password" id="form-pass-confirm"
          class="form-control pl-0 pr-0" [ngClass]="{
            'is-invalid': form.controls.passwordConfirm.dirty && form.controls.passwordConfirm.errors
          }">
        <label for="form-pass-confirm" [translate]="'users.label_confirm_password'"></label>
      </div>
      <div class="form-check text-center">
        <input formControlName="admin" type="checkbox" class="form-check-input" id="isAdmin">
        <label class="form-check-label" for="isAdmin" [translate]="'users.label_admin_user'">Admin User?</label>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="text-left">
        <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
          {{ 'form.button_close' | translate }}
        </button>
      </div>
      <div class="text-center"></div>
      <div class="text-right">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          {{ 'form.button_save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
