::ng-deep body {
  background-color: #4a266c !important;
  overflow: scroll !important;
}

.login-container {
  background-size: cover;
  z-index: -1;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 100%;
}

.login-card {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 1rem;

  .form-control:focus {
    background-color: inherit !important;
  }

  @media screen and (min-height: 800px) {
    margin-bottom: 12em;
  }
}

.homebridge-logo {
  height: 125px;
  padding-bottom: 10px;
}

.btn-primary {
  background-color: #4a266c !important;
  border-color: #4a266c !important;
}
