<div
  class="login-container d-flex align-items-center justify-content-center"
  [ngStyle]="{'background': backgroundStyle}"
>
  <div class="card card-body mx-2 login-card">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <p class="h4 text-center mb-4">Homebridge</p>

      @if (!twoFactorCodeRequired) {
      <div>
        <div class="md-form">
          <i class="fas fa-fw fa-user prefix grey-text"></i>
          <input
            #username
            formControlName="username"
            type="text"
            id="form-username"
            autofocus
            autocomplete="username"
            autocapitalize="none"
            tabindex="1"
            class="form-control px-0"
            [ngClass]="{
            'is-invalid': form.controls.username.dirty && form.controls.username.errors
          }"
          />
          <label for="form-username">{{ 'login.label_username' | translate }}</label>
        </div>
        <div class="md-form">
          <i class="fas fa-fw fa-lock prefix grey-text"></i>
          <input
            #password
            formControlName="password"
            type="password"
            id="form-pass"
            autocomplete="current-password"
            tabindex="2"
            class="form-control px-0"
            [ngClass]="{
            'is-invalid': form.controls.password.dirty && form.controls.password.errors
          }"
          />
          <label for="form-pass">{{ 'login.label_password' | translate }}</label>
        </div>
      </div>
      } @if (twoFactorCodeRequired) {
      <div>
        <p class="text-center">{{ 'users.setup_2fa_enter_code' | translate }}</p>
        <div class="md-form">
          <i class="fas fa-fw fa-key prefix grey-text"></i>
          <input
            #otp
            formControlName="otp"
            type="text"
            id="form-ota"
            autocomplete="one-time-code"
            autocapitalize="none"
            inputmode="numeric"
            pattern="[0-9]*"
            tabindex="1"
            class="form-control px-0"
            [ngClass]="{
              'is-invalid': form.controls.otp.dirty && form.controls.otp.errors
            }"
          />
          <label for="form-ota">{{ 'login.label_2fa_code' | translate }}</label>
        </div>
      </div>
      }

      <div class="text-center">
        @if (invalidCredentials) {
        <p class="red-text"><small>{{ 'login.invalid_credentials' | translate }}</small></p>
        } @if (invalid2faCode) {
        <p class="red-text"><small>{{ 'login.message_invalid_2fa_code' | translate }}</small></p>
        }
        <button tabindex="3" class="btn btn-primary" type="submit" [disabled]="form.invalid">
          {{ 'login.button_login' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
