::ng-deep body {
  overflow: scroll !important;
}

.login-container {
  background-size: cover;
  z-index: -1;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 100%;
  background: linear-gradient(-45deg, #ffa000, #4a266c, #2196f3, #c2185b);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}

.login-card {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 1rem;

  .form-control:focus {
    background-color: inherit !important;
  }

  @media screen and (min-height: 800px) {
    margin-bottom: 12em;
  }
}

.homebridge-logo {
  padding-bottom: 10px;
}

.btn-primary {
  background-color: #4a266c !important;
  border-color: #4a266c !important;
}
