<div class="login-container d-flex align-items-center justify-content-center"
  [ngStyle]="{'background': backgroundStyle}">
  <div class="card card-body mx-2 login-card">
    <img class="homebridge-logo mx-auto my-3" src="/assets/homebridge-color-round.svg" alt="Homebridge Logo">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <h3 class="mb-4 text-center">{{ 'setup_wizard.welcome_to_homebridge' | translate }}</h3>
      <div *ngIf="!twoFactorCodeRequired">
        <div class="input-group mb-4">
          <span class="input-group-text custom-input"><i class="fas fa-fw fa-user primary-text fa-lg"></i></span>
          <input #username formControlName="username" type="text" id="form-username" autofocus autocomplete="username"
            autocapitalize="none" tabindex="1" class="form-control custom-input" [ngClass]="{
            'is-invalid': form.controls.username.dirty && form.controls.username.errors
          }" placeholder="{{ 'login.label_username' | translate }}" required>
        </div>
        <div class="input-group mb-4">
          <span class="input-group-text custom-input"><i class="fas fa-fw fa-lock primary-text fa-lg"></i></span>
          <input #password formControlName="password" type="password" id="form-pass" autocomplete="current-password"
            tabindex="2" class="form-control custom-input" [ngClass]="{
            'is-invalid': form.controls.password.dirty && form.controls.password.errors
          }" placeholder="{{ 'login.label_password' | translate }}" required>
        </div>
      </div>
      <div *ngIf="twoFactorCodeRequired">
        <div class="input-group mb-4">
          <span class="input-group-text custom-input"><i class="fas fa-fw fa-key primary-text fa-lg"></i></span>
          <input #otp formControlName="otp" type="text" id="form-ota" autofocus autocomplete="one-time-code"
            autocapitalize="none" inputmode="numeric" pattern="[0-9]*" tabindex="1" class="form-control custom-input"
            placeholder="{{ 'login.label_2fa_code' | translate }}">
        </div>
      </div>
      <div class="alert alert-error p-2 mb-4" role="alert" *ngIf="invalidCredentials">
        <small>{{ 'login.message_invalid_username_or_password' | translate }}</small>
      </div>
      <div class="alert alert-error p-2 mb-4" role="alert" *ngIf="invalid2faCode">
        <small>{{ 'login.message_invalid_2fa_code' | translate }}</small>
      </div>
      <div class="text-center">
        <button tabindex="3" class="btn btn-primary mb-4" type="submit" [disabled]="form.invalid">
          {{ 'login.button_login' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
