<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'reset.bridge_all.title' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      [disabled]="clicked()"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-4"><i class="fas fa-bridge primary-text icon-xl"></i></div>
    <ul [class.opacity-muted]="confirmMode()" [class.mb-0]="!confirmMode()" [class.mb-4]="confirmMode()">
      <li>{{ 'reset.bridge_all.list_1' | translate }}</li>
      <li>{{ 'reset.bridge_all.list_2' | translate }}</li>
      <li>{{ 'reset.bridge_all.list_3' | translate }}</li>
      <li>{{ 'reset.bridge_all.list_4' | translate }}</li>
    </ul>
    @if (confirmMode()) {
      <div class="alert alert-warning mb-0">
        <div class="text-center">
          {{ 'reset.action_is_irreversible' | translate }}
        </div>
      </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_close' | translate"
        [disabled]="clicked()"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      @if (confirmMode()) {
        <button type="button" class="btn btn-elegant me-2" [disabled]="clicked()" (click)="toggleConfirmMode($event)">
          <i class="fas fa-undo"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          [disabled]="clicked()"
          (click)="onResetHomebridgeAccessoryClick()"
        >
          @if (!clicked()) {
            {{ 'form.button_reset' | translate }}
          } @else {
            <i class="fas fa-circle-notch fa-spin"></i>
          }
        </button>
      } @else {
        <button type="button" class="btn btn-primary" (click)="toggleConfirmMode($event)">
          {{ 'form.button_continue' | translate }}
        </button>
      }
    </div>
  </div>
</div>
