<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'child_bridge.reset_accessories' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    @if (pairings.length === 0) {
    <div class="text-center">
      <i class="fas fa-fw fa-circle-check mb-4 primary-text" style="font-size: 75px"></i>
      <p class="mb-0">{{ 'reset.clear_cache_bridge.empty' | translate }}</p>
    </div>
    } @if (pairings.length > 0) {
    <div>
      <div class="text-center mb-4"><i class="fas fa-fw fa-broom primary-text" style="font-size: 75px"></i></div>
      <ngb-alert type="warning" [dismissible]="false">
        <ul class="mb-0 text-left">
          <li>{{ 'reset.clear_cache_bridge.list_1' | translate }}</li>
          <li>{{ 'reset.clear_cache_single.list_3' | translate }}</li>
          <li>{{ 'child_bridge.reset_accessories_list' | translate }}</li>
        </ul>
      </ngb-alert>
      <ul class="list-group list-group-box mt-2">
        @for (item of pairings; track item) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            {{ item.displayName }} ({{ item._main ? 'Homebridge' : (item._category | titlecase) }})
            <br />
            <small class="grey-text">{{ item._username }}</small>
          </span>
          <button
            class="btn btn-danger"
            (click)="removeAccessories(item._id)"
            [disabled]="deleting || deleted.includes(item._id)"
          >
            <i
              class="fas fa-fw"
              [ngClass]="{'fa-broom': item._id !== deleting, 'fa-cog fa-spin': item._id === deleting}"
            ></i>
          </button>
        </li>
        }
      </ul>
    </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-right"></div>
  </div>
</div>
