<app-spinner *ngIf="!error"></app-spinner>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="primary-text"><i class="fab fa-docker"></i></h1>
    <h3 class="primary-text" [translate]="'platform.docker.restart_container.title_restarting'">Restarting Docker Container</h3>
    <p class="grey-text" *ngIf="!timeout && !error" [translate]="'restart.message_please_wait_while_server_restarts'">Please wait, this page will automatically redirect when the Homebridge is back online.</p>
    <p class="grey-text" *ngIf="error">{{ error }}</p>
    <div *ngIf="timeout">
      <p class="grey-text" [translate]="'platform.docker.restart_container.message_server_taking_long_time_to_restart'">Server restart is taking a long time. You may need to bring up the Docker container manually.</p>
      <p class="primary-text" [innerHTML]="'platform.docker.restart_container.message_run_with_restart_always' | translate">Make sure you're running the Docker container with <strong>--restart=always</strong></p>
    </div>
  </div>
</div>
