<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'reset.bridge_ind.title' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
      [disabled]="clicked"
    ></button>
  </div>
  <div class="modal-body">
    @if (pairingsChildActive.length === 0 && pairingsChildStale.length === 0 && pairingsNonChild.length === 0) {
    <div class="text-center mb-3">
      <i class="fas fa-fw fa-circle-check primary-text" style="font-size: 75px"></i>
    </div>
    <p class="text-center mb-0">{{ 'reset.bridges.empty' | translate }}</p>
    } @if (pairingsChildActive.length > 0 || pairingsChildStale.length > 0 || pairingsNonChild.length > 0) {
    <div class="text-center mb-3"><i class="fas fa-fw fa-bridge primary-text" style="font-size: 75px"></i></div>
    @if (pairingsNonChild.length > 0) {
    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item">
        <h6 class="mb-1 text-center">{{ 'reset.bridge_ind.head_non_child' | translate }}</h6>
        <p class="mb-0 small grey-text text-center">{{ 'reset.bridge_ind.desc_non_child' | translate }}</p>
      </li>
      @for (item of pairingsNonChild; track item) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          {{ item.name }}
          <br />
          <small class="grey-text">
            <i
              class="fas fa-fw fa-link"
              [ngClass]="{
                'green-text': item._isPaired,
                'grey-text': !item._isPaired
              }"
            ></i>
            {{ (item._isPaired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate }} &middot;
            <span class="font-monospace">{{ item._username }}</span> &middot; {{ item._main ? 'Homebridge' :
            (item._category | titlecase) }}
          </small>
        </span>
        <button
          class="btn btn-danger m-0 ms-3"
          (click)="toggleList(item._id, false)"
          [disabled]="clicked"
          [ngClass]="{ 'btn-danger': !isInList(item._id), 'btn-elegant': isInList(item._id) }"
          [attr.aria-label]="'form.button_unpair' | translate"
        >
          <i
            class="fas fa-fw"
            [ngClass]="{
              'fa-refresh': !isInList(item._id),
              'fa-undo': isInList(item._id) && !clicked,
              'fa-spinner fa-pulse': isInList(item._id) && clicked,
            }"
          ></i>
        </button>
      </li>
      }
    </ul>
    } @if (pairingsChildActive.length > 0) {
    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item">
        <h6 class="mb-1 text-center">{{ 'reset.bridge_ind.head_child_active' | translate }}</h6>
        <p class="mb-0 small grey-text text-center">{{ 'reset.bridge_ind.desc_child_active' | translate }}</p>
      </li>
      @for (item of pairingsChildActive; track item) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          {{ item.name }}
          <br />
          <small class="grey-text">
            <i
              class="fas fa-fw fa-link"
              [ngClass]="{
                'green-text': item._isPaired,
                'grey-text': !item._isPaired
              }"
            ></i>
            {{ (item._isPaired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate }} &middot;
            <span class="font-monospace">{{ item._username }}</span>
          </small>
        </span>
        <button
          class="btn btn-danger m-0 ms-3"
          (click)="toggleList(item._id, true)"
          [disabled]="clicked"
          [ngClass]="{ 'btn-danger': !isInList(item._id), 'btn-elegant': isInList(item._id) }"
          [attr.aria-label]="'form.button_unpair' | translate"
        >
          <i
            class="fas fa-fw"
            [ngClass]="{
              'fa-refresh': !isInList(item._id),
              'fa-undo': isInList(item._id) && !clicked,
              'fa-spinner fa-pulse': isInList(item._id) && clicked,
            }"
          ></i>
        </button>
      </li>
      }
    </ul>
    } @if (pairingsChildStale.length > 0) {
    <ul class="list-group list-group-box mt-3 mb-0">
      <li class="list-group-item">
        <h6 class="mb-1 text-center">{{ 'reset.bridge_ind.head_child_stale' | translate }}</h6>
        <p class="mb-0 small grey-text text-center">{{ 'reset.bridge_ind.desc_child_stale' | translate }}</p>
      </li>
      @for (item of pairingsChildStale; track item) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          {{ item.name }}
          <br />
          <small class="grey-text">
            <i
              class="fas fa-fw fa-link"
              [ngClass]="{
                'green-text': item._isPaired,
                'grey-text': !item._isPaired
              }"
            ></i>
            {{ (item._isPaired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate }} &middot;
            <span class="font-monospace">{{ item._username }}</span>
          </small>
        </span>
        <button
          class="btn btn-danger m-0 ms-3"
          (click)="toggleList(item._id, false)"
          [disabled]="clicked"
          [ngClass]="{ 'btn-danger': !isInList(item._id), 'btn-elegant': isInList(item._id) }"
          [attr.aria-label]="'form.button_unpair' | translate"
        >
          <i
            class="fas fa-fw"
            [ngClass]="{
              'fa-trash': !isInList(item._id),
              'fa-undo': isInList(item._id) && !clicked,
              'fa-spinner fa-pulse': isInList(item._id) && clicked,
            }"
          ></i>
        </button>
      </li>
      }
    </ul>
    } }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      @if (pairingsChildActive.length > 0 || pairingsChildStale.length > 0 || pairingsNonChild.length > 0) {
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [disabled]="clicked"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-center">
      @if (pairingsChildActive.length === 0 && pairingsChildStale.length === 0 && pairingsNonChild.length === 0) {
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="$activeModal.dismiss('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-end">
      @if (pairingsChildActive.length > 0 || pairingsChildStale.length > 0 || pairingsNonChild.length > 0) {
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        [disabled]="!toDelete.length || clicked"
        (click)="removeBridges()"
      >
        @if (!clicked) { {{ 'form.button_reset' | translate }} @if (toDelete.length > 0) { ({{ toDelete.length }}) }}
        @if (clicked) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
      </button>
      }
    </div>
  </div>
</div>
