<div class="setup-container d-flex align-items-center justify-content-center">
  <div class="w-100 setup-card d-flex py-5">
    @if (step === 'welcome') {
    <div class="w-100 d-flex flex-column align-items-center">
      <img class="homebridge-logo mx-auto" src="/assets/homebridge-color-round.svg" alt="hb logo" />
      <h3 class="pt-4 pb-3 text-center">{{ 'setup.welcome_to_homebridge' | translate }}</h3>
      <button type="button" class="btn btn-lg btn-primary" (click)="onClickGettingStarted()">
        {{ 'setup.button_get_started' | translate }}
      </button>
      <small class="mt-3">
        <a href="javascript:void(0)" class="grey-text" (click)="onClickRestoreBackup()"
          >{{ 'setup_wizard_message_restore' | translate }}</a
        >
      </small>
    </div>
    } @if (step === 'create-account') {
    <div class="w-100 d-flex flex-column align-items-center">
      <img
        class="homebridge-logo homebridge-logo-small mx-auto"
        src="/assets/homebridge-color-round.svg"
        alt="hb logo"
      />
      <h3 class="pt-4 pb-3 text-center">{{ 'setup.create_account' | translate }}</h3>
      <div class="w-100">
        <p>{{ 'setup.create_account_reason' | translate }}</p>
        <form novalidate (ngSubmit)="createFirstUser()" [formGroup]="createUserForm">
          <div class="md-form">
            <i class="fas fa-fw fa-user prefix grey-text"></i>
            <input
              formControlName="username"
              type="text"
              id="form-username"
              autocomplete="username"
              autocapitalize="none"
              tabindex="1"
              class="form-control px-0"
              [readonly]="loading"
              [ngClass]="{
                'is-valid': (createUserForm.controls.username.dirty) && createUserForm.controls.username.valid,
                'is-invalid': (createUserForm.controls.username.dirty) && createUserForm.controls.username.invalid
              }"
            />
            <label for="form-username">{{ 'users.label_username' | translate }}</label>
          </div>
          <div class="md-form">
            <i class="fas fa-fw fa-lock prefix grey-text"></i>
            <input
              formControlName="password"
              type="password"
              id="form-pass"
              autocomplete="new-password"
              tabindex="2"
              class="form-control px-0"
              [readonly]="loading"
              [ngClass]="{
                'is-valid': (createUserForm.controls.password.dirty) && createUserForm.controls.password.valid,
                'is-invalid': (createUserForm.controls.password.dirty) && createUserForm.controls.password.errors
              }"
            />
            <label for="form-pass">{{ 'users.label_password' | translate }}</label>
          </div>
          <div class="md-form">
            <i class="fas fa-fw fa-lock prefix grey-text"></i>
            <input
              formControlName="passwordConfirm"
              type="password"
              id="form-pass-confirm"
              autocomplete="new-password"
              tabindex="2"
              class="form-control px-0"
              [readonly]="loading"
              [ngClass]="{
                'is-valid': (createUserForm.controls.passwordConfirm.dirty) && createUserForm.controls.passwordConfirm.valid,
                'is-invalid': (createUserForm.controls.passwordConfirm.dirty) && createUserForm.controls.passwordConfirm.errors
              }"
            />
            <label for="form-pass-confirm">{{ 'users.label_confirm_password' | translate }}</label>
          </div>
          <div class="w-100 text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="createUserForm.invalid || loading"
              [ngClass]="{
              'button-loading': loading
            }"
            >
              {{ 'setup.create_account' | translate }}
              <i class="button-loading-overlay fas fa-fw fa-spinner fa-pulse"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    } @if (step === 'restore-backup') {
    <div class="w-100 d-flex flex-column align-items-center">
      <img
        class="homebridge-logo homebridge-logo-small mx-auto"
        src="/assets/homebridge-color-round.svg"
        alt="hb logo"
      />
      <h3 class="pt-4 pb-3 text-center">{{ 'form.button_restore' | translate }}</h3>
      <p>{{ 'backup.restore_help_one' | translate }}</p>
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="restoreFileUpload"
          accept="application/gzip, .gz"
          (change)="handleRestoreFileInput($event.target.files)"
        />
        <label class="custom-file-label" for="restoreFileUpload">
          {{ selectedFile?.name || 'backup.label_choose_backup_file_to_restore' | translate }}
        </label>
      </div>
      <div class="mt-3 w-100 d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-elegant ml-0"
          [disabled]="restoreUploadStarted"
          (click)="onClickCancelRestore()"
        >
          {{ 'form.button_cancel' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary mr-0"
          (click)="onRestoreBackupClick()"
          [disabled]="restoreUploading || !selectedFile"
        >
          @if (restoreUploading) {
          <span>
            <i class="fas fa-fw fa-spinner fa-pulse"></i>
            {{ 'backup.label_uploading' | translate }}
          </span>
          } @if (!restoreUploading) {
          <span>{{ 'backup.button_restore_backup' | translate }}</span>
          }
        </button>
      </div>
    </div>
    } @if (step === 'restarting') {
    <div class="w-100 d-flex flex-column align-items-center">
      <img
        class="homebridge-logo homebridge-logo-small mx-auto"
        src="/assets/homebridge-color-round.svg"
        alt="hb logo"
      />
      <h3 class="pt-4 pb-3 text-center">{{ 'restart.title_restart' | translate }}</h3>
      <h1>
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
      </h1>
    </div>
    } @if (step === 'setup-complete') {
    <div class="w-100 d-flex flex-column align-items-center">
      <img
        class="homebridge-logo homebridge-logo-small mx-auto"
        src="/assets/homebridge-color-round.svg"
        alt="hb logo"
      />
      <h3 class="pt-4 pb-3">{{ 'setup_wizard_message_complete_title' | translate }}</h3>
      <p class="text-center">{{ 'setup_wizard_message_complete_message' | translate }}</p>
      <a class="btn btn-lg btn-primary mt-3" routerLink="/">{{ 'setup.open_dashboard' | translate }}</a>
    </div>
    }
  </div>
</div>
