::ng-deep body {
  overflow: scroll !important;
}

::ng-deep body.dark-mode {
  .setup-card {
    background-color: #2b2b2b;
    color: #ffffff;
  }
}

.setup-container {
  z-index: -1;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 100%;
  background-size: 300% 300%;
}

.anim {
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -o-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.setup-card {
  max-width: 550px;
  border-radius: 1rem;
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.9);

  .form-control:focus {
    background-color: inherit !important;
  }

  @media screen and (max-width: 575px) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.homebridge-logo {
  margin-bottom: 10px;
}

.progress {
  background-color: #dddddd;
}

#output {
  height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
}
