.setup-container {
  background-size: cover;
  z-index: -1;
  padding-top: 1em;
  padding-bottom: 1em;

  @media screen and (min-height: 500px) and (min-width: 600px) {
    padding-top: 4em;
  }
}

.setup-card {
  max-width: 600px;
  border-radius: 15px;
  background-color: #ffffff;
  padding-right: 25px;
  padding-left: 25px;

  .form-control:focus {
    background-color: inherit !important;
  }

  @media screen and (max-width: 600px) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

::ng-deep body.dark-mode {
  .setup-card {
    background-color: #2b2b2b;
    color: #fff;
  }
}

.homebridge-logo {
  margin-right: 10px;
  height: 200px;

  @media screen and (max-height: 500px) {
    height: 100px;
  }

  @media screen and (max-width: 600px) {
    height: 100px;
  }
}

.homebridge-logo-small {
  height: 50px;
}

.button-loading {
  position: relative;
  color: rgba(0, 0, 0, 0);

  .button-loading-overlay {
    display: block;
    color: #fff;
  }
}

.button-loading-overlay {
  display: none;
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
}

small {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
