/* Accessory Control Global CSS */

.accessory-widget-box,
.accessory-tab {
  .accessory-box {
    background-color: #e0e0e0;
  }

  .switch-on {
    background-color: #fff;

    #accessoryIcon {
      fill: #1976d2 !important;
    }
  }
}

.accessory-box {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  //overflow: hidden;

  @media (max-width: 575px) {
    height: 100px;
    width: 100px;
    padding: 8px;
    margin: 7px;
  }

  &:active {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
  }

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.accessory-svg {
  #accessoryIcon {
    fill: grey;
  }

  svg {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;

    @media (max-width: 575px) {
      margin-bottom: 8px;
      height: 31px;
      width: 31px;
    }
  }
}

.accessory-img {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 575px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

.accessory-icon {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 575px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

.accessory-label {
  font-size: 15px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1rem;
  max-height: 1rem * 2;

  @media (max-width: 575px) {
    margin-top: 0px;
    font-size: 12px;
    line-height: 17px;
    -webkit-line-clamp: 2;
    line-height: 1rem;
    max-height: 1rem * 2;
  }
}

.accessory-item {
  @media (max-width: 575px) {
    .manage-accessory-button {
      display: none;
    }
  }

  &:hover,
  &:active {
    .manage-accessory-button {
      opacity: 0.6;
    }
  }

  .manage-accessory-button {
    cursor: pointer;
    float: right;
    opacity: 0;
    margin-right: 15px;
    margin-top: 15px;

    &:active,
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
