.hb-monaco-editor-line-error {
  background: red;
  width: 5px !important;
  margin-left: 3px;
}

.hb-plain-text-editor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  white-space: pre;
  font-family: monospace;
  overflow-wrap: normal;
  overflow-x: scroll;
  font-size: 16px;
}

.hb-editor-block-error {
  position: absolute;
  background: rgba(255, 231, 186, 0.88);
  z-index: 20;
}
