#plugin-log-output {
  min-height: 400px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.no-scrollbars,
.xterm-viewport {
  &::-webkit-scrollbar {
    display: none; // chrome
  }
  scrollbar-width: none; // firefox
  -ms-overflow-style: none; // edge
}

// https://github.com/xtermjs/xterm.js/pull/4979/files
.terminal .xterm-rows span {
  pointer-events: none;
}
