.anim {
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}

.wallpaper-preview {
  height: 200px;
}

.wallpaper-delete-btn {
  top: 10px;
  right: 10px;
}

.wallpaper-placeholder {
  height: 200px;
  width: 350px;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
