.anim {
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -o-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
