<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'status.widget.show_hide' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    @if (availableWidgets().length) {
      <ul class="list-group list-group-box mb-4">
        <li class="list-group-item text-center grey-text small">
          <span [innerHTML]="'status.widget.account_1' | translate"></span><br />
          <span [innerHTML]="'status.widget.account_2' | translate"></span>
        </li>
        @for (widget of availableWidgets(); track widget) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span style="word-break: break-all">{{ widget.name }}</span>
            <span>
              <input
                type="checkbox"
                class="rendux-input"
                [checked]="widget.shown"
                [id]="`widget${widget.name}`"
                [attr.aria-label]="`${('form.button_show' | translate)} ${widget.name}`"
                (click)="selectWidget(widget)"
              />
              <label class="rendux-label ms-3" [for]="`widget${widget.name}`"></label>
            </span>
          </li>
        }
      </ul>
    }

    <ul class="list-group list-group-box mb-0">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span>{{ 'form.button_reset' | translate }}</span>
          <br />
          <small class="grey-text">{{ 'status.widget.reset' | translate }}</small>
        </div>
        <button
          type="button"
          class="btn btn-danger m-0 ms-3 py-1"
          data-bs-dismiss="modal"
          [attr.aria-label]="'form.button_reset' | translate"
          (click)="doResetLayout()"
        >
          <i class="fas fa-arrow-right"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_close' | translate"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
