<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'status.widget.show_hide' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    @if (availableWidgets.length) {
    <ul class="list-group list-group-box mt-2">
      @for (widget of availableWidgets; track widget) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span style="word-break: break-all">{{ widget.name }}</span>
        <span>
          <button
            class="btn btn-primary ml-3"
            (click)="selectWidget(widget)"
            [disabled]="!widget.shown"
            [attr.aria-label]="('form.button_show' | translate) + ' ' + widget.name"
          >
            <i class="fas fa-fw fa-eye"></i>
          </button>
          <button
            class="btn btn-primary ml-2"
            (click)="selectWidget(widget)"
            [disabled]="widget.shown"
            [attr.aria-label]="('form.button_hide' | translate) + ' ' + widget.name"
          >
            <i class="fas fa-fw fa-eye-slash"></i>
          </button>
        </span>
      </li>
      }
    </ul>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="doResetLayout()">
        {{ 'form.button_reset' | translate }}
      </button>
    </div>
  </div>
</div>
