<div class="modal-content hb-accessories-info-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ service.customName || service.serviceName }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="md-form">
      <input
        [ngModel]="service.customName || service.serviceName"
        (ngModelChange)="service.customName = $event"
        type="text"
        id="form-name"
        autocomplete="off"
        class="form-control px-0"
      />
      <label for="form-name" class="active">{{ 'accessories.name' | translate }}</label>
    </div>
    <div class="container px-1">
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">{{ 'accessories.hide_this_accessory' | translate }}</label>
        <div class="col-6 text-right">
          <input
            type="checkbox"
            class="rendux-input"
            [(ngModel)]="service.hidden"
            id="hide-accessory"
            [attr.aria-label]="'accessories.hide_this_accessory' | translate"
          />
          <label for="hide-accessory" class="rendux-label ml-3" style="min-width: 50px"></label>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label class="col-6 col-form-label">{{ 'accessories.show_on_dashboard' | translate }}</label>
        <div class="col-6 text-right">
          <input
            type="checkbox"
            class="rendux-input"
            [(ngModel)]="service.onDashboard"
            id="show-on-dashboard"
            [attr.aria-label]="'accessories.show_on_dashboard' | translate"
          />
          <label for="show-on-dashboard" class="rendux-label ml-3" style="min-width: 50px"></label>
        </div>
      </div>
    </div>
    <table
      class="table table-borderless table-hover table-striped table-sm"
      style="table-layout: fixed; width: 100%; word-wrap: break-word"
    >
      <tbody>
        <tr>
          <th>{{ service.humanType }}</th>
          <td class="text-right"></td>
        </tr>
        @for (characteristic of service.serviceCharacteristics; track characteristic) {
        <tr>
          <td>{{ characteristic.description }}</td>
          <td class="text-right">
            <span>
              @switch (characteristic.unit) { @case ('percentage') {
              <span>{{ characteristic.value }}%</span>
              } @case ('celsius') {
              <span>{{ characteristic.value | convertTemp }}&deg;</span>
              } @default {
              <span>{{ characteristic.value }}</span>
              } }
            </span>
          </td>
        </tr>
        } @for (information of accessoryInformation; track information) {
        <tr>
          <td>{{ information.key }}</td>
          <td class="text-right text-break">{{ information.value }}</td>
        </tr>
        }
        <tr>
          <td>Homebridge Instance IP</td>
          <td class="text-right">{{ service.instance.ipAddress }}</td>
        </tr>
        <tr>
          <td>Homebridge Instance Port</td>
          <td class="text-right">{{ service.instance.port }}</td>
        </tr>
        <tr>
          <td>Homebridge Instance Username</td>
          <td class="text-right">{{ service.instance.username }}</td>
        </tr>
        <tr>
          <td>aid</td>
          <td class="text-right">{{ service.aid }}</td>
        </tr>
        <tr>
          <td>iid</td>
          <td class="text-right">{{ service.iid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-right"></div>
  </div>
</div>
