::ng-deep {
  a {
    &.grey-text {
      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.status-container {
  min-height: calc(100% - 30px)
}

gridster {
  background-color: inherit;
}

.widget-control-button {
  cursor: pointer;
  position: fixed;
  right: 5px;
  top: 5px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -ms-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;

  &:active {
    transform: scale(1.2);
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.widget-item {
  @media (hover: hover) {
    &:hover,
    &:active {
      .widget-control-button {
        opacity: 1;
      }
    }
  }
}

.status-button {
  z-index: 1000;

  @media (max-width: 1023px) {
    display: none;
  }
}

gridster {
  &.mobile {
    #HomebridgeStatusWidgetComponent,
    #SystemInfoWidgetComponent,
    #WeatherWidgetComponent,
    #ChildBridgeWidgetComponent,
    #ClockWidgetComponent {
      height: unset !important;
    }

    #CpuWidgetComponent,
    #NetworkWidgetComponent,
    #MemoryWidgetComponent,
    #UptimeWidgetComponent {
      height: unset !important;
      padding-bottom: 10px;
    }

    #HapQrcodeWidgetComponent {
      height: 360px !important;
    }

    #AccessoriesWidgetComponent {
      height: unset !important;
      border: none !important;
    }
  }
}
