<div class="status-container d-flex flex-column mt-0">


  <button *ngIf="consoleStatus === 'up' && $auth.user.admin" (click)="addWidget()"
    class="btn btn-primary btn-floating add-widget-button"
    ngbTooltip="{{ (options.draggable.enabled ? 'form.button_edit' : 'status.widget.label_layout_locked') | translate }}">
    <i class="fas fa-fw fa-table" [ngClass]="{
      'fa-table': options.draggable.enabled,
      'fa-lock': !options.draggable.enabled
    }"></i>
  </button>


  <app-spinner *ngIf="consoleStatus === 'down'"></app-spinner>

  <div class="row flex-column flex-grow-1">
    <!-- <div>
      <button (click)="addWidget()" class="btn btn-primary">Hi</button>
    </div> -->
    <gridster [options]="options" class="flex-grow-1 no-scrollbars py-0" [hidden]="consoleStatus === 'down'"
      *ngIf="dashboard.length">
      <ng-container *ngFor="let item of dashboard">
        <gridster-item *ngIf="!(item.hideOnMobile && page.mobile)" class="widget-item" [item]="item"
          [id]="item.component">
          <div class="gridster-item-content">
            <i class="fas fa-fw fa-cog widget-control-button primary-text" (click)="manageWidget(item)"></i>
          </div>
          <app-widgets [widget]="item" class="d-flex h-100 w-100"></app-widgets>
        </gridster-item>
      </ng-container>
    </gridster>
  </div>

  <div class="row mb-auto">
    <div class="col-md-12 text-center px-4 py-1 grey-text">
      <!-- The below copyright notice shall be included and displayed on all copies or substantial portions of this software. -->
      <small>
        &copy; 2023
        &middot;
        <a class="grey-text" target="_blank" rel="noopener noreferrer" href="https://github.com/homebridge">
          Homebridge v{{ $settings.env.homebridgeVersion }}
        </a>
        &middot;
        <a class="grey-text" target="_blank" rel="noopener noreferrer" href="https://github.com/homebridge/homebridge-config-ui-x">
          UI v{{ $settings.env.packageVersion }}
        </a>
        &middot;
        UI developed by
        <a class="grey-text" target="_blank" rel="noopener noreferrer" href="https://github.com/oznu">oznu</a>
      </small>
      <!-- The above copyright notice shall be included and displayed on all copies or substantial portions of this software. -->
    </div>
  </div>
</div>
