.content {
  margin-left: 55px;
  transition: 0.3s;
  height: 100%;

  &.sidebarExpanded {
    opacity: 20%;
    pointer-events: none;
  }

  @media (max-width: 767px) {
    margin-left: 0;
    padding-top: 85px !important;
  }
}

a:hover {
  text-decoration: none !important;
}
