<!--Main Navigation-->
<header *ngIf="$auth.theme && $auth.user">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar">
    <a class="navbar-brand" routerLink="/">
      <img class="menu-logo" src="/assets/homebridge-logo.svg" />
      <strong>Homebridge</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-effect waves-light" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/" [translate]="'menu.label_status'">Status</a>
        </li>
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" *ngIf="$auth.user.admin">
          <a class="nav-link" routerLink="/plugins" [translate]="'menu.label_plugins'">Plugins</a>
        </li>
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" *ngIf="$auth.user.admin">
          <a class="nav-link" routerLink="/config" [translate]="'menu.label_config'">Config</a>
        </li>
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" *ngIf="$auth.env.enableAccessories">
          <a class="nav-link" routerLink="/accessories" [translate]="'menu.label_accessories'">Accessories</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons hb-nav-right">
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" placement="bottom"
          ngbTooltip="{{'menu.tooltip_view_logs' | translate}}" container="body">
          <a class="nav-link" routerLink="/logs">
            <i class="fas fa-wave-square nav-menu-icon"></i>
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" routerLinkActive="active" placement="bottom"
          ngbTooltip="{{'menu.tooltip_restart' | translate}}" container="body">
          <a class="nav-link" routerLink="/restart">
            <i class="fas fa-power-off nav-menu-icon"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v nav-menu-icon"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item waves-effect waves-light" *ngIf="$auth.env.enableTerminalAccess && $auth.user.admin"
              routerLink="/platform-tools/terminal">
              {{ 'menu.linux.label_terminal' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" routerLink="/platform-tools/docker/startup-script"
              *ngIf="$auth.env.runningInDocker && $auth.user.admin">
              {{ 'menu.docker.label_startup_script' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" routerLink="/platform-tools/docker/restart-container"
              *ngIf="$auth.env.runningInDocker && $auth.user.admin">
              {{ 'menu.docker.label_restart_container' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" *ngIf="$auth.env.runningInLinux && $auth.user.admin"
              (click)="restartServer()">
              {{ 'menu.linux.label_restart_server' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" *ngIf="$auth.env.runningInLinux && $auth.user.admin"
              (click)="shutdownServer()">
              {{ 'menu.linux.label_shutdown_server' | translate }}
            </a>
            <div class="dropdown-divider"
              *ngIf="$auth.user.admin && ($auth.env.runningInDocker || $auth.env.runningInLinux)"></div>
            <a class="dropdown-item waves-effect waves-light" routerLink="/settings" *ngIf="$auth.user.admin">
              Homebridge {{ 'menu.docker.label_settings' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" (click)="backupRestoreHomebridge()"
              *ngIf="$auth.user.admin">
              {{ 'backup.title_backup_restore' | translate }}
            </a>
            <div class="dropdown-divider" *ngIf="$auth.user.admin"></div>
            <a class="dropdown-item waves-effect waves-light" (click)="openUiSettings()" *ngIf="$auth.user.admin">
              {{ 'menu.label_ui_settings' | translate }}
            </a>
            <a class="dropdown-item waves-effect waves-light" routerLink="/users" *ngIf=" $auth.user.admin">
              {{'menu.tooltip_user_accounts' | translate}}
            </a>
            <a class="dropdown-item" (click)="$auth.logout()" *ngIf="$auth.formAuth">
              {{ 'menu.tooltip_logout' | translate }}
            </a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

</header>

<div class="container-fluid d-flex flex-col h-100 w-100">
  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>