<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [translate]="'reset.title_unpair_bridges_cameras_tv_external_accessories'">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')"></button>
  </div>
  <div class="modal-body">
    <div class="text-center mt-3" *ngIf="pairings.length === 0">
      <i class="fas fa-fw fa-exclamation-circle" style="font-size: 75px;"></i>
      <p class="mt-3 mb-0" [translate]="'reset.title_unpair_bridges_cameras_tv_external_accessories_empty'"></p>
    </div>
    <ngb-alert type="info" [dismissible]="false" style="margin-bottom: 0;" *ngIf="pairings.length > 0">
      <div class="text-center mt-2 mb-3"><i class="fas fa-fw fa-exclamation-circle" style="font-size: 75px;"></i></div>
      <ul class="mb-0">
        <li class="mb-0" [translate]="'reset.message_need_to_remove_homebridge_accessory_from_home_app'"></li>
      </ul>
    </ngb-alert>
    <ul class="list-group mt-2" *ngIf="pairings.length > 0">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of pairings">
        <span>
          {{ item.displayName }} ({{ item._main ? 'Homebridge' : (item._category | titlecase) }})
          <br>
          <small class="grey-text">{{ item._username }}</small>
        </span>
        <button class="btn btn-danger" (click)="removeAccessory(item._id)" [disabled]="deleting"><i class="fas"
          [ngClass]="{'fa-trash': item._id !== deleting, 'fa-cog fa-spin': item._id === deleting}"></i></button>
      </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
