<div class="modal-content" style="min-height: 300px;">
  <div class="modal-header">
    <h5 class="modal-title">{{'plugins.node_update.title' | translate}}</h5>
    <button type="button" class="close" data-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-row flex-grow-1 align-items-center w-100 text-center">

    <!-- plugins -->
    <div class="w-100" *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(plugin.name)">
      <i class="fab fa-fw fa-node-js primary-text" style="font-size: 75px;"></i>
      <p class="mt-4" translate="plugins.node_update.node_version_too_low"
        [translateParams]="{pluginName: plugin.name, minVersion: minVersion, installedVersion: installedVersion}">
      </p>
      <p translate="plugins.node_update.are_you_sure_you_want_to_update" [translateParams]="{pluginName: plugin.name}">
      </p>
      <p>
        <a href="https://homebridge.io/w/JTKEF" target="_blank" rel="noopener noreferrer">
          How To Update Node.js <i class="fa fa-fw fa-external-link-alt"></i>
        </a>
      </p>
    </div>

    <!-- homebridge -->
    <div class="w-100" *ngIf="plugin.name === 'homebridge'">
      <i class="fab fa-fw fa-node-js primary-text" style="font-size: 75px;"></i>
      <p class="mt-4" translate="plugins.node_update.homebridge_node_version_too_low"
        [translateParams]="{minVersion: minVersion, installedVersion: installedVersion, latestVersion: plugin.latestVersion}">
      </p>
      <p translate="plugins.node_update_homebridge_upgrade_and_try_again">
      </p>
      <p>
        <a href="https://homebridge.io/w/JTKEF" target="_blank" rel="noopener noreferrer">
          How To Update Node.js <i class="fa fa-fw fa-external-link-alt"></i>
        </a>
      </p>
    </div>

    <!-- homebridge ui -->
    <div class="w-100" *ngIf="plugin.name === 'homebridge-config-ui-x'">
      <i class="fab fa-fw fa-node-js primary-text" style="font-size: 75px;"></i>
      <p class="mt-4" translate="plugins.node_update.homebridge_node_version_too_low"
         [translateParams]="{minVersion: minVersion, installedVersion: installedVersion, latestVersion: plugin.latestVersion}">
      </p>
      <p translate="plugins.node_update_homebridge_ui_upgrade_and_try_again">
      </p>
      <p>
        <a href="https://homebridge.io/w/JTKEF" target="_blank" rel="noopener noreferrer">
          How To Update Node.js <i class="fa fa-fw fa-external-link-alt"></i>
        </a>
      </p>
    </div>

  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')" *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(plugin.name)">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')" *ngIf="['homebridge', 'homebridge-config-ui-x'].includes(plugin.name)">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-right">
      <button *ngIf="!['homebridge', 'homebridge-config-ui-x'].includes(plugin.name)" type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="activeModal.close(true);">
        {{'plugins.node_update.update_anyway' | translate}}
      </button>
    </div>
  </div>
</div>
