.bg-blue {
  background-color: #1976d2 !important;
}

.bg-red {
  background-color: #d32f2f !important;
}

.bg-yellow {
  background-color: #fbc02d !important;
}

.bg-black {
  background-color: #000000 !important;
}
