/*
 * Base Layout
 */

html,
body {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.help-block {
  color: #9e9e9e !important;
  word-break: break-word;
}

.card .card-text {
  font-size: 0.9rem;
  color: #747373;
  font-weight: 400;
}
