/*
 * Base Layout
 */

html,
body {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-color: #f4f4f4;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  --bs-link-decoration: none !important;
}

.grey-text, .grey-text a {
  color: #999999 !important;
}

.pink-text, .pink-text a {
  color: #ff20db !important;
}

.green-text, .green-text a {
  color: #00c128 !important
}

.red-text, .red-text a {
  color: #ff0000 !important
}

.navbar-brand {
  color: #ffffff !important;
}

.btn-elegant {
  color: #ffffff;
  background-color: #333333;
}

.table {
  --bs-table-color: initial;
  --bs-table-bg: initial;
}

.list-group {
  --bs-list-group-border-width: 0 !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.help-block {
  color: #9e9e9e !important;
  word-break: break-word;
}

.card .card-text {
  font-size: 0.9rem;
  color: #747373;
  font-weight: 400;
}

td {
  font-size: 0.9rem;
  font-weight: 300;
  color: #999999 !important;
}

th {
  font-size: 0.9rem;
  font-weight: 400;
}

.adjust-for-mobile {
  height: calc(100% - 30px);
  width: calc(100% + 20px);
  overflow: hidden;

  @media (max-width: 767px) {
    height: calc(100% - 60px);
  }
}
