/*
 * Base Layout
 */

html,
body {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.help-block {
  color: #9e9e9e !important;
  word-break: break-word;
}

.card .card-text {
  font-size: 0.9rem;
  color: #747373;
  font-weight: 400;
}

.adjust-for-mobile {
  height: calc(100% - 30px);
  width: calc(100% + 20px);
  overflow: hidden;

  @media (max-width: 767px) {
    height: calc(100% - 60px);
  }
}

.alert {
  border-width: 1px;
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
}

.alert-success {
  border-color: #388e3c;
}

.alert-warning {
  border-color: #ffa000;
}

.alert-error {
  border-color: #d32f2f;
}

.hover-pointer {
  cursor: pointer;
}

.list-group-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 1rem;

  .list-group-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .list-group-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.card {
  border-radius: 1rem;
}
