.hb-status-icon {
  font-size: 20px;
}

.hb-status-item {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.hb-status-item-docker {
  min-width: max(25%, 200px);
}

.hb-status-item-docker-child {
  min-width: 200px;
  flex: 1 0 auto;
}

.hb-status-item-quarter {
  min-width: max(25%, 225px);
}
