<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-2">
  <div class="drag-handler p-2">{{ 'status.services.updates' | translate }}</div>
  <div
    class="d-flex flex-wrap w-100 mt-1 justify-content-start gridster-item-content overflow-auto no-scrollbars align-items-start"
  >
    @if (serverInfo() && serverInfo()!.homebridgeRunningInDocker) {
      <div class="hb-status-item hb-status-item-docker d-flex flex-column mb-1">
        <div
          class="d-flex ps-3 py-1 align-items-center cursor-pointer"
          role="button"
          tabindex="0"
          (click)="toggleDockerExpand()"
          (keydown.enter)="toggleDockerExpand()"
        >
          <div class="mb-0 d-flex align-items-center">
            @if (!dockerStatusDone()) {
              <i class="fas fa-lg fa-circle-notch fa-spin primary-text"></i>
            } @else {
              @if (dockerInfo().updateAvailable) {
                <i class="fas fa-lg fa-arrow-alt-circle-up orange-text"></i>
              } @else {
                <i class="fas fa-lg fa-check-circle green-text"></i>
              }
            }
          </div>
          <div class="align-self-center px-3">
            Docker-Homebridge
            <i class="fas fa-chevron-down ms-2" [class.fa-rotate-180]="!widget().dockerExpanded"></i>
            <br />
            @if (!dockerStatusDone()) {
              <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
            } @else {
              <span class="grey-text small">{{ dockerInfo().currentVersion }}</span>

              @if (dockerInfo().updateAvailable && isAdmin) {
                &middot;
                <a href="javascript:void(0)" class="primary-text small" (click)="dockerUpdateModal()">
                  {{ 'plugins.button_update' | translate }}
                </a>
              }
            }
          </div>
        </div>
        @if (widget().dockerExpanded) {
          <div class="ps-5 pe-3 d-flex flex-wrap">
            <! -- Homebridge - ->
            <div class="hb-status-item hb-status-item-docker-child d-flex flex-row py-1">
              <div class="d-flex ps-3 py-1">
                <div class="mb-0 d-flex align-items-center">
                  <i [class]="`fas fa-lg ${getHomebridgeIconClass()}`"></i>
                </div>
                <div class="align-self-center px-3">
                  @if (homebridgePkg().installedVersion) {
                    @if (isAdmin) {
                      <a
                        href="javascript:void(0)"
                        class="card-link card-link-title"
                        (click)="installAlternateVersion(homebridgePkg())"
                        >Homebridge</a
                      >
                    } @else {
                      Homebridge
                    }
                    @if (isHbV2Loaded() && !isRunningHbV2() && isAdmin) {
                      <a
                        href="javascript:void(0)"
                        class="ms-1"
                        ngbTooltip="Homebridge v2 Readiness"
                        container="body"
                        triggers="hover"
                        placement="top"
                        aria-label="Homebridge v2 Readiness"
                        [openDelay]="150"
                        (click)="readyForV2Modal()"
                      >
                        <i
                          class="fas fa-info-circle"
                          [class.green-text]="isHbV2Ready()"
                          [class.orange-text]="!isHbV2Ready()"
                        ></i>
                      </a>
                    }
                  } @else {
                    <span>Homebridge</span>
                  }
                  <br />
                  @if (!homebridgePkg().installedVersion) {
                    <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
                  } @else {
                    <span class="grey-text small">v{{ homebridgeVersion }}</span>
                    @if (homebridgePkg().updateAvailable && isAdmin) {
                      &middot;
                      <a href="javascript:void(0)" class="primary-text small" (click)="updatePackage(homebridgePkg())">
                        {{ 'plugins.button_update' | translate }}
                      </a>
                    }
                  }
                </div>
              </div>
            </div>
            <! -- Homebridge UI - ->
            <div class="hb-status-item hb-status-item-docker-child d-flex flex-row py-1">
              <div class="d-flex ps-3 py-1">
                <div class="mb-0 d-flex align-items-center">
                  <i [class]="`fas fa-lg ${getHomebridgeUiIconClass()}`"></i>
                </div>
                <div class="align-self-center px-3">
                  @if (homebridgeUiPkg().installedVersion && isAdmin) {
                    <a
                      href="javascript:void(0)"
                      class="card-link card-link-title"
                      (click)="installAlternateVersion(homebridgeUiPkg())"
                      >Homebridge UI</a
                    >
                  } @else {
                    <span>Homebridge UI</span>
                  }
                  <br />
                  @if (!homebridgeUiPkg().installedVersion) {
                    <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
                  } @else {
                    <span class="grey-text small">v{{ packageVersion }}</span>
                    @if (homebridgeUiPkg().updateAvailable && isAdmin) {
                      &middot;
                      <a
                        href="javascript:void(0)"
                        class="primary-text small"
                        (click)="updatePackage(homebridgeUiPkg())"
                      >
                        {{ 'plugins.button_update' | translate }}
                      </a>
                    }
                  }
                </div>
              </div>
            </div>
            <! -- Node.js - ->
            <div class="hb-status-item hb-status-item-docker-child d-flex flex-row py-1">
              <div class="d-flex ps-3 py-1">
                <div class="mb-0 d-flex align-items-center">
                  <i [class]="`fas fa-lg ${getNodejsIconClass()}`"></i>
                </div>
                <div class="align-self-center px-3">
                  <a
                    href="javascript:void(0)"
                    class="card-link card-link-title"
                    (click)="nodeVersionModal(serverInfo()!.nodeVersion)"
                    >Node.js</a
                  >
                  @if (widget().showNpmVersion && nodejsInfo()!.npmVersion) {
                    &middot; npm
                  }
                  <br />
                  @if (!nodejsStatusDone()) {
                    <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
                  } @else {
                    <span class="grey-text small"
                      >{{ serverInfo()!.nodeVersion }}
                      @if (widget().showNpmVersion && nodejsInfo()!.npmVersion) {
                        &middot; {{ nodejsInfo()!.npmVersion }}
                      }
                    </span>
                    @if (nodejsInfo().updateAvailable && isAdmin) {
                      &middot;
                      <a
                        href="javascript:void(0)"
                        class="primary-text small"
                        (click)="nodeVersionModal(nodejsInfo()!.latestVersion)"
                      >
                        {{ 'plugins.button_update' | translate }}
                      </a>
                    }
                    @if (nodejsInfo()!.showNodeUnsupportedWarning && !nodejsInfo()!.updateAvailable) {
                      &middot;
                      <a
                        href="javascript:void(0)"
                        class="primary-text small"
                        (click)="nodeVersionModal(serverInfo()!.nodeVersion)"
                      >
                        {{ 'status.widget.info.node_unsupp' | translate }}
                      </a>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
    @if (serverInfo() && !serverInfo()!.homebridgeRunningInDocker) {
      <! -- Homebridge - ->
      <div class="hb-status-item hb-status-item-quarter d-flex flex-row mb-1">
        <div class="d-flex ps-3 py-1">
          <div class="mb-0 d-flex align-items-center">
            <i [class]="`fas fa-lg ${getHomebridgeIconClass()}`"></i>
          </div>
          <div class="align-self-center px-3">
            @if (homebridgePkg().installedVersion) {
              @if (isAdmin) {
                <a
                  href="javascript:void(0)"
                  class="card-link card-link-title"
                  (click)="installAlternateVersion(homebridgePkg())"
                  >Homebridge</a
                >
              } @else {
                Homebridge
              }
              @if (
                isHbV2Loaded() &&
                !isRunningHbV2() &&
                isAdmin &&
                homebridgeUpdatePolicy !== 'none' &&
                homebridgeUpdatePolicy !== 'major'
              ) {
                <a
                  href="javascript:void(0)"
                  class="ms-1"
                  ngbTooltip="Homebridge v2 Readiness"
                  container="body"
                  triggers="hover"
                  placement="top"
                  aria-label="Homebridge v2 Readiness"
                  [openDelay]="150"
                  (click)="readyForV2Modal()"
                >
                  <i
                    class="fas fa-info-circle"
                    [class.green-text]="isHbV2Ready()"
                    [class.orange-text]="!isHbV2Ready()"
                  ></i>
                </a>
              }
            } @else {
              <span>Homebridge</span>
            }
            <br />
            @if (!homebridgePkg().installedVersion) {
              <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
            } @else {
              <span class="grey-text small">v{{ homebridgeVersion }}</span>
              @if (homebridgePkg().updateAvailable && isAdmin) {
                &middot;
                <a href="javascript:void(0)" class="primary-text small" (click)="updatePackage(homebridgePkg())">
                  {{ 'plugins.button_update' | translate }}
                </a>
              }
            }
          </div>
        </div>
      </div>
      <! -- Homebridge UI - ->
      <div class="hb-status-item hb-status-item-quarter d-flex flex-row mb-1">
        <div class="d-flex ps-3 py-1">
          <div class="mb-0 d-flex align-items-center">
            <i [class]="`fas fa-lg ${getHomebridgeUiIconClass()}`"></i>
          </div>
          <div class="align-self-center px-3">
            @if (homebridgeUiPkg().installedVersion && isAdmin) {
              <a
                href="javascript:void(0)"
                class="card-link card-link-title"
                (click)="installAlternateVersion(homebridgeUiPkg())"
                >Homebridge UI</a
              >
            } @else {
              <span>Homebridge UI</span>
            }
            <br />
            @if (!homebridgeUiPkg().installedVersion) {
              <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
            } @else {
              <span class="grey-text small">v{{ packageVersion }}</span>
              @if (homebridgeUiPkg().updateAvailable && isAdmin) {
                &middot;
                <a href="javascript:void(0)" class="primary-text small" (click)="updatePackage(homebridgeUiPkg())">
                  {{ 'plugins.button_update' | translate }}
                </a>
              }
            }
          </div>
        </div>
      </div>
    }
    <! -- Plugins - ->
    <div class="hb-status-item hb-status-item-quarter d-flex flex-row mb-1">
      <div class="d-flex ps-3 py-1">
        <div class="mb-0 d-flex align-items-center">
          <i [class]="`fas fa-lg ${getPluginsIconClass()}`"></i>
        </div>
        <div class="align-self-center px-3">
          <a href="javascript:void(0)" routerLink="/plugins" class="card-link card-link-title">
            {{ 'menu.label_plugins' | translate }}
          </a>
          <br />
          @if (!homebridgePluginStatusDone()) {
            <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
          } @else {
            @if (!homebridgePluginStatus().length) {
              <span class="grey-text small">{{ 'status.homebridge.up_to_date' | translate }}</span>
            } @else {
              @if (isAdmin) {
                <a routerLink="/plugins" class="primary-text small">{{ 'plugins.button_update' | translate }}</a>
              } @else {
                <span class="grey-text small">{{ 'plugins.button_update' | translate }}</span>
              }
            }
          }
        </div>
      </div>
    </div>
    @if (serverInfo() && !serverInfo()!.homebridgeRunningInDocker) {
      <! -- Node.js - ->
      <div class="hb-status-item hb-status-item-quarter d-flex flex-row mb-1">
        <div class="d-flex ps-3 py-1">
          <div class="mb-0 d-flex align-items-center">
            <i [class]="`fas fa-lg ${getNodejsIconClass()}`"></i>
          </div>
          <div class="align-self-center px-3">
            <a
              href="javascript:void(0)"
              class="card-link card-link-title"
              (click)="nodeVersionModal(serverInfo()!.nodeVersion)"
              >Node.js</a
            >
            @if (widget().showNpmVersion && nodejsInfo()!.npmVersion) {
              &middot; npm
            }
            <br />
            @if (!nodejsStatusDone()) {
              <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
            } @else {
              <span class="grey-text small"
                >{{ serverInfo()!.nodeVersion }}
                @if (widget().showNpmVersion && nodejsInfo()!.npmVersion) {
                  &middot; {{ nodejsInfo()!.npmVersion }}
                }
              </span>
              @if (nodejsInfo().updateAvailable && isAdmin) {
                &middot;
                <a
                  href="javascript:void(0)"
                  class="primary-text small"
                  (click)="nodeVersionModal(nodejsInfo()!.latestVersion)"
                >
                  {{ 'plugins.button_update' | translate }}
                </a>
              }
              @if (nodejsInfo()!.showNodeUnsupportedWarning && !nodejsInfo()!.updateAvailable) {
                &middot;
                <a
                  href="javascript:void(0)"
                  class="primary-text small"
                  (click)="nodeVersionModal(serverInfo()!.nodeVersion)"
                >
                  {{ 'status.widget.info.node_unsupp' | translate }}
                </a>
              }
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
