<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-2">
  <div class="drag-handler p-2" [ngClass]="{ 'widget-cursor': widget.draggable }">
    {{ 'status.services.updates' | translate }}
  </div>
  <div
    class="d-flex flex-wrap w-100 mt-1 justify-content-start gridster-item-content overflow-auto no-scrollbars align-items-center"
  >
    <div class="hb-status-item d-flex flex-row mb-1" style="min-width: max(25%, 225px)">
      <div class="d-flex ps-3 py-1">
        <div class="mb-0 d-flex align-items-center">
          @if (!homebridgePkg.installedVersion) {
          <i class="fas fa-fw fa-lg fa-cog fa-spin primary-text"></i>
          } @if (homebridgePkg.installedVersion && !homebridgePkg.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-check-circle green-text"></i>
          } @if (homebridgePkg.installedVersion && homebridgePkg.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-arrow-alt-circle-up orange-text"></i>
          }
        </div>
        <div class="align-self-center px-3">
          @if (homebridgePkg.installedVersion) {
          <a
            href="javascript:void(0)"
            (click)="$plugin.installAlternateVersion(homebridgePkg)"
            class="card-link card-link-title"
            >Homebridge</a
          >
          @if (!isRunningHbV2) {
          <a
            href="javascript:void(0)"
            class="ms-1"
            (click)="readyForV2Modal()"
            ngbTooltip="Homebridge v2 Readiness"
            container="body"
            openDelay="150"
            triggers="hover"
            placement="top"
            aria-label="Homebridge v2 Readiness"
          >
            <i
              class="fas fa-fw fa-info-circle"
              [ngClass]="{ 'green-text': isHbV2Ready, 'orange-text': !isHbV2Ready }"
            ></i>
          </a>
          } } @if (!homebridgePkg.installedVersion) {
          <span>Homebridge</span>
          }
          <br />
          @if (!homebridgePkg.installedVersion) {
          <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
          } @if (homebridgePkg.installedVersion) {
          <span class="grey-text small">v{{ $settings.env.homebridgeVersion }}</span> @if
          (homebridgePkg.updateAvailable) { &middot;
          <a
            href="javascript:void(0)"
            (click)="$plugin.upgradeHomebridge(homebridgePkg, homebridgePkg.latestVersion)"
            class="primary-text small"
          >
            {{ 'plugins.button_update' | translate }}
          </a>
          } }
        </div>
      </div>
    </div>
    <div class="hb-status-item d-flex flex-row mb-1" style="min-width: max(25%, 225px)">
      <div class="d-flex ps-3 py-1">
        <div class="mb-0 d-flex align-items-center">
          @if (!homebridgeUiPkg.installedVersion) {
          <i class="fas fa-fw fa-lg fa-cog fa-spin primary-text"></i>
          } @if (homebridgeUiPkg.installedVersion && !homebridgeUiPkg.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-check-circle green-text"></i>
          } @if (homebridgeUiPkg.installedVersion && homebridgeUiPkg.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-arrow-alt-circle-up orange-text"></i>
          }
        </div>
        <div class="align-self-center px-3">
          @if (homebridgeUiPkg.installedVersion) {
          <a
            href="javascript:void(0)"
            (click)="$plugin.installAlternateVersion(homebridgeUiPkg)"
            class="card-link card-link-title"
            >Homebridge UI</a
          >
          @if (!isRunningUiV5) {
          <a
            href="javascript:void(0)"
            class="ms-1"
            (click)="readyForV5Modal()"
            ngbTooltip="Homebridge UI v5 Readiness"
            container="body"
            openDelay="150"
            triggers="hover"
            placement="top"
            aria-label="Homebridge UI v5 Readiness"
          >
            <i
              class="fas fa-fw fa-info-circle"
              [ngClass]="{ 'green-text': isUiV5Ready, 'orange-text': !isUiV5Ready }"
            ></i>
          </a>
          } } @if (!homebridgeUiPkg.installedVersion) {
          <span>Homebridge UI</span>
          }
          <br />
          @if (!homebridgeUiPkg.installedVersion) {
          <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
          } @if (homebridgeUiPkg.installedVersion) {
          <span class="grey-text small">v{{ $settings.env.packageVersion }}</span>
          @if (homebridgeUiPkg.updateAvailable) { &middot;
          <a
            href="javascript:void(0)"
            (click)="$plugin.upgradeHomebridge(homebridgeUiPkg, homebridgeUiPkg.latestVersion)"
            class="primary-text small"
          >
            {{ 'plugins.button_update' | translate }}
          </a>
          } }
        </div>
      </div>
    </div>
    <div class="hb-status-item d-flex flex-row mb-1" style="min-width: max(25%, 225px)">
      <div class="d-flex ps-3 py-1">
        <div class="mb-0 d-flex align-items-center">
          @if (!homebridgePluginStatusDone) {
          <i class="fas fa-fw fa-lg fa-cog fa-spin primary-text"></i>
          } @if (homebridgePluginStatusDone && homebridgePluginStatus.length) {
          <i class="fas fa-fw fa-lg fa-arrow-alt-circle-up orange-text"></i>
          } @if (homebridgePluginStatusDone && !homebridgePluginStatus.length) {
          <i class="fas fa-fw fa-lg fa-check-circle green-text"></i>
          }
        </div>
        <div class="align-self-center px-3">
          <a href="javascript:void(0)" routerLink="/plugins" class="card-link card-link-title">
            {{ 'menu.label_plugins' | translate }}
          </a>
          <br />
          @if (!homebridgePluginStatusDone) {
          <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
          } @if (homebridgePluginStatusDone) { @if (!homebridgePluginStatus.length) {
          <span class="grey-text small">{{ 'status.homebridge.up_to_date' | translate }}</span>
          } @if (homebridgePluginStatus.length) {
          <a routerLink="/plugins" class="primary-text small">{{ 'plugins.button_update' | translate }}</a>
          } }
        </div>
      </div>
    </div>
    <div class="hb-status-item d-flex flex-row mb-1" style="min-width: max(25%, 225px)">
      <div class="d-flex ps-3 py-1">
        <div class="mb-0 d-flex align-items-center">
          @if (!nodejsStatusDone) {
          <i class="fas fa-fw fa-lg fa-cog fa-spin primary-text"></i>
          } @if (nodejsStatusDone) { @if (widget.hideNodeInfo) {
          <i class="fas fa-fw fa-lg fa-circle green-text"></i>
          } @if (!widget.hideNodeInfo) { @if (nodejsInfo.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-arrow-alt-circle-up orange-text"></i>
          } @if (nodejsInfo.showNodeUnsupportedWarning && !nodejsInfo.updateAvailable) {
          <i class="fas fa-fw fa-lg fa-exclamation-circle orange-text"></i>
          } @if (!nodejsInfo.updateAvailable && !nodejsInfo.showNodeUnsupportedWarning) {
          <i class="fas fa-fw fa-lg fa-check-circle green-text"></i>
          } } }
        </div>
        <div class="align-self-center px-3">
          Node.js
          <br />
          @if (!nodejsStatusDone) {
          <span class="grey-text small">{{ 'status.homebridge.checking' | translate }}</span>
          } @if (nodejsStatusDone) {
          <span class="grey-text small">{{ serverInfo.nodeVersion }}</span>
          @if (!widget.hideNodeInfo) { @if (nodejsInfo.updateAvailable) { &middot;
          <a href="javascript:void(0)" (click)="nodeUpdateModal()" class="primary-text small">
            {{'plugins.button_update' | translate }}
          </a>
          } @if (nodejsInfo.showNodeUnsupportedWarning && !nodejsInfo.updateAvailable) { &middot;
          <a href="javascript:void(0)" (click)="nodeUnsupportedModal()" class="primary-text small">
            {{ 'status.widget.info.node_unsupp' | translate }}
          </a>
          } } }
        </div>
      </div>
    </div>
  </div>
</div>
