<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'menu.restart.title' | translate }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">

    </button>
  </div>
  <div class="modal-body align-items-center w-100 pb-0">
    <div class="w-100 text-center primary-text mb-4">
      <i class="fas fa-fw fa-power-off" style="font-size: 75px;"></i>
    </div>
    <p class="w-100 text-center my-4">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="restartHomebridge()">
        {{ 'menu.hbrestart.confirm_button' | translate }}
      </button>
    </p>
    <p class="w-100 text-center my-4">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="restartHomebridgeService()" ngbTooltip="{{ 'reset.message_force_restart_hb_help_text' | translate }}">
        {{ 'menu.hbrestart.confirm_service_button' | translate }}
      </button>
    </p>
    <p class="w-100 text-center my-4" *ngIf="$settings.env.canShutdownRestartHost">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="restartServer()">
        {{ 'menu.linux.label_restart_server' | translate }}
      </button>
    </p>
    <p class="w-100 text-center my-4" *ngIf="$settings.env.canShutdownRestartHost">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="shutdownServer()">
        {{ 'menu.linux.label_shutdown_server' | translate }}
      </button>
    </p>
    <p class="w-100 text-center my-4" *ngIf="$settings.env.runningInDocker">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="dockerStartupScript()">
        {{ 'menu.docker.label_startup_script' | translate }}
      </button>
    </p>
    <p class="w-100 text-center my-4" *ngIf="$settings.env.runningInDocker">
      <button type="button" class="btn btn-danger w-75 my-0" (click)="dockerRestartContainer()">
        {{ 'menu.docker.label_restart_container' | translate }}
      </button>
    </p>
  </div>
  <div class="modal-footer justify-content-between mt-0 pt-0">
    <div class="text-start"></div>
    <div class="text-center">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
