<div class="modal-content">
  <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="modal-header">
      <h5 class="modal-title">{{ 'users.title_edit_user' | translate }}</h5>
      <button type="button" class="close" data-dismiss="modal" [attr.aria-label]="'form.button_close' | translate" (click)="activeModal.dismiss('Dismiss')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container px-1">
        <div class="md-form">
          <input formControlName="username" type="text" id="form-username" autocomplete="off" autocapitalize="none"
            class="form-control px-0" [attr.aria-label]="'users.label_username' | translate">
          <label for="form-username" [ngClass]="{'active': page.title === 'users.title_edit_user'}">
            <i class="fas fa-fw fa-user-shield"></i> {{ 'users.label_username' | translate }}
          </label>
        </div>
        <div class="md-form">
          <input formControlName="name" type="text" id="form-name" autocomplete="name" class="form-control px-0"
            [attr.aria-label]="'users.label_full_name' | translate">
          <label for="form-name" [ngClass]="{'active': page.title === 'users.title_edit_user'}">
            <i class="fas fa-fw fa-user"></i> {{ 'users.label_full_name' | translate }}
          </label>
        </div>
        <div class="md-form">
          <input formControlName="password" type="password" autocomplete="new-password" id="form-pass"
            class="form-control px-0" [ngClass]="{
              'is-invalid': form.controls.password.dirty && form.controls.password.errors
            }" [attr.aria-label]="page.password | translate">
          <label for="form-pass">
            <i class="fas fa-fw fa-lock"></i> {{ page.password | translate }}
          </label>
        </div>
        <div class="md-form">
          <input formControlName="passwordConfirm" type="password" autocomplete="new-password" id="form-pass-confirm"
            class="form-control px-0" [ngClass]="{
              'is-invalid': form.controls.passwordConfirm.dirty && form.controls.passwordConfirm.errors
            }" [attr.aria-label]="'users.label_confirm_password' | translate">
          <label for="form-pass-confirm">
            <i class="fas fa-fw fa-lock"></i> {{ 'users.label_confirm_password' | translate }}
          </label>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-6 col-form-label grey-text">
            <i class="fas fa-fw fa-user-secret"></i> {{ 'users.label_admin_user' | translate }}
          </label>
          <div class="col-6 text-right">
            <input type="checkbox" class="rendux-input" formControlName="admin" id="isAdmin"
              [attr.aria-label]="'users.label_admin_user' | translate">
            <label for="isAdmin" class="rendux-label ml-3" style="min-width: 50px;"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="text-left">
        <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')">
          {{ 'form.button_close' | translate }}
        </button>
      </div>
      <div class="text-center"></div>
      <div class="text-right">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          {{ 'form.button_save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
