<div
  #widgetcontainer
  class="flex-column d-flex align-items-stretch h-100 w-100"
  [style.background-color]="theme() === 'dark' ? '#2b2b2b' : ''"
>
  <div
    #terminaltitle
    class="drag-handler p-2"
    [style.color]="theme() === 'dark' ? '#ffffff' : ''"
    [style.background-color]="theme() === 'dark' ? '#2b2b2b': ''"
  >
    {{ 'status.widget.homebridge_logs' | translate }}
  </div>
  <div class="p-2" [style.height.px]="terminalHeight()">
    <div #logoutput class="terminal gridster-item-content w-100 h-100" style="max-height: 100%"></div>
  </div>
</div>
