/* Custom Checkboxes */

.hb-uix-switch {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .hb-uix-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid;
  }

  .hb-uix-slider:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .hb-uix-slider {
    border: none;
  }

  input:checked ~ .hb-uix-slider:after {
    display: block;
  }

  .hb-uix-slider:after {
    left: 8px;
    top: 3px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hb-uix-round {
    border-radius: 4px;
  }
}
