/* You can add global styles to this file, and also import other style files */

$image-path: '../../node_modules/angular-bootstrap-md/img/';
$roboto-font-path: '../../node_modules/angular-bootstrap-md/font/roboto/';

@import "~angular-bootstrap-md/scss/bootstrap/bootstrap";
@import "~angular-bootstrap-md/scss/mdb-free";

@import "~xterm/dist/xterm.css";
@import "~ng2-toastr/bundles/ng2-toastr.min.css";
@import "~nouislider/distribute/nouislider.min.css";

@import './themes';

/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: #f4f4f4;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Move down content because we have a fixed navbar that is 5.5rem tall */
body {
  padding-top: 5.5rem;
}

#log-output {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 7px;
  background-color: #000000;
}

#plugin-log-output {
  min-height: 400px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.btn {
  font-weight: 400;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

/* icon spinner from font-awesome */
.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.bg-status-green {
  background-color: #1aa531;
}

.status-circle {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 7px 0;
  margin-top: 5px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.hb-npm-search {
    box-sizing: inherit !important;
    border: 1px solid #d0d0d0 !important;
    height: 50px !important;
    border-width: 0.5px;
    padding: 10px;
    margin-bottom: 15px;

    &:focus, &:hover {
      border: 1px solid #000000 !important;
    }

    &:focus {
      box-shadow: 0 1px 0 0 #000000 !important;
    }
}

.qr-code-container {
  svg {
    position: inline;
    width: 100%;
  }
}
