/* You can add global styles to this file, and also import other style files */

$image-path: '../../node_modules/mdbootstrap/img/';
$roboto-font-path: '../../node_modules/mdbootstrap/font/roboto/';
$material-design-icons-font-path: '../../node_modules/material-design-icons-iconfont/dist/fonts/';
$fa-font-path:'../../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

@import "~material-design-icons-iconfont/dist/material-design-icons";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~bootstrap/scss/bootstrap";
@import "~mdbootstrap/scss/mdb";
@import "~ngx-toastr/toastr.css";
@import "~xterm/dist/xterm.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "~dragula/dist/dragula.min.css";

@import './themes';

/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: #f4f4f4;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Move down content because we have a fixed navbar that is 5.5rem tall */
body {
  padding-top: 5.5rem;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 4rem;
  }
}

#log-output {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 7px;
  background-color: #000000;
}

#plugin-log-output {
  min-height: 400px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.btn {
  font-weight: 400;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

/* icon spinner from font-awesome */
.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.bg-status-green {
  background-color: #1aa531;
}

.bg-blue {
  background-color: #1976d2 !important;
}

.bg-red {
  background-color: #d32f2f !important;
}

.bg-yellow {
  background-color: #fbc02d !important;
}

.bg-black {
  background-color: #000000 !important;
}

.help-block {
  color: #9e9e9e !important;
}

.card .card-text {
  font-size: .9rem;
  color: #747373;
  font-weight: 400;
}

.md-form .form-control:disabled, .md-form .form-control[readonly] {
  color: rgba(0,0,0,.46)
}

.dropdown-toggle::after {
  display:none
}

.hb-ace-text-editor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hb-plain-text-editor {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  white-space: pre;
  font-family: monospace;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.status-circle {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 7px 0;
  margin-top: 5px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.qr-code-container {
  svg {
    position: inline;
    width: 100%;
  }
}
