/* You can add global styles to this file, and also import other style files */

$image-path: "../../img";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap";
@import "~mdbootstrap/scss/mdb-free";

@import "~xterm/css/xterm.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "~dragula/dist/dragula.min.css";

@import "./base/checkbox.scss";
@import "./base/layout.scss";
@import "./base/buttons.scss";
@import "./base/form.scss";
@import "./base/background.scss";

@import "./components/toastr.scss";
@import "./components/accessories.scss";
@import "./components/json-schema-form.scss";
@import "./components//material-switch.scss";

@import "./components/spinner.scss";
@import "./components/widgets.scss";
@import "./components/terminal.scss";
@import "./components/editor.scss";

@import "./themes/themes-light.scss";
@import "./themes/themes-dark.scss";
