/* Homebridge Config UI X Themes */

@mixin make-theme($name, $primary, $primary-dark) {
  .config-ui-x-#{$name} {
    .bg-primary {
      background-color: $primary-dark !important;
    }

    .primary-text {
      color: $primary;
    }

    .btn-primary, .btn-default {
      @extend .btn-#{$name} !optional;
    }

    .badge-primary {
      background-color: $primary-dark !important;
    }

    a {
      &.card-link {
        color: #000000;

        &:hover {
          color: $primary-dark;
        }
      }
    }
  }
}

@include make-theme('red', #F44336, #D32F2F);
@include make-theme('pink', #e91e63, #c2185b);
@include make-theme('purple', #9c27b0, #7b1fa2);
@include make-theme('indigo', #3f51b5, #303f9f);
@include make-theme('blue', #2196f3, #1976d2);
@include make-theme('blue-grey', #607d8b, #455a64);
@include make-theme('green', #4caf50, #388e3c);
@include make-theme('orange', #ff9800, #ef6c00);
