.config-ui-x-dark-mode, .config-ui-x-dark-mode-v1 {
  $darkModePrimary: #ffa000;
  $backgroundColor: #000000;
  $secondaryBackground: #2b2b2b;
  $secondaryText: #9e9e9e;

  $modalBackground: #242424;
  
  background-color: $backgroundColor !important;

  .bg-primary {
    background-color: #242424 !important;
  }

  .navbar-dark {
    background-color: #0F0F0F !important;
    border-bottom: #0F0F0F;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .primary-text {
    color: $darkModePrimary
  }

  .hb-uix-switch input:checked ~ .hb-uix-slider {
    background-color: $darkModePrimary;
  }

  .btn-primary, .btn-default {
      @extend .btn-amber !optional;
  }

  .bg-yellow {
    background-color: $darkModePrimary !important;
  }

  .btn-link {
    color: #9e9e9e !important;
  }

  .badge-primary {
    background-color: #2b2b2b !important;
  }

  .card {
    color: #ffffff;
    background-color: $secondaryBackground !important;
  }

  .login-card {
    background-color: rgba($secondaryBackground, 0.97) !important;
  }

  .alert-warning {
    color: $secondaryBackground;
    background-color: #ffd793;
    border-color: $secondaryBackground;

    a {
      color: $secondaryBackground;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .qr-code-container {
    background-color: $secondaryBackground;
  
    svg {
      fill: $darkModePrimary;
    }
  }

  a {
    &.card-link {
      color: #9e9e9e;

      &:hover {
        color: $darkModePrimary;
      }
    }

    color: $darkModePrimary;
    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-color: $darkModePrimary;
    background-color: $darkModePrimary;
    color: $darkModePrimary;
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    background-color: $modalBackground;
    border-bottom: none;
    border-radius: 0 !important;

    .close {
      color: $darkModePrimary;
      opacity: 1 !important;
      text-shadow: none;
    }
  }

  .modal-title {
    color: $darkModePrimary;
  }

  .modal-body {
    background-color: $modalBackground;
    color: #FFFFFF;
  }

  .modal-footer {
    background-color: $modalBackground;
    border-top: none;
    border-radius: 0 !important;
  }

  .modal-backdrop {
    opacity: 0.8;
  }

  .table {
    color: #FFFFFF;
  }

  .table-hover tbody tr:hover {
    color: $darkModePrimary !important;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(35, 35, 35, 0.43);
  }

  markdown {
    color: #FFFFFF; // $secondaryText !important;
  }

  .md-form {
    input {
      color: #FFFFFF;

      &:focus {
        box-shadow: 0 1px 0 0 $darkModePrimary !important;
        border-bottom: 1px solid $darkModePrimary !important;
        &+label {
          color: $darkModePrimary !important;
        }
      }
    }

    .form-control {
      &:disabled {
        color: #FFFFFF;
      }
    }

    .grey-text {
      color: $darkModePrimary !important;
    }

  }

  .hb-npm-search {
    color: #999999 !important;
    border-color: #242424 !important;

    &:focus, &:hover {
      border: 1px solid #242424 !important;
    }

    &:focus {
      box-shadow: inherit !important;
      color: $darkModePrimary !important;
    }
  }

  .list-group-item {
      background-color: $secondaryBackground;
      color: #FFFFFF;
      .badge-primary {
        background-color: $darkModePrimary !important;
      }
  }

  .hb-plugin-settings-modal, .hb-backup-modal {
    input, select {
      border-color: #242424 !important; //$backgroundColor;
      background-color: #242424 !important;
      color: #FFFFFF;
       
      &::placeholder {
        color: #BDBDBD;
      }
    }

    .list-group-item {
      background-color: $secondaryBackground;

      .close {
        color: $darkModePrimary;
        opacity: 1 !important;
        text-shadow: none;
      }
    }
  }

  .accessory-box {
    background-color: $secondaryBackground;
    color: $secondaryText;
  }

  .switch-on {
    background-color: #FFF;
    color: #000000;
  }

  /** Gridster **/
  gridster-item {
    color: #FFFFFF;
    background-color: #2b2b2b;
  }

  gridster-preview {
    background: rgba(224, 224, 224, 0.5);
  }

  .available-widget {
    background-color: #000000;
  }

  #AccessoriesWidgetComponent {
    border-color: rgba($secondaryBackground, 0.5) !important;
  }

  .hb-widget-chart-background {
    background-color: rgba(#ffa000, 0.2);
    display: none;
  }

  .alert-info {
    background-color: rgba(#ffa000, 0.1);
    border-color: rgba(#ffa000, 0.1);
    color: $darkModePrimary;
  }

  .animate_loader {
    .spinner_outer {
      stroke: $darkModePrimary
    }
    .spinner_inner {
      stroke: #FFF;
    }
  }
}
