/* Homebridge Config UI X Themes */

@mixin make-theme($name, $primary, $primary-dark) {
  .config-ui-x-#{$name} {
    .bg-primary {
      background-color: $primary-dark !important;
    }

    .primary-text {
      color: $primary;
    }

    .btn-primary, .btn-default {
      @extend .btn-#{$name} !optional;
    }

    .badge-primary {
      background-color: $primary-dark !important;
    }

    a {
      &.card-link {
        color: #000000;

        &:hover {
          color: $primary-dark;
        }
      }
    }
  }
}

@include make-theme('red', #F44336, #D32F2F);
@include make-theme('pink', #e91e63, #c2185b);
@include make-theme('purple', #9c27b0, #7b1fa2);
@include make-theme('indigo', #3f51b5, #303f9f);
@include make-theme('blue', #2196f3, #1976d2);
@include make-theme('blue-grey', #607d8b, #455a64);
@include make-theme('green', #4caf50, #388e3c);
@include make-theme('orange', #ff9800, #ef6c00);
@include make-theme('grey', #9e9e9e, #616161);
@include make-theme('brown', #795548, #4e342e);
@include make-theme('amber', #ffc107, #ff8f00);
@include make-theme('teal', #009688, #00695c);
@include make-theme('cyan', #00bcd4, #00838f);
@include make-theme('deep-purple', #673ab7, #4527a0);

.config-ui-x-navi-blue {
  .bg-primary {
    background-color: #000070 !important;
  }

  .primary-text {
    color: #000099;
  }

  .btn-primary {
    background-color: #000099 !important;
  }

  .badge-primary {
    background-color: #000070 !important;
  }

  a {
    &.card-link {
      color: #000000;

      &:hover {
        color: #000070;
      }
    }
  }
}

.config-ui-x-dark-mode {
  background-color: #2b2b2b !important;

  .bg-primary {
    background-color: #2b2b2b !important;
  }

  .primary-text {
    color: #586c91;
  }

  .btn-primary {
    background-color: #586c91 !important;
  }

  .btn-link {
    color: #9e9e9e !important;
  }

  .badge-primary {
    background-color: #2b2b2b !important;
  }

  .card {
    color: #586c91;
    background-color: #333333 !important;
  }

  .qr-code-container {
    background-color: #9e9e9e;
  }

  .ace_content {
    background-color: #3c3c3c !important;
  }

  .ace_text-layer {
    color: #9876aa !important;
  }

  .ace_gutter {
    background-color: #3c3c3c !important;
  }

  .ace_gutter-cell {
    color: #9e9e9e !important;
  }

  .ace_string {
    color: #608759 !important;
  }

  .ace_numeric {
    color: #6897bb !important;
  }

  .ace_boolean {
    color: #cc7832 !important;
    font-weight: bold;
  }

  a {
    &.card-link {
      color: #9e9e9e;

      &:hover {
        color: #95a6d9;
      }
    }
  }

  .modal-header {
    background-color: #3c3c3c;
  }

  .modal-title {
    color: #586c91;
  }

  .modal-body {
    background-color: #3c3c3c;
  }

  .modal-footer {
    background-color: #3c3c3c;
  }

  markdown {
    color: #9e9e9e !important;
  }

  .md-form {
    input {
      color: #9e9e9e !important;
    }
  }

  .hb-npm-search {
    color: #9e9e9e !important;
  }
}
