.config-ui-x-dark-mode {
  $darkModePrimary: #ffa000;
  $backgroundColor: #4e4e4e;
  $secondaryBackground: #2b2b2b;
  $secondaryText: #9e9e9e;
  
  background-color: $backgroundColor !important;

  .bg-primary {
    background-color: #2b2b2b !important;
  }

  .primary-text {
    color: $darkModePrimary
  }

  .btn-primary, .btn-default {
      @extend .btn-amber !optional;
  }

  .btn-link {
    color: #9e9e9e !important;
  }

  .badge-primary {
    background-color: #2b2b2b !important;
  }

  .card {
    color: #ffffff;
    background-color: $secondaryBackground !important;
  }

  .qr-code-container {
    background-color: $secondaryBackground;
  
    svg {
      fill: $darkModePrimary;
    }
  }

  .ace_content {
    background-color: $secondaryBackground !important;
  }

  .ace_text-layer {
    color: $secondaryText;
  }

  .ace_gutter {
    background-color: #3c3c3c !important;
  }

  .ace_gutter-cell {
    color: #9e9e9e !important;
  }

  .ace_indent-guide {
    background: none !important;
  }

  .ace_variable {
    color: #E06C75;
    font-weight: bold;
  }

  .ace_string {
    color: #98C379 !important;
    font-weight: bold;
  }

  .ace_numeric {
    color: #3aa5f7 !important;
    font-weight: bold;
  }

  .ace_boolean {
    color: #56B6C2 !important;
    font-weight: bold;
  }

  a {
    &.card-link {
      color: #9e9e9e;

      &:hover {
        color: $darkModePrimary;
      }
    }
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    background-color: $backgroundColor;
    border-bottom: none;
    border-radius: 0 !important;
  }

  .modal-title {
    color: $darkModePrimary;
  }

  .modal-body {
    background-color: $backgroundColor;
    color: #FFFFFF;
  }

  .modal-footer {
    background-color: $backgroundColor;
    border-top: none;
    border-radius: 0 !important;
  }

  .table {
    color: #FFFFFF;
  }

  .table-hover tbody tr:hover {
    color: $darkModePrimary !important;
  }

  markdown {
    color: $secondaryText !important;
  }

  .md-form {
    input {
      color: #FFFFFF;

      &:focus {
        box-shadow: 0 1px 0 0 $darkModePrimary !important;
        border-bottom: 1px solid $darkModePrimary !important;
        &+label {
          color: $darkModePrimary !important;
        }
      }
    }
  }

  .hb-npm-search {
    color: #999999 !important;
    border-color: #999999 !important;

    &:focus, &:hover {
      border: 1px solid #999999 !important;
    }

    &:focus {
      box-shadow: inherit !important;
      color: $darkModePrimary !important;
    }
  }

  .hb-plugin-settings-modal, .hb-accessories-info-modal {
    input, select {
      border-color: $backgroundColor;
      background-color: #575757;
      color: #FFFFFF;
       
      &::placeholder {
        color: $secondaryBackground;
      }
    }

    .list-group-item {
      background-color: $secondaryBackground;

      .close {
        color: $darkModePrimary;
        opacity: 1 !important;
        text-shadow: none;
      }
    }
  }
}
