html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

error {
    display: block;
    padding: 100px 200px;
}

    error pre {
        display: none;
        padding: 20px;
        background-color: #fff;
        white-space: pre-wrap;
        display: hidden;
    }

    error h1, error h2 {
        color: #353535;
    }

    error h1 {
        margin-top: 0px;
        line-height: normal;
    }

    error h2 {
        margin-bottom: 0px;
    }

    error h7 {
        color: #00b9f1;
        font-size: 120px;
        margin-bottom: 20px;
        margin-left: -10px;
    }

button {
    outline: 0 none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
}

content {
    display: block;
    border-top: 64px transparent solid;
    border-left: 57px transparent solid;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    overflow: auto;
}

    .login content {
        border-left: 0 none;
        position: relative;
        background: url('/images/snapshot.jpg') no-repeat center center fixed; 
        background-size: cover;
    }

    content .form-label {
        color: #00b9f1;
        font-size: 1.8em;
        font-weight: bold;
        margin: 0;
    }

.polling-progress {
    margin: 180px 80px 0 80px;
}

    .polling-progress figcaption {
        font-size: 1.2em;
        font-weight: bold;
        color: #353535;
        margin-bottom: 20px;
        text-align: center;
    }

.login table {
    width: 100%;
    height: 60%;
}

    .login table td {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center
    }

.login .login-form {
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    text-align: left;
    padding: 10px 20px 20px 25px;
}

.index table {
    width: 100%;
    height: 100%;
}

    .index table tbody tr td {
        width: 100%;
        height: 100%;
        float: left;
        vertical-align: top;
        width:calc(50% - 2px);
    }

    .index table tbody tr td:first-child {
        width: 298px;
    }

    @media screen and (max-width: 600px) {
        .index table tbody tr td
        {
            width:100%;
        }
}

.index .welcome {
    padding: 20px;
    width: 258px;
    height: 100%;
}

    .index .welcome .welcome-title h1 {
        width: 258px;
        color: #00b9f1;
        font-size: 1.8em;
        margin: 0 0 15px 5px;
    }

    .index .welcome .pin {
        width: 258px;
        height: 100px;
        padding: 20px;
        background-color: #fff;
        box-sizing: border-box;
    }

    .index .welcome p {
        color: #555;
        font-size: 1em;
        font-weight: normal;
        margin: 25px 0 0 7px;
    }

        .index .welcome .pin img {
            width: 218px;
            height: 60px;
        }

.index .status h1 {
    color: #00b9f1;
    font-size: 1.8em;
    margin: 20px 0 14px 0;
    margin-left: 25px;
}

.index section {
    margin: 0 20px 20px 0;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
}

    .index section h3 {
        margin: 0;
        color: #555;
    }

.index .status-list {
    display: inline-flex;
    margin-right: 15px;
}

.index .blue-bg, .accounts .blue-bg {
    background-color: #00b9f1;
}

.index .green-bg {
    background-color: #1aa531;
}

.index .orange-bg {
    background-color: #ff8c00;
}

.index .red-bg {
    background-color: #b20808;
}

.index .upgrade-server-button {
    margin-left: 20px;
}

.index .status-icon .status-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.log content {
    background-color: #353535;
}

.log pre {
    color: #fff;
    padding: 5px 20px;
    white-space: pre-wrap;
}

.accounts .account-list {
    background-color: #fff;
    margin: 20px 0px 20px 20px;
    width:calc(50% - 2px);
}

    @media screen and (max-width: 600px) {
.accounts .account-list
  {
    width:80%;
  }
}

    .accounts .account-list a {
        font-size: 1.4em;
        text-decoration: none;
        color: #353535;
        margin-right: 10px;
    }

    .accounts .account-list a:hover {
        color: #000;
    }

    .accounts .account-list .account-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

.accounts .auth-actions {
    padding: 0 20px 20px 20px;
}

.config form, .plugins form {
    height: 100%;
}

.config table, .plugins table {
    width: 100%;
    height: 100%;
}

    .config table tbody tr td, .plugins table tbody tr td {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

    .config table tbody tr td:first-child {
        width: 207px;
    }

.config .server-form {
    padding: 20px;
    width: 207px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.config .platform-panel, .plugins .platform-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
}

    .config .platform-panel table, .plugins .platform-panel table {
        width: 100%;
        height: auto;
    }

        .config .platform-panel table tbody tr td, .plugins .platform-panel table tbody tr td {
            width: auto;
            height: auto;
            vertical-align: top;
            padding: 20px;
        }

        .config .platform-panel table tbody tr td:first-child, .plugins .platform-panel table tbody tr td:first-child {
            width: 207px;
        }

        .config .platform-panel table tbody tr td:last-child, .plugins .platform-panel table tbody tr td:last-child {
            width: 24px;
            text-align: right;
            padding: 0;
        }

.config .platform-form, .plugins .platform-form {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

    .config .platform-form .platform, .config .platform-form .accessory, .plugins .platform-form .platform, .plugins .platform-form .accessory {
        margin: 20px 0 0 0;
        padding: 20px;
        background-color: #fff;
        position: relative;
    }

    .config textarea, .plugins textarea {
        padding: 20px;
        font-size: 0.8em;
        border: 0 none;
        outline: 0 none;
        width: 100%;
        box-sizing: border-box;
    }

    .config .platform-delete, .config .accessory-delete, .plugins .platform-delete, .plugins .accessory-delete {
        color: #afafaf;
        cursor: pointer;
    }

.config .config-form-actions, .plugins .config-form-actions {
    padding: 10px 20px 20px 20px;
}

.config .config-editor {
    background-color: #fff;
    margin: 20px 20px 0 20px;
    padding: 20px;
}

.plugins .plugin-cards {
    width: 100%;
    height: 100%;
    border-top: 65px transparent solid;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

.plugins .plugin-card {
    margin: 10px;
    background-color: #fff;
    word-wrap: break-word;
    position: relative;
}

    .plugins .plugin-card .installed-tag {
        color: #00b9f1;
        font-weight: bold;
    }

    .plugins .plugin-card  a {
        color: #00b9f1 !important;
    }

        .plugins .plugin-card  a:hover {
            color: #00b9f1 !important;
        }

.plugins .plugin-search-form {
    height: 65px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 64px;
    left: 57px;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 80%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 90%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.title {
    cursor: default;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 64px transparent solid;
    width: 57px;
    height: 100%;
    background-color: #353535;
    box-sizing: border-box;
}

    .menu a {
        color: #bababa !important;
        text-decoration: none;
        margin-top: 15px;
        width: 24px;
    }

        .menu a:hover {
            color: #fff !important;
            text-decoration: none;
        }

.index .menu a.controller-index, .log .menu a.controller-log, .accounts .menu a.controller-accounts, .config .menu a.controller-config, .plugins .menu a.controller-plugins {
    color: #00b9f1 !important;
}

    .index .menu a.controller-index:hover, .log .menu a.controller-log:hover, .accounts .menu a.controller-accounts:hover, .config .menu a.controller-config:hover, .plugins .menu a.controller-plugins:hover {
        color: #00b9f1 !important;
    }

.server-menu {
    position: absolute;
    transform-origin: right top 48px;
    top: 48px;
    transform: scale(0, 0);
    right: 20px;
    font-size: 14px;
}

.server-menu-button {
    cursor: pointer;
}

.server-menu-divider {
    margin: 10px 0 10px 0 !important;    
}

@media (max-width: 959px) and (orientation: landscape) {
    content {
        border-top: 48px transparent solid;
    }

    .menu {
        border-top: 48px transparent solid;
    }
}

@media (max-width: 599px) {
    content {
        border-top: 56px transparent solid;
    }

    .menu {
        border-top: 56px transparent solid;
    }
}
