<div
  class="accessory-box"
  [ngClass]="{ 'accessory-on': currentPosition > 0 }"
  (longClick)="onLongClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <!-- Window Covering Icon -->
    @if (isWindowCovering) {
    <div [attr.aria-label]="'accessories.core.window_covering' | translate" class="accessory-svg">
      <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <!-- outer frame -->
        <rect x="1" y="0.8" width="30" height="30.2" rx="0.5" stroke="#7f7f7f" fill="none" stroke-width="1.5" />
        <!-- left window frame -->
        <rect x="2.8" y="2.6" width="12.4" height="26.6" stroke="#7f7f7f" fill="none" stroke-width="1" />
        <!-- left window divider -->
        <rect x="3.66" y="15.65" width="10.68" height="0.5" stroke="#7f7f7f" fill="none" stroke-width="0.5" rx="2" />
        <!-- right window frame -->
        <rect x="16.8" y="2.6" width="12.4" height="26.6" stroke="#7f7f7f" fill="none" stroke-width="1" />
        <!-- right window divider -->
        <rect x="17.66" y="15.65" width="10.68" height="0.5" stroke="#7f7f7f" fill="none" stroke-width="0.5" rx="2" />
        <!-- blind -->
        <rect
          class="c-blinds"
          x="2.3"
          y="2.1"
          width="27.4"
          height="27.6"
          stroke="#808080"
          fill="#808080"
          stroke-width="0.5"
          stroke-opacity="0.9"
          fill-opacity="0.9"
        />
        <!-- light -->
        <rect
          class="c-light"
          x="2.05"
          y="29.9"
          width="27.9"
          height="0"
          stroke="#ffffff"
          fill="#ffffff"
          stroke-width="0.5"
          stroke-opacity="0"
          fill-opacity="0.5"
        />
      </svg>
    </div>
    }
    <!-- Door Icon -->
    @if (isDoor) {
    <div [attr.aria-label]="'accessories.core.door' | translate" class="accessory-svg">
      <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <!-- outer frame -->
        <rect x="7.8" y="0.8" width="16.4" height="30.2" rx="0.5" stroke="#7f7f7f" fill="none" stroke-width="1.5" />
        <!-- door outline -->
        <rect
          class="outline"
          x="9.6"
          y="2.6"
          width="12.8"
          height="26.6"
          stroke="#7f7f7f"
          fill="none"
          stroke-width="1"
        />
        <!-- top panel -->
        <rect
          class="panel"
          x="11.2"
          y="4.2"
          width="9.6"
          height="10.8"
          stroke="#7f7f7f"
          fill-opacity="0"
          stroke-width="0.5"
          rx="0.25"
        />
        <!-- bottom panel -->
        <rect
          class="panel"
          x="11.2"
          y="16.8"
          width="9.6"
          height="10.8"
          stroke="#7f7f7f"
          fill-opacity="0"
          stroke-width="0.5"
          rx="0.25"
        />
        <!-- wider floor -->
        <line x1="0" y1="31" x2="32" y2="31" stroke="#7f7f7f" stroke-width="1.5" />
        <!-- door handle -->
        <rect
          class="handle"
          x="19.25"
          y="15.87"
          width="1.55"
          height="0.05"
          stroke="#1976d2"
          fill="none"
          stroke-width="0.5"
          rx="10"
        />
      </svg>
    </div>
    }
    <!-- Window Icon -->
    @if (isWindow) {
    <div [attr.aria-label]="'accessories.core.window' | translate" class="accessory-svg">
      <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <!-- outer frame -->
        <rect x="1" y="0.8" width="30" height="30.2" rx="0.5" stroke="#7f7f7f" fill="none" stroke-width="1.5" />
        <!-- left window frame -->
        <rect
          class="outline-left"
          x="2.8"
          y="2.6"
          width="12.4"
          height="26.6"
          stroke="#7f7f7f"
          fill="none"
          stroke-width="1"
        />
        <!-- left window divider -->
        <rect
          class="divider-left"
          x="3.66"
          y="15.65"
          width="10.68"
          height="0.5"
          stroke="#7f7f7f"
          fill="none"
          stroke-width="0.5"
          ry="2"
        />
        <!-- left window handle -->
        <rect
          class="handle-left"
          x="15.16"
          y="13.6"
          width="0.1"
          height="4.6"
          stroke="#1976d2"
          fill="none"
          stroke-width="0.5"
          ry="2"
        />
        <!-- right window frame -->
        <rect
          class="outline-right"
          x="16.8"
          y="2.6"
          width="12.4"
          height="26.6"
          stroke="#7f7f7f"
          fill="none"
          stroke-width="1"
        />
        <!-- right window divider -->
        <rect
          class="divider-right"
          x="17.66"
          y="15.65"
          width="10.68"
          height="0.5"
          stroke="#7f7f7f"
          fill="none"
          stroke-width="0.5"
          ry="2"
        />
        <!-- right window handle -->
        <rect
          class="handle-right"
          x="16.76"
          y="13.6"
          width="0.1"
          height="4.6"
          stroke="#1976d2"
          fill="none"
          stroke-width="0.5"
          ry="2"
        />
      </svg>
    </div>
    }
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName || service.displayName }}</div>
    <div class="accessory-label grey-text">
      @if (currentPosition === 0) { {{ 'accessories.control.closed' | translate }} } @else if (currentPosition === 100)
      { {{ 'accessories.control.open' | translate }} } @else { {{ 'accessories.control.open' | translate }} {{
      currentPosition }}% }
    </div>
  </div>
</div>
