<div class="row">
  <div class="col-md-4 mb-3">
    <h3 class="primary-text">Homebridge</h3>
    <!--Panel-->
    <div class="card card-body text-center">
      <div #qrcode class="qr-code-container"></div>
      <p>{{ server.pin }}</p>
      <p class="mt-1 grey-text">
        Scan this code with the camera on your iOS device to add to Apple Home.
      </p>
    </div>
    <!--/.Panel-->

  </div>

  <div class="col-md-8">
    <h3 class="primary-text">Server Status</h3>

    <!--Panel-->
    <div class="card card-body mb-3">
      <div class="d-flex flex-row">
        <h5 class="mb-0 mr-auto">Homebridge</h5>
        <p *ngIf="homebridge.fork" class="mb-0 d-none d-sm-inline grey-text" [innerText]="homebridge.fork | lowercase"></p>
      </div>
      <div class="d-flex flex-row">
        <div class="d-flex p-1">
          <div class="p-3">
            <i *ngIf="!homebridge.version" class="material-icons status-circle bg-status-green spin">&#xE863;</i>
            <i *ngIf="homebridge.version && !homebridge.update" class="material-icons status-circle bg-status-green">&#xE5CA;</i>
            <i *ngIf="homebridge.version && homebridge.update" class="material-icons status-circle bg-yellow">&#xE863;</i>
          </div>
          <div class="align-self-center">
            <span *ngIf="!homebridge.version">Checking for updates...</span>
            <span *ngIf="homebridge.version && !homebridge.update">Up To Date</span>
            <span *ngIf="homebridge.version && homebridge.update">{{ homebridge.version }} Update Available</span>
            <br>
            <span class="grey-text" *ngIf="homebridge.version"><span class="d-none d-sm-inline">Version</span> {{ homebridge.installed }}</span>
          </div>
          <div class="align-self-center p-3" *ngIf="homebridge.update && $auth.user.admin">
            <button type="button" class="btn btn-red waves-effect waves-light" (click)="$plugin.upgradeHomebridge()">Upgrade</button>
          </div>
        </div>
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body mb-3">
      <h5 class="mb-0">Services</h5>
      <div class="d-flex flex-row">
        <div class="d-flex p-1">
          <div class="p-3">
            <i *ngIf="this.server.status==='up'" class="material-icons status-circle bg-status-green">&#xE5CA;</i>
            <i *ngIf="this.server.status!=='up'" class="material-icons status-circle bg-red">&#xE14B;</i>
          </div>
          <div class="align-self-center">
            <span>Homebridge</span>
            <br>
            <span class="grey-text d-none d-sm-block" *ngIf="this.server.status==='up'">Running on port {{ server.port }}</span>
            <span class="grey-text d-none d-sm-block" *ngIf="this.server.status!=='up'">Not running</span>
          </div>
        </div>
        <div class="d-flex p-1">
          <div class="p-3">
            <i *ngIf="consoleStatus==='up'" class="material-icons status-circle bg-status-green">&#xE5CA;</i>
            <i *ngIf="consoleStatus!=='up'" class="material-icons status-circle bg-red">&#xE14B;</i>
          </div>
          <div class="align-self-center">
            <span>Console</span>
            <br>
            <span class="grey-text d-none d-sm-block" *ngIf="consoleStatus==='up'">Listening on port {{ server.consolePort }}</span>
            <span class="grey-text d-none d-sm-block" *ngIf="consoleStatus!=='up'">Not running</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body mb-3" *ngIf="consoleStatus==='up' && stats.uptime">
      <h5 class="mb-0">Uptime</h5>
      <div class="d-flex flex-row">
        <div class="p-1" [ngClass]="{'d-flex': stats.uptime.days, 'd-none d-sm-flex': !stats.uptime.days}">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE88B;</i>
          </div>
          <div class="align-self-center">
            <span [innerText]="stats.uptime.days"></span>
            <br>
            <span class="grey-text">Days</span>
          </div>
        </div>
        <div class="d-flex p-1">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE88B;</i>
          </div>
          <div class="align-self-center">
            <span [innerText]="stats.uptime.hours"></span>
            <br>
            <span class="grey-text">Hours</span>
          </div>
        </div>
        <div class="p-1" [ngClass]="{'d-flex': !stats.uptime.days, 'd-none d-sm-flex': stats.uptime.days}">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE88B;</i>
          </div>
          <div class="align-self-center">
            <span [innerText]="stats.uptime.minutes"></span>
            <br>
            <span class="grey-text">Minutes</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body mb-3" *ngIf="consoleStatus==='up' && stats.cpu">
      <h5 class="mb-0">CPU</h5>
      <div class="d-flex flex-row">
        <div class="d-flex p-1">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE30D;</i>
          </div>
          <div class="align-self-center">
            <span>{{ stats.cpu }}%</span>
            <br>
            <span class="grey-text">Load</span>
          </div>
        </div>
        <div class="d-flex p-1" *ngIf="stats.cputemp">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE30D;</i>
          </div>
          <div class="align-self-center">
            <span>{{ stats.cputemp }}&deg;C</span>
            <br>
            <span class="grey-text">Temp</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body mb-3" *ngIf="consoleStatus==='up' && stats.memory">
      <h5 class="mb-0">Memory</h5>
      <div class="d-flex flex-row">
        <div class="d-flex p-1">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE322;</i>
          </div>
          <div class="align-self-center">
            <span>{{ stats.memory.total }} GB</span>
            <br>
            <span class="grey-text">Total</span>
          </div>
        </div>
        <div class="d-none d-sm-flex p-1">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE322;</i>
          </div>
          <div class="align-self-center">
            <span>{{ stats.memory.used }} GB</span>
            <br>
            <span class="grey-text">Used</span>
          </div>
        </div>
        <div class="d-flex p-1">
          <div class="p-3">
            <i class="material-icons status-circle bg-blue">&#xE322;</i>
          </div>
          <div class="align-self-center">
            <span>{{ stats.memory.free }} GB</span>
            <br>
            <span class="grey-text">Free</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.Panel-->

  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center mb-3 grey-text">
    <small *ngIf="$auth.user.admin">
      <app-reset></app-reset>
      -
    </small>
    <small>
      {{ $auth.env.packageName }} v{{ $auth.env.packageVersion }}
      -
    </small>
    <small>
      node.js {{ $auth.env.nodeVersion }}
    </small>
  </div>
</div>