<app-spinner *ngIf="!error"></app-spinner>
<div class="p-3 px-md-4 pt-0 pt-md-4">
  <div class="d-flex justify-content-between">
    <h3 class="primary-text m-0">{{ 'menu.restart.title' | translate }}</h3>
  </div>
  <div class="my-4 align-items-center" style="max-width: 1000px; margin: auto">
    <div class="w-100 text-center primary-text mb-5">
      <i class="fas fa-fw fa-power-off" style="font-size: 75px"></i>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="primary-text">{{ 'platform.linux.restarting_server' | translate }}</h3>
        <p class="grey-text" *ngIf="!timeout && !error">{{ 'platform.linux.restart' | translate }}</p>
        <p class="grey-text" *ngIf="error">{{ error }}</p>
        <div *ngIf="timeout">
          <p class="grey-text">{{ 'platform.linux.long_time' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
