<app-spinner *ngIf="!error"></app-spinner>

<div class="row">
  <div class="col-md-12 text-center">
    <h3 class="primary-text">{{ 'platform.linux.restart.title_restarting_server' | translate }}</h3>
    <p class="grey-text" *ngIf="!timeout && !error">
      {{ 'platform.linux.restart.message_please_wait_while_server_restarts' | translate }}
    </p>
    <p class="grey-text" *ngIf="error">{{ error }}</p>
    <div *ngIf="timeout">
      <p class="grey-text">
        {{ 'platform.linux.restart.message_server_taking_long_time_to_restart' | translate }}
      </p>
    </div>
  </div>
</div>
