<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'reset.title_reset_homebridge_accessory' | translate }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate" (click)="activeModal.dismiss('Dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert type="error" [dismissible]="false" style="margin-bottom: 0;">
      <div class="text-center mt-2 mb-3"><i class="fas fa-fw fa-exclamation-circle" style="font-size: 75px;"></i></div>
      <p>{{ 'reset.message_action_is_irreversible' | translate }}</p>
      <ul class="mb-0 text-left">
        <li>{{ 'reset.message_reset_will_unpair_from_homekit' | translate }}</li>
        <li>{{ 'reset.message_need_to_remove_homebridge_accessory_from_home_app' | translate }}</li>
        <li>{{ 'reset.message_all_automations_will_be_reset' | translate }}</li>
        <li>{{ 'reset.message_your_homebridge_username_will_be_changed' | translate }}</li>
        <li class="mb-0">{{ 'reset.message_accessory_config_will_not_be_changed' | translate }}</li>
      </ul>
    </ngb-alert>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onResetHomebridgeAccessoryClick()" [disabled]="clicked">
        {{ 'form.button_reset' | translate }}
      </button>
    </div>
  </div>
</div>
