<div class="login-container d-flex align-items-center justify-content-center"
  style="background: url('assets/snapshot.jpg') no-repeat center center fixed">
  <div class="card card-body ml-2 mr-2 login-card">

    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <p class="h4 text-center mb-4">Homebridge</p>

      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input formControlName="username" type="text" id="form-username" autofocus autocomplete="username"
          autocapitalize="none" tabindex="1" class="form-control pl-0 pr-0" [ngClass]="{
            'is-invalid': form.controls.username.dirty && form.controls.username.errors
          }">
        <label for="form-username" [translate]="'login.label_username'">Username</label>
      </div>

      <div class="md-form">
        <i class="fas fa-lock prefix grey-text"></i>
        <input formControlName="password" type="password" id="form-pass" autocomplete="current-password" tabindex="2"
          class="form-control pl-0 pr-0" [ngClass]="{
            'is-invalid': form.controls.password.dirty && form.controls.password.errors
          }">
        <label for="form-pass" [translate]="'login.label_password'">Password</label>
      </div>

      <div class="text-center">
        <p class="red-text" *ngIf="invalidCredentials"><small
            [translate]="'login.message_invalid_username_or_password'">Invalid Username and Password</small></p>
        <button tabindex="3" class="btn btn-amber" type="submit" [translate]="'login.button_login'">Login</button>
      </div>

    </form>

  </div>
</div>