::ng-deep .accessory-box {
  background-color: #e0e0e0;
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  //overflow: hidden;
  
  @media (max-width: 539px) {
    height: 100px;
    width: 100px;
    padding: 8px;
    margin: 7px;
  }
}

::ng-deep .accessory-svg {
  #accessoryIcon {
    fill: grey;
  }

  svg {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;

    @media (max-width: 539px) {
      margin-bottom: 8px;
      height: 31px;
      width: 31px;
    }
  }
}

::ng-deep .accessory-img {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 539px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

::ng-deep .accessory-icon {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 539px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

::ng-deep .accessory-label {
   margin-top: 4px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   line-height: 1rem;
   max-height: 1rem*2;

  @media (max-width: 539px) {
    margin-top: 0px;
    font-size: 12px;
    line-height: 17px;
    -webkit-line-clamp: 2;
    line-height: 1rem;
    max-height: 1rem*2;
  }
}

.room-title {
  margin-left: 10px;
  @media (max-width: 539px) {
    margin-left: 7px;
  }
}

.services-bag {
  min-height: 170px;
  @media (max-width: 539px) {
    min-height: initial;
  }
}

// prevent random text selection when long pressing on mobile
::ng-deep .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}