<div class="m-header" (click)="handleSidebarToggle()"></div>

<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header" (click)="handleSidebarToggle()">
    <img style="height:35px; width: 35px;" src="../../../../assets/homebridge-logo.svg" alt="logo">
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/']" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}">
        <div class="icon"><i class="fa fa-fw fa-house"></i></div>
        <div class="title" [translate]="'menu.label_status'">Status</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/plugins']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-plug"></i></div>
        <div class="title" [translate]="'menu.label_plugins'">Plugins</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/accessories']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-lightbulb"></i></div>
        <div class="title" [translate]="'menu.label_accessories'">Accessories</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/logs']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-wave-square"></i></div>
        <div class="title" [translate]="'menu.linux.label_logs'">Logs</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/platform-tools/terminal']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-terminal"></i></div>
        <div class="title" [translate]="'menu.linux.label_terminal'">Terminal</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/settings']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-cog"></i></div>
        <div class="title" [translate]="'menu.label_settings'">Settings</div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/support']" [routerLinkActive]="'active'">
        <div class="icon"><i class="fa fa-fw fa-question-circle-o"></i></div>
        <div class="title" [translate]="'support.title'">Support</div>
      </div>
    </div>

    <div class="link">
      <div class="content" (click)="openRestartModal()">
        <div class="icon"><i class="fa fa-fw fa-power-off"></i></div>
        <div class="title" [translate]="'menu.restart.title'">Power Options</div>
      </div>
    </div>

    <div class="link">
      <div class="content" (click)="$auth.logout()">
        <div class="icon"><i class="fa fa-fw fa-right-from-bracket"></i></div>
        <div class="title" [translate]="'menu.tooltip_logout'">Log Out</div>
      </div>
    </div>
  </div>
</div>
