.m-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: right;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.sidebar {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  transition: 0.3s;
  width: 60px;
  z-index: 500;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    font-size: 0.85rem;

    &:hover {
      cursor: pointer;
    }
  }

  .link-wrapper {
    position: fixed !important;
    top: 80px;
    overflow-y: auto;
    max-height: calc(100vh - 80px) !important;
    width: 60px;

    .link {
      .link-row {
        display: flex;
        align-items: center;
        padding: 15px 10px 15px 10px;
        cursor: pointer;
        transition: 0.2s;
        font-size: 18px;

        .icon {
          flex: 0 0 38px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          flex: 1;
          transition: 0.3s;
          max-width: 0;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  @media (max-width: 767px) {
    width: 0;

    .link-wrapper {
      display: none;
    }
  }

  &.expanded {
    width: 250px !important;

    @media (max-width: 767px) {
      width: 250px;

      .link-wrapper {
        display: block;
      }
    }

    .link-wrapper {
      width: 250px;
      .link {
        .link-row {
          .title {
            max-width: 190px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.hb-logo-icon {
  position: absolute;
  top: 22px;
  right: 18px;
  font-size: 24px;
}

.hb-logo-text {
  position: absolute;
  top: 15px;
  font-size: 24px;
  font-weight: 900;
}

.sidebar.expanded .hb-logo-text {
  opacity: 1;
  left: 55px;
  transition: 0.3s;
}

.sidebar:not(.expanded) .hb-logo-text {
  opacity: 0;
  left: 40px;
  transition: 0.3s;
}

@media (max-width: 767px) {
 .hb-logo-text {
   opacity: 1;
   left: 55px;
   transition: 0.3s;
  }
}

