.m-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111111;
  height: 65px;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transition: 0.3s;
  width: 55px;
  background: #111111;
  color: #6d6e7e;
  z-index: 500;

  .header {
    display: flex;
    justify-content: left;
    padding: 15px 10px 15px 10px;
    background: #111111;

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    .link {
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px 15px 10px;
        cursor: pointer;
        transition: 0.2s;
        font-size: 18px;

        &:hover {
          background: #000000;

          .title {
            color: white;
          }
        }

        &.active {
          i {
            color: #2196f3;
          }
        }

        .icon {
          flex: 0 0 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          flex: 1;
          color: #6d6e7e;
          transition: 0.3s;
          max-width: 0;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  @media (max-width: 767px) {
    width: 0;

    .content {
      display: none;
    }
  }

  &.expanded {
    width: 205px;

    @media (max-width: 767px) {
      width: 205px;

      .content {
        display: block;
      }
    }

    .content {
      .link {
        .content {
          .title {
            max-width: 150px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
