<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1">
  <div class="drag-handler p-2" [ngClass]="{ 'widget-cursor': widget.draggable }">
    {{ 'status.network.title_network' | translate }} ({{ this.widget.networkInterface }})
  </div>
  <canvas
    class="widget-chart h-100 w-100"
    baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [type]="lineChartType"
  ></canvas>
  <div #widgetbackground class="hb-widget-chart-background"></div>
  <div class="d-flex flex-row flex-grow-1 align-items-center w-100 gridster-item-content text-center">
    <div class="d-flex justify-content-around flex-wrap w-100">
      <div class="text-center widget-value-parent-wrap">
        <div class="widget-value mb-0">{{ receivedPerSec | number:'1.0-1' }} Mb/s</div>
        <div class="widget-value-label grey-text">{{ 'status.network.received_per_second' | translate }}</div>
      </div>
      <div class="text-center widget-value-parent-wrap">
        <div class="widget-value mb-0">{{ sentPerSec | number:'1.0-1' }} Mb/s</div>
        <div class="widget-value-label grey-text">{{ 'status.network.sent_per_second' | translate }}</div>
      </div>
    </div>
  </div>
</div>
