<div class="modal-content hb-backup-modal">
  <div class="modal-header">
    <h5 class="modal-title" [translate]="'backup.title_backup_restore'"></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')" *ngIf="!restoreInProgress">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!restoreStarted">
    <h4 class="text-center" [translate]="'backup.title_backup'"></h4>
    <p [translate]="'backup.message_backup_help_one'"></p>
    <p [translate]="'backup.message_backup_help_two'"></p>
    <p class="primary-text" [translate]="'backup.message_backup_warning'"></p>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDownloadBackupClick()"
        [disabled]="clicked">
        <i *ngIf="clicked" class="fa fa-circle-notch fa-spin"></i>
        <span *ngIf="!clicked" [translate]="'backup.button_download_backup_archive'"></span>
      </button>
    </div>
    <hr>
    <h4 class="text-center" [translate]="'backup.title_restore'"></h4>
    <p [translate]="'backup.message_restore_help_one'"></p>
    <p [translate]="'backup.message_restore_help_two'"></p>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="restoreFileUpload" accept="application/gzip, .gz, .hbfx"
        (change)="handleRestoreFileInput($event.target.files)">
      <label class="custom-file-label"
        for="restoreFileUpload">{{ selectedFile?.name || 'backup.label_choose_backup_file_to_restore' | translate }}</label>
    </div>
    <p class="primary-text mt-3" *ngIf="selectedFile" [translate]="'backup.message_restore_warning'"></p>
    <div class="text-center" *ngIf="selectedFile">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onRestoreBackupClick()"
        [disabled]="clicked">
        <span *ngIf="clicked">
          <i *ngIf="!uploadPercent || uploadPercent === 100" class="fa fa-circle-notch fa-spin"></i>
          <span *ngIf="uploadPercent && uploadPercent !== 100">{{ uploadPercent }}% - </span>
          <span *ngIf="uploadPercent === 100"> Extracting Archive</span>
          <span *ngIf="uploadPercent !== 100"> {{ 'backup.label_uploading' | translate }}</span>
        </span>
        <span *ngIf="!clicked" [translate]="'backup.button_restore_backup'"></span>
      </button>
    </div>
  </div>

  <div [hidden]="!restoreStarted" id="plugin-log-output" class="modal-body"></div>

  <div class="modal-footer" *ngIf="!restoreStarted || restoreFailed === true">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')"
      [translate]="'form.button_close'" [disabled]="clicked">Close</button>
  </div>

  <div class="modal-footer" *ngIf="!restoreInProgress && restoreStarted">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postBackupRestart()">
      {{ 'menu.tooltip_restart' | translate }} Homebridge</button>
  </div>
</div>