<div class="accessory-box" [ngClass]="{'switch-on': service.values.On}" appLongclick (longclick)="onLongClick()" (shortclick)="onClick()">
  <img src="/assets/hap-icons/fan-off.svg" alt="Fan" class="accessory-img" *ngIf="!service.values.On">
  <img src="/assets/hap-icons/fan-on.svg" alt="Fan" class="accessory-img spin" *ngIf="service.values.On">
  <div class="accessory-label">{{ service.serviceName }}</div>
  <div class="accessory-label grey-text" *ngIf="!service.values.RotationSpeed" [innerText]="service.values.On ? 'On' : 'Off'"></div>
  <div class="accessory-label grey-text" *ngIf="service.values.RotationSpeed">{{ service.values.RotationSpeed }}%</div>
</div>