.temperature-circle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 6px;
  background-color: grey;
  color: lightgrey;
}

.temperature-circle-collapse {
  @media (max-width: 575px) {
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 10px;
    margin-bottom: 7px;
  }
}

.temperature-circle-big {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
}

@keyframes animate-cooling {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animate-heating {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.cooling {
  animation: animate-cooling 5s linear infinite;
  background-image: linear-gradient(0deg, #1e8bbd, #66d6d6, #1e8bbd, #66d6d6);
  background-size: 100% 300%;
  color: #ffffff;
}

.heating {
  animation: animate-heating 5s linear infinite;
  background-image: linear-gradient(0deg, #cc5e00, #e69533, #cc5e00, #e69533);
  background-size: 100% 300%;
  color: #ffffff;
}

.no-current-state {
  background-color: #42d672;
  color: #ffffff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
