<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body text-center px-5">
    <div
      class="temperature-circle temperature-circle-big mb-4"
      [innerText]="(service.values.CurrentTemperature | convertTemp | number: '1.0-1') + '°' + (temperatureUnits | uppercase)"
      [ngClass]="{
        'cooling': service.values.CurrentHeaterCoolerState === 3 && service.values.Active === 1,
        'heating': service.values.CurrentHeaterCoolerState === 2 && service.values.Active === 1,
        'no-current-state': service.values.CurrentHeaterCoolerState < 2 && service.values.Active === 1
      }"
    ></div>
    <div
      class="btn-group-vertical d-flex justify-content-center mb-4 p-0"
      role="group"
      aria-label="Heater Cooler State Control"
    >
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetState(0, $event)">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetState === 0, 'fa-blank': targetState !== 0 }"
          ></i>
        </div>
        {{ 'accessories.control.off' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetState(1, $event)">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetState === 1, 'fa-blank': targetState !== 1 }"
          ></i>
        </div>
        {{ 'accessories.control.on' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
    </div>
    @if (targetStateValidValues.length) {
    <h6 class="mt-4">{{ 'accessories.control.mode' | translate }}</h6>
    <div
      class="btn-group-vertical d-flex justify-content-center mb-0 p-0"
      role="group"
      aria-label="Heater Cooler Mode Control"
    >
      @if (targetStateValidValues.includes(0)) {
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(0, $event)">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 0, 'fa-blank': targetMode !== 0 }"
          ></i>
        </div>
        {{ 'accessories.control.auto' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      } @if (targetStateValidValues.includes(1)) {
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(1, $event)">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 1, 'fa-blank': targetMode !== 1 }"
          ></i>
        </div>
        {{ 'accessories.control.heat' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      } @if (targetStateValidValues.includes(2)) {
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(2, $event)">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 2, 'fa-blank': targetMode !== 2 }"
          ></i>
        </div>
        {{ 'accessories.control.cool' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      }
    </div>
    } @if (targetStateValidValues.includes(0)) { @if (HeatingThresholdTemperature && CoolingThresholdTemperature) {
    <h6 class="mt-4 mb-1">
      {{ 'accessories.control.target_auto' | translate }}: {{ autoTemp[0] | convertTemp | number: '1.0-1' }}&deg;{{
      temperatureUnits | uppercase }} - {{ autoTemp[1] | convertTemp | number: '1.0-1' }}&deg;{{ temperatureUnits |
      uppercase }}
    </h6>
    <nouislider
      [min]="HeatingThresholdTemperature.minValue"
      [max]="CoolingThresholdTemperature.maxValue"
      [step]="CoolingThresholdTemperature.minStep"
      [(ngModel)]="autoTemp"
      (ngModelChange)="onAutoTemperatureStateChange()"
    >
    </nouislider>
    } @else if (HeatingThresholdTemperature && !CoolingThresholdTemperature) {
    <h6 class="mt-4">
      {{ 'accessories.control.target_auto' | translate }}: {{ targetHeatingTemp | convertTemp | number: '1.0-1'
      }}&deg;{{ temperatureUnits | uppercase }}
    </h6>
    <nouislider
      [min]="HeatingThresholdTemperature.minValue"
      [max]="HeatingThresholdTemperature.maxValue"
      [step]="HeatingThresholdTemperature.minStep"
      [(ngModel)]="targetHeatingTemp"
      (ngModelChange)="onTemperatureStateChange()"
    >
    </nouislider>
    } @else if (!HeatingThresholdTemperature && CoolingThresholdTemperature) {
    <h6 class="mt-4">
      {{ 'accessories.control.target_auto' | translate }}: {{ targetCoolingTemp | convertTemp | number: '1.0-1'
      }}&deg;{{ temperatureUnits | uppercase }}
    </h6>
    <nouislider
      [min]="CoolingThresholdTemperature.minValue"
      [max]="CoolingThresholdTemperature.maxValue"
      [step]="CoolingThresholdTemperature.minStep"
      [(ngModel)]="targetCoolingTemp"
      (ngModelChange)="onTemperatureStateChange()"
    >
    </nouislider>
    } }
  </div>
  <div class="modal-footer"></div>
</div>
