<div
  class="accessory-box"
  [ngClass]="{
    'switch-on': [0, 2].includes(service.values.CurrentDoorState)
      || service.values.On
      || service.values.Active
    }"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/hap-icons/garage-door.svg'"
      [attr.aria-label]="'Garage Door'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>

    @if ('CurrentDoorState' in service.values) { @switch (service.values.CurrentDoorState) {@case (0) {
    <div class="accessory-label red-text">{{ 'accessories.control.open' | translate }}</div>
    } @case (1) {
    <div class="accessory-label grey-text">{{ 'accessories.control.closed' | translate }}</div>
    } @case (2) {
    <div class="accessory-label red-text">{{ 'accessories.control.opening' | translate }}...</div>
    } @case (3) {
    <div class="accessory-label red-text">{{ 'accessories.control.closing' | translate }}...</div>
    } @case (4) {
    <div class="accessory-label red-text">{{ 'accessories.control.stopped' | translate }}</div>
    } } } @else { @if (service.values.On || service.values.Active) {
    <div class="accessory-label red-text">{{ 'accessories.control.open' | translate }}</div>
    } @else {
    <div class="accessory-label grey-text">{{ 'accessories.control.closed' | translate }}</div>
    } }
  </div>
</div>
