<div class="d-flex justify-content-between">
  <h3 class="primary-text m-0">
    <span class="d-none d-md-inline">Homebridge</span> Settings
  </h3>
  <button class="btn btn-primary waves-effect m-0" *ngIf="saved" routerLink="/restart"
    [translate]="'platform.docker.settings.button_restart_required'">Restart Required</button>
</div>

<!-- ALL USERS Homebridge v1.3+ -->
<div class="mb-3" *ngIf="showNetworking">
  <h5 class="primary-text mt-3" translate="settings.network.title_network"></h5>

  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        <div>{{ 'settings.network.title_network_interfaces' | translate }}
          <i class="fas fa-info-circle primary-text"
            ngbTooltip="{{ 'settings.network.message_network_interface_one' | translate }}"></i>
        </div>

        <span *ngFor="let adapter of bridgeNetworkAdapters">
          <span class="badge badge-pill mr-1"
            [ngbTooltip]="adapter.missing ? 'Not Connected' : adapter.ip4 || adapter.ip6" placement="bottom-left"
            openDelay="150" [ngClass]="{'badge-danger': adapter.missing, 'badge-info': !adapter.missing}">
            <i class="fas fa-exclamation-triangle" *ngIf="adapter.missing"></i>
            {{ adapter.iface }}
          </span>
        </span>

      </span>
      <button class="btn btn-primary waves-effect m-0" [translate]="'reset.title_clear_cached_accessories'"
        (click)="selectNetworkInterfaces()" [disabled]="!availableNetworkAdapters.length">
        <i class="fas fa-cog"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        {{ 'settings.legacy_mdns_option' | translate }}
      </span>
      <div class="material-switch pull-right">
        <input id="homebridgeLegacyMdnsAdvertiser" [formControl]="legacyMdnsFormControl" type="checkbox" />
        <label for="homebridgeLegacyMdnsAdvertiser" class="badge-primary"></label>
      </div>
    </li>
  </ul>
</div>

<!-- SERVICE MODE USERS ONLY -->
<form class="mt-3 mb-3" novalidate [formGroup]="serviceForm" *ngIf="$auth.env.runningInDocker || $auth.env.serviceMode">

  <h5 class="primary-text">{{ 'settings.title_startup_options' | translate }}</h5>

  <div class="row mt-3" *ngIf="$auth.env.runningInDocker">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert" *ngIf="!$auth.env.ableToConfigureSelf">
        {{'platform.docker.settings.message_image_upgrade_required' | translate}} <a target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/oznu/docker-homebridge">https://github.com/oznu/docker-homebridge</a>
      </div>
      <div class="alert alert-info" role="alert" [translate]="'platform.docker.settings.message_env_warning'">
        Changing these values will override the corresponding environment variables you may have set with the docker run
        command.
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>Homebridge Debug Mode <code>-D</code></span>
      <div class="material-switch pull-right">
        <input id="homebridgeDebugMode" formControlName="HOMEBRIDGE_DEBUG" type="checkbox" />
        <label for="homebridgeDebugMode" class="badge-primary"></label>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        Homebridge "Insecure" Mode
        <span class="d-none d-md-inline"> / Enable Accessory Control </span>
        <code>-I</code>
      </span>
      <div class="material-switch pull-right">
        <input id="homebridgeInsecureMode" formControlName="HOMEBRIDGE_INSECURE" type="checkbox" />
        <label for="homebridgeInsecureMode" class="badge-primary"></label>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="$auth.env.serviceMode">
      <span>Keep accessories of uninstalled plugins <code>-K</code></span>
      <div class="material-switch pull-right">
        <input id="homebridgeKeepOrphans" formControlName="HOMEBRIDGE_KEEP_ORPHANS" type="checkbox" />
        <label for="homebridgeKeepOrphans" class="badge-primary"></label>
      </div>
    </li>
  </ul>

  <div class="mt-3" *ngIf="$auth.env.serviceMode">
    <h5 class="primary-text">{{ 'settings.title_environment_variables' | translate }}</h5>

    <ul class="list-group mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          DEBUG
          <i class="fas fa-info-circle primary-text"
            ngbTooltip="Some plugins require you to set the DEBUG environment variable to enable debug level logging."></i>
        </span>
        <div class="pull-right">
          <input class="form-control form-control-sm" formControlName="ENV_DEBUG" type="text" />
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          NODE_OPTIONS
          <a href="https://nodejs.org/api/cli.html" target="_blank"
            ngbTooltip="Node.js runtime options for the Homebridge process. This should be kept blank unless you know what you are doing.">
            <i class="fas fa-info-circle primary-text"></i>
          </a>
        </span>
        <div class="pull-right">
          <input class="form-control form-control-sm" formControlName="ENV_NODE_OPTIONS" type="text" />
        </div>
      </li>
    </ul>
  </div>

</form>

<!-- ALL USERS -->
<div class="mb-3">
  <h5 class="primary-text mt-3">{{ 'reset.title_reset' | translate }}</h5>

  <div class="alert alert-info" role="alert">
    {{ 'settings.reset.help' | translate }}
  </div>

  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_unpair_bridges_cameras_tv_external_accessories' | translate }}
        <i class="fas fa-info-circle primary-text"
          ngbTooltip="{{ 'reset.message_unpair_bridges_cameras_tv_external_accessories' | translate }}"></i>
      </span>
      <button class="btn btn-primary waves-effect m-0" (click)="unpairAccessory()">
        <i class="fas fa-flip-horizontal fa-external-link-square-alt"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_reset_homebridge_accessory' | translate | titlecase }}
        <i class="fas fa-info-circle primary-text"
          ngbTooltip="{{ 'reset.message_reset_will_unpair_from_homekit' | translate }}"></i>
      </span>
      <button class="btn btn-primary waves-effect m-0" (click)="resetHomebridgeState()">
        <i class="fas fa-flip-horizontal fa-external-link-square-alt"></i>
      </button>
    </li>
  </ul>
</div>

<!-- SERVICE MODE USERS ONLY -->
<div *ngIf="$auth.env.serviceMode" class="mb-3">

  <h5 class="primary-text mt-3">{{ 'settings.title_manage_cached_accessories' | translate }}</h5>

  <div class="alert alert-info" role="alert">
    {{ 'settings.manage_cache.help' | translate }}
  </div>

  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_clear_cached_accessories_single' | translate }}
        <i class="fas fa-info-circle primary-text"
          ngbTooltip="{{ 'reset.message_remove_cached_accessories_single' | translate }}"></i>
      </span>
      <button class="btn btn-primary waves-effect m-0" [translate]="'reset.title_clear_cached_accessories_single'"
        (click)="removeSingleCachedAccessories()">
        <i class="fas fa-flip-horizontal fa-external-link-square-alt"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_clear_cached_accessories' | translate }}
        <i class="fas fa-info-circle primary-text"
          ngbTooltip="{{ 'reset.message_remove_cached_accessories' | translate }}"></i>
      </span>
      <button class="btn btn-primary waves-effect m-0" [translate]="'reset.title_clear_cached_accessories'"
        (click)="removeAllCachedAccessories()">
        <i class="fas fa-flip-horizontal fa-external-link-square-alt"></i>
      </button>
    </li>
  </ul>

  <h5 class="primary-text mt-3">{{ 'settings.title_actions' | translate }}</h5>

  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_force_restart_hb_service' | translate }}
        <i class="fas fa-info-circle primary-text"
          ngbTooltip="{{ 'reset.message_force_restart_hb_help_text' | translate }}"></i>
      </span>
      <button class="btn btn-primary waves-effect m-0" (click)="forceRestartService()">
        <i class="fas fa-sync"></i>
      </button>
    </li>
  </ul>
</div>