<div class="d-flex justify-content-between">
  <h3 class="primary-text m-0">
    {{ 'menu.settings.title' | translate }}
  </h3>
  <button class="btn btn-primary waves-effect m-0" *ngIf="saved" routerLink="/restart"
    [translate]="'platform.docker.settings.button_restart_required'"
    [attr.aria-label]="'platform.docker.settings.button_restart_required' | translate">Restart Required</button>
</div>

<div class="mb-4">
  <h5 class="primary-text mt-3" translate="settings.general.title_general"></h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'menu.label_settings_ui' | translate }}
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" (click)="openUiSettings()">
        <i class="fas fa-fw fa-sliders"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'menu.config_json_editor' | translate }}
      </span>
      <a class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" routerLink="/config">
        <i class="fas fa-fw fa-chevron-right"></i>
      </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'backup.title_backup' | translate }}
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" (click)="openBackupModal()">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'backup.title_restore' | translate }}
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" (click)="openRestoreModal()">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'menu.tooltip_user_accounts' | translate }}
      </span>
      <a class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" routerLink="/users">
        <i class="fas fa-fw fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>

<!-- ALL USERS -->
<div class="mb-4">
  <h5 class="primary-text mt-3" translate="settings.network.title_network"></h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        <div>{{ 'settings.network.title_network_interfaces' | translate }}<br>
          <small class="grey-text pr-2">{{ 'settings.network.message_network_interface_one' | translate }}</small>
        </div>
        <span *ngFor="let adapter of bridgeNetworkAdapters">
          <span class="badge badge-pill mr-1"
            [ngbTooltip]="adapter.missing ? 'Not Connected' : adapter.ip4 || adapter.ip6" placement="bottom-left"
            openDelay="150" [ngClass]="{'badge-danger': adapter.missing, 'badge-info': !adapter.missing}">
            <i class="fas fa-fw fa-exclamation-triangle" *ngIf="adapter.missing"></i>
            {{ adapter.iface }}
          </span>
        </span>
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" [translate]="'reset.title_clear_cached_accessories'"
        (click)="selectNetworkInterfaces()" [disabled]="!availableNetworkAdapters.length"
        [attr.aria-label]="'settings.network.title_network_interfaces' | translate">
        <i class="fas fa-fw fa-chevron-right" [ngClass]="{ 'fa-pulse': !availableNetworkAdapters.length }"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        {{ 'settings.mdns_advertiser' | translate }}<br>
        <small class="grey-text pr-2">{{ 'settings.mdns_advertiser_help' | translate }}</small>
      </span>
      <div>
        <select class="custom-select" [formControl]="legacyMdnsFormControl"
          [attr.aria-label]="'settings.mdns_advertiser' | translate">
          <option value="bonjour-hap">Bonjour HAP</option>
          <option value="avahi" *ngIf="showAvahiMdnsOption">Avahi</option>
          <option value="resolved" *ngIf="showResolvedMdnsOption">systemd-resolved (experimental)</option>
          <option value="ciao">Ciao</option>
        </select>
      </div>
    </li>
  </ul>
</div>

<!-- SERVICE MODE USERS ONLY -->
<form class="mt-3 mb-3" novalidate [formGroup]="serviceForm" *ngIf="$settings.env.serviceMode">
  <h5 class="primary-text">{{ 'settings.title_startup_options' | translate }}</h5>
  <ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{ 'settings.startup.debug' | translate }} <code>-D</code></span>
      <input type="checkbox" class="rendux-input" id="homebridgeDebugMode" formControlName="HOMEBRIDGE_DEBUG"
        [attr.aria-label]="'settings.startup.debug' | translate">
      <label for="homebridgeDebugMode" class="rendux-label ml-3" style="min-width: 45px;"></label>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        {{ 'settings.startup.insecure_1' | translate }} ({{ 'settings.startup.insecure_2' | translate }})
        <code>-I</code>
      </span>
      <input type="checkbox" class="rendux-input" id="homebridgeInsecureMode" formControlName="HOMEBRIDGE_INSECURE"
        [attr.aria-label]="'settings.startup.insecure_1' | translate">
      <label for="homebridgeInsecureMode" class="rendux-label ml-3" style="min-width: 45px;"></label>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="$settings.env.serviceMode">
      <span>{{ 'settings.startup.keep_accessories' | translate }} <code>-K</code></span>
      <input type="checkbox" class="rendux-input" id="homebridgeKeepOrphans" formControlName="HOMEBRIDGE_KEEP_ORPHANS"
        [attr.aria-label]="'settings.startup.keep_accessories' | translate">
      <label for="homebridgeKeepOrphans" class="rendux-label ml-3" style="min-width: 45px;"></label>
    </li>
  </ul>
  <div class="mb-4" *ngIf="$settings.env.serviceMode">
    <h5 class="primary-text">{{ 'settings.title_environment_variables' | translate }}</h5>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          DEBUG<br>
          <small class="grey-text pr-2">{{ 'settings.service.debug_tooltip' | translate }}</small>
        </span>
        <div class="pull-right">
          <input class="form-control form-control-sm" formControlName="ENV_DEBUG" type="text" />
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          NODE_OPTIONS<br>
          <small class="grey-text pr-2">{{ 'settings.service.node_tooltip' | translate }}</small>
        </span>
        <div class="pull-right">
          <input class="form-control form-control-sm" formControlName="ENV_NODE_OPTIONS" type="text" />
        </div>
      </li>
    </ul>
  </div>
</form>

<!-- ALL USERS -->
<div class="mb-4">
  <h5 class="primary-text mt-3">{{ 'reset.title_reset' | translate }}</h5>
  <p class="small grey-text mb-2">{{ 'settings.reset.help' | translate }}</p>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_unpair_bridges_cameras_tv_external_accessories' | translate }}<br/>
        <small class="grey-text pr-2">{{ 'reset.message_unpair_bridges_cameras_tv_external_accessories' | translate }}</small>
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" (click)="unpairAccessory()"
        [attr.aria-label]="'reset.title_unpair_bridges_cameras_tv_external_accessories' | translate">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_reset_homebridge_accessory' | translate | titlecase }}<br/>
        <small class="grey-text pr-2">{{ 'reset.message_reset_will_unpair_from_homekit' | translate }}</small>
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;" (click)="resetHomebridgeState()"
        [attr.aria-label]="'reset.title_reset_homebridge_accessory' | translate">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
  </ul>
</div>

<!-- SERVICE MODE USERS ONLY -->
<div *ngIf="$settings.env.serviceMode" class="pb-3">
  <h5 class="primary-text mt-3">{{ 'settings.title_manage_cached_accessories' | translate }}</h5>
  <p class="small grey-text mb-2">{{ 'settings.manage_cache.help' | translate }}</p>
  <ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_clear_cached_accessories_single' | translate }}<br>
        <small class="grey-text pr-2">{{ 'reset.message_remove_cached_accessories_single' | translate }}</small>
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;"
        [translate]="'reset.title_clear_cached_accessories_single'" (click)="removeSingleCachedAccessories()"
        [attr.aria-label]="'reset.title_clear_cached_accessories_single' | translate">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_clear_cached_accessories' | translate }}<br>
        <small class="grey-text pr-2">{{ 'reset.message_remove_cached_accessories' | translate }}</small>
      </span>
      <button class="btn btn-primary waves-effect m-0 ml-3" style="min-width: 45px;"
        [translate]="'reset.title_clear_cached_accessories'" (click)="removeAllCachedAccessories()"
        [attr.aria-label]="'reset.title_clear_cached_accessories' | translate">
        <i class="fas fa-fw fa-chevron-right"></i>
      </button>
    </li>
  </ul>
  <h5 class="primary-text mt-3">{{ 'settings.title_actions' | translate }}</h5>
  <ul class="list-group mt-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="pr-2">
        {{ 'reset.title_force_restart_hb_service' | translate }}<br>
        <small class="grey-text pr-2">{{ 'reset.message_force_restart_hb_help_text' | translate }}</small>
      </span>
      <span class="red-text text-right">
        Moved to Main Menu &rarr; {{ 'menu.restart.title' | translate }} &rarr; {{ 'menu.hbrestart.confirm_service_button' | translate }}
      </span>
    </li>
  </ul>
</div>
