<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ plugin.displayName || plugin.name }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
      [disabled]="midAction"
    ></button>
  </div>
  <div class="modal-body d-flex flex-column flex-grow-1 w-100 p-0">
    <!-- Log Filters UI -->
    <div class="mb-2">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <div>
          <label class="fw-bold me-2">Log Types:</label>
          <ng-container *ngFor="let type of logTypes">
            <input
              type="checkbox"
              [id]="'log-type-' + type"
              [value]="type"
              [(ngModel)]="selectedLogTypesMap[type]"
              (change)="onFiltersChanged()"
            />
            <label [for]="'log-type-' + type" class="me-2">{{ type }}</label>
          </ng-container>
        </div>
        <div>
          <label class="fw-bold me-2">Plugins:</label>
          <ng-container *ngFor="let plugin of plugins">
            <input
              type="checkbox"
              [id]="'plugin-' + plugin"
              [value]="plugin"
              [(ngModel)]="selectedPluginsMap[plugin]"
              (change)="onFiltersChanged()"
            />
            <label [for]="'plugin-' + plugin" class="me-2">{{ plugin }}</label>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-row w-100 p-0">
      <div #pluginlogoutput class="w-100 bg-black plugin-log-output terminal align-self-end h-100 mb-0 p-2"></div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="dismissModal()"
        [attr.aria-label]="'form.button_close' | translate"
        [disabled]="midAction"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        class="btn btn-primary"
        (click)="downloadLogFile()"
        [attr.aria-label]="'logs.title_download_log_file' | translate"
        [ngbTooltip]="'logs.title_download_log_file' | translate"
        container="modal"
        placement="top"
        [openDelay]="150"
        triggers="hover"
        [disabled]="midAction"
      >
        <i class="fas fa-download"></i>
      </button>
      @if (childBridges.length) {
      <button
        class="btn btn-danger ms-3"
        (click)="restartChildBridges()"
        [attr.aria-label]="(childBridges.length > 1 ? 'child_bridge.restart_plural' : 'child_bridge.restart') | translate"
        [ngbTooltip]="(childBridges.length > 1 ? 'child_bridge.restart_plural' : 'child_bridge.restart') | translate"
        container="modal"
        placement="top"
        [openDelay]="150"
        triggers="hover"
        [disabled]="midAction"
      >
        <i class="fas fa-power-off"></i>
      </button>
      }
    </div>
  </div>
</div>
