<div class="modal-content hb-accessories-info-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ service.customName || service.serviceName }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="text-right">
        <label for="hide-accessory" class="hb-uix-switch d-inline pr-3">
          <input type="checkbox" [(ngModel)]="service.hidden" id="hide-accessory">
          <span [translate]="'accessories.label_hide_this_accessory'">Hide this accessory</span>
          <span class="hb-uix-slider hb-uix-round"></span>
        </label>

        <label for="show-on-dashboard" class="hb-uix-switch d-inline">
          <input type="checkbox" [(ngModel)]="service.onDashboard" id="show-on-dashboard">
          <span [translate]="'accessories.label_show_on_dashboard'">Show in dashboard widget</span>
          <span class="hb-uix-slider hb-uix-round"></span>
        </label>

      </div>
    </div>
    <div class="md-form">
      <input [ngModel]="service.customName || service.serviceName" (ngModelChange)="service.customName = $event"
        type="text" id="form-name" autocomplete="off" class="form-control pl-0 pr-0">
      <label for="form-name" class="active" [translate]="'accessories.label_name'">Name</label>
    </div>
    <table class="table table-borderless table-hover table-striped table-sm">
      <tbody>
        <tr>
          <th>{{ service.humanType }}</th>
          <td class="text-right"></td>
        </tr>
        <tr *ngFor="let characteristic of service.serviceCharacteristics">
          <td>{{ characteristic.description }}</td>
          <td class="text-right">
            <span [ngSwitch]="characteristic.unit">
              <span *ngSwitchCase="'percentage'">{{ characteristic.value }}%</span>
              <span *ngSwitchCase="'celsius'">{{ characteristic.value | convertTemp }}&deg;</span>
              <span *ngSwitchDefault>{{ characteristic.value }}</span>
            </span>
          </td>
        </tr>
        <tr *ngFor="let information of accessoryInformation">
          <td>{{ information.key }}</td>
          <td class="text-right">{{ information.value }}</td>
        </tr>
        <tr>
          <td>Homebridge Instance IP</td>
          <td class="text-right">{{ service.instance.ipAddress }}</td>
        </tr>
        <tr>
          <td>Homebridge Instance Port</td>
          <td class="text-right">{{ service.instance.port }}</td>
        </tr>
        <tr>
          <td>Homebridge Instance Username</td>
          <td class="text-right">{{ service.instance.username }}</td>
        </tr>
        <tr>
          <td>aid</td>
          <td class="text-right">{{ service.aid }}</td>
        </tr>
        <tr>
          <td>iid</td>
          <td class="text-right">{{ service.iid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>