<div class="modal-content hb-backup-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'form.button_restore' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
      [disabled]="restoreInProgress"
    ></button>
  </div>
  <div class="modal-body" *ngIf="!restoreStarted">
    <div class="text-center mt-2 mb-3">
      <i class="fas fa-fw fa-hard-drive primary-text" style="font-size: 75px"></i>
    </div>
    <p>{{ 'backup.restore_help_one' | translate }}</p>
    <ul>
      <li>{{ 'backup.restore_help_two' | translate }}</li>
      <li>{{ 'backup.restore_max_size' | translate: { maxBackupSizeText: maxFileSizeText } }}</li>
      <li>{{ 'backup.restore_warning' | translate }}</li>
    </ul>
    <div *ngIf="selectedBackup">
      <input class="form-control custom-input" type="text" [value]="selectedBackup.fileName" disabled />
    </div>
    <div class="custom-file" *ngIf="!selectedBackup">
      <input
        type="file"
        class="form-control"
        id="restoreFileUpload"
        accept="application/gzip, .gz, .hbfx"
        (change)="handleRestoreFileInput($event.target.files)"
      />
    </div>
  </div>

  <div [hidden]="!restoreStarted" id="plugin-log-output" class="modal-body"></div>

  <div class="modal-footer justify-content-between" *ngIf="!restoreStarted || restoreFailed === true">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
        [disabled]="clicked"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="onRestoreBackupClick()"
        [disabled]="(!selectedBackup && !selectedFile) || clicked"
      >
        <span *ngIf="clicked">
          <i *ngIf="!uploadPercent || uploadPercent === 100" class="fa fa-fw fa-circle-notch fa-spin"></i>
          <span *ngIf="uploadPercent && uploadPercent !== 100">{{ uploadPercent }}% - </span>
          <span *ngIf="uploadPercent === 100"> Extracting Archive</span>
          <span *ngIf="uploadPercent !== 100"> {{ 'backup.label_uploading' | translate }}</span>
        </span>
        <span *ngIf="!clicked">{{ 'form.button_restore' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="modal-footer justify-content-between" *ngIf="!restoreInProgress && restoreStarted">
    <div class="text-start"></div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postBackupRestart()">
        {{ 'menu.hbrestart.title' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
