<div class="modal-content hb-backup-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'form.button_restore' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
      [disabled]="restoreInProgress"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  @if (!restoreStarted && !setupWizardRestore) {
  <div class="modal-body">
    <div class="text-center mt-2 mb-3">
      <i class="fas fa-fw fa-hard-drive primary-text" style="font-size: 75px"></i>
    </div>
    <p>{{ 'backup.restore_help_one' | translate }}</p>
    <ul>
      <li>{{ 'backup.restore_help_two' | translate }}</li>
      <li>{{ 'backup.restore_max_size' | translate: { maxBackupSizeText: maxFileSizeText } }}</li>
      <li>{{ 'backup.restore_warning' | translate }}</li>
    </ul>
    @if (selectedBackup) {
    <div>
      <input class="form-control custom-input" type="text" [value]="selectedBackup.fileName" disabled />
    </div>
    } @if (!selectedBackup) {
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="restoreFileUpload"
        accept="application/gzip, .gz, .hbfx"
        (change)="handleRestoreFileInput($event.target.files)"
      />
      <label class="custom-file-label" for="restoreFileUpload">
        {{ selectedFile?.name || 'backup.label_choose_backup_file_to_restore' | translate }}
      </label>
    </div>
    }
  </div>
  }

  <div [hidden]="!restoreStarted" id="plugin-log-output" class="modal-body"></div>

  @if (!restoreStarted || restoreFailed === true) {
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
        [disabled]="clicked"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="onRestoreBackupClick()"
        [disabled]="(!selectedBackup && !selectedFile) || clicked"
      >
        @if (clicked) {
        <span>
          @if (!uploadPercent || uploadPercent === 100) {
          <i class="fa fa-fw fa-circle-notch fa-spin"></i>
          } @if (uploadPercent && uploadPercent !== 100) {
          <span>{{ uploadPercent }}% - </span>
          } @if (uploadPercent === 100) {
          <span> Extracting Archive</span>
          } @if (uploadPercent !== 100) {
          <span> {{ 'backup.label_uploading' | translate }}</span>
          }
        </span>
        } @if (!clicked) {
        <span>{{ 'form.button_restore' | translate }}</span>
        }
      </button>
    </div>
  </div>
  } @if (!restoreInProgress && restoreStarted) {
  <div class="modal-footer justify-content-between">
    <div class="text-left"></div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postBackupRestart()">
        {{ 'menu.hbrestart.title' | translate }}
      </button>
    </div>
    <div class="text-right"></div>
  </div>
  }
</div>
