<!--Main Navigation-->
<header *ngIf="$auth.theme">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar">
    <a class="navbar-brand" uiSref="status">
      <strong>Homebridge</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-effect waves-light" uiSrefActive="active">
          <a class="nav-link" uiSref="status" [translate]="'menu.status'">Status</a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" *ngIf="$auth.user.admin">
          <a class="nav-link" uiSref="plugins" [translate]="'menu.plugins'">Plugins</a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" *ngIf="$auth.user.admin">
          <a class="nav-link" uiSref="config" [translate]="'menu.config'">Config</a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" *ngIf="$auth.env.enableAccessories">
          <a class="nav-link" uiSref="accessories" [translate]="'menu.accessories'">Accessories</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" placement="bottom" ngbTooltip="{{'menu.view_logs' | translate}}" container="body">
          <a class="nav-link" uiSref="logs">
            <i class="material-icons">chrome_reader_mode</i>
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" placement="bottom" ngbTooltip="{{'menu.user_accounts' | translate}}" container="body" *ngIf="$auth.user.admin">
          <a class="nav-link" uiSref="users">
            <i class="material-icons">supervisor_account</i>
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" placement="bottom" ngbTooltip="{{'menu.restart' | translate}}" container="body">
          <a class="nav-link" uiSref="restart">
            <i class="material-icons">power_settings_new</i>
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" uiSrefActive="active" placement="bottom" ngbTooltip="{{'menu.logout' | translate}}" container="body" *ngIf="$auth.formAuth">
          <a class="nav-link" (click)="$auth.logout()">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="$auth.env.runningInDocker && $auth.user.admin">
          <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-docker"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item waves-effect waves-light" uiSref="docker.terminal" [translate]="'menu.docker.terminal'">Terminal</a>
            <a class="dropdown-item waves-effect waves-light" uiSref="docker.startup-script" [translate]="'menu.docker.startup_script'">Startup Script</a>
            <a class="dropdown-item waves-effect waves-light" uiSref="docker.restart-container" [translate]="'menu.docker.restart_container'">Restart Container</a>
            <a class="dropdown-item waves-effect waves-light" uiSref="docker.settings" [translate]="'menu.docker.settings'">Settings</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="$auth.env.runningInLinux && $auth.user.admin">
          <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item waves-effect waves-light" uiSref="linux.restart-server" [translate]="'menu.linux.restart_server'">Restart Server</a>
            <a class="dropdown-item waves-effect waves-light" uiSref="linux.shutdown-server" [translate]="'menu.linux.shutdown_server'">Shutdown Server</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  </header>

  <div class="container-fluid d-flex flex-col h-100">
      <ui-view class="w-100"></ui-view>
  </div>
