.hb-status-icon {
  font-size: 35px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.hb-status-item {
  @media (max-width: 767px) {
    width: 100%;
  }
}

::ng-deep body.dark-mode {
  .card-link-title {
    color: #ffffff !important;
  }
}
