<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1">
  <div style="cursor: move;" class="drag-handler p-2">Homebridge</div>
  <div class="d-flex flex-wrap w-100 pr-3 pl-2 justify-content-start gridster-item-content overflow-auto no-scrollbars">
    <div class="hb-status-item d-flex flex-row" style="min-width:max(25%, 250px);">
      <div class="d-flex">
        <div class="mb-0 px-3 py-1 hb-status-icon">
          <i class="fas fa-fw primary-text" [ngClass]="{
            'fa-exclamation-circle red-text': homebridgeStatus.status === 'down',
            'fa-cog fa-spin': homebridgeStatus.status === 'pending',
            'fa-check-circle': homebridgeStatus.status === 'up'
          }"></i>
        </div>
        <div class="align-self-center">
          <a href="javascript:void(0)" routerLink="/logs" class="card-link card-link-title">
            {{ 'menu.label_status' | translate }}
          </a>
          <br>
          <span class="grey-text" *ngIf="homebridgeStatus.status === 'pending'"
            [translate]="'status.services.label_starting'">Starting...</span>
          <span class="grey-text" *ngIf="homebridgeStatus.status === 'up' && !widget.hidePort"
            [translate]="'status.services.label_running_on_port'"
            [translateParams]="{port: homebridgeStatus.port}">Running</span>
          <span class="grey-text" *ngIf="homebridgeStatus.status === 'up' && widget.hidePort"
            [translate]="'status.services.label_running'"
            [translateParams]="{port: homebridgeStatus.port}">Listening</span>
          <a routerLink="/logs" class="primary-text"
            *ngIf="homebridgeStatus.status !== 'up' && homebridgeStatus.status !== 'pending'">
            {{ 'status.services.label_not_running' | translate}} -
            {{ 'menu.tooltip_view_logs' | translate }}
          </a>
        </div>
      </div>
    </div>

    <div class="hb-status-item d-flex flex-row" style="min-width:max(25%, 250px);">
      <div class="d-flex">
        <div class="mb-0 px-3 py-1 hb-status-icon">
          <i class="fas fa-fw fa-cog fa-spin primary-text" *ngIf="!homebridgePkg.installedVersion"></i>
          <i class="fas fa-fw fa-check-circle primary-text"
            *ngIf="homebridgePkg.installedVersion && !homebridgePkg.updateAvailable"></i>
          <i class="fas fa-fw fa-arrow-alt-circle-up primary-text"
            *ngIf="homebridgePkg.installedVersion && homebridgePkg.updateAvailable"></i>
        </div>
        <div class="align-self-center">
          <a href="javascript:void(0)" (click)="$plugin.installPreviousVersion(homebridgePkg)" *ngIf="homebridgePkg.installedVersion"
            class="card-link card-link-title">Homebridge</a>
          <span *ngIf="!homebridgePkg.installedVersion">Homebridge</span>
          <br>
          <span class="grey-text">
            <span *ngIf="!homebridgePkg.installedVersion">
              {{ 'status.homebridge.label_checking_for_updates' | translate }}
            </span>
            <span *ngIf="homebridgePkg.installedVersion && !homebridgePkg.updateAvailable"
              [translate]="'status.homebridge.label_up_to_date'">
              Up To Date
            </span>
            <a href="javascript:void(0)" (click)="$plugin.upgradeHomebridge(homebridgePkg, homebridgePkg.updateTag || 'latest')"
               class="primary-text" *ngIf="homebridgePkg.installedVersion && homebridgePkg.updateAvailable"
              [translate]="'status.plugin_out_of_date'">
              Update Available
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="hb-status-item d-flex flex-row" style="min-width:max(25%, 250px);">
      <div class="d-flex">
        <div class="mb-0 px-3 py-1 hb-status-icon">
          <i class="fas fa-fw fa-cog fa-spin primary-text" *ngIf="!homebridgeUiPkg.installedVersion"></i>
          <i class="fas fa-fw fa-check-circle primary-text"
             *ngIf="homebridgeUiPkg.installedVersion && !homebridgeUiPkg.updateAvailable"></i>
          <i class="fas fa-fw fa-arrow-alt-circle-up primary-text"
             *ngIf="homebridgeUiPkg.installedVersion && homebridgeUiPkg.updateAvailable"></i>
        </div>
        <div class="align-self-center">
          <a href="javascript:void(0)" (click)="$plugin.installPreviousVersion(homebridgeUiPkg)" *ngIf="homebridgeUiPkg.installedVersion"
            class="card-link card-link-title">Homebridge UI</a>
          <span *ngIf="!homebridgeUiPkg.installedVersion">Homebridge UI</span>
          <br>
          <span class="grey-text">
            <span *ngIf="!homebridgeUiPkg.installedVersion">
              {{ 'status.homebridge.label_checking_for_updates' | translate }}
            </span>
            <span *ngIf="homebridgeUiPkg.installedVersion && !homebridgeUiPkg.updateAvailable"
              [translate]="'status.homebridge.label_up_to_date'">
              Up To Date
            </span>
            <a href="javascript:void(0)" (click)="$plugin.upgradeHomebridge(homebridgeUiPkg, homebridgeUiPkg.updateTag || 'latest')"
               class="primary-text" *ngIf="homebridgeUiPkg.installedVersion && homebridgeUiPkg.updateAvailable"
               [translate]="'status.plugin_out_of_date'">
              Update Available
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="hb-status-item d-flex flex-row" style="min-width:max(25%, 250px);">
      <div class="d-flex">
        <div class="mb-0 px-3 py-1 hb-status-icon">
          <i class="fas fa-fw fa-arrow-alt-circle-up primary-text" *ngIf="homebridgePluginStatus.length"></i>
          <i class="fas fa-fw fa-check-circle primary-text" *ngIf="!homebridgePluginStatus.length"></i>
        </div>
        <div class="align-self-center">
          <a href="javascript:void(0)" routerLink="/plugins" class="card-link card-link-title">
            {{ 'menu.label_plugins' | translate }}
          </a>
          <br>
          <a routerLink="/plugins" class="primary-text" *ngIf="homebridgePluginStatus.length">
            {{ homebridgePluginStatus.length }} {{ homebridgePluginStatus.length === 1 ? ('status.plugin_out_of_date' | translate) : ('status.plugins_out_of_date' | translate) }}
          </a>
          <span class="grey-text" *ngIf="!homebridgePluginStatus.length">
            {{ 'status.homebridge.label_up_to_date' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
