<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1">
  <div style="cursor: move;" class="drag-handler pl-2 pt-1 pb-1 pr-2">Homebridge</div>
  <div class="d-flex flex-wrap w-100 pr-3 pl-2 justify-content-start gridster-item-content">
    <div class="hb-status-item d-flex flex-row mr-4">
      <div class="d-flex">
        <div class="mb-0 p-3 hb-status-icon">
          <i class="fas fa-cog fa-spin primary-text" *ngIf="!homebridgePkg.installedVersion"></i>
          <i class="fas fa-check-circle primary-text"
            *ngIf="homebridgePkg.installedVersion && !homebridgePkg.updateAvailable"></i>
          <i class="fas fa-cloud-upload-alt primary-text"
            *ngIf="homebridgePkg.installedVersion && homebridgePkg.updateAvailable"></i>
        </div>
        <div class="align-self-center">
          <span class="grey-text" *ngIf="!homebridgePkg.installedVersion"
            [translate]="'status.homebridge.label_checking_for_updates'">
            Checking for updates...
          </span>
          <span *ngIf="homebridgePkg.installedVersion && !homebridgePkg.updateAvailable"
            [translate]="'status.homebridge.label_up_to_date'">
            Up To Date
          </span>
          <a (click)="$plugin.upgradeHomebridge(homebridgePkg)" href="JavaScript:void(0)" class="primary-text"
            *ngIf="homebridgePkg.installedVersion && homebridgePkg.updateAvailable"
            [translate]="'status.homebridge.label_update_available'" [translateParams]="homebridgePkg"
            ngbTooltip="{{'plugins.button_upgrade' | translate}} Homebridge">
            Update Available
          </a>
          <br>
          <span class="grey-text" *ngIf="homebridgePkg.installedVersion">
            <span [translate]="'status.homebridge.label_version'">Version</span>
            {{ homebridgePkg.installedVersion }}
          </span>
        </div>

      </div>
    </div>

    <div class="hb-status-item d-flex flex-row mr-4">
      <div class="d-flex">
        <div class="mb-0 p-3 hb-status-icon">
          <i class="fas fa-exclamation-circle red-text" *ngIf="homebridgeStatus.status !== 'up'"></i>
          <i class="fas fa-check-circle primary-text" *ngIf="homebridgeStatus.status === 'up'"></i>
        </div>
        <div class="align-self-center">
          <span>Homebridge</span>
          <br>
          <span class="grey-text" *ngIf="homebridgeStatus.status === 'up' && !widget.hidePort"
            [translate]="'status.services.label_running_on_port'"
            [translateParams]="{port: homebridgeStatus.port}">Running</span>
          <span class="grey-text" *ngIf="homebridgeStatus.status === 'up' && widget.hidePort"
            [translate]="'status.services.label_running'"
            [translateParams]="{port: homebridgeStatus.port}">Listening</span>
          <a routerLink="/logs" class="primary-text" *ngIf="homebridgeStatus.status !== 'up'">
            {{ 'status.services.label_not_running' | translate}} -
            {{ 'menu.tooltip_view_logs' | translate }}
          </a>
        </div>
      </div>
    </div>

    <div class="hb-status-item d-flex flex-row">
      <div class="d-flex">
        <div class="mb-0 p-3 hb-status-icon">
          <i class="fas fa-exclamation-circle primary-text" *ngIf="homebridgePluginStatus.length"></i>
          <i class="fas fa-check-circle primary-text" *ngIf="!homebridgePluginStatus.length"></i>
        </div>
        <div class="align-self-center">
          <span [translate]="'menu.label_plugins'">Plugins</span>
          <br>

          <a routerLink="/plugins" class="primary-text" *ngIf="homebridgePluginStatus.length">
            {{ homebridgePluginStatus.length }} {{ 'status.plugins_out_of_date' | translate }}
          </a>
          <span class="grey-text " *ngIf="!homebridgePluginStatus.length"
            [translate]="'status.services.label_not_running'">
            {{ 'status.homebridge.label_up_to_date' | translate }}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>