<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'status.credits.title' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body align-items-center w-100 pb-0">
    <div class="w-100 text-center primary-text mb-3">
      <i class="fas fa-heart icon-xl"></i>
    </div>
    <h5>Homebridge</h5>
    <ul>
      <li>
        Homebridge was originally created by
        <a href="https://twitter.com/nfarina" target="_blank" rel="noopener noreferrer">Nick Farina</a>.
      </li>
      <li>
        The original HomeKit API work was done by
        <a href="https://twitter.com/khaost" target="_blank" rel="noopener noreferrer">Khaos Tian</a> in his
        <a href="https://github.com/homebridge/HAP-NodeJS" target="_blank" rel="noopener noreferrer">HAP-NodeJS</a>
        project.
      </li>
      <li>
        Homebridge and HAP-NodeJS have since been maintained and improved by
        <a href="https://github.com/Supereg" target="_blank" rel="noopener noreferrer">Supereg</a>.
      </li>
      <li>
        The <span class="font-monospace">hb-service</span> utility was created by
        <a href="https://github.com/oznu" target="_blank" rel="noopener noreferrer">oznu</a>.
      </li>
      <li>
        We are grateful to
        <a href="https://github.com/homebridge/homebridge/graphs/contributors">all contributors</a> of Homebridge since
        its first commit in December 2014.
      </li>
    </ul>
    <h5>Homebridge UI</h5>
    <ul>
      <li>
        Homebridge UI was originally created by
        <a href="https://github.com/oznu" target="_blank" rel="noopener noreferrer">oznu</a>.
      </li>
      <li>
        Thanks to
        <a href="https://github.com/rfiorentino1" target="_blank" rel="noopener noreferrer">rfiorentino1</a> for their
        contributions to improving the accessibility of the UI.
      </li>
      <li>
        We are grateful to
        <a href="https://github.com/homebridge/homebridge-config-ui-x/graphs/contributors">all contributors</a> of the
        Homebridge UI since its first commit in July 2017.
      </li>
    </ul>
    <h5>{{ 'status.credits.translations' | translate }}</h5>
    <ul>
      <li>
        {{ 'status.credits.translations_thanks' | translate }}
        <ul class="mt-1">
          @for (translator of translators; track translator.github) {
            <li>
              {{ translator.language }}:
              <a target="_blank" rel="noopener noreferrer" [href]="`https://github.com/${translator.github}`">{{
                translator.github
              }}</a>
            </li>
          }
        </ul>
      </li>
    </ul>
    <h5>{{ 'status.credits.supporters' | translate }}</h5>
    <ul>
      <li>
        Thanks to <a href="https://github.com/appletechy" target="_blank" rel="noopener noreferrer">appletechy</a> for
        being an active and super supportive member of the community.
      </li>
    </ul>
    <h5>{{ 'menu.label_plugins' | translate }}</h5>
    <ul>
      <li>{{ 'status.credits.plugins_thanks' | translate }}</li>
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_close' | translate"
        (click)="dismissModal()"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
