<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">

    <h5>
      <strong>
        {{ 'accessories.control.label_light' | translate }}
        {{ (service.values.On ? 'accessories.control.label_on' : 'accessories.control.label_off') | translate }}
      </strong>
    </h5>

    <div class="lightbulb-mode-control btn-group btn-group-toggle d-flex justify-content-center mb-4 mt-4" ngbRadioGroup
      name="radioBasic" [(ngModel)]="targetMode" (change)="onTargetStateChange()">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false"> {{ 'accessories.control.label_off' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="true"> {{ 'accessories.control.label_on' | translate }}
      </label>
    </div>

    <div *ngIf="targetBrightness">
      <h5 class="mb-0">{{ 'accessories.control.label_brightness' | translate }}</h5>
      <p>{{ targetBrightness.value }}%</p>
      <nouislider [min]="targetBrightness.min" [max]="targetBrightness.max" [step]="targetBrightness.step"
        [(ngModel)]="targetBrightness.value" (ngModelChange)="onBrightnessStateChange()">
      </nouislider>
    </div>

  </div>
</div>