<div class="accessory-box" [ngClass]="{'switch-on': service.values.On}" appLongclick (longclick)="onLongClick()"
  (shortclick)="onClick()">
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/lightbulb.svg'" aria-label="Light Bulb" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    <div class="accessory-label grey-text" *ngIf="!service.values.Brightness"
      [innerText]="(service.values.On ? 'accessories.control.label_on' : 'accessories.control.label_off') | translate">
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.Brightness">{{ service.values.Brightness }}%</div>
  </div>
</div>