<div
  class="accessory-box"
  [ngClass]="{'light-on': service.values.On}"
  appLongclick
  (longclick)="onLongClick()"
  (shortclick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/lightbulb.svg'" [attr.aria-label]="'Light Bulb'" class="accessory-svg"></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (!service.values.Brightness) {
    <div
      class="accessory-label grey-text"
      [innerText]="(service.values.On ? 'accessories.control.on' : 'accessories.control.off') | translate"
    ></div>
    } @if (service.values.Brightness) {
    <div class="accessory-label grey-text">{{ service.values.Brightness }}%</div>
    }
  </div>
</div>
