<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'platform.version.service_restart_required' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body text-center">
    <i class="fas fa-fw fa-power-off primary-text mb-3" style="font-size: 75px"></i>
    <p class="mb-0">{{ 'plugins.settings.restart_required' | translate }}</p>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="dismissModal()"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-primary" (click)="onRestartHomebridgeClick()">
        {{ 'menu.tooltip_restart' | translate }}
      </button>
    </div>
  </div>
</div>
