<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'status.readiness.title' | translate: { app: 'Homebridge UI v5' } }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.close('Dismiss')"
    ></button>
  </div>
  <div class="modal-body text-center">
    <img ngSrc="assets/hb-icon.png" alt="" class="mb-3 plugin-icon-card" height="100" width="100" />
    <p>
      A new version of Homebridge UI (v5) will be released in July 2025. This will be compatible with both
      Homebridge v1 and v2 (in beta).
    </p>
    <p>
      Initially, there will be no significant differences between Homebridge UI v4 and v5. The major version increment
      primarily reflects the removal of support for outdated technologies and hardware.
    </p>
    <ul class="list-group list-group-box mb-0 text-start">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (readyForV5.node) {
        <div class="text-start flex-grow-1">
          Node.js Version<br />
          <span class="grey-text">{{ 'status.readiness.node_yes' | translate: { app: 'UI v5' } }}</span>
        </div>
        <div class="ms-3">
          <i class="fas fa-check-circle green-text fa-xl"></i>
        </div>
        } @else {
        <div class="text-start flex-grow-1">
          Node.js Version<br />
          <span class="grey-text">{{ 'status.readiness.node_no' | translate: { app: 'UI v5' } }}</span><br />
          <a
            href="https://github.com/homebridge/homebridge/wiki/How-To-Update-Node.js"
            target="_blank"
            rel="noopener noreferrer"
            class="small"
          >
            {{ 'plugins.compat.node_link' | translate }} <i class="fa fa-fw fa-external-link-alt"></i>
          </a>
        </div>
        <div class="ms-3">
          <i class="fas fa-exclamation-circle orange-text fa-xl"></i>
        </div>
        }
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (readyForV5.service) {
        <div class="text-start flex-grow-1">
          Service Mode<br />
          <span class="grey-text">You are running Homebridge UI in service mode.</span>
        </div>
        <div class="ms-3">
          <i class="fas fa-check-circle green-text fa-xl"></i>
        </div>
        } @else {
        <div class="text-start flex-grow-1">
          Service Mode<br />
          <span class="grey-text">You are not running Homebridge UI in service mode.</span><br />
          <a
            href="https://github.com/homebridge/homebridge-config-ui-x/wiki/How-To-Swap-From-Standalone-Mode-to-Service-Mode"
            target="_blank"
            rel="noopener noreferrer"
            class="small"
          >
            Switch To Service Mode &rarr;
          </a>
        </div>
        <div class="ms-3">
          <i class="fas fa-exclamation-circle orange-text fa-xl"></i>
        </div>
        }
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (readyForV5.pnpm) {
        <div class="text-start flex-grow-1">
          Package Manager<br />
          <span class="grey-text">You are using the correct package manager for Homebridge UI v5.</span>
        </div>
        <div class="ms-3">
          <i class="fas fa-check-circle green-text fa-xl"></i>
        </div>
        } @else {
        <div class="text-start flex-grow-1">
          Package Manager<br />
          <span class="grey-text">
            You are using an older version of the Homebridge Debian Package which uses <code>pnpm</code>.</span
          ><br />
          <a
            href="https://github.com/homebridge/homebridge-apt-pkg#using-apt"
            target="_blank"
            rel="noopener noreferrer"
            class="small"
          >
            Update Homebridge Debian Package &rarr;
          </a>
        </div>
        <div class="ms-3">
          <i class="fas fa-exclamation-circle orange-text fa-xl"></i>
        </div>
        }
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (readyForV5.arch) {
        <div class="text-start flex-grow-1">
          Architecture<br />
          <span class="grey-text">Your hardware architecture is supported by Homebridge UI v5.</span>
        </div>
        <div class="ms-3">
          <i class="fas fa-check-circle green-text fa-xl"></i>
        </div>
        } @else {
        <div class="text-start flex-grow-1">
          Architecture<br />
          <span class="grey-text"
            >Your hardware architecture is <code>armv6l</code> which is not supported by Homebridge UI v5.</span
          ><br />
          <span class="small"> Consider upgrading your Raspberry Pi to a newer model.</span>
        </div>
        <div class="ms-3">
          <i class="fas fa-exclamation-circle orange-text fa-xl"></i>
        </div>
        }
      </li>
    </ul>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start"></div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-elegant"
        data-bs-dismiss="modal"
        (click)="$activeModal.close('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-end"></div>
  </div>
</div>
