<app-spinner *ngIf="!error"></app-spinner>

<div class="row">
  <div class="col-md-12 text-center">
    <h3 class="primary-text" [translate]="'restart.title'">Restarting Homebridge</h3>
    <p class="grey-text" *ngIf="!timeout && !error">Please wait, this page will automatically redirect when the server is back online.</p>
    <p class="grey-text" *ngIf="error">{{ error }}</p>
    <div *ngIf="timeout">
      <p class="grey-text">Server restart is taking a long time. You may need to bring up the Homebridge service manually.</p>
      <p class="grey-text">Restart Command Executed: {{ resp.command || "End Process" }}</p>
    </div>
  </div>
</div>
