<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-3 overflow-auto no-scrollbars">
  <div class="drag-handler p-2" [ngClass]="{ 'widget-cursor': widget.draggable }">
    {{ 'child_bridge.bridges' | translate }}
  </div>
  <div
    class="d-flex flex-wrap w-100 mt-0 justify-content-start gridster-item-content overflow-auto no-scrollbars align-items-center"
  >
    <div class="hb-status-item d-flex flex-row w-100 px-3 mt-2 mb-1" style="min-width: max(25%, 225px)">
      <div class="hb-status-icon d-flex align-items-center">
        <i
          class="fas fa-fw"
          [ngClass]="{
            'fa-bridge-circle-check green-text': homebridgeStatus.status === 'up' && !isRestarting,
            'fa-bridge-circle-exclamation text-warning': homebridgeStatus.status === 'pending' || isRestarting,
            'fa-bridge-circle-xmark red-text': homebridgeStatus.status === 'down' && !isRestarting
          }"
          container="body"
          placement="right"
          [openDelay]="150"
          triggers="hover"
          [ngbTooltip]="(homebridgeStatus.status === 'down' && !isRestarting ? 'status.services.label_not_running' : 'status.services.label_running') | translate"
          [attr.aria-label]="(homebridgeStatus.status === 'down' && !isRestarting ? 'status.services.label_not_running' : 'status.services.label_running') | translate"
        ></i>
      </div>
      <div class="align-self-center flex-child px-3">{{ homebridgeStatus.name || 'Homebridge' }}</div>
      <div class="grey-text ms-auto d-flex align-items-center">
        @if (homebridgeStatus.status !== 'pending' && !isRestarting && isAdmin) {
        <i
          class="icon-button fas fa-fw fa-power-off"
          href="javascript:void(0)"
          (click)="restartHomebridge()"
          [ngbTooltip]="'menu.tooltip_restart' | translate"
          container="body"
          [openDelay]="150"
          triggers="hover"
          placement="left"
        ></i>
        } @if (homebridgeStatus.status === 'pending' || isRestarting) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
        <i
          class="fas fa-fw ms-2 fa-link"
          [ngbTooltip]="(homebridgeStatus.paired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate"
          container="body"
          [openDelay]="150"
          triggers="hover"
          placement="left"
          [ngClass]="{
            'green-text': homebridgeStatus.paired,
            'grey-text': !homebridgeStatus.paired
          }"
        ></i>
      </div>
    </div>
    @for (bridge of childBridges; track bridge) {
    <div class="hb-status-item d-flex flex-row w-100 px-3 mt-2 mb-1" style="min-width: max(25%, 225px)">
      <div class="hb-status-icon d-flex align-items-center">
        <i
          class="fas fa-fw"
          [ngClass]="{
            'fa-bridge-circle-check green-text': bridge.status === 'ok' && !bridge.restarting && !isRestarting,
            'fa-bridge-circle-exclamation text-warning': bridge.status === 'pending' || bridge.restarting || isRestarting,
            'fa-bridge-circle-xmark red-text': bridge.status === 'down' && !bridge.restarting && !isRestarting
          }"
          container="body"
          placement="right"
          [openDelay]="150"
          triggers="hover"
          [ngbTooltip]="(bridge.status === 'down' && !bridge.restarting && !isRestarting ? 'status.services.label_not_running' : 'status.services.label_running') | translate"
          [attr.aria-label]="(bridge.status === 'down' && !bridge.restarting && !isRestarting ? 'status.services.label_not_running' : 'status.services.label_running') | translate"
        ></i>
      </div>
      <div class="align-self-center flex-child px-3">{{ bridge.name }}</div>
      <div class="grey-text ms-auto d-flex align-items-center">
        @if (bridge.status !== 'pending' && !bridge.restarting && isAdmin) {
        <i
          class="icon-button fas fa-fw fa-power-off"
          href="javascript:void(0)"
          (click)="restartChildBridge(bridge)"
          [ngbTooltip]="'menu.tooltip_restart' | translate"
          container="body"
          [openDelay]="150"
          triggers="hover"
          placement="left"
        ></i>
        } @if (bridge.status === 'pending' || bridge.restarting) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
        <i
          class="fas fa-fw ms-2 fa-link"
          [ngbTooltip]="(bridge.paired ? 'status.widget.qr_paired' : 'status.widget.qr_unpaired') | translate"
          container="body"
          [openDelay]="150"
          triggers="hover"
          placement="left"
          [ngClass]="{
            'green-text': bridge.paired,
            'grey-text': !bridge.paired
          }"
        ></i>
      </div>
    </div>
    }
  </div>
</div>
