.flex-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hb-status-icon {
  font-size: 20px;
}

.hb-status-item {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.hb-status-item-quarter {
  min-width: max(25%, 225px);
}

.opacity-muted {
  opacity: 0.25;
}
