.temperature-circle {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 6% 0;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  margin-bottom:6px;
  background-color: grey;
  color: lightgrey;

  @media (max-width: 575px) {
    width: 31px;
    font-size: 14px;
    margin-bottom: 7px;
  }
}