<div
  class="accessory-box"
  [ngClass]="{'window-on': service.values.TargetPosition}"
  appLongclick
  (longclick)="onLongClick()"
  (shortclick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    @if (!service.values.TargetPosition) {
    <div
      [inlineSVG]="'/assets/hap-icons/windowcovering-closed.svg'"
      [attr.aria-label]="'Window Covering'"
      class="accessory-svg"
    ></div>
    } @if (service.values.TargetPosition) {
    <div
      [inlineSVG]="'/assets/hap-icons/windowcovering-open.svg'"
      [attr.aria-label]="'Window Covering'"
      class="accessory-svg"
    ></div>
    }
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (service.values.PositionState === 2) {
    <div class="accessory-label grey-text">
      @if (service.values.CurrentPosition === 0) {
      <span>{{ 'accessories.control.closed' | translate }}</span>
      } @if (service.values.CurrentPosition > 0 && service.values.CurrentPosition < 100) {
      <span> {{ service.values.CurrentPosition }}% </span>
      } @if (service.values.CurrentPosition === 100) {
      <span>{{ 'accessories.control.open' | translate }}</span>
      }
    </div>
    } @if (service.values.PositionState === 1) {
    <div class="accessory-label red-text">{{ 'accessories.control.opening' | translate }}...</div>
    } @if (service.values.PositionState === 0) {
    <div class="accessory-label red-text">{{ 'accessories.control.closing' | translate }}...</div>
    }
  </div>
</div>
