::ng-deep {
  .switch-off {
    svg {
      .airpurifier_off_grey {
        stroke: #808080;
        fill: #808080;
      }
      .airpurifier_off_lgrey {
        fill: #d9d9d9;
      }
    }
  }
  .switch-on {
    svg {
      .rectangle {
        fill: #ffffff !important;
      }
    }
  }
}
