<div
  class="accessory-box"
  [ngClass]="{ 'accessory-on': service.values.CurrentPosition }"
  (longClick)="onLongClick()"
  (shortClick)="onClick()"
  tabindex="0"
>
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/accessory-icons/window-covering.svg'"
      [attr.aria-label]="'Window Covering'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">{{ service.customName || service.serviceName }}</div>
    @if (service.values.PositionState === 2) {
    <div class="accessory-label grey-text">
      @if (service.values.CurrentPosition === 0) { {{ 'accessories.control.closed' | translate }} } @if
      (service.values.CurrentPosition > 0 && service.values.CurrentPosition < 100) { {{ 'accessories.control.open' |
      translate }} {{ service.values.CurrentPosition }}% } @if (service.values.CurrentPosition === 100) { {{
      'accessories.control.open' | translate }} }
    </div>
    } @else if (service.values.PositionState === 1) {
    <div class="accessory-label red-text">{{ 'accessories.control.opening' | translate }}...</div>
    } @else if (service.values.PositionState === 0) {
    <div class="accessory-label red-text">{{ 'accessories.control.closing' | translate }}...</div>
    }
  </div>
</div>
