<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1 overflow-auto no-scrollbars">
  <div style="cursor: move;" class="drag-handler pl-2 pt-1 pb-1 pr-2" [translate]="'status.widget.label_systeminfo'">
    System Information
  </div>
  <div class="d-flex flex-wrap w-100 pl-1 pr-1" *ngIf="serverInfo">
    <table class="table table-sm table-borderless gridster-item-content ">
      <tbody>
        <tr>
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_timezone'">Timezone</th>
          <td>{{ serverInfo.time.timezone }}</td>
        </tr>
        <tr *ngIf="serverInfo.os">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_os'">OS</th>
          <td [ngSwitch]="serverInfo.os.platform" *ngIf="!serverInfo.homebridgeRunningInSynologyPackage">
            <span *ngSwitchCase="'darwin'">
              {{ serverInfo.os.codename }}
            </span>
            <span *ngSwitchCase="'win32'">
              {{ serverInfo.os.distro }}
            </span>
            <span *ngSwitchDefault>
              {{ serverInfo.os.distro }} {{ serverInfo.os.codename | titlecase }} ({{ serverInfo.os.release }})
            </span>
          </td>
          <td *ngIf="serverInfo.homebridgeRunningInSynologyPackage">
            Synology DSM
          </td>
        </tr>
        <tr *ngIf="serverInfo.os">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_hostname'">Hostname</th>
          <td>{{ serverInfo.os.hostname }}</td>
        </tr>
        <tr *ngIf="serverInfo.network.ip4">
          <th scope="row" class="text-nowrap">
            {{ 'status.widget.systeminfo.label_ipv4' | translate }} ({{ serverInfo.network.iface }})
          </th>
          <td>{{ serverInfo.network.ip4 }}</td>
        </tr>
        <tr *ngIf="serverInfo.network.ip6">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_timezone'">
            {{ 'status.widget.systeminfo.label_ipv6' | translate }} ({{ serverInfo.network.iface }})
          </th>
          <td>{{ serverInfo.network.ip6 }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_nodejs_version'"
            container="body" [openDelay]="1000" ngbTooltip="{{ nodejsInfo.installPath }}">
            Node.js Version
          </th>
          <td>
            <a href="https://homebridge.io/w/JTKEF" rel="noopener noreferrer" target="_blank" class="system-info-link"
              ngbTooltip="{{ nodejsInfo.updateAvailable ? ('plugins.status_update_available' | translate) + ' - ' + nodejsInfo.latestVersion : ''}}">
              {{ serverInfo.nodeVersion }}
              <i *ngIf="nodejsInfo.showUpdateWarning" class="primary-text fas fa-info-circle"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_service_user'">User
          </th>
          <td>{{ serverInfo.serviceUser }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_storage_path'">Storage Path
          </th>
          <td>{{ serverInfo.homebridgeStoragePath }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_config_path'">Config Path
          </th>
          <td>{{ serverInfo.homebridgeConfigJsonPath }}</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeCustomPluginPath">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_plugin_path'">Plugin Path
          </th>
          <td>{{ serverInfo.homebridgeCustomPluginPath }}</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeRunningInDocker">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_docker'">Docker</th>
          <td>Yes</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeRunningInSynologyPackage">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_synology_package'">
            Synology Package
          </th>
          <td>Yes</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeServiceMode">
          <th scope="row" class="text-nowrap" [translate]="'status.widget.systeminfo.label_service_mode'">Service Mode
          </th>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>