<div class="flex-column d-flex align-items-stretch h-100 w-100 pb-1 overflow-auto no-scrollbars">
  <div class="drag-handler p-2" [ngClass]="{ 'widget-cursor': widget.draggable }">
    {{ 'status.widget.info' | translate }}
  </div>
  <div class="d-flex flex-wrap w-100 px-1" *ngIf="serverInfo">
    <table class="table table-sm table-borderless gridster-item-content">
      <tbody>
        <tr *ngIf="serverInfo.os">
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.os' | translate }}</th>
          <td [ngSwitch]="serverInfo.os.platform" *ngIf="!serverInfo.homebridgeRunningInSynologyPackage">
            <span *ngSwitchCase="'darwin'"> {{ serverInfo.os.codename }} </span>
            <span *ngSwitchCase="'win32'"> {{ serverInfo.os.distro }} </span>
            <span *ngSwitchDefault>
              <a
                *ngIf="nodejsInfo.showGlibcUnsupportedWarning"
                class="system-info-link"
                href="javascript:void(0)"
                (click)="glibcVersionModal()"
              >
                <i class="primary-text fas fa-fw fa-exclamation-circle"></i>
              </a>
              {{ serverInfo.os.distro }} {{ serverInfo.os.codename | titlecase }} ({{ serverInfo.os.release }})
            </span>
          </td>
          <td *ngIf="serverInfo.homebridgeRunningInSynologyPackage">Synology DSM</td>
        </tr>
        <tr *ngIf="serverInfo.network.ip4">
          <th scope="row" class="text-nowrap">
            {{ 'status.widget.info.ipv4' | translate }} ({{ serverInfo.network.iface }})
          </th>
          <td>{{ serverInfo.network.ip4 }}</td>
        </tr>
        <tr *ngIf="serverInfo.network.ip6">
          <th scope="row" class="text-nowrap">
            {{ 'status.widget.info.ipv6' | translate }} ({{ serverInfo.network.iface }})
          </th>
          <td>{{ serverInfo.network.ip6 }}</td>
        </tr>
        <tr *ngIf="serverInfo.os">
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.hostname' | translate }}</th>
          <td>{{ serverInfo.os.hostname }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.service_user' | translate }}</th>
          <td>{{ serverInfo.serviceUser }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.nodejs_version' | translate }}</th>
          <td>{{ serverInfo.nodeVersion }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.nodejs_path' | translate }}</th>
          <td>{{ nodejsInfo.installPath }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.storage_path' | translate }}</th>
          <td>{{ serverInfo.homebridgeStoragePath }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.config_path' | translate }}</th>
          <td>{{ serverInfo.homebridgeConfigJsonPath }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.plugin_path' | translate }}</th>
          <td>{{ serverInfo.homebridgeCustomPluginPath || serverInfo.homebridgePluginPath }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.timezone' | translate }}</th>
          <td>{{ serverInfo.time.timezone }}</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeRunningInDocker">
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.docker' | translate }}</th>
          <td class="text-nowrap">{{ 'status.widget.info.yes' | translate }}</td>
        </tr>
        <tr *ngIf="serverInfo.homebridgeRunningInSynologyPackage">
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.synology_package' | translate }}</th>
          <td class="text-nowrap">{{ 'status.widget.info.yes' | translate }}</td>
        </tr>
        <tr *ngIf="!serverInfo.homebridgeServiceMode">
          <th scope="row" class="text-nowrap">{{ 'status.widget.info.service_mode' | translate }}</th>
          <td class="text-nowrap">
            <a class="system-info-link" href="javascript:void(0)" (click)="serviceModeModal()">
              <i class="primary-text fas fa-fw fa-exclamation-circle"></i>
            </a>
            {{ 'status.widget.info.disabled' | translate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
