<div class="accessory-box" [ngClass]="{'switch-on': service.values.CurrentHeatingCoolingState > 0}" appLongclick (longclick)="onClick()" (shortclick)="onClick()">
  <div class="temperature-circle" [innerText]="(service.values.CurrentTemperature | convertTemp | number:'1.0-0') + '°'" [ngClass]="{
    'cooling': service.values.CurrentHeatingCoolingState === 2,
    'heating': service.values.CurrentHeatingCoolingState === 1
  }"></div>
  <div class="accessory-label">{{ service.customName || service.serviceName }}</div>
  <div class="accessory-label grey-text" *ngIf="!service.values.CurrentHeatingCoolingState">
    Off
  </div>
  <div class="accessory-label grey-text" *ngIf="service.values.CurrentHeatingCoolingState">
     {{ service.values.TargetTemperature | convertTemp }}&deg;
  </div>
</div>