::ng-deep .switch-on {
  background-color: #FFF;
}

.temperature-circle {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 6% 0;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  margin-bottom:6px;
  background-color: grey;
  color: lightgrey;

  @media (max-width: 539px) {
    width: 31px;
    font-size: 14px;
    margin-bottom: 7px;
  }
}

.cooling {
  background-color: #33b5e5;
  color: #FFF;
}

.heating {
  background-color: #FF8800;
  color: #FFF;
}

.no-current-state {
  background-color: #42d672;
  color: #FFF;
}

.thermostat-mode-control {
  .btn {
    font-size: 1.4rem;
    text-transform: initial;
  }
}