<div class="modal-content">
  <form>
    <div class="modal-header">
      <h5 class="modal-title">{{ 'support.title' | translate }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        [attr.aria-label]="'form.button_close' | translate"
        (click)="dismissModal()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="text-center mb-3">
        <i class="fa fa-fw fa-question-circle-o primary-text" style="font-size: 75px"></i>
      </div>
      <h5 class="ms-2">{{ 'users.title_users' | translate }}</h5>
      <ul class="mb-0">
        <li>{{ 'users.support.acc_1' | translate }}</li>
        <ul class="mb-2 grey-text">
          <li>{{ 'menu.label_status' | translate }}</li>
          <li>{{ 'menu.label_plugins' | translate }}</li>
          <li>{{ 'menu.label_accessories' | translate }}</li>
          <li>{{ 'menu.linux.label_logs' | translate }}</li>
          <li>{{ 'support.title' | translate }}</li>
        </ul>
        <li>{{ 'users.support.acc_2' | translate }}</li>
      </ul>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="text-start"></div>
      <div class="text-center">
        <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="dismissModal()">
          {{ 'form.button_close' | translate }}
        </button>
      </div>
      <div class="text-end"></div>
    </div>
  </form>
</div>
