<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'child_bridge.label_bridge_settings' | translate }}:
      {{ plugin.displayName || plugin.name }}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>
      {{ 'child_bridge.message_about' | translate }}
    </p>

    <div *ngIf="configBlocks.length">
      <p>
        <strong>
          {{ 'child_bridge.message_select_platforms_accessories' | translate }}:
        </strong>
      </p>

      <ul class="list-group mt-2 mb-3" *ngIf="configBlocks.length">
        <li class="list-group-item " *ngFor="let item of configBlocks; let i = index">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="primary-text">
              <strong>
                {{ item.name || item.accessory || item.platform }}
              </strong>
            </h5>
            <input type="checkbox" class="rendux-input" [id]="'toggleExternalBridgeInput_' + i"
              (change)="toggleExternalBridge(item, enabledBlocks[i], i)" [(ngModel)]="enabledBlocks[i]">
            <label [for]="'toggleExternalBridgeInput_' + i" class="rendux-label"></label>
          </div>
          <div *ngIf="item._bridge?.username">
            <div *ngIf="deviceInfo[item._bridge?.username] === false">
              <ngb-alert type="info" [dismissible]="false" class="mt-3">
                <i class="fa fa-info-circle"></i>
                {{ 'child_bridge.message_restart_homebridge' | translate }}
                <br>{{ 'child_bridge.message_return_to_pair' | translate }}
              </ngb-alert>
            </div>
            <div *ngIf="deviceInfo[item._bridge?.username]">
              <div *ngIf="deviceInfo[item._bridge?.username]._isPaired === false" class="w-100 d-flex flex-column">
                <app-qrcode [data]="deviceInfo[item._bridge?.username]._setupCode" class="mr-auto ml-auto mt-2 mb-2"
                  style="width: 180px; height: 180px;">
                </app-qrcode>

                <p class="grey-text  mr-auto ml-auto text-center" style="max-width: 400px;">
                  {{ 'status.message_code_scan_instructions' | translate }}
                </p>
              </div>
              <div *ngIf="deviceInfo[item._bridge?.username]._isPaired=== true">
                <div class="text-center">
                  <i class="fa fa-check-circle primary-text" style="font-size: 50px;"></i>
                  <p class="mt-2">
                    {{ 'child_bridge.label_bridge_paired' | translate }}
                  </p>
                </div>
              </div>

              <div class="text-right">
                <button *ngIf="$settings.env.serviceMode" class="btn btn-primary waves-effect mr-0"
                  [disabled]="restartInProgress[item._bridge?.username]"
                  ngbTooltip="{{'menu.tooltip_restart' | translate}}" container="body" openDelay="150"
                  (click)="restartChildBridge(item._bridge?.username)">
                  <i class="fas fa-fw nav-menu-icon" [ngClass]="{
                    'fa-power-off': !restartInProgress[item._bridge?.username],
                    'fa-spinner fa-pulse': restartInProgress[item._bridge?.username]
                  }"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <p>
        {{ 'child_bridge.message_child_bridges_must_be_paired_separately' | translate }}
      </p>
    </div>

    <ngb-alert *ngIf="!configBlocks.length && canConfigure" type="info" [dismissible]="false">
      <i class="fa fa-info-circle"></i>
      {{ 'child_bridge.message_must_configure_plugin_first' | translate }}
    </ngb-alert>

    <div *ngIf="!canConfigure" class="mb-2">
      <ngb-alert type="info" [dismissible]="false">
        <i class="fa fa-info-circle"></i>
        {{ 'plugins.settings.message_manual_config_required' | translate }}
        {{ 'plugins.settings.message_consult_documentation' | translate }}
      </ngb-alert>

      <div class="text-center">
        <button class="btn btn-primary" (click)="openFullConfigEditor()">
          {{ 'plugins.settings.label_open_config_editor' | translate }}
        </button>
      </div>
    </div>

    <p>
      <a href="https://github.com/homebridge/homebridge/wiki/Child-Bridges" target="_blank" rel="noopener noreferrer"
        class="primary-text">
        {{ 'child_bridge.message_wiki_link' | translate }}
        <i class='fas fa-external-link-alt'></i>
      </a>
    </p>

  </div>
  <div class="modal-footer justify-content-between">
    <div style="min-width: 25%;" class="text-left">
      <!-- left -->
    </div>

    <div style="min-width: 25%;" class="d-none d-lg-block text-center">
      <a *ngIf="plugin.links.npm" [href]="plugin.links.npm" target="_blank" rel="noopener noreferrer"
        class="pr-3 manage-plugin-config-external-icons dark-mode-highlight"><i class="fab fa-npm"></i></a>
      <a *ngIf="plugin.links.homepage" [href]="plugin.links.homepage" target="_blank" rel="noopener noreferrer"
        class="manage-plugin-config-external-icons dark-mode-highlight">
        <i [ngClass]="plugin.links.homepage | externalLinkIcon"></i>
      </a>
    </div>

    <div style="min-width: 25%;" class="text-right">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.close('Cross click')"
        [translate]="'form.button_cancel'">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveInProgress"
        *ngIf="configBlocks.length">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</div>