<div class="modal-content hb-plugin-settings-modal">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'child_bridge.label_bridge_settings' | translate }}:
      {{ plugin.displayName || plugin.name }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.close('Dismiss')"></button>
  </div>
  <div class="modal-body">
    <p>
      {{ 'child_bridge.message_about' | translate }}
      <a href="https://github.com/homebridge/homebridge/wiki/Child-Bridges" target="_blank" rel="noopener noreferrer"
        class="primary-text">
        {{ 'child_bridge.message_wiki_link' | translate }}
        <i class='fas fa-fw fa-external-link-alt'></i>
      </a>
    </p>
    <div *ngIf="configBlocks.length">
      <p class="alert alert-info">
        {{ 'child_bridge.message_child_bridges_must_be_paired_separately' | translate }}
      </p>
      <p>{{ 'child_bridge.message_select_platforms_accessories' | translate }}:</p>
      <ul class="list-group mt-2 mb-3" *ngIf="configBlocks.length">
        <li class="list-group-item " *ngFor="let item of configBlocks; let i = index">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="primary-text">
              <strong>
                {{ item.name || item.accessory || item.platform }}
              </strong>
            </h5>
            <input type="checkbox" class="rendux-input" [id]="'toggleExternalBridgeInput_' + i"
              (change)="toggleExternalBridge(item, enabledBlocks[i], i)" [(ngModel)]="enabledBlocks[i]">
            <label [for]="'toggleExternalBridgeInput_' + i" class="rendux-label"></label>
          </div>
          <div *ngIf="item._bridge?.username">
            <div *ngIf="deviceInfo[item._bridge?.username] === false">
              <ngb-alert type="info" [dismissible]="false" class="mt-3">
                <i class="fa fa-fw fa-info-circle"></i>
                {{ 'child_bridge.message_restart_homebridge' | translate }}
                <br>{{ 'child_bridge.message_return_to_pair' | translate }}
              </ngb-alert>
            </div>
            <div *ngIf="deviceInfo[item._bridge?.username]">
              <div *ngIf="!deviceInfo[item._bridge?.username]._isPaired" class="w-100 d-flex flex-column">
                <app-qrcode [data]="deviceInfo[item._bridge?.username]._setupCode" class="me-auto ms-auto mt-2 mb-2"
                  style="width: 180px; height: 180px;">
                </app-qrcode>
                <p class="me-auto ms-auto text-center">
                  {{ deviceInfo[item._bridge?.username].pincode }}
                </p>
                <p class="grey-text me-auto ms-auto text-center" style="max-width: 400px;">
                  {{ 'status.message_code_scan_instructions' | translate }}
                </p>
              </div>
              <div *ngIf="deviceInfo[item._bridge?.username]._isPaired">
                <div class="text-center">
                  <i class="fa fa-fw fa-check-circle primary-text mb-4" style="font-size: 75px;"></i>
                  <p>
                    {{ 'child_bridge.label_bridge_paired' | translate }}
                  </p>
                </div>
              </div>
              <div class="mb-4">
                <h5 (click)="toggleConfigFields(i)" class="primary-text" style="cursor: pointer;"
                    tabindex="0" [attr.aria-expanded]="showConfigFields[i] ? 'true' : 'false'">
                  <i class="fa fa-fw" [ngClass]="showConfigFields[i] ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                  {{ 'child_bridge.settings_config.header' | translate }}
                </h5>
                <div *ngIf="showConfigFields[i]">
                  <div class="mb-2 grey-text">{{ 'child_bridge.settings_config.description' | translate }}</div>
                  <div class="d-block d-lg-flex justify-content-between align-items-center mb-3">
                    <span class="pr-0 pr-lg-3" style="flex: 1;">{{ 'child_bridge.settings_config.manufacturer' | translate }}</span>
                    <div class="my-lg-0 pl-0 pl-lg-3" style="flex: 1;">
                      <input class="form-control form-control-sm" type="text" [(ngModel)]="item._bridge.manufacturer">
                    </div>
                  </div>
                  <div class="d-block d-lg-flex justify-content-between align-items-center mb-3">
                    <span class="pr-0 pr-lg-3" style="flex: 1;">{{ 'child_bridge.settings_config.model' | translate }}</span>
                    <div class="my-lg-0 pl-0 pl-lg-3" style="flex: 1;">
                      <input class="form-control form-control-sm" type="text" [(ngModel)]="item._bridge.model">
                    </div>
                  </div>
                  <div class="d-block d-lg-flex justify-content-between align-items-center mb-3">
                    <span class="pr-0 pr-lg-3" style="flex: 1;">{{ 'child_bridge.settings_config.firmware' | translate }}</span>
                    <div class="my-lg-0 pl-0 pl-lg-3" style="flex: 1;">
                      <input class="form-control form-control-sm" type="text" [(ngModel)]="item._bridge.firmwareRevision">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <ngb-alert *ngIf="!configBlocks.length && canConfigure" type="info" [dismissible]="false">
      <i class="fa fa-fw fa-info-circle"></i>
      {{ 'child_bridge.message_must_configure_plugin_first' | translate }}
    </ngb-alert>
    <div *ngIf="!canConfigure" class="mb-2">
      <ngb-alert type="info" [dismissible]="false">
        <i class="fa fa-fw fa-info-circle"></i>
        {{ 'plugins.settings.message_manual_config_required' | translate }}
        {{ 'plugins.settings.message_consult_documentation' | translate }}
      </ngb-alert>
      <div class="text-center">
        <button class="btn btn-primary" (click)="openFullConfigEditor()">
          {{ 'plugins.settings.label_open_config_editor' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.close('Dismiss')">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveInProgress" *ngIf="configBlocks.length">
        {{ 'form.button_save' | translate }} <i *ngIf="saveInProgress" class="fas fa-fw fa-spinner fa-pulse"></i>
      </button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="openPluginConfig()" *ngIf="!configBlocks.length">
        {{ 'plugins.button_settings' | translate }}
      </button>
    </div>
  </div>
</div>
