<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div
      class="humidity-drop mb-3"
      [ngClass]="{
      'dehumidifying': service.values.CurrentHumidifierDehumidifierState === 3 && service.values.Active === 1,
      'humidifying': service.values.CurrentHumidifierDehumidifierState === 2 && service.values.Active === 1,
      'no-current-state': service.values.CurrentHumidifierDehumidifierState === 1 && service.values.Active === 1
      }"
    >
      <div class="humidity-drop-text" [innerText]="(service.values.CurrentRelativeHumidity) + '%'"></div>
    </div>

    <div
      class="humidity-mode-control btn-group-vertical btn-group-toggle d-flex justify-content-center mb-4"
      ngbRadioGroup
      name="radioBasic"
      [(ngModel)]="targetMode"
      (change)="onTargetStateChange()"
    >
      <label ngbButtonLabel class="btn-primary m-0">
        <input ngbButton type="radio" [value]="0" /> {{ 'accessories.control.auto' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary m-0">
        <input ngbButton type="radio" [value]="1" /> {{ 'accessories.control.humidifying' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary m-0">
        <input ngbButton type="radio" [value]="2" /> {{ 'accessories.control.dehumidifying' | translate }}
      </label>
      <label ngbButtonLabel class="btn-primary m-0">
        <input ngbButton type="radio" [value]="'off'" /> {{ 'accessories.control.off' | translate }}
      </label>
    </div>

    @if (service.values.Active === 1 && RelativeHumidityHumidifierThreshold && RelativeHumidityDehumidifierThreshold) {
    <div>
      <h5>{{ 'accessories.control.target_humidity' | translate }}</h5>
      <div>
        @switch (targetMode) { @case (0) {
        <div>
          <p>{{ autoHumidity[0] }}% - {{ autoHumidity[1] }}%</p>
          <nouislider
            [min]="RelativeHumidityHumidifierThreshold.minValue"
            [max]="RelativeHumidityDehumidifierThreshold.maxValue"
            [step]="RelativeHumidityDehumidifierThreshold.minStep"
            [(ngModel)]="autoHumidity"
            (ngModelChange)="onHumidityStateChange()"
          >
          </nouislider>
        </div>
        } @case (1) {
        <div>
          <p>{{ targetHumidifierHumidity }}%</p>
          <nouislider
            [min]="RelativeHumidityHumidifierThreshold.minValue"
            [max]="RelativeHumidityHumidifierThreshold.maxValue"
            [step]="RelativeHumidityHumidifierThreshold.minStep"
            [(ngModel)]="targetHumidifierHumidity"
            (ngModelChange)="onHumidityStateChange()"
          >
          </nouislider>
        </div>
        } @case (2) {
        <div>
          <p>{{ targetDehumidifierHumidity }}%</p>
          <nouislider
            [min]="RelativeHumidityDehumidifierThreshold.minValue"
            [max]="RelativeHumidityDehumidifierThreshold.maxValue"
            [step]="RelativeHumidityDehumidifierThreshold.minStep"
            [(ngModel)]="targetDehumidifierHumidity"
            (ngModelChange)="onHumidityStateChange()"
          >
          </nouislider>
        </div>
        } }
      </div>
    </div>
    }
  </div>
</div>
