.humidity-drop {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5% 55% 70% 55%;
  font-size: 15px;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 9px;
  background-color: grey;
  color: lightgrey;
  transform: rotate(45deg);
}

.humidity-drop-collapse {
  @media (max-width: 575px) {
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 10px;
    margin-bottom: 7px;
    margin-top: 5px;
  }
}

.humidity-drop-text {
  transform: rotate(-45deg);
}

.humidifying {
  background-color: #33b5e5;
  color: #fff;
}

.dehumidifying {
  background-color: #ff8800;
  color: #fff;
}

.no-current-state {
  background-color: #42d672;
  color: #fff;
  -webkit-transition: all 0.15 ease-in-out;
  transition: all 0.15 ease-in-out;
}

.humidity-mode-control {
  .btn {
    font-size: 1.4rem;
    text-transform: initial;
  }
}
