.humidity-drop {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 5% 55% 70% 55%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 9px;
  background-color: grey;
  color: lightgrey;
  transform: rotate(45deg);
}

.humidity-drop-collapse {
  @media (max-width: 575px) {
    width: 31px;
    height: 31px;
    line-height: 29px;
    font-size: 10px;
    margin-bottom: 7px;
    margin-top: 5px;

    .humidity-drop-text {
      margin-left: 0;
    }
  }
}

.humidity-drop-text {
  transform: rotate(-45deg);
  margin-left: -4px;
}

.humidity-drop-big {
  width: 80px;
  height: 80px;
  line-height: 76px;
  font-size: 22px;

  .humidity-drop-text {
    margin-left: -3px;
  }
}

@keyframes animate-humidifying {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animate-dehumidifying {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.humidifying {
  animation: animate-dehumidifying 5s linear infinite;
  background-image: linear-gradient(0deg, #1e8bbd, #66d6d6, #1e8bbd, #66d6d6);
  background-size: 100% 300%;
  color: #ffffff;
}

.dehumidifying {
  animation: animate-humidifying 5s linear infinite;
  background-image: linear-gradient(0deg, #cc5e00, #e69533, #cc5e00, #e69533);
  background-size: 100% 300%;
  color: #ffffff;
}

.no-current-state {
  background-color: #42d672;
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
