<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'restart.schedule.title' | translate }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="dismissModal()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="small grey-text mb-3">{{ 'restart.schedule.desc' | translate }}</p>

    <ul class="list-group list-group-box mb-0">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span> {{ 'restart.schedule.enabled' | translate }} </span>
        <div class="d-flex align-items-center">
          <div class="order-1 order-md-2">
            <input
              type="checkbox"
              class="rendux-input"
              id="scheduledRestartEnabled"
              [formControl]="enabledFormControl"
              [attr.aria-label]="'restart.schedule.enabled' | translate"
            />
            <label class="rendux-label ms-3" for="scheduledRestartEnabled" style="min-width: 50px"></label>
          </div>
        </div>
      </li>
      <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
        <span>
          {{ 'restart.schedule.cron' | translate }}<br />
          <small class="grey-text pe-2">{{ 'restart.schedule.cron_help' | translate }}</small>
        </span>
        <div class="my-3 my-md-0 ps-0 ps-md-5 w-auto d-flex align-items-center">
          <input
            class="form-control custom-input resp-input order-1 order-md-2"
            type="text"
            placeholder="0 3 * * *"
            [formControl]="cronFormControl"
            [attr.aria-label]="'restart.schedule.cron' | translate"
          />
        </div>
      </li>
      <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
        <span>
          {{ 'restart.schedule.timezone' | translate }}<br />
          <small class="grey-text pe-2">{{ 'restart.schedule.timezone_help' | translate }}</small>
        </span>
        <div class="my-3 my-md-0 ps-0 ps-md-5 w-auto d-flex align-items-center">
          <input
            class="form-control custom-input resp-input order-1 order-md-2"
            type="text"
            placeholder="e.g. America/Los_Angeles"
            [formControl]="timezoneFormControl"
            [attr.aria-label]="'restart.schedule.timezone' | translate"
          />
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="dismissModal()">
      {{ 'form.button_close' | translate }}
    </button>
  </div>
</div>
