<div class="accessory-box" [ngClass]="{'switch-on': service.values.Active, 'switch-off': !service.values.Active}"
  appLongclick>
  <div class="d-flex flex-column h-100">
    <div [inlineSVG]="'/assets/hap-icons/irrigation-system.svg'" aria-label="IrrigationValve" class="accessory-svg">
    </div>
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    <div class="accessory-label grey-text" *ngIf="service.values.Active">
      {{ 'accessories.control.label_running' | translate }}
    </div>
    <div class="accessory-label grey-text" *ngIf="!service.values.Active">
      {{ 'accessories.control.label_off' | translate }}
    </div>
  </div>
</div>