<div
  class="accessory-box"
  [ngClass]="{'switch-on': service.values.InUse, 'switch-off': !service.values.InUse}"
  appLongclick
>
  <div class="d-flex flex-column h-100">
    <div
      [inlineSVG]="'/assets/hap-icons/irrigation-system.svg'"
      [attr.aria-label]="'Irrigation Valve'"
      class="accessory-svg"
    ></div>
    <div class="accessory-label mt-auto">
      {{ service.customName || service.values.ConfiguredName || service.serviceName }}
    </div>
    @if (service.values.InUse) {
    <div class="accessory-label grey-text">{{ 'accessories.control.running' | translate }}</div>
    } @if (!service.values.InUse) {
    <div class="accessory-label grey-text">{{ 'accessories.control.off' | translate }}</div>
    }
  </div>
</div>
