<div *ngIf="$settings.env.enableAccessories">
  <div class="row mb-3">
    <div class="col-sm-6">
      <h3 class="primary-text m-0">
        <span class="d-none d-md-inline">Homebridge {{'accessories.title_accessories' | translate}}</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right d-none d-sm-block">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="accessory-dropdown-menu" type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accessory-dropdown-menu">
            <a href="javascript:void(0)" class="dropdown-item" (click)="addRoom()"
              [translate]="'accessories.button_add_room'">Add Room</a>
            <a href="javascript:void(0)" class="dropdown-item" (click)="hideHidden = !hideHidden"
              [translate]="'accessories.button_toggle_hidden'">Toggle Hidden</a>
            <a href="javascript:void(0)" class="dropdown-item" (click)="toggleLayoutLock()"
              [translate]="'accessories.button_toggle_layout_lock'">Toggle Layout Lock</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [dragula]='"rooms-bag"' [(dragulaModel)]='$accessories.rooms'>
    <div *ngFor="let room of $accessories.rooms">
      <div class="row" *ngIf="!isMobile || room.services.length">
        <div class="col-md-12">
          <h5 class="primary-text drag-handle room-title" [ngClass]="{'cursor-move': !isMobile}">
            {{ room.name === 'Default Room' ? ('accessories.control.default_room' | translate) : room.name }}
          </h5>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12 d-flex flex-wrap noselect services-bag" *ngIf="room.services.length"
          [dragula]='"services-bag"' [(dragulaModel)]='room.services'>
          <div *ngFor="let service of room.services" [ngSwitch]="service.type" class="accessory-item accessory-tab">
            <ng-container *ngIf="!hideHidden || !service.hidden">
              <app-accessory-tile [service]="service"></app-accessory-tile>
            </ng-container>
          </div>
        </div>
        <div class="col-md-12 d-flex flex-wrap noselect" *ngIf="!room.services.length && !isMobile"
          [dragula]='"services-bag"' [(dragulaModel)]='room.services'>
          <app-drag-here-placeholder class="no-drag"></app-drag-here-placeholder>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!$settings.env.enableAccessories">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="primary-text" [translate]="'accessories.title_accessory_control_disabled'">Homebridge Accessory Control
        Disabled</h3>
      <div>
        <p [innerHTML]="'accessories.message_must_use_insecure_mode' | translate">To control your accessories you must
          be running Homebridge in <strong>insecure</strong> mode.</p>
        <p>
          <span [translate]="'accessories.message_please_see'">Please see</span>
          <a target="_blank" rel="noopener noreferrer"
            href="https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control">
            https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control
          </a>
          <span [translate]="'accessories.message_for_more_information'">for more information.</span>
        </p>
      </div>
    </div>
  </div>
</div>