<div *ngIf="$auth.env.enableAccessories">
  <div class="row mb-3">
    <div class="col-sm-6">
      <h3 class="primary-text m-0">
        <span class="d-none d-md-inline">Homebridge {{'accessories.title_accessories' | translate}}</span>
      </h3>
    </div>
    <div class="col-sm-6 text-right d-none d-sm-block">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="accessory-dropdown-menu" type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accessory-dropdown-menu">
            <a class="dropdown-item" (click)="addRoom()" [translate]="'accessories.button_add_room'">Add Room</a>
            <a class="dropdown-item" (click)="hideHidden = !hideHidden"
              [translate]="'accessories.button_toggle_hidden'">Toggle Hidden</a>
            <a class="dropdown-item" (click)="toggleLayoutLock()"
              [translate]="'accessories.button_toggle_layout_lock'">Toggle Layout Lock</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [dragula]='"rooms-bag"' [(dragulaModel)]='$accessories.rooms'>
    <div *ngFor="let room of $accessories.rooms">
      <div class="row" *ngIf="!isMobile || room.services.length">
        <div class="col-md-12">
          <h5 class="primary-text drag-handle room-title" [ngClass]="{'cursor-move': !isMobile}">
            {{ room.name === 'Default Room' ? ('accessories.control.default_room' | translate) : room.name }}
          </h5>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12 d-flex flex-wrap noselect services-bag" *ngIf="room.services.length"
          [dragula]='"services-bag"' [(dragulaModel)]='room.services'>
          <div *ngFor="let service of room.services" [ngSwitch]="service.type" class="accessory-item accessory-tab">
            <ng-container *ngIf="!hideHidden || !service.hidden">
              <i class="fas fa-cog manage-accessory-button primary-text"
                (click)="$accessories.showAccessoryInformation(service)"></i>
              <app-switch *ngSwitchCase="'Switch'" [service]="service">Switch</app-switch>
              <app-thermostat *ngSwitchCase="'Thermostat'" [service]="service">Thermostat</app-thermostat>
              <app-outlet *ngSwitchCase="'Outlet'" [service]="service">Outlet</app-outlet>
              <app-fan *ngSwitchCase="'Fan'" [service]="service" class="w-100">Fan</app-fan>
              <app-fanv2 *ngSwitchCase="'Fanv2'" [service]="service" class="w-100">Fan</app-fanv2>
              <app-airpurifier *ngSwitchCase="'AirPurifier'" [service]="service" class="w-100">Air Purifier
              </app-airpurifier>
              <app-lightbulb *ngSwitchCase="'Lightbulb'" [service]="service">Lightbulb</app-lightbulb>
              <app-lightsensor *ngSwitchCase="'LightSensor'" [service]="service">Light Sensor
              </app-lightsensor>
              <app-lockmechanism *ngSwitchCase="'LockMechanism'" [service]="service">Lock Mechanism</app-lockmechanism>
              <app-temperaturesensor *ngSwitchCase="'TemperatureSensor'" [service]="service">Temperature Sensor
              </app-temperaturesensor>
              <app-garagedooropener *ngSwitchCase="'GarageDoorOpener'" [service]="service">Garage Door Opener
              </app-garagedooropener>
              <app-motionsensor *ngSwitchCase="'MotionSensor'" [service]="service">Motion Sensor</app-motionsensor>
              <app-occupancysensor *ngSwitchCase="'OccupancySensor'" [service]="service">Occupancy Sensor
              </app-occupancysensor>
              <app-contactsensor *ngSwitchCase="'ContactSensor'" [service]="service">Contact Sensor
              </app-contactsensor>
              <app-humiditysensor *ngSwitchCase="'HumiditySensor'" [service]="service">Humidity Sensor
              </app-humiditysensor>
              <app-airqualitysensor *ngSwitchCase="'AirQualitySensor'" [service]="service">Air Quality Sensor
              </app-airqualitysensor>
              <app-windowcovering *ngSwitchCase="'WindowCovering'" [service]="service">Window Covering
              </app-windowcovering>
              <app-window *ngSwitchCase="'Window'" [service]="service">Window
              </app-window>
              <app-door *ngSwitchCase="'Door'" [service]="service">Door
              </app-door>
              <app-television *ngSwitchCase="'Television'" [service]="service">Television
              </app-television>
              <app-batteryservice *ngSwitchCase="'BatteryService'" [service]="service">BatteryService
              </app-batteryservice>
              <app-speaker *ngSwitchCase="'Speaker'" [service]="service">Speaker</app-speaker>
              <app-securitysystem *ngSwitchCase="'SecuritySystem'" [service]="service">Security System
              </app-securitysystem>
              <app-leaksensor *ngSwitchCase="'LeakSensor'" [service]="service">Leak Sensor
              </app-leaksensor>
              <app-valve *ngSwitchCase="'Valve'" [service]="service">Valve
              </app-valve>
              <app-irrigationsystem *ngSwitchCase="'IrrigationSystem'" [service]="service">Irrigation System
              </app-irrigationsystem>
              <app-heatercooler *ngSwitchCase="'HeaterCooler'" [service]="service">Heater Cooler
              </app-heatercooler>
              <app-statelessprogrammableswitch *ngSwitchCase="'StatelessProgrammableSwitch'" [service]="service">Stateless Programmable Switch
              </app-statelessprogrammableswitch>
              <app-unknown *ngSwitchDefault [service]="service">{{ service.humanType }}</app-unknown>
            </ng-container>
          </div>
        </div>
        <div class="col-md-12 d-flex flex-wrap noselect" *ngIf="!room.services.length && !isMobile"
          [dragula]='"services-bag"' [(dragulaModel)]='room.services'>
          <app-drag-here-placeholder class="no-drag"></app-drag-here-placeholder>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!$auth.env.enableAccessories">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="primary-text" [translate]="'accessories.title_accessory_control_disabled'">Homebridge Accessory Control
        Disabled</h3>
      <div>
        <p [innerHTML]="'accessories.message_must_use_insecure_mode' | translate">To control your accessories you must
          be running Homebridge in <strong>insecure</strong> mode.</p>
        <p>
          <span [translate]="'accessories.message_please_see'">Please see</span>
          <a target="_blank" rel="noopener noreferrer"
            href="https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control">
            https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control
          </a>
          <span [translate]="'accessories.message_for_more_information'">for more information.</span>
        </p>
      </div>
    </div>
  </div>
</div>
