

.room-title {
  margin-left: 10px;
  @media (max-width: 575px) {
    margin-left: 7px;
  }
}

.services-bag {
  min-height: 170px;
  @media (max-width: 575px) {
    min-height: initial;
  }
}

.cursor-move {
  cursor: move;
}

.gu-transit {
  .manage-accessory-button {
    display: none;
  }
}

