<ng-container>
  @if (configSchema.schema) {
  <json-schema-form
    [jsfPatch]="configSchema.fixArrays"
    [options]="jsonFormOptions"
    [schema]="configSchema.schema"
    [UISchema]="configSchema.uiSchema"
    [layout]="configSchema.layout"
    [form]="configSchema.form"
    [data]="currentData"
    framework="bootstrap-5"
    (onChanges)="onChanges($event)"
    (isValid)="validChange($event)"
    [language]="language"
    (validationErrors)="validationErrors($event)"
    class="ng-bs5-validate"
  />
  }
</ng-container>
