<ng-container>
  @if (configSchema().schema) {
    <json-schema-form
      framework="bootstrap-5"
      class="ng-bs5-validate"
      [jsfPatch]="configSchema().fixArrays"
      [options]="jsonFormOptions"
      [schema]="configSchema().schema"
      [UISchema]="configSchema().uiSchema"
      [layout]="configSchema().layout"
      [form]="configSchema().form"
      [data]="currentData()"
      [language]="language()"
      (onChanges)="onChanges($event)"
      (isValid)="validChange($event)"
    />
  }
</ng-container>
