name: Node Release
run-name: Production Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build_and_test:
    if: ${{ github.repository == 'homebridge/homebridge-config-ui-x' }} && contains(github.ref_name, "latest")
    uses: homebridge/.github/.github/workflows/nodejs-build-and-test.yml@latest
    with:
      enable_coverage: true
      install_cmd: npm ci && cd ui && npm ci
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
  publish:
    needs: build_and_test
    if: ${{ github.repository == 'homebridge/homebridge-config-ui-x' }} && contains(github.ref_name, "latest")

    uses: homebridge/.github/.github/workflows/npm-publish.yml@latest
    with:
      install_cmd: npm ci && cd ui && npm ci
    secrets:
      npm_auth_token: ${{ secrets.npm_token }}
  build:
    needs: publish
    name: Attach Artifact
    runs-on: ubuntu-latest

    steps:
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Tag
        id: tag
        uses: JinoArch/get-latest-tag@latest

    # Sanity check to ensure that release tags don't start with a 'v' version prefix but adhere to the X.Y.Z format
      - name: Check for Tag name Format
        # https://github.com/orgs/community/discussions/25017
        if: startsWith(steps.tag.outputs.latestTag, 'v')
        run: |
          echo "Release Tag name must not start with 'v', this was supplied ${{steps.tag.outputs.latestTag}}"
          exit 1

      - name: Install package
        run: |
          export npm_config_prefix=$(pwd)/package
          npm install -g homebridge-config-ui-x@${{ steps.tag.outputs.latestTag }}

      - name: Remove invalid node-pty node-gyp run
        run: |
          rm -rf $(pwd)/package/lib/node_modules/homebridge-config-ui-x/node_modules/@homebridge/node-pty-prebuilt-multiarch/build

      - name: Create Bundle
        run: |
          tar -C $(pwd)/package --owner=0 --group=0 --format=posix -czvf homebridge-config-ui-x-${{ steps.tag.outputs.latestTag }}.tar.gz .
          shasum -a 256 homebridge-config-ui-x-${{ steps.tag.outputs.latestTag }}.tar.gz > SHASUMS256.txt

      - name: Check Bundle
        run: |
          if [ $(stat -c%s "homebridge-config-ui-x-${{ steps.tag.outputs.latestTag }}.tar.gz") -lt 10000000 ]; then
            echo "Bundle is under 10MB, stopping"
            exit 1
          fi

      - name: Attach Bundle
        uses: AButler/upload-release-assets@v3.0
        with:
          files: 'homebridge-config-ui-x-${{ steps.tag.outputs.latestTag }}.tar.gz;SHASUMS256.txt'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ steps.tag.outputs.latestTag }}
