<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" translate="settings.network.title_network_interfaces"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')"></button>
  </div>
  <div class="modal-body">

    <p translate="settings.network.message_network_interface_one">
    </p>

    <p translate="settings.network.message_network_interface_two">
    </p>

    <div>
      <ul class="list-group mb-4">
        <li class="mt-2 d-flex flex-row justify-content-between">
          <span><strong translate="settings.network.label_interface_name"></strong></span>
          <span><strong translate="settings.network.label_ip_address"></strong></span>
        </li>
        <li *ngFor="let adapter of availableNetworkAdapters"
          class="mt-2 d-flex flex-row flex-wrap justify-content-between">
          <span>
            <label class="hb-uix-switch d-inline pe-3" [for]="'adapter' + adapter.iface">
              <input [id]="'adapter' + adapter.iface" type="checkbox" [(ngModel)]="adapter.selected">
              <span>{{ adapter.iface }}</span>
              <span class="hb-uix-slider hb-uix-round"></span>
            </label>
          </span>
          <span>
            {{ adapter.ip4 || adapter.ip6 }}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="text-start">
      <button type="button" class="btn btn-elegant" data-bs-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-end">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submit()">
        {{ 'form.button_save' | translate }}
      </button>
    </div>
  </div>
</div>
