<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'settings.network.title_network_interfaces' | translate }}</h5>
    <button type="button" class="close" data-dismiss="modal" [attr.aria-label]="'form.button_close' | translate"
      (click)="activeModal.dismiss('Dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'settings.network.message_network_interface_one' | translate }}</p>
    <p>{{ 'settings.network.message_network_interface_two' | translate }}</p>
    <div>
      <ul class="list-group mb-4">
        <li class="mt-2 d-flex flex-row justify-content-between">
          <span><strong>{{ 'settings.network.label_interface_name' | translate }}</strong></span>
          <span><strong>{{ 'settings.network.label_ip_address' | translate }}</strong></span>
        </li>
        <li *ngFor="let adapter of availableNetworkAdapters"
          class="mt-2 d-flex flex-row flex-wrap justify-content-between">
          <span>
            <label class="hb-uix-switch d-inline pr-3" [for]="'adapter' + adapter.iface">
              <input [id]="'adapter' + adapter.iface" type="checkbox" [(ngModel)]="adapter.selected">
              <span>{{ adapter.iface }}</span>
              <span class="hb-uix-slider hb-uix-round"></span>
            </label>
          </span>
          <span>
            {{ adapter.ip4 || adapter.ip6 }}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate">
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submit()">
        {{ 'form.button_save' | translate }}
      </button>
    </div>
  </div>
</div>
