<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'reset.bridges_all.title' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
      [disabled]="clicked"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-4"><i class="fas fa-fw fa-bridge primary-text" style="font-size: 75px"></i></div>
    <ngb-alert type="error" [dismissible]="false" style="margin-bottom: 0">
      <p class="font-weight-bold">{{ 'reset.action_is_irreversible' | translate }}</p>
      <ul class="mb-0 text-left">
        <li>{{ 'reset.bridges_all.list_1' | translate }}</li>
        <li>{{ 'reset.bridges_all.list_2' | translate }}</li>
        <li>{{ 'reset.bridges_all.list_3' | translate }}</li>
        <li class="mb-0">{{ 'reset.bridges_all.list_4' | translate }}</li>
      </ul>
    </ngb-alert>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
        [disabled]="clicked"
      >
        {{ 'form.button_close' | translate }}
      </button>
    </div>
    <div class="text-center"></div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="onResetHomebridgeAccessoryClick()"
        [disabled]="clicked"
      >
        @if (!clicked) {
        <span>{{ 'form.button_reset' | translate }}</span>
        } @if (clicked) {
        <i class="fas fa-fw fa-spinner fa-pulse"></i>
        }
      </button>
    </div>
  </div>
</div>
